.page-about-wrap {
    @extend .page-wrap;
    @extend .page-ins-wrap;
    @include MQ(desktop) {
        padding-top: 60px;
    }
    @include MQ(tablet) {
        padding-top: 100px;
    }
    .page-sidebar {
        float: right;
        width: 27%;
        padding-right: 50px;
        @include MQ(tablet) {
            display: none;
        }
        ul li a {
            @include trans(background);
            display: block;
            background: #fff;
            line-height: 30px;
            font-size: $font-size-m;
            text-align: center;
            padding: 15px;
            color: #6c6c6c;
            &.active,
            &:hover {
                background: #e6505d;
                color: #fff;
            }
        }
    }
    .page-left {
        float: left;
        width: 73%;
        font-size: $font-size-s;
        line-height: 26px;
        padding: 0 55px 0 25px;
        color: #4c4c4c;
        text-align: justify;
        text-justify: inter-ideograph;
        @include MQ(custom) {
            padding: 0 50px;
        }
        @include MQ(tablet) {
            width: 100%;
            padding: 0 50px;
        }
        @include MQ(mobile) {
            padding: 0 40px;
        }
        .page-article p {
            margin-bottom: 40px;
        }
    }
}