// -- 首頁news -- //
.first-news {
    z-index: 5;
    position: relative;
    width: 100%;
    height: 50px;
    background: #e1e3e6;
    line-height: 50px;
    color: #4d4d4d;
    font-size: $font-size-s;
    marquee {
        width: 80%;
        display: inline-block;
        vertical-align: top;
        @include MQ(tablet) {
            width: 70%;
        }
        @include MQ(mobile) {
            width: 55%;
        }
    }
    span {
        display: inline-block;
        vertical-align: text-bottom;
        width: 120px;
        padding-right: 20px;
        text-align: right;
    }
}

// 遊戲圖
.first-game-wrap {
    position: relative;
    z-index: 5;
    height: auto;
    @include MQ(tablet) {
        width: 100%;
    }
    .first-game {
        width: 50%;
        @include MQ(mobile) {
            width: 100%;
        }
    }
    .game-active {
        z-index: 9;
    }
}

// 首頁介紹文字
.first-intro {
    float: left;
    min-height: 480px;
    padding: 70px 0 100px 35px;
    border-left: 1px solid #f2f2f2;
    background: #fff;
    @include MQ(mobile) {
        padding: 70px 12% 100px 8%;
    }
    img {
        float: left;
        display: block;
        width: 36%;
        @include MQ(mobile) {
            width: 70%;
        }
    }
    p {
        margin: 160px 0 0 4%;
        width: 55%;
        float: left;
        display: block;
        text-align: justify;
        text-justify: inter-word;
        font-size: $font-size-s;
        color: #666;
        line-height: 26px;
        @include MQ(custom) {
            margin: 120px 0 0 4%;
            width: 55%;
        }
        @include MQ(mobile) {
            width: 100%;
            margin: 30px 0 0 0;
            padding: 0 0 0 5%;
            line-height: 23px;
        }
    }
}