.page-sports-wrap {
    @extend .page-wrap;
    @extend .page-ins-wrap;
    @include MQ(tablet) {
        float: left;
    }
    @include MQ(mobile) {
        padding: 60px 0 0;
    }
    .sport-wrap {
        box-shadow: none;
    }
}