.footer-wrap {
    position: relative;
    z-index: 0;
}

.footer-bg {
    position: absolute;
    bottom: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../image/footer_bg.png);
    background-color: #FFF;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin: 0 auto;
    /*.center {
        position: relative;
        z-index: 0;
        display: block;
        width: 100%;
        max-width: 1920px;
        height: 100%;
        background-image: url(../image/footer_bg.png);
        background-color: #FFF;
        background-position: bottom center;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    .left-top,
    .left-bottom,
    .right {
        position: absolute;
        z-index: -1;
        display: block;
        width: 50%;
    }
    .left-top {
        z-index: -2;
        top: 0;
        left: 0;
        height: 100%;
        background: #333;
    }
    .left-bottom {
        bottom: 0;
        left: 0;
        height: 169px;
        background: #242424;
    }
    .right {
        bottom: 0;
        right: 0;
        height: 211px;
        background: #333;
    }*/
    @include MQ(tablet) {
        background-image: url(../image/footer_bg_m.png);
        background-position: top center;
    }
    @include MQ(mobile) {
         background-size: cover;
    }
}

.footer-main {
    position: relative;
    z-index: 1;
    max-width: 960px;
    min-height: 428px;
    margin: 0 auto;
    padding: 130px 0 0;
    @include MQ(tablet) {
        min-height: 632px;
        padding: 84px 0 0;
    }
}

.footer-link {
    padding: 0 0 0 32px;
    float: left;
    @include MQ(tablet) {
        text-align: center;
        margin: 0 auto;
        padding: 0;
        float: none;
    }
}

.footer-link-content {
    width: 160px;
    float: left;
    h2 {
        display: block;
        line-height: 1.2;
        color: #FFF;
        margin: 0 0 16px;
    }
    li {
        line-height: 2;
        font-size: 13px;
    }
    a {
        color: #999;
        &:hover {
            text-decoration: underline;
        }
    }
    @include MQ(tablet) {
        display: inline-block;
        vertical-align: top;
        width: auto;
        text-align: left;
        margin: 0 36px;
        float: none;
        h2 {
            font-size: 20px;
            margin: 0 0 6px;
        }
        li {
            line-height: 2.75;
            font-size: 16px;
        }
    }
    @include MQ(mobile) {
        margin: 0 6%;
    }
}

.footer-pay {
    margin: 80px 24px 0 0;
    float: right;
    h2 {
        display: block;
        line-height: 1.2;
        font-size: 20px;
        color: #FFD301;
        margin: 0 0 20px;
    }
    ul {
        display: block;
    }
    li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 22px 0 0;
        &.last {
            margin: 0;
        }
    }
    img {
        display: block;
        max-width: 100%;
    }
    @include MQ(tablet) {
        text-align: center;
        margin: 20px auto 0;
        float: none;
    }
    @include MQ(mobile) {
        li {
            margin: 0 2%;
            &.last {
                margin: 0 2%;
            }
        }
    }
}

.footer-bottom {
    position: absolute;
    bottom: 24px;
    left: 32px;
    a {
        display: inline-block;
        vertical-align: middle;
        margin: 0 20px 0 0;
    }
    img {
        display: block;
        max-width: 100%;
    }
    @include MQ(tablet) {
        left: 0;
        bottom: 50px;
        width: 100%;
        height: 68px;
        text-align: center;
        background: #242424;
        padding: 20px 0 0;
        a {
            margin: 0 10px;
        }
    }
}

.footer-copyright {
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-family: Arial;
    font-size: 12px;
    color: #FFF;
    @include MQ(tablet) {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        letter-spacing: 2px;
        text-align: center;
        color: #888;
        background: #242424;
        padding: 10px 0 0;
    }
}