* {
    @include box-sizing;
}

body {
    position: relative;
    font-family: $font-family;
    line-height: $light-height;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    @include border-radius(0);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

img {
    border: 0;
    /*max-width: 100%;*/
    height: auto;
    vertical-align: middle;
}

/* --- Clearfix --- */
.clearfix {
    @include clearfix;
}

/* --- No-scroll --- */
.no-scroll {
    @include MQ(tablet) {
        overflow: hidden;
        height: 100vh;
    }
}

/* --- Display no & show --- */
.no-display {
    display: none !important;
}
.show-display {
    display: block !important;
}

/* --- 遮罩 ---*/
.mask-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 997;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
    @include MQ(tablet) {
        &.active {
            display: block;
        }
        &.login-active {
            display: block;
            z-index: 999;
        }
    }
}


/* --- placeholder --- */
input {
    @include placeholder;
}


/* --- GOTOP --- */
.btn-top  {
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 0;
    display: block;
    width: 60px;
    text-align: center;
    font-size: 12px;
    color: #000;
    background: url(../image/btn_top.png) center top no-repeat;
    cursor: pointer;
    padding: 38px 0 0;
    @include MQ(tablet) {
        top: -36px;
        left: 50%;
        right: auto;
        margin: 0 0 0 -30px;
    }
}


/* --- 內頁共用架構 --- */
.page-bg {
    position: relative;
    width: 100%;
}

.page-main {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    @include MQ(tablet) {
        z-index: 1;
        margin-bottom: 80px;
    }
}

.page-title {
    position: relative;
    z-index: 3;
    display: block;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 0 0 16px;
    img {
        display: block;
        max-width: 100%;
    }
    h2 {
        display: block;
        font-size: 30px;
        color: #333;
        margin: -10px 0 0;
    }
    @include MQ(tablet) {
        display: none;
    }
}

/* --- 內頁調整 --- */
.page-wrap {
    .header-wrap {
        background: none;
    }
    .header-main {
        min-height: 0;
        padding: 0;
    }
    .header-bg01 {
        height: 465px;
        .left {
            left: 0;
            bottom: 132px;
            height: 213px;
        }
        .right-top {
            height: 132px;
        }
    }
    .header-logo {
        position: relative;
        top: 10px;
        max-width: 1024px;
        text-align: left;
        margin: 0 auto;
        padding: 0 0 0 24px;
        a {
            width: 110px;
            height: 42px;
        }
    }
    .header-lang {
        top: 20px;
    }
    .header-lang-btn {
        position: absolute;
        right: 0;
    }
    .header-nav {
        margin-top: 22px;
    }
    .login-wrap {
        bottom: 0;
        margin-top: 14px;
    }
    .login-main {
        padding-right: 36px;
    }
    .logon-main {
        padding-right: 28px;
    }
    .btn-top {
        right: 10px;
    }
    @include MQ(desktop) {
        .header-logo {
            top: 5px;
            margin: 0;
        }
    }
    @include MQ(tablet) {
        .header-main {
            height: 180px;
        }
        .header-nav {
            margin-top: 0;
        }
        .header-bg01 {
            height: 100%;
        }
        .header-bg02 {
            top: 0;
            height: 180px;
            background: #333;
        }
        .header-logo {
            top: 12px;
            padding: 0;
            a {
                width: 160px;
                height: 50px;
            }
        }
        .login-wrap {
            margin-top: 0;
        }
        .logon-main {
            padding-right: 0;
        }
    }
    @include MQ(mobile) {
        .header-main {
            height: 160px;
        }
        .header-bg01 {
            height: 96px;
        }
        .header-bg02 {
            height: 160px;
        }
    }
}