.login-wrap {
    position: relative;
    bottom: 60px;
    /*z-index: 2;*/
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    &.active {
        z-index: 998;
        right: 0;
    }
    @include MQ(tablet) {
        position: fixed;
        top: 0;
        right: -100%;
        width: 78%;
        max-width: 600px;
        height: 100%;
        text-align: left;
        background: #222;
        margin: 0;
        padding: 130px 0 0;
        overflow-y: scroll;
        @include trans(right);
    }
    @include MQ(mobile) {
        width: 100%;
        max-width: 372px;
    }
}

.login-main {
    text-align: right;
    padding: 0 10px 0 0;
    @include MQ(tablet) {
        max-width: 300px;
        margin: 40px auto 0;
    }
}

.login-unit {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    input {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 13px;
        font-weight: bold;
        border: 1px solid #CCC;
        padding: 0 0 0 14px;
    }
}

.login-unit-user,
.login-unit-pwd {
    width: 168px;
    margin: 0 8px 0 0;
    @include MQ(desktop) {
        width: 144px;
    }
    @include MQ(tablet) {
        width: 100%;
        margin: 0 0 24px;
    }
}

.login-unit-chk {
    width: 130px;
    @include MQ(desktop) {
        width: 110px;
    }
    @include MQ(tablet) {
        width: 100%;
        margin: 0 0 56px;
    }
}

.login-submit {
    display: inline-block;
    vertical-align: middle;
    width: 74px;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    background: #FFD301;
    margin: 0 12px;
    &:hover {
        color: #FFF;
        background: $orange;
    }
    @include MQ(tablet) {
        display: block;
        width: 200px;
        margin: 0 auto 20px;
    }
}

.login-other {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bold;
    color: #B9B9B9;
    a {
        color: #B9B9B9;
        &:hover {
            text-decoration: underline;
        }
    }
    @include MQ(tablet) {
        display: block;
        text-align: center;
        margin: 0 0 100px;
    }
}

.logon-main {
    text-align: right;
    padding: 12px 20px 0 0;
    @include MQ(tablet) {
        max-width: 300px;
        margin: 40px auto 0;
        padding: 0;
    }
}

.logon-info {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    .user,
    .bbinamount {
        display: inline-block;
        vertical-align: middle;
    }
    .user {
        margin: 0 12px 0 0;
    }
    .bbinamount {
        position: relative;
        i {
            color: $orange;
        }
    }
    @include MQ(tablet) {
        display: block;
        margin: 24px 0;
        padding: 0 0 0 16px;
        .user,
        .bbinamount {
            display: block;
            line-height: 2;
            text-align: left;
            font-size: 20px;
            font-weight: bold;
            color: #FFF;
        }
        .bbinamount {
            i {
                color: #FFD301;
                margin: 0 0 0 14px;
                cursor: pointer;
            }
        }
    }
}

.logon-line {
    display: none;
    height: 2px;
    background: #666;
    background: rgba(255, 255, 255, .1);
    border-top: 1px solid #000;
    @include MQ(tablet) {
        display: block;
    }
}

.logon-details {
    position: absolute;
    right: 0;
    z-index: 990;
    display: none;
    width: 280px;
    background: $orange;
    ul {
        display: block;
        padding: 12px 20px;
    }
    li {
        display: block;
        line-height: 2;
        text-align: left;
        font-size: 12px;
        color: #FFF;
    }
    .bbinamount:hover & {
        display: block;
    }
    @include MQ(desktop) {
        right: -48px;
    }
    @include MQ(tablet) {
        position: static;
        display: none;
        background: none;
        ul {
            margin: 32px 0;
            padding: 0;
        }
        li {
            line-height: 2.4;
            font-size: 15px;
            color: #FFDA04;
        }
        .bbinamount:hover & {
            display: none;
        }
    }
}

.logon-details-btn {
    height: 36px;
    background: #FFD301;
    padding: 5px 10px;
    a {
        width: 80px;
        line-height: 26px;
        text-align: center;
        font-size: 12px;
        color: #FFF;
        background: #333;
        float: right;
        &:hover {
            background: #000;
        }
    }
    @include MQ(tablet) {
        display: none;
    }
}

.logon-member {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 48px;
    li {
        display: inline-block;
        line-height: 1;
        border-right: 1px solid #333;
        padding: 0 16px;
        &.first {
            padding-left: 0;
        }
        &.last {
            border-right: 0;
            padding-right: 0;
        }
        a {
            display: block;
            font-size: 13px;
            color: #333;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    @include MQ(desktop) {
        margin: 0 0 0 24px;
    }
    @include MQ(tablet) {
        display: none;
    }
}

.logon-btn-member,
.logon-btn-switch,
.logon-btn-logout {
    display: none;
    @include MQ(tablet) {
        display: block;
        width: 140px;
        a {
            display: block;
            line-height: 48px;
            text-align: center;
            font-weight: bold;
            @include border-radius(4px);
            margin: 0 auto 12px;
        }
    }
}

.logon-btn-member {
    @include MQ(tablet) {
        margin: 0 auto;
        a {
            color: #222;
            background: #FFDA04;
            &:hover {
                background: #FFBF00;
            }
        }
    }
}

.logon-btn-switch {
    @include MQ(tablet) {
        float: left;
        a {
            color: #FFF;
            background: #65A7BA;
            &:hover {
                background: #488C9F;
            }
        }
    }
}

.logon-btn-logout {
    @include MQ(tablet) {
        float: right;
        a {
            color: #FFF;
            background: #D6782A;
            &:hover {
                background: $orange;
            }
        }
    }
}

.logon-btn-bottom {
    margin: 20px 0 0;
}