// 文案頁 色彩管理
@include madvertis-color(
	$sidebar-bg         : transparent,     //測選單背景色
    $sidebar-font       : $color1,     //項目字色
    $sidebar-font-h     : $color1,  //項目字色:hover

    $tablet-title-font  : #F0D89F,     //TABLET 以下選單的目前頁面標題字色
    $tablet-title-bg    : transparent,     //TABLET 以下選單的目前頁面標題背景色

    $right-bg           : transparent,     //文案內容-右側款背景色
    $left-bg            : transparent      //文案內容-左側款背景色
);


// 文案頁側邊選單
.page-sidebar {
    width: 15%;
    max-width: 160px;
    float: left;
    @include MQ(desktop) {}
    @include MQ(tablet) {
        width: 100%;
        max-width: none;
        float: none;
        ul {
            background: #333;
        }
    }
    @include MQ(mobile) {}
}

.sidemenu-title {
    display: none;
    @include MQ(desktop) {}
    @include MQ(tablet) {
        cursor: pointer;
        display: block;
        line-height: 2;
        text-align: center;
        font-size: 32px;
        margin-bottom: 8px;
    }
    @include MQ(mobile) {}
}

.sidemenu {
    display: block;
    li {
        display: block;
        line-height: 72px;
        text-align: center;
        a {
            position: relative;
            display: block;
            &:hover,
            &.active {
                // background: image-url("sidebar_over.png") center no-repeat;
                // background-size: 100% auto;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 0;
                    display: block;
                    @include bg("sidebar_over.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    margin: -48px 0 0 -77px;
                }
            }
        }
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        cursor: pointer;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        li {
            display: block;
            a {
                &:hover,
                &.active {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    @include MQ(mobile) {}
}


// 文案左側內容
.page-left {
    @include MQ(desktop) {}
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}


// 文案右側內容
.page-right {
    width: 80%;
    max-width: 848px;
    min-height: 480px;
    float: right;
    @include MQ(desktop) {}
    @include MQ(tablet) {
        width: 100%;
        max-width: none;
        float: none;
    }
    @include MQ(mobile) {}
}

.case-article-content {
    line-height: 2.2;
    color: #AAA;
}

.container-bg01,
.container-bg02 {
    position: absolute;
    z-index: 0;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.container-bg01 {
    top: 86px;
    right: -44px;
    width: 88px;
    height: 500px;
    background-image: image-url("container_bg02.png");
    background-position: 50% 50%;
    @include MQ(tablet) {
        right: -24px;
        width: 68px;
        background-position: 0 50%;
        background-size: auto;
    }
}

.container-bg02 {
    bottom: 24px;
    right: 48px;
    width: 80%;
    max-width: 866px;
    height: 121px;
    background-image: image-url("container_bg03.png");
    background-position: 100% 100%;
    @include MQ(tablet) {
        width: 90%;
        bottom: 20px;
        right: 5%;
        background-position: 50% 100%;
    }
}