// 四大產品
@if $first-game-lang == 1 {
    .first-game-wrap {
        position: relative;
        top: -6px;
        margin-bottom: 30px;
        @include MQ(tablet) {
            top: -18px;
            width: 75%;
            margin: 0 auto 64px;
        }
        @include MQ(mobile) {
            top: -10px;
            width: 100%;
            padding: 0 8px;
        }
    }
    .first-game-main {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        ul {
            display: block;
            text-align: center;
        }
        li {
            width: 25%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            float: left;
            img {
                display: block;
                opacity: 0;
                margin: 0 auto;
            }
            @for $i from 1 through 4{
                &.first-game0#{$i}{
                    background-image: image-url('lang/zh-cn/game0#{$i}.png');
                    transition: all .3s ease-in;
                    &:hover{
                        background-image: image-url('lang/zh-cn/game0#{$i}_over.png');
                    }
                }
            }
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
        @include MQ(desktop) {
            li {
                img {
                    opacity: 1;
                }
                @for $i from 1 through 4{
                    &.first-game0#{$i}{
                        background-image: none;
                        &:hover{
                            background-image: none;
                        }
                    }
                }
            }
        }
        @include MQ(tablet) {
            li {
                width: 50%;
            }
        }
        @include MQ(mobile) {}
    }
} @else {}

// 手機下注
.first-mobile-main {
    position: relative;
    @include layout-max-width;
    padding: 0 670px 0 160px;
    @include MQ(custom) {
        padding: 0 40% 0 6%;
    }
    @include MQ(tablet) {
        max-width: none;
        padding: 0 0 0 24px;
        overflow-x: hidden;
    }
    @include MQ(mobile) {
        padding: 0;
    }
}

.first-mobile-aritcle {
    position: relative;
    min-height: 670px;
    padding-bottom: 260px;
    @include MQ(custom) {
        min-height: 600px;
    }
    @include MQ(desktop) {
        min-height: 0;
    }
    @include MQ(tablet) {
        // padding-bottom: 180px;
        padding-bottom: 32%;
    }
    @include MQ(mobile) {
        padding: 0 12px;
    }
}

.first-mobile-title {
    position: relative;
    z-index: 2;
    img {
        display: block;
        max-width: 100%;
    }
    @include MQ(tablet) {
        width: 64%;
        max-width: 462px;
    }
    @include MQ(mobile) {
        width: 100%;
    }
}

.first-mobile-content {
    position: relative;
    z-index: 2;
    p {
        line-height: 32px;
        font-size: 18px;
        color: #817255;
    }
    @include MQ(tablet) {
        width: 46%;
        // top: -32px;
        margin-top: -5%; // 為了讓字和標題間在伸縮的時候可以保持一定的間距
    }
    @include MQ(mobile) {
        width: 100%;
    }
}

.first-mobile-icon {
    position: absolute;
    bottom: 80px;
    display: block;
    width: 100%;
    height: 166px;
    background-image: image-url("first_mobile_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    @include MQ(tablet) {
        left: 3%;
        bottom: 32px;
        width: 45%;
        max-width: 294px;
        background-image: image-url("first_mobile_icon_m.png");
        background-position: center bottom;
        background-size: 100% auto;
    }
    @include MQ(mobile) {
        position: static;
        width: 100%;
        max-width: 324px;
        background-image: image-url("first_mobile_icon.png");
        margin: 0 auto;
    }
}

.first-mobile-bottom {
    position: absolute;
    bottom: 60px;
    left: 120px;
    z-index: 0;
    display: block;
    @include bg("first_mobile_bg.png");
    background-repeat: no-repeat;
    @include MQ(custom) {
        left: 6%;
    }
    @include MQ(tablet) {
        bottom: 0;
        left: 6%;
        width: 88%;
        background-position: 50% 100%;
        background-size: 100% auto;
    }
    @include MQ(mobile) {
        display: none;
    }
}

.first-mobile-bg {
    position: absolute;
    right: 20px;
    top: 30px;
    z-index: 1;
    display: block;
    @include bg("first_mobile_img.png");
    background-repeat: no-repeat;
    img {
        display: none;
    }
    @include MQ(custom) {
        width: 40%;
        right: 0;
        background-position: 50% 0;
        background-size: 120% auto;
    }
    @include MQ(tablet) {
        right: -8.5%;
        width: 68%;
        height: auto;
        background: none;
        img {
            display: block;
        }
    }
    @include MQ(mobile) {
        position: static;
        width: 100%;
        margin-top: 10px;
    }
}