.game-slider {
    position: relative;
    z-index: 2;
    max-width: 960px !important;
    margin: 66px auto 0;
    @include MQ(desktop) {}
    @include MQ(tablet) {
        margin-top: 0;
    }
    @include MQ(mobile) {}
}

.game-wrap {
    width: 100% !important;
    max-width: 960px;
    @include MQ(desktop) {}
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}

/* --- 模組其他調整 --- */
.game {
    .fixed-header .container {
        padding: 0 !important;
    }
    .gamejp-wrap {
        max-width: 960px !important;
    }
}

#ele-game-categories-menu-placeholder.fixed {
    max-width: 960px !important;
}
