/* --- 優惠活動 色彩管理 --- */
@include memExclusive-color(
    $item-bg     : transparent,     //項目背景色
    $item-font   : #AAA,            //項目字色
    $item-font-h : #FFF             //項目字色:hover
);

.memberexclusiveii-content {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    @include MQ(tablet) {
        padding: 0 6%;
    }
    @include MQ(mobile) {
        padding: 0 10%;
    }
}

/* --- 優惠活動項目 --- */
.memExclusive {
    width: 33.33%;
    float: left;
    a {
        display: block;
        img {
            display: block;
            width: 100%;
            &.origin {
                display: block;
            }
            &.hover {
                display: none;
            }   
        }
        h2 {
            width: 66.6%;
            height: 26px * 3;
            line-height: 26px;
            font-size: 16px;
            margin: 0 auto;
            overflow: hidden;
            transition: all .3s ease;
        }
        &:hover {
            img {
                &.origin {
                    display: none;
                }
                &.hover {
                    display: block;
                }
            }
        }
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        width: 50%;
        a {
            img {
                &.origin {
                    display: none;
                }
                &.hover {
                    display: block;
                }
            }
        }
    }
    @include MQ(mobile) {
        width: 100%;
    }
}
