.index-wrap {
    position: relative;
    width: 100vw;
    transition: transform .3s ease-in-out;
    background-image: linear-gradient(135deg, #B3422F 0%, #452951 100%);
}

.index-adaptive,
.index-rwd {
    position: relative;
    width: 50%;
    min-height: 100vh;
    section {
        position: relative;
        z-index: 1;
        height: 756px;
        background: #FFF;
        margin: 128px 0;
    }
    article {
        position: relative;
        display: block;
        height: 100%;
        margin: 0 auto;
        padding: 156px 0 0;
    }
    figure {
        position: relative;
        display: block;
        height: 156px;
        margin: 0 0 48px;
        img {
            position: absolute;
            display: block;
            max-width: 100%;
        }
    }
    h2 {
        position: relative;
        display: block;
        line-height: 1;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        margin: 0 0 20px 0;
        padding: 20px 0 0;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            display: block;
            width: 100px;
            height: 2px;
        }
    }
    p {
        display: block;
        line-height: 25px;
        font-size: .938rem;
    }
    button {
        position: absolute;
        bottom: 110px;
        display: block;
        width: 182px;
        line-height: 52px;
        text-align: center;
        font-size: .938rem;
        background: none;
        border: 0;
        padding: 0;
    }
    @include MQ(custom-1366) {
        figure {
            height: 120px;
        }
    }
    @include MQ(desktop) {
        section {
            height: 680px;
        }
        article {
            padding: 120px 0 0;
        }
        button {
            bottom: 60px;
        }
    }
    @include MQ(tablet) {
        width: 100%;
        min-height: 0;
        section {
            width: 100%;
            height: auto;
            margin: 0;
            float: none;
        }
        figure {
            img {
                position: static;
            }
        }
        h2 {
            font-size: .938rem;
            padding: 28px 0 0;
        }
        button {
            position: static;
            margin: 36px auto;
        }
    }
    @media only screen and (max-width: 480px) and (min-height: 800px) {
        min-height: 50vh;  /* 防止因寬高比例懸殊產生的下方留白情形 */
    }
}

.index-adaptive {
    background: $orange;
    background-image: linear-gradient(-45deg, #2e1f5b 0%, #d2471c 100%);
    transition: transform .3s ease-in-out;
    float: left;
    section {
        position: relative;
        width: 86%;
        max-width: 833px;
        border: 1px solid #ff3b00;
        border-right: 0;
        border-radius: 6px 0 0 0;
        background-image: linear-gradient(-45deg, #53294d 0%, #d2471c 100%);
        float: right;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 62px;
            background: url(../image/index_browser_bg.png) left top no-repeat;
        }
    }
    article {
        text-align: right;
        color: #FFF;
        padding-left: 5%;
        padding-right: 100px;
    }
    figure {
        img {
            bottom: 0;
            left: 0;
        }
    }
    h2 {
        &::after {
            right: 0;
            background: #FFF;
        }
    }
    button {
        right: 100px;
        color: #FFF;
        border: 1px solid #FFF;
        transition-property: color, background;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &:hover {
            color: $orange;
            background: rgba(255, 255, 255, .8);
            transition-property: color, background;
            transition-duration: .3s;
            transition-timing-function: ease-in-out;
        }
    }
    @include MQ(custom-1366) {
        section {
            width: 92%;
        }
        article {
            padding-right: 64px;
        }
        button {
            right: 64px;
        }
    }
    @include MQ(desktop) {
        article {
            padding-right: 40px;
        }
        button {
            right: 40px;
        }
    }
    @include MQ(tablet) {
        padding: 40px 12.5% 160px;
        float: none;
        section {
            width: 100%;
            border-right: 1px solid #ff3b00;
            border-radius: 0;
            float: none;
            &::before {
                background-size: 100% auto;
            }
        }
        article {
            text-align: center;
            padding: 80px 17.6% 0;
        }
        figure {
            height: auto;
            margin: 0 0 28px;
            img {
                margin: 0 auto;
            }
        }
        h2 {
            &::after {
                right: calc(50% - 50px);
            }
        }
        p {
            font-style: italic;
        }
    }
    @include MQ(mobile) {
        padding: 72px 17.5% 132px;
        section {
            background: none;
            border: 0;
            &::before {
                display: none;
            }
        }
        article {
            padding: 0;
        }
        h2 {
            font-size: .75rem;
        }
        p {
            font-style: normal;
        }
    }
}

.index-rwd {
    background: $pink;
    transition: transform .3s ease-in-out;
    float: right;
    section {
        width: 86%;
        border: 1px solid $orange-border;
        border-left: 0;
        border-radius: 0 6px 0 0;
        background: rgba(230, 76, 30, .1);
        float: left;
        animation-name: rwd_animation;
        animation-duration: 7.5s;
        animation-delay: 1.5s;
        animation-iteration-count: infinite;
    }
    article {
        padding-left: 100px;
        padding-right: 22%;
    }
    figure {
        img {
            bottom: 16%;
            &:last-child {
                display: none;
            }
        }
    }
    h2 {
        color: $orange;
        &::after {
            left: 0;
            background: $orange;
        }
    }
    p {
        i {
            font-style: italic;
            font-weight: bold;
        }
    }
    button {
        left: 100px;
        color: #FFF;
        background: $orange;
        transition: background .3s ease-in-out;
        &:hover {
            background: $orange-hover;
            transition: background .3s ease-in-out;
        }
    }
    @include MQ(custom-1366) {
        section {
            width: 92%;
            animation-name: rwd_animation_1366;
        }
        article {
            padding-left: 64px;
        }
        button {
            left: 64px;
        }
    }
    @include MQ(desktop) {
        section {
            animation-name: rwd_animation_desktop;
        }
        article {
            padding-left: 40px;
        }
        button {
            left: 40px;
        }
    }
    @include MQ(tablet) {
        padding: 120px 12.5% 80px;
        float: none;
        &::before,
        &::after {
            content: "";
            position: absolute;
            z-index: 0;
            display: block;
            background-repeat: no-repeat;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
        &::before {
            bottom: 0;
            left: 0;
            width: 54%;
            height: 510px;
            background-image: url(../image/index_rwd_device01.png);
            background-position: top right;
            transform: translateX(-100%);
            animation-name: rwd_animation_tablet_device01;
            animation-delay: 0s;
        }
        &::after {
            top: 0;
            right: 0;
            width: 37%;
            height: 540px;
            background-image: url(../image/index_rwd_device02.png);
            background-position: bottom left;
            transform: translateX(100%);
            animation-name: rwd_animation_tablet_device02;
            animation-delay: 0.25s;
        }
        section {
            position: relative;
            z-index: 1;
            width: 100%;
            background: none;
            border: 0;
            animation-name: none;
            float: none;
        }
        article {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0;
        }
        figure {
            order: 3;
            img {
                margin: 0 auto;
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: block;
                }
            }
        }
        h2 {
            order: 2;
            margin-top: 32px;
            padding-top: 32px;
            &::after {
                left: calc(50% - 50px);
            }
        }
        p {
            order: 1;
            max-width: 272px;
            margin: 0 auto;
        }
        button {
            order: 4;
            margin: 0 auto;
        }
    }
    @include MQ(mobile) {
        padding: 90px 10% 48px;
        &::before {
            top: 72px;
            bottom: auto;
            height: 326px;
            background-position: center right;
            background-size: auto 326px;
        }
        &::after {
            width: 38%;
            height: 320px;
            background-size: auto 337px;
        }
        figure {
            height: auto;
            margin-bottom: 60px;
            img {
                max-width: 267px;
            }
        }
        h2 {
            font-size: .75rem;
            margin: 24px 0;
            padding-top: 24px;
        }
    }
}

.index-rwd-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 63px;
    border-bottom: 1px solid $orange-border;
    border-radius: 0 6px 0 0;
    background: $pink;
    span {
        &:nth-child(1) {
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            height: 32px;
            border-top: 1px solid $orange-border;
            &::before {
                content: "";
                display: block;
                width: calc(100% - 32px);
                height: 20px;
                border: 1px solid $orange-border;
                border-left: 0;
                border-radius: 0 3px 3px 0;
                margin: 5px 0 0;
            }
        }
        &:nth-child(2) {
            position: absolute;
            bottom: 7px;
            right: 14px;
            display: block;
            width: 3px;
            height: 15px;
            i {
                display: block;
                width: 3px;
                height: 3px;
                border-radius: 100%;
                background: $orange-border;
                margin: 0 0 3px;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    @include MQ(tablet) {
        display: none;
    }
}

.index-rwd-arrow {
    position: absolute;
    top: calc(50% - 10px);
    right: -18px;
    width: 36px;
    height: 20px;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        z-index: 2;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
    }
    &::before {
        left: 0;
        border-width: 10px 10px 10px 0;
        border-color: transparent $orange-border transparent;
    }
    &::after {
        right: 0;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent $orange-border;
    }
    i {
        display: block;
        width: calc(100% - 20px);
        height: 8px;
        background: $orange-border;
        margin: 6px auto;
    }
    @include MQ(tablet) {
        display: none;
    }
}

//RWD示意動畫
@keyframes rwd_animation {
    0% {
        width: 86%;
    }
    25% {
        width: 68.75%;
    }
    45% {
        width: 68.75%;
    }
    65% {
        width: 58.3%;
    }
    80% {
        width: 58.3%;
    }
    90% {
        width: 86%;
    }
}

@keyframes rwd_animation_1366 {
    0% {
        width: 92%;
    }
    25% {
        width: 73.54%;
    }
    45% {
        width: 73.54%;
    }
    65% {
        width: 62.36%;
    }
    80% {
        width: 62.36%;
    }
    90% {
        width: 92%;
    }
}

@keyframes rwd_animation_desktop {
    0% {
        width: 92%;
    }
    25% {
        width: 80%;
    }
    45% {
        width: 80%;
    }
    65% {
        width: 74%;
    }
    80% {
        width: 74%;
    }
    90% {
        width: 92%;
    }
}

@keyframes rwd_animation_tablet_device01 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes rwd_animation_tablet_device02 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.index-logo {
    position: absolute;
    top: 41px;
    left: 15.6%;
    z-index: 2;
    display: block;
    width: 94px;
    height: 40px;
    background-image: url(../image/bbin-logo-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    margin: 0;
    padding: 0;
    transition: left .3s ease-in-out;
    @include MQ(custom-1366) {
        left: 6%;
    }
    @include MQ(tablet) {
        top: 52px;
        left: 12.5%;
        background-image: url(../image/bbin-logo-orange.svg);
    }
    @include MQ(mobile) {
        top: 32px;
        left: 10%;
    }
}

// 過場動態效果
.index-wrap.move-adaptive {
    .index-adaptive {
        transform: translateX(calc(-100% + 240px));
        article {
            opacity: .6;
            padding-right: 102px;
        }
        p {
            font-style: italic;
        }
        button {
            display: none;
        }
    }
    .index-rwd {
        transform: translateX(100%);
    }
    .index-logo {
        left: -300px;
        transition: left .3s ease-in-out;
    }
    @include MQ(desktop) {
        .index-adaptive {
            transform: translateX(calc(-100% + 120px));
        }
    }
    @include MQ(tablet) {
        .index-adaptive {
            transform: translateX(-100%);
        }
        .index-rwd {
            transform: translateX(-100%);
        }
    }
}

.index-wrap.move-rwd {
    transform: translateX(calc(-50%));
    .index-rwd {
        section {
            animation-name: none;
        }
        button {
            display: none;
        }
    }
}

html, body {
    width: 100%;
    height: 100%;
}
#mainBody, #page-container, .index-wrap  {
    min-height: 768px;
    height: 100%;
}

#particles {
    position: absolute;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    .pg-canvas {
        height: 100%;
        position: relative;
        z-index: 1;
    }
}
.index-text {
    position: relative;
    text-align: center;
    color: #fff;
    padding: 192px 0 0 0;
    z-index: 2;
    font-size: 18px;
    h2 {
        position: relative;
        display: block;
        line-height: 1;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: bold;
        font-size: 26px;
        margin: 0 0 20px 0;
        padding: 100px 0 0;
        &::before {
            content: "";
            position: absolute;
            top: 60px;
            display: block;
            width: 100px;
            height: 2px;
            left: 50%;
            margin: 0 0 0 -50px;
            background: #fff;
        }
    }
    button {
        background: none;
        border: 0;
        box-shadow: 1px 1px 0 0 #fff inset, -1px -1px 0 0 #fff inset;
        font-size: 16px;
        font-weight: normal;
        padding: 16px 66px;
        margin: 40px 0 0 0;
        transition: all .3s;
        &:hover {
            color: $orange;
            box-shadow: 1px 56px 0 0 #fff inset, -1px -1px 0 0 #fff inset;
        }
    }
    @include MQ(custom-1366) {
        padding-top: 120px;
    }
}
.index-ad-btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    transition: all .3s;
    cursor: pointer;
    z-index: 2;
    &:hover {
        bottom: 36px;
    }
    span{
        position: absolute;
        width: 14px;
        height: 14px;
        right: 0;
        top: 0;
        background: url(../image/index_ad_close.png) no-repeat left top;
        display: block;
        opacity: 0;
        z-index: 4;
        transition: all .3s;
    }
}
.index-ad-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.6);
    display: block;
    z-index: 3;
    cursor: pointer;
}
.index-ad {
    position: absolute;
    width: 960px;
    height: 600px;
    left: 50%;
    top: 50%;
    margin: -300px 0 0 -400px;
    background: url(../image/index_ad_bg.png) no-repeat left top;
    display: block;
    z-index: 4;
}
.index-ad-close {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    right: -30px;
    background: url(../image/index_ad_close2.png) no-repeat left top;
    border: 0;
}
.index-ad-link {
    position: absolute;
    bottom: 110px;
    left: 160px;
    padding: 10px 62px;
    box-shadow: 0 4em 0 0 #D2461B inset, 0em 0em 0 0 #bbb;
    border-radius: 30px;
    font-size: 20px;
    color: #f5cfc3;
    transition: all .3s;
    box-sizing: border-box;
    &:hover {
        color: #fff;
        background-color: $orange;
        box-shadow: 0 0 0 0 #D2461B inset, 0.3em 0.2em 0 0 #bbb;
    }
}