.item-wrap {
    position: relative;
    z-index: 1;
    min-height: 900px;
    @include MQ(tablet) {
        &::before {
            background: #FFF;
        }
    }
}

.item-ctrl {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 80px;
    li {
        position: relative;
        display: block;
        height: 80px;
        transition: all .3s ease-in-out;
        &:hover {
            transition: all .3s ease-in-out;
        }
    }
    a {
        display: block;
        height: 100%;        
    }
    @include MQ(mobile) {
        width: 100%;
        height: 80px;
    }
}

.item-ctrl-close {
    background: $orange-dark;
    a {
        &::before,
        &::after {
            position: absolute;
            top: 50%;
            left: calc(50% - 24px);
            content: "";
            display: block;
            width: 48px;
            height: 1px;
            background: #FFF;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
    &:hover {
        background: $orange;
    }
    @include MQ(mobile) {
        width: 80px;
        float: left;
    }
}

.item-ctrl-next,
.item-ctrl-prev {
    background: #FFF;
    border: 1px solid $orange-dark;
    border-top: 0;
    a {
        &::before,
        &::after {
            position: absolute;
            left: calc(50% - 12px);
            content: "";
            display: block;
            width: 24px;
            height: 1px;
            background: $orange-dark;
        }
        &::before {
            top: 30px;
            transform: rotate(45deg);
        }
        &::after {
            bottom: 31px;
            transform: rotate(-45deg);
        }
    }
    &:hover {
        border-color: $orange;
    }
    @include MQ(mobile) {
        width: calc(50% - 40px);
    }
}

.item-ctrl-next {
    @include MQ(mobile) {
        border-left: 0;
        float: right;
    }
}

.item-ctrl-prev {
    a {
        transform: rotate(180deg);
    }
    @include MQ(mobile) {
        float: left;
    }
}

.item-main {}

.item-top {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 900px;
    background: $pink;
    margin: 0 auto;
    section {
        position: relative;
        display: block;
        width: calc(100% - 240px);
        max-width: 1000px;
        margin: 0 auto;
        @include clearfix;
    }
    article {
        display: block;
        margin: 0;
        padding: 0;
    }
    h1 {
        display: block;
        line-height: 1;
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 3rem;
        font-weight: bold;
        color: $orange-dark;
        margin: 0 0 32px;
    }
    h2 {
        display: block;
        line-height: 20px;
        font-size: 1.125rem;
        color: $orange-dark;
        span {
            display: inline-block;
            vertical-align: middle;
        }
        i {
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            background-position: 0 0;
            background-repeat: no-repeat;
        }
    }
    hr {
        display: block;
        width: 50px;
        height: 2px;
        background: $orange-dark;
        border: 0;
        margin: 32px 0 16px;
        padding: 0;
    }
    ul {
        max-width: 296px;
    }
    li {
        position: relative;
        display: block;
        line-height: 24px;
        font-size: .813rem;
        padding: 0 0 0 13px;
        &::before {
            content: "．";
            position: absolute;
            top: 0;
            left: 0;
        }
        b {
            color: $orange-dark;
        }
    }
    a {
        position: absolute;
        left: 0;
        display: block;
        width: 200px;
        line-height: 50px;
        text-align: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: bold;
        font-size: .75rem;
        color: $orange-dark;
        background: #FFF;
        border: 1px solid $orange-dark;
        transition: all .3s ease-in-out;
        &:hover {
            color: #FFF;
            background: $orange-dark;
            transition: all .3s ease-in-out;
        }
    }
    figure {
        margin: 0;
        padding: 0;
        float: right;
        img {
            display: block;
            width: 100%;
        }
    }
    @include MQ(custom-1366) {
        height: auto;
        a {
            position: static;
            transition: all 0s;
        }
    }
    @include MQ(desktop) {
        h1 {
            font-size: 2rem;
        }
    }
    @include MQ(tablet) {
        width: 100%;
        height: auto;
        background: $pink;
        section {
            width: 100%;
            min-height: 0;
            padding: 0;
        }
        a {
            display: none;
        }
        figure {
            display: none;
        }
    }
    @include MQ(mobile) {}
}

/* 兩版型個別樣式 */
.item-adaptive {
    .item-top {
        padding: 140px 0 0;
        section {
            min-height: calc(507px + 14px); /* 加右側螢幕圖的 top 值 */
        }
        article {
            width: 36%;
            float: left;
        }
        h2 {
            i {
                width: 24px;
                background-image: url(../image/desktop_icon_orange.svg);
                margin: 0 0 0 18px;
            }
        }
        a {
            bottom: 78px;
        }
        figure {
            width: 62.5%;
            max-width: 625px;
        }
    }
    @include MQ(custom-1366) {
        .item-top {
            padding: 80px 0 240px;
            section {
                min-height: 0;
            }
            figure {
                width: 60%;
            }
            a {
                margin: 48px 0 0;
            }
        }
    }
    @include MQ(tablet) {
        .item-top {
            padding: 70px 0 0;
            section {
                padding: 0 20% 170px;
            }
            article {
                width: 100%;
            }
        }
    }
    @include MQ(mobile) {
        .item-top {
            padding: 170px 0 0;
            section {
                padding: 0 16.5% 140px;
            }
        }
    }
}

.item-rwd {
    .item-top {
        padding: 100px 0 0;
        section {
            min-height: 548px;
        }
        article {
            width: 28%;
            float: left;
        }
        h2 {
            i {
                width: 60px;
                background-image: url(../image/rwd_icon_orange.svg);
                margin: 0 0 0 12px;
            }
        }
        a {
            bottom: 30px;
        }
        figure {
            width: 70.5%;
            max-width: 705px;
        }
    }
    @include MQ(custom-1366) {
        .item-top {
            padding: 80px 0 260px;
            section {
                min-height: 0;
            }
            article {
                width: 32%;
            }
            a {
                margin: 30px 0 0;
            }
            figure {
                width: 66%;
            }
        }
    }
    @include MQ(tablet) {
        .item-top {
            padding: 70px 0 0;
            section {
                padding: 0 20% 270px;
            }
            article {
                width: 100%;
            }
        }
        .item-slider-tabs {
            top: -185px;
        }
    }
    @include MQ(mobile) {
        .item-top {
            padding: 170px 0 0;
            section {
                padding: 0 16.5% 240px;
            }
            article {
                width: 100%;
            }
        }
    }
}

.item-inpage {
    position: relative;
    top: -120px;
    z-index: 1;
    width: calc(100% - 240px);
    max-width: 1000px;
    margin: 0 auto;
    @include MQ(tablet) {
        top: 0;
        width: calc(100% - 200px);
        margin: 0 auto;
    }
    @include MQ(mobile) {
        width: calc(100% - 100px);
    }
}

.item-gallery {
    position: relative;
}

/* TABS */
.item-tabs {
    position: relative;
    .content {
        display: none;
        &.active {
            display: block;
        }
    }
    .title {
        position: absolute;
        top: -100px;
        left: 0;
        width: 300px;
        height: 100px;
        li {
            position: relative;
            width: 100px;
            height: 100px;
            line-height: 1;
            text-align: center;
            font-size: .75rem;
            color: $orange-dark;
            background: #FFF;
            border: 1px solid $orange-dark;
            border-left: 0;
            padding: 60px 0 0;
            float: left;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &::before {
                content: "";
                position: absolute;
                top: 30px;
                left: calc(50% - 12px);
                display: block;
                width: 24px;
                height: 20px;
                background-position: center;
                background-repeat: no-repeat;
            }
            &:nth-child(1) {
                border-left: 1px solid $orange-dark;
                &::before {
                    background-image: url(../image/desktop_icon_orange.svg);
                }
            }
            &:nth-child(2) {
                &::before {
                    background-image: url(../image/pad_icon_orange.svg);
                }
            }
            &:nth-child(3) {
                &::before {
                    background-image: url(../image/phone_icon_orange.svg);
                }
            }
            &.active,
            &:hover {
                color: #FFF;
                background: $orange-dark;
                transition: all .3s ease-in-out;
                &:nth-child(1) {
                    border-left: 1px solid $orange-dark;
                    &::before {
                        background-image: url(../image/desktop_icon_white.svg);
                    }
                }
                &:nth-child(2) {
                    &::before {
                        background-image: url(../image/pad_icon_white.svg);
                    }
                }
                &:nth-child(3) {
                    &::before {
                        background-image: url(../image/phone_icon_white.svg);
                    }
                }
            }
        }
    }
    @include MQ(tablet) {
        .title {
            width: 100%;
            li {
                width: 33.33%;
            }
        }
    }
}


/* SLIDER */
.item-slider {
    position: relative; 
    width: 100%;
    list-style: none; 
    overflow: hidden;
    li {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        -webkit-backface-visibility: hidden;
        &:first-child {
            position: relative;
            display: block;
            float: left;
        }
    }
    img {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        height: auto;
        float: left;
    }
}

.bx-wrapper {
    position: relative;
    width: 100%;
    max-width: 1024px;
    background: rgba(255, 255, 255, .3);
    margin: 0 auto;
    padding: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.bxslider {
    cursor: pointer;
    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
}

.bx-viewport {
    -webkit-transform: translateZ(0);
}

/* LOADER */
.bx-loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: url('../image/slider-loader.gif') center center no-repeat #ffffff;
}

/* PAGER */
.bx-pager {
    position: absolute;
    top: -75px;
    right: 0;
    z-index: 4;
    text-align: center;
    ul {
        display: block;
        height: 35px;
        text-align: center;
        background: rgba(0, 0, 0, .3);
        border-radius: 5px;
        padding: 13px 24px;
    }
    @include MQ(tablet) {
        width: 100%;
        text-align: center;
        ul {
            display: inline-block;
        }
        .item-rwd & {
            top: -185px;
        }
    }
}

.bx-pager-item {
    display: inline-block;
    vertical-align: top;
    width: 9px;
    height: 9px;
    background: #d6d3d2;
    border-radius: 100%;
    margin: 0 3px;
    overflow: hidden;
    a {
        display: block;
        text-indent: -9999px;
        overflow: hidden;
        &:hover,
        &.active,
        &:focus {
            background: #FFF;
        }
    }
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-controls-direction {
    a {
        position: absolute;
        top: 0;
        z-index: 3;
        width: 120px;
        height: 120px;
        line-height: 120px;
        text-align: center;
        font-size: 2.5rem;
        color: #FFF;
        background: $orange-dark;
        overflow: hidden;
        &.disabled {
            display: none;
        }
    }
    @include MQ(tablet) {
        a {
            width: 100px;
            height: 100px;
            line-height: 100px;
        }
    }
    @include MQ(mobile) {
        a {
            width: 50px;
        }
    }
}

.bx-prev {
    left: -120px;
    @include MQ(tablet) {
        left: -100px;
    }
    @include MQ(mobile) {
        left: -50px;
    }
}

.bx-next {
    right: -120px;
    @include MQ(tablet) {
        right: -100px;
    }
    @include MQ(mobile) {
        right: -50px;
    }
}


.item-model {
    margin: 72px 0 0;
    h2 {
        display: block;
        line-height: 1;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: bold;
        font-size: 1.75rem;
        color: $orange-dark;
        border-bottom: 1px solid $orange-dark;
        margin: 0 0 48px;
        padding: 0 0 24px;
    }
    ul {
        display: flex;
        // justify-content: space-between;
    }
    li {
        display: block;
        width: 30%;
        max-width: 300px;
        background: $pink-dark;
        margin: 0 5% 0 0;
        a {
            display: block;
        }
        img {
            display: block;
            width: 100%;
        }
        &:last-child {
            margin: 0;
        }
    }
    @include MQ(tablet) {
        margin-bottom: 72px;
        li {
            display: none;
            width: 46%;
            &:nth-child(1),
            &:nth-child(2) {
                display: block;
            }  /* 避免有超過三張圖的情況所以採用預設全部顯示，只顯示前兩筆 */
        }
    }
}