.page-body {
    height: 100%;
    overflow: hidden;
}

.page-wrap {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 11;
    display: block;
    width: calc(100% - 240px);
    height: 100%;
    transition: right .3s ease-in-out;
    &.active {
        right: 0;
    }
    @include MQ(desktop) {
        width: calc(100% - 120px);
    }
    @include MQ(tablet) {
        width: 100%;
    }
}

.page-main {
    height: calc(100% - 128px);  /* 扣掉上選單的高度 */
    background: #FFF;
    overflow-x: hidden;
    overflow-y: scroll;  /* 使其預設顯示，可防止從卷軸有至無產生定位重疊或錯位的現象 */
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    @include MQ(tablet) {
        height: calc(100% - 100px);
    }
    @include MQ(mobile) {
        height: calc(100% - 160px);
        overflow-y: auto;
    }
}

.page-items {
    position: relative;
    z-index: 1;
    section {
        position: relative;
        background: #FFF;
    }
    hgroup {
        display: block;
        width: 100%;
    }
    h2 {
        display: block;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: bold;
        color: #999;
        margin: 0 0 14px;
    }
    h3 {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        line-height: 1;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-style: italic;
        font-size: .75rem;
        color: #999;
    }
    figure {
        position: relative;
        z-index: 1;
        display: block;
        background: #f2f2f2;
        margin: 0;
        padding: 0;
    }
    img {
        display: block;
        width: 100%;
    }
    @include MQ(tablet) {
        background: #FFF;
    }
}

.page-items-intro {
    position: relative;
    z-index: 1;
    @include clearfix;
}

.page-items-info {
    position: relative;
    float: left;
    .color {
        display: block;
        i {
            display: inline-block;
            vertical-align: top;
            border-radius: 100%;
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
            &.white {
                border: 1px solid #DDD;
                background: $c-white;
            }
            &.black {
                background: $c-black;
            }
            &.gray {
                background: $c-gray;
            }
            &.blue {
                background: $c-blue;
            }
            &.green {
                background: $c-green;
            }
            &.yellow {
                background: $c-yellow;
            }
            &.brown {
                background: $c-brown;
            }
            &.orange {
                background: $c-orange;
            }
            &.red {
                background: $c-red;
            }
            &.pink {
                background: $c-pink;
            }
            &.purple {
                background: $c-purple;
            }
        }
    }
}

.page-items-link {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    @include clearfix;
    float: right;
    a {
        display: block;
        transition-property: color, border, background;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &.detail {
            color: #FFF;
            background: $orange-dark;
            border: 1px solid $orange-dark;
            float: left;
        }
        &.livedemo,
        &.livedemo-no {
            color: #808080;
            background: #FFF;
            border: 1px solid #DDD;
            float: right;
        }
        &.livedemo-no {
            background: #DDD;
            cursor: not-allowed;
            opacity: .3;
        }
        &:hover {
            transition-property: color, border, background;
            transition-duration: .3s;
            transition-timing-function: ease-in-out;
            &.detail {
                background: $orange;
                border: 1px solid $orange;
            }
            &.livedemo {
                color: $orange;
                border: 1px solid $orange;
            }
        }
    }
}

.page-view-list {
    background: #F7F7F7;
    padding: 62px 20px 0;
    dl {
        margin: 20px 0 40px;
    }
    .page-items {
        width: 50%;
        padding: 20px;
        section {
            width: 100%;
            box-shadow: 0 0 24px 0 rgba(0, 0, 0, .1);
            background: #FFF;
            margin: 0 auto;
            padding: 136px 24px 48px;
        }
        hgroup {
            position: absolute;
            top: 24px;
            width: calc(100% - 48px);
        }
        h2 {
            line-height: 28px;
            font-size: 2.188rem;
        }
        h3 {
            top: 8px;
        }
        figure {
            img {
                &.base-rwd {
                    display: none;
                }
            }
        }
    }
    .page-items-intro {
        position: absolute;
        top: 64px;
        width: calc(100% - 48px);
        min-height: 55px;
    }
    .page-items-info {
        height: 30px;
        margin: 13px 0 0;
        .color {
            i {
                width: 30px;
                height: 30px;
            }
        }
    }
    .page-items-link {
        width: 380px;
        line-height: 53px;
        font-size: .938rem;
        a {
            width: 47%;
            border-radius: 55px;
        }
    }
    @include MQ(custom-1600) {
        .page-items {
            section {
                padding: 200px 24px 32px;
            }
        }
        .page-items-intro {
            top: 72px;
            padding: 0;
        }
        .page-items-info {
            width: 100%;
            text-align: right;
            margin: 13px 0 16px;
            float: none;
        }
        .page-items-link {
            width: 100%;
            a {
                width: 47%;
            }
        }
    }
    @include MQ(desktop) {
        .page-items {
            padding: 10px;
            section {
                padding: 192px 16px 24px;
            }
            hgroup {
                width: calc(100% - 32px);
            }
            h2 {
                font-size: 1.875rem;
            }
        }
        .page-items-link {
            line-height: 43px;
            font-size: .75rem;
            a {
                border-radius: 45px;
            }
        }
    }
    @include MQ(tablet) {
        .page-items-intro {
            position: relative;
            top: 0;
            width: 100%;
            margin: 24px 0 0;
        }
        .page-items-info {
            margin-top: 0;
        }
    }
}

.page-view-grid {
    background: #FFF;
    padding: 62px 0 0;
    .page-items {
        display: inline-block;
        width: 33.3333%;
        background: #FFF;
        padding: 36px 48px 24px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            display: block;
            width: 100%;
            height: 100%;   /* 使不同項目之間的格線重疊 */
        }
        &::before {
            border-left: 1px solid $gray-light;
            border-top: 1px solid $gray-light;
        }
        &::after {
            border-right: 1px solid $gray-light;
            border-bottom: 1px solid $gray-light;
        }
        hgroup {
            position: relative;
        }
        h2 {
            line-height: 25px;
            font-size: 1.375rem;
        }
        h3 {
            top: auto;
            bottom: 0;
        }
        figure {
            border: 1px solid $gray-light;
            margin: 0 0 16px;
            overflow: hidden;
            img {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                &.base-rwd {
                    position: static;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
    .page-items-intro {
        min-height: 40px;
    }
    .page-items-info {
        height: 25px;
        padding: 8px 0 0;
        .color {
            i {
                width: 25px;
                height: 25px;
                margin-right: 8px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .page-items-link {
        width: 62%;
        max-width: 255px;
        line-height: 38px;
        font-size: .75rem;
        a {
            width: 47%;
            border-radius: 40px;
        }
    }
    @include MQ(custom-1600) {
        .page-items {
            padding: 36px 24px 24px;
        }
        .page-items-intro {
            padding: 0;
        }
        .page-items-info {
            width: 100%;
            text-align: right;
            padding: 0;
            float: none;
        }
        .page-items-link {
            width: 100%;
            max-width: none;
            margin: 16px 0 0;
        }
    }
    @include MQ(desktop) {
        .page-items {
            width: 50%;
            padding: 24px 48px;
        }
        .page-items-info {
            padding: 0;
            .color {
                i {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .page-items-link {
            line-height: 43px;
            a {
                border-radius: 45px;
            }
        }
    }
}

.page-view-list,
.page-view-grid {
    @include MQ(desktop) {
        .page-items-info {
            height: 30px;
        }
    }
    @include MQ(tablet) {
        background: #FFF;
        padding: 62px 0 0;
        dl {
            margin: 0;
        }
        .page-items {
            padding: 3%;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                display: block;
                width: 100%;
                height: 100%;
            }
            &::before {
                border-left: 1px solid $gray-light;
                border-top: 1px solid $gray-light;
            }
            &::after {
                border-right: 1px solid $gray-light;
                border-bottom: 1px solid $gray-light;
            }
            section {
                border: 0;
                box-shadow: none;
                padding: 0;
            }
            hgroup {
                position: relative;
                top: 0;
                width: 100%;
            }
            h2 {
                line-height: 25px;
                font-size: 1.5rem;
            }
            h3 {
                top: auto;
                bottom: 0;
            }
            figure {
                border: 1px solid $gray-light;
                margin: 0 0 24px;
                overflow: hidden;
                img {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    &.base-rwd {
                        position: static;
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
        .page-items-info {
            .color {}
        }
    }
    @include MQ(mobile) {
        padding: 0;
        dl {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .page-items {
            width: 100%;
            margin: 0;
            padding: 0;
            section {
                @include clearfix;
                display: block;
                border: 0;
                border-bottom: 1px solid $gray-light;
                box-shadow: none;
                padding: 6%;
            }
            hgroup {
                width: 36%;
                float: right;
            }
            h2 {
                line-height: 28px;
                font-size: 1.375rem;
                margin: 0 0 12px;
            }
            h3 {
                position: static;
                font-size: .813rem;
                font-style: normal;
            }
            figure {
                position: relative;
                width: 60%;
                height: 170px;
                margin: 0;
                overflow: hidden;
                float: left;
                img {
                    position: absolute;
                    display: block;
                    width: 100%;
                }
            }
        }
        .page-items-intro {
            width: 36%;
            margin: 0;
            float: right;
        }
        .page-items-info {
            height: auto;
            text-align: left;
            margin: 0;
            padding: 0;
            .color {
                position: static;
                text-align: left;
                min-height: 25px;
                margin: 16px 0 24px;
                i {
                    width: 25px;
                    height: 25px;
                    margin-right: 4px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .page-items-link {
            height: auto;
            a {
                width: 100%;
                height: 40px;
                line-height: 40px;
                border-radius: 40px;
                &.detail {
                    display: none;
                }
            }
        }
    }
}