//按鈕顏色
@mixin btn-color($font, $bg) {
    color: $font;
    background-color: $bg;
    &:hover {
        background-color: darken($bg, 5%);
    }
}

//清除浮動
@mixin clearfix() {
    &:after,
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// CSS image replacement  看不懂？
@mixin text-hide() {
    font: "0/0" a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

//Links
@mixin link() {
    &:link,
    &:visited {
        @content;
    }
}

@mixin hover() {
    &:hover,
    &:focus,
    &:active,
    &.active {
        @content;
    }
}

@mixin click() {
    &:hover,
    &:focus,
    &:active,
    &.is-active {
        @content;
    }
}

//讓iPhone iPad滑滾更順暢
@mixin overflow-scroll {
    overflow-y: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}

//溢出文字變"..."
@mixin text-truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}

//過渡效果
@mixin trans($key) {
    @include transition($key 0.3s ease-in-out);
}

// font-awesome 看不懂？
@mixin fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//placeholder 看不懂？
@mixin placeholder {
    &::-webkit-input-placeholder {
        color: #999;
    }
    &::-moz-placeholder {
        color: #999;
    }
    &:-ms-input-placeholder {
        color: #999;
    }
    &:-moz-placeholder {
        color: #999;
    }
    &.placeholder {
        &::-webkit-input-placeholder {
            color: #CCC;
        }
        &::-moz-placeholder {
            color: #CCC;
        }
        &:-ms-input-placeholder {
            color: #CCC;
        }
        &:-moz-placeholder {
            color: #CCC;
        }
    }
}

//文字大小, 行高, 背景色, 滑入色, 次色(包含在a元素中的span)
//登入前
@mixin input-color($bg-color:#f5f5f5, $border:1px solid #666) {
    display: inline-block;
    outline: none;
    border: $border;
    background-color: $bg-color;
}

//背景色, 邊框
@mixin input-font-color($colorI:#DDD, $colorII:#CCC) {
    text-indent: 6px;
    &.form-control {
        color: $colorII;
        &.placeholder {
            color: $colorI;
        }
    }
}


/*
//登入後
@mixin logon-acc {
    div,
    span,
    p {
        float: left;
    }
    div {
        span,
        .fa {
            margin: 0 2px;
        }
        p {
            margin: 0 2px;
        }
    }
    .obalance {
        cursor: pointer;
    }
}



@mixin Member-Sub-font($Member-color:#333, $Member-border:1px solid #999, $Member-btn-color-primary:#FFF, $Member-btn-color-secondary:flase) {
    #Member-Sub {
        .MemberDate {
            ul li {
                color: $Member-color;
                line-height: 18px;
            }
            .MemberChange {
                border-top: $Member-border;
            }
        }
        .btn_change {
            line-height: 24px;
            color: $Member-btn-color-primary;
            text-align: center;
            @if $Member-btn-color-secondary {}
            &:hover {
                color: $Member-btn-color-secondary;
            }
        }
    }
}



@mixin Member-Sub-bg($Member-bgcolor-primary:#F5F5F5, $Member-bgcolor-secondary:#FFF, $Member-btn-bgcolor-primary:#999, $Member-btn-bgcolor-secondary:666) {
    #Member-Sub {
        position: relative;
        z-index: 999;
        clear: both;
        .MemberDate {
            @include border-radius(5px);
            display: none;
            position: absolute;
            width: 270px;
            height: 80px;
            padding-top: 10px;
            z-index: 100;
            background-color: $Member-bgcolor-primary;
            ul li {
                width: 250px;
                margin: 0 0 0 20px;
            }
            .MemberChange {
                @include border-radius(0 0 5px 5px);
                width: 270px;
                height: 30px;
                margin-top: 10px;
                background-color: $Member-bgcolor-secondary;
            }
        }
        .btn_change {
            @include border-radius(3px);
            float: right;
            display: block;
            width: 64px;
            margin: 3px 6px 0 0;
            background-color: $Member-btn-bgcolor-primary;
            &:hover {
                background-color: $Member-btn-bgcolor-secondary;
            }
        }
    }
}
*/

//圖片
@mixin bg($img) {
    width: image-width(#{$img});
    height: image-height(#{$img});
    background: image-url(#{$img}) no-repeat;
}

//list style
@mixin list-line($color02, $color03, $color01, $content-style: $content-style-base) {
    //按鈕顏色+滑入顏色+line線條顏色+樣式選擇
    ul {
        display: block;
        li {
            color: $color01;
            display: inline-block;
            a {
                color: $color02;
                &:hover {
                    color: $color03;
                }
            }
        }
        li:after {
            content: $content-style; //｜･ 樣式選擇　
        }
        li:last-of-type:after {
            content: "　";
        }
    }
}