// FIRST GAME
@if $first-game-lang==true {
    .first-game-wrap {
        .first-game {
            display: block;
            float: left;
            width: 50%;
            height: auto;
            //width: image-width($lang+'game01.#{$first-game-format}');
            //height: image-height($lang+'game01.#{$first-game-format}');
            transition: background .3s ease;
            overflow: hidden;
            img {
                display: block;
                float: left;
                width: 100%;
            }
        }
        @for $i from 1 through 4 {
            .first-game0#{$i} {
                @include transition-property(all);
                @include transition-duration(.3s);
                @include transition-timing-function(ease-in-out);
                &:hover {
                    @include transform(scaley(1.07));
                    @include MQ(tablet) {
                        @include transform(scaley(1));
                    }
                }
            }
        }
    }
}

@else {}

@if $lang-kind==Flag {
    .lang-wrap {
        a {
            float: left;
            width: 22px;
            height: 20px;
            margin: 0 2px;
            background: image-url('not-use/flag.png') top no-repeat;
            @for $i from 1 through 3 {
                &.flag0#{$i} {
                    background-position: 0px 40px - (40px*$i);
                }
            }
        }
    }
}