// 輪播圖
.first-slider {
    position: relative;
    z-index: 2;
    width: 850px;
    height: 640px;
    @include MQ(tablet) {
        width: 100%;
        height: 575px; //575?
    }
    @include MQ(mobile) {
        height: 380px; //440
    }
}

// 輪播圖大背景圖
.first #page-container .first-slider-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    // background: image-url('first-bg1.png') right 0 no-repeat #d6d8db;
    background-image: image-url('first-bg1.png');
    background-color: #d6d8db;
    background-position: left 0;
    background-repeat: no-repeat;
    width: 2000px;
    height: 900px;
    @include MQ(custom) {
        // background: image-url('first-bg1.png') left 0 no-repeat #d6d8db;
    }
    @include MQ(tablet) {
        height: 700px;
    }
}

.ele-slideshow-wrap {
    position: relative;
    z-index: 2;
    width: 100%;
    //width: 850px;
    height: 640px;
    @include MQ(tablet) {
        height: 575px;
    }
    @include MQ(mobile) {
        height: 405px;
    }
    ul li {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    .slider-position-fix {
        position: static;
    }
    .js-ele-slideshow-control-wrap {
        position: absolute;
        bottom: 40px;
        z-index: 9;
        left: 80px !important;
    }
    .ele-slideshow-arrow-wrap {
        top: 50%;
        .ele-slideshow-arrow {
            @include trans(opacity);
            position: absolute;
            z-index: 5;
            display: inline-block;
            width: 80px;
            height: 80px;
            background: image-url("slider_arrow.png") top center no-repeat;
            opacity: 0.8;
            left: 84px;
            margin-top: 10px;
            @include MQ(mobile) {
                width: 50px;
                height: 50px;
                background: image-url("slider_arrow_m.png") top center no-repeat;
                top: 185px !important;
                left: 50px;
            }
            &.ele-slideshow-arrow-right {
                left: 165px;
                margin-top: -30px;
                background-position: bottom center;
                @include MQ(mobile) {
                    left: 101px; //81
                }
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    .ele-slideshow-nav {
        >a {
            @include border-radius(20px);
            @include trans(all);
            text-indent: 99999px;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 25px;
            background-color: #afb1b3;
            &.active {
                //background-color: colors(primary);
                width: 18px;
                height: 18px;
                background: #4d4d4d;
                border: 5px solid #c9cbcd;
            }
        }
    }
    .run-line {
        height: 1px;
        background-color: colors(primary);
        position: absolute;
        z-index: 5;
    }
    .img {
        width: 100%;
        height: $first-height;
        background-position: left bottom;
        background-repeat: no-repeat;
        @include MQ(tablet) {
            background-size: auto 560px;
            height: 575px; //575
            background-position: 25% bottom;
        }
        @include MQ(mobile) {
            background-size: auto 350px;
            height: 380px; //460
            background-position: 25% bottom; //45%
        }
    }
}