/* --- 最新消息跑馬燈 --- */
.first-news-main {
    width: 71.4%;
    height: 30px;
    float: left;
    margin: 2.1% 0 2.1% 28.5%;
    background: url(../image/news_icon.png) center left no-repeat;
    @media screen and (max-width: 1200px){
       width: 80%;
       margin: 2.1% 0 2.1% 20%; 
      }
    marquee {
        display: block;
        @include font-txt(16px,30px,#999,left);
        margin: 0 0 0 80px;
        a{
          color: #999;
        }
      }
      
      @include MQ(tablet) {
        width: 100%;
        margin: 0 0 1% 2%;
        color: #999;
      }
    }


/* --- 四大產品 --- */

    .shadow{
     width: 100%; 
     height: 10px;
     background: url(../image/shadow.png) top center no-repeat;
     background-size:100%;
     padding: 10% 0 0 0;
    }
    
    .first-game-wrap {
      width: 100%;
      background-color: #fff;

    }
    .first-game-main {
      width: 98%;//980px
      margin: 0 auto;
        ul {
            display: block;
            text-align: center;
        }

        //遊戲圖片寬度設置
        li {
            display: inline-block;
            vertical-align: top;
            width: 22.4%;
            margin: 3.5% 1% 3.5% 1%;
            background-repeat: no-repeat;
            background-size: 100% auto;
            @include MQ(tablet) {
              width: 44.7%;  
            }
            @include MQ(mobile) {
              width: 76%;
            }
            img {
                opacity: 0;
            }
            @for $i from 1 through 4{
                &.first-game0#{$i}{
                    background-image: image-url('game0#{$i}.#{$first-game-format}');
                    &:hover{
                        background-image: image-url('game0#{$i}_over.#{$first-game-format}');
                    }
                }
            }
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
        @include MQ(desktop) {}
        @include MQ(tablet) {
            li {
                img {
                    opacity: 1;
                }
            }
        }
        @include MQ(mobile) {}
    }



.home-top1 {
  position: relative;
  width: 100%;
  height: auto;
  margin: 30% auto 0 auto;
  background: url(../image/home_top_bg.png)left 0px repeat-x;
  @include font-txt(16px,24px,#fff,left);
  
  @include MQ(desktop) {
    background: url(../image/home_top_bg.png)left -10% repeat-x;
    @include font-txt(13px,18px,#fff,left);
  }
  @include MQ(tablet) {
    background: url(../image/home_top_bg.png)left 0px repeat-x;
    @include font-txt(16px,24px,#fff,left);
    margin: 3% auto 4% auto;
  }
  @include MQ(mobile) {
    margin: 4% auto 4% auto;
  }

  img{
    margin: 0 6% 0 10%;
    display: block;
    @media screen and (max-width: 1200px){
      width: 80%;
    }
    @include MQ(tablet) {
     margin: 0;
     width: 174px;
     height: 70px;   
    }
    
  }
  .txt{
    margin: 5% 6% 0 10%;
    display: block;
    @include MQ(tablet) {
     margin: 3% 3% 0 0; 
     br{
      display: none;
     }  
    }
  }

}


/* --- 手機下注 --- */
.first-mobile-main {
    @include layout-max-width;
    @include MQ(desktop) {}
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}



/*-- service --*/
#footer-service {
    width: 95.7%;//1340
    margin: 0 2.14% 0 2.14%;
    border-bottom:#BCC9D5 1px solid;
    @include MQ(mobile) {
    width: 100%;
    margin: 0;
   }
}

#service-body {
    width: 71.6%;//960
    margin: 3.7% 0 0 0 ;
    float: left;
    @include MQ(tablet) {
     width: 100%; 
    }
    @include MQ(mobile) {
    width: 100%;
   }
}

#service_01 {
  width: 100%;
  float: left;
  margin: 0%;
  @include font-txt(13px,24px,#526371,left);
    @include MQ(mobile) {
      font-size: 15px;  
    }
  
  .service-big-img{
    width: 35%;
    height: 250px;
    float: left;
    background: url(../image/safety_img.png) top right no-repeat;
    @include MQ(tablet) {
     width: 44%; 
    }
    @include MQ(mobile) {
    width: 100%;
    height: 230px;
   }


  }

  .txt{
    width: 64.1%;//616px
    float: left;
    display: block;
    background-color: #fff;
     @include MQ(tablet) {
     width: 52%; 
    }
    @include MQ(mobile) {
    width: 100%;
   }
  img {
    width: 48.7%;
    vertical-align: bottom;
    margin: 0 0 4% 3%;
    float: left;
   }
   @include MQ(mobile) {
    margin: 3% 0 4% 0;
   }
   span{
    float: left;
    margin: 0 0 0 3%;
    @include MQ(mobile) {
    margin: 0 5% 0 5%;
   }
   }
  }
}

#service_02 {
  width: 100%;
  height: auto;
  margin: 30px 0 25px 0;
  border-top:#BCC9D5 1px solid;
  @include font-txt(13px,24px,#526371,left);

  img {
    width: 21.8%;
    vertical-align: bottom;
    margin: 5% 5% 0 5%;
    float: left;
   }

   @include MQ(mobile) {
    display: none;
   }
 
}

#homelink-body {
    width: 25%;//350
    float: right;
    margin: 3.7% 0 0 0 ;
    @include MQ(tablet) {
     width: 100%; 
    }
    @include MQ(mobile) {
    width: 100%;
    float: left;
   }
}

#homelink{
  width: 100%;
  height: auto;
  float: left; 
  @include MQ(tablet) {
     width: 48%; 
     margin: 0 1%;
    }
  @include MQ(mobile) {
    width: 100%;
    margin: 0;
   }
  .title{
    width: 100%;
    height: 40px;
    background-color: #F2F2F2;

    span{
      width: 10px;
      height: 40px;
      display: block;
      float: left;
      background-color: #3CDFAE;
      margin-right: 15px;
    }
    p{
      @include font-txt(16px,40px,#3D3D3D,left);
      font-weight: bold;
    }
  }

  .link_txt{
    width: 100%;
    height: 40px;
    border-bottom:#BCC9D5 1px solid;
    background: url(../image/link_icon01.png) 90% center no-repeat;
     &:hover {
        background: url(../image/link_icon02.png) 90% center no-repeat;
      }
    li a{
      margin-left: 25px;
      @include font-txt(13px,40px,#526371,left);
        @include MQ(mobile) {
      font-size: 15px;  
    }
       &:hover {
        color: #000;
      }
    }
  }
  .link_txt2{
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
    background: url(../image/link_icon01.png) 90% center no-repeat;
     &:hover {
        background: url(../image/link_icon02.png) 90% center no-repeat;
      }
    li a{
      margin-left: 25px;
      @include font-txt(13px,40px,#526371,left);
        @include MQ(mobile) {
      font-size: 15px;  
    }
       &:hover {
        color: #000;
      }
    }
  }

}
