/* --- 優惠活動 色彩管理 --- */
@include memExclusive-color(
    $item-bg     : #F5F5F5,     //項目背景色
    $item-font   : #000,     //項目字色
    $item-font-h : #000   //項目字色:hover
);

#memberexclusiveii-wrap{    
}

.memberexclusiveii-content {
    position: relative;
    margin: 25px 0 25px 0;
}

/* --- 優惠活動項目 --- */
.memExclusive {
    position: relative;
    // display: inline-block;
    // vertical-align: top;
    width: 30%;
    margin: 0 0 2.5% 2.5%;
    float: left;
    a {
        display: block;
        img {
            display: block;
            width: 100%;
            margin: 0 0 2% 0;
            &.orign {
                display: block;
            }
            &.hover {
                display: none;
            }   
        }
        h2 {
            height: 60px;       // 預設標題至多兩行
            @include font-txt(16px,28px,#000,left);
            font-weight: bold;
            overflow: hidden;
            border-left:#F5F5F5 10px solid;
            padding: 0 2% 0 4%;
            margin: 0 0 2% 0;
            &:hover {
              border-left:#3ADFAC 10px solid;  
            }
        }
        &:hover {
            img {
                &.orign {
                    display: none;
                }
                &.hover {
                    display: block;
                }
            }
        }
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        width: 45.5%;
        margin: 0 0 3% 3%;
        a {
            img {
                &.orign {
                    display: none;
                }
                &.hover {
                    display: block;
                }
            }
        }
    }
    @include MQ(mobile) {
        width: 91.6%;
        margin: 0 0 4.1% 4.1%;
    }
}
