@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------------------ 變數目錄 --------------------------------------*/
/*---------------------------- 基本變數 ----------------------------------------------*/
/*---------------------------- 背景設定 ----------------------------------------------*/
/*---------------------------- 文字屬性 ----------------------------------------------*/
/*---------------------------- BOX 區塊屬性 ------------------------------------------*/
/*---------------------------- 各類選單屬性 -------------------------------------------*/
/*---------------------------- 基本變數 ----------------------------------------------*/
/*---------------------------- 基本變數 end ------------------------------------------*/
/*---------------------------- 背景設定 ----------------------------------------------*/
/*---------------------------- 背景設定 end ------------------------------------------*/
/*---------------------------- 文字屬性 ----------------------------------------------*/
/*---------------------------- 文字屬性 end ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 end --------------------------------------*/
/*---------------------------- 各類選單屬性 -------------------------------------------*/
/*---------------------------- 各類選單屬性 end ---------------------------------------*/
/*---------------------------- 各類選單屬性 end ---------------------------------------*/
.ele-slideshow-wrap {
  position: relative;
}
.ele-slideshow-wrap ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 313px;
}
.ele-slideshow-wrap ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 313px;
  -webkit-backface-visibility: hidden;
}
.ele-slideshow-wrap ul li a {
  display: block;
}
.ele-slideshow-wrap ul li a img {
  display: block;
  max-width: 100%;
  height: auto;
  float: left;
}
.ele-slideshow-wrap ul li a .img {
  width: 100%;
  height: 313px;
  background-position: top center;
  background-repeat: no-repeat;
}

.ele-slideshow-scroll {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 313px;
  overflow: hidden;
  margin: 0 auto;
}

.ele-slideshow-control-wrap {
  position: absolute;
  z-index: 1;
  bottom: 10px;
}

.block {
  position: relative;
  min-height: 1px;
  float: left;
}

html {
  font-size: 12px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: STHeiti, "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", arial;
  font-size: 12px;
  line-height: 1.8;
  color: #FFF;
  background-color: #000;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
button,
select,
textarea {
  outline: none;
}

*:focus {
  outline: none;
}

a {
  color: #FFF;
  text-decoration: none;
}
a:hover, a:focus {
  color: #66FFFF;
  text-decoration: none;
}

#L-Sub {
  position: relative;
  z-index: 9999;
  clear: both;
  left: 45px;
}
#L-Sub div {
  display: none;
  position: absolute;
  z-index: 9999;
}
#L-Sub div a {
  text-align: center;
  display: block;
  padding: 0 4px;
}
#L-Sub span {
  display: block;
  float: left;
}

#U-Sub {
  position: relative;
  z-index: 9999;
  float: left;
}

.lang-wrap a {
  float: left;
  width: 22px;
  height: 20px;
  margin: 0 2px;
  background: url('../image/not-use/flag.png') top no-repeat;
}
.lang-wrap a.flag01 {
  background-position: 0px 0px;
}
.lang-wrap a.flag02 {
  background-position: 0px -40px;
}
.lang-wrap a.flag03 {
  background-position: 0px -80px;
}

/*主要置中區塊*/
.wrapper, .footer {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  line-height: 1.8;
}
.wrapper:before, .footer:before, .wrapper:after, .footer:after {
  content: "";
  display: table;
}
.wrapper:after, .footer:after {
  clear: both;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.ltlottery-wrap,
.ball-wrap,
.livetop-wrap {
  margin-top: 33px !important;
}

/* 主要區塊 */
#mainBody-bg,
#mainBody,
#page-header,
#page-container,
#page-footer {
  margin: 0 auto;
}

#mainBody-bg {
  width: 100%;
  min-height: 768px;
  background: url('../image/bg01_x.jpg') repeat-x left top;
}

#mainBody-bg01 {
  width: 100%;
  min-height: 257px;
  background: url('../image/bg02_x.jpg') repeat-x left top;
}

#mainBody-bg02 {
  width: 100%;
  min-height: 285px;
  background: url('../image/bg03_x.jpg') repeat-x left top;
}

#mainBody {
  width: 100%;
  min-height: 768px;
  background: url('../image/bg01.jpg') no-repeat center top;
}

#mainBody01 {
  width: 100%;
  min-height: 257px;
  background: url('../image/bg02.jpg') no-repeat center top;
}

#mainBody02 {
  width: 100%;
  min-height: 285px;
  background: url('../image/bg03.jpg') no-repeat center top;
}

.game #mainBody {
  width: 100%;
  min-height: 285px;
  background: url("../image/bg03.jpg") no-repeat center top;
}

#mainBody03 {
  width: 100%;
  min-height: 257px;
  background: url('../image/bg04.jpg') no-repeat center top;
}

#page-container01 {
  clear: both;
  background-color: #333333;
}

#page-footer {
  clear: both;
  min-height: 87px;
  background: url('../image/footer_bg.jpg') no-repeat center top;
}

#header .header-top .logo {
  float: left;
  margin: 10px 0 0 25px;
  width: 140px;
  height: 50px;
  background: url('../image/logo.png') no-repeat;
}
#header .header-top .logo:hover {
  background-position: bottom;
}

.header-casino {
  height: 285px;
}

/*語系*/
.headerbar {
  clear: both;
  width: 100%;
  height: 32px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.headerbar01 {
  clear: both;
  width: 100%;
  height: 30px;
}

.headerbar02 {
  float: right;
  width: 200px;
  height: 30px;
}

#lang-wrap {
  position: relative;
  z-index: 9999;
  float: right;
  font-size: 12px;
  line-height: 20px;
  color: #FFF;
  text-align: left;
  text-indent: 10px;
  _display: inline;
  margin: 11px 8px 0 0;
  width: 80px;
  height: 20px;
  background: url('../image/lang_bg.jpg') no-repeat;
}
.first_login #lang-wrap {
  margin: -36px 0 0 634px;
}
.game #lang-wrap {
  margin: -36px 0 0 634px;
}
.sports #lang-wrap {
  margin: -36px 0 0 634px;
}
#lang-wrap #langTitle {
  cursor: pointer;
  color: #00cbfe;
}
#lang-wrap #langOption {
  position: absolute;
  top: 20px;
  z-index: 1000;
  width: 79px;
  line-height: 20px;
  display: none;
  background-color: #000;
  border: 1px solid #C8CAD0;
  margin-left: 0px;
  border-radius: 0 0 5px 5px;
}
#lang-wrap #langOption a:last-child {
  border-radius: 0 0 5px 5px;
}

#langOption .langCurrent {
  color: #898989;
}
#langOption a {
  display: block;
  text-decoration: none;
  color: #898989;
  padding: 2px 0 2px 0px;
}
#langOption a:hover {
  color: #00cbfe;
}

/* NAV */
.mainnav-wrap {
  padding-right: 15px;
  float: right;
}
.mainnav-wrap .mainnav {
  float: right;
  height: 76px;
}
.mainnav-wrap .mainnav ul li {
  float: left;
  text-align: center;
  width: 84px;
  margin-right: 5px;
}
.mainnav-wrap .mainnav ul li a {
  display: block;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif, "新細明體";
  font-size: 12px;
  line-height: 76px;
  color: #FFF;
}
.mainnav-wrap .mainnav ul li a:hover {
  color: #66FFFF;
}
.mainnav-wrap .mainnav ul li a:hover, .mainnav-wrap .mainnav ul li a.current {
  text-align: center;
  background: url('../image/nav_over.jpg') no-repeat center center;
}
.mainnav-wrap .mainnav ul li.nav-event {
  background: url('../image/nav_memberexclusiveii_bg.png') no-repeat center center;
}
.mainnav-wrap .mainnav ul li:hover, .mainnav-wrap .mainnav ul li.current {
  background: url('../image/nav_over.jpg') no-repeat center center;
}

/*次選單的css樣式設定*/
#L-Sub div {
  width: 88px;
}
#L-Sub div a {
  width: 88px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background: url('../image/sub.png') repeat-x left center;
  text-decoration: none;
  font-size: 12px;
}

.ele-drop-group a {
  display: block;
  width: 88px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background: url('../image/sub.png') repeat-x left center;
  text-decoration: none;
  font-size: 12px;
}

#L-Sub div a:hover {
  color: #66FFFF;
}

#first-banner {
  margin: 2px auto 2px;
  padding-left: 7px;
  width: 934px;
  height: 341px;
  background: url('../image/banner_bg.png') no-repeat;
}

#loginBox {
  float: left;
  margin: 0 0 0 0;
  width: 260px;
  height: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../image/lang/zh-cn/login_bg.png);
  background-repeat: no-repeat;
  background-position: left top;
}

/*login*/
#login {
  width: 220px;
  float: left;
  margin-left: 22px;
  margin-top: 44px;
  position: relative;
}
#login .co {
  float: right;
  border: none;
  z-index: 2;
  position: absolute;
  margin-top: -25px;
  margin-left: 170px;
  width: 40px;
  height: 18px;
  background: url('../image/not-use/co.jpg') no-repeat;
}
#login .login-unit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 6px;
  padding-left: 6px;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  width: 212px;
  height: 22px;
  background: url('../image/loginInput_bg01.jpg') no-repeat;
  background-color: transparent;
  border: none;
}
#login .login-unit.login-unit-chk {
  padding-left: 5px;
}
#login .btn-login {
  float: right;
  text-align: center;
  margin-right: 8px;
  margin-top: 0px;
  width: 80px;
  height: 24px;
  background: url('../image/login_btn.png') no-repeat;
  font-size: 12px;
  line-height: 24px;
  color: #000;
}
#login .btn-login:hover {
  background-position: bottom;
}
#login .btn-login:hover {
  color: #fff;
}
#login .login-list {
  float: left;
  height: 24px;
  width: 125px;
}
#login .login-list ul {
  padding-left: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#login .login-list ul li {
  float: left;
  color: #00FFFF;
  margin-right: 4px;
}
#login .login-list ul li a {
  display: block;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  color: #00FFFF;
}
#login .login-list ul li a:hover {
  color: #009999;
}

.btn-service {
  float: left;
  width: 228px;
  height: 62px;
  background: url('../image/lang/zh-cn/btn_service.png') no-repeat;
  margin-top: 13px;
  margin-left: 13px;
}
.btn-service:hover {
  background-position: bottom;
}

.jackpot {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 230px;
  height: 77px;
  margin-left: 13px;
  margin-top: 8px;
  padding-top: 23px;
  padding-left: 65px;
  background: url('../image/lang/zh-cn/prize_bg.png') no-repeat center top;
  font-size: 22px;
  line-height: 30px;
  color: #FFDE00;
}

#loginBox01 {
  float: right;
  margin: 0px 0px 0 0;
  width: 224px;
  height: 125px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../image/lang/zh-cn/login_bg01.png);
  background-repeat: no-repeat;
  background-position: left top;
}

#login01 {
  width: 200px;
  float: left;
  margin-left: 15px;
  margin-top: 32px;
  position: relative;
}
#login01 input {
  color: #fff;
}
#login01 .co {
  float: right;
  border: none;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 150px;
  width: 40px;
  height: 18px;
  background: url('../image/not-use/co.jpg') no-repeat;
}
#login01 .login-unit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 6px;
  padding-left: 6px;
  font-size: 12px;
  line-height: 22px;
  color: #FFF;
  border: none;
  background-color: transparent;
  color: #fff;
  width: 192px;
  height: 22px;
  background: url('../image/loginInput_bg02.jpg') no-repeat;
}
#login01 .login-unit.login-unit-chk {
  padding-left: 5px;
}
#login01 .co {
  float: right;
  margin-top: 58px;
  margin-right: 4px;
  width: 40px;
  height: 18px;
  background: url('../image/not-use/co.jpg') no-repeat;
}
#login01 .btn-login {
  float: right;
  text-align: center;
  margin-left: 3px;
  margin-top: 0px;
  width: 80px;
  height: 24px;
  background: url('../image/login_btn.png') no-repeat;
  font-size: 12px;
  line-height: 24px;
  color: #000;
}
#login01 .btn-login:hover {
  background-position: bottom;
}
#login01 .btn-login:hover {
  color: #fff;
}
#login01 .login-list {
  width: 125px;
}
#login01 .login-list ul li {
  float: left;
  color: #00FFFF;
  margin-right: 3px;
}
#login01 .login-list ul li a {
  display: block;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  color: #00FFFF;
}
#login01 .login-list ul li a:hover {
  color: #009999;
}

.casino-login-list {
  clear: both;
  height: 28px;
}
.casino-login-list ul li {
  float: right;
  color: #FFF;
  margin-right: 10px;
  line-height: 28px;
}
.casino-login-list ul li a {
  display: block;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  color: #FFF;
}
.casino-login-list ul li a:hover {
  color: #cccccc;
}

.logon-list {
  float: right;
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
  height: 20px;
  font-weight: normal;
}
.logon-list ul li {
  display: inline;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}
.logon-list ul li a {
  color: #fff;
}
.logon-list ul li a:hover {
  color: #d9d9d9;
}
.logon-list ul li {
  margin-left: 6px;
}

.logon-list-inside {
  margin-top: 4px;
}

#logonBox {
  float: left;
  margin: 0 0 0 0;
  width: 260px;
  height: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../image/lang/zh-cn/mem_info_bg.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.meminfo-wrap {
  display: inline-block;
  color: #E4D9C3;
  margin: 30px 0 0 10px;
}
.meminfo-wrap .ele-acc-name {
  width: 100%;
}
.meminfo-wrap .ele-accinfo {
  padding-left: 3px;
}
.meminfo-wrap .ele-accinfo i {
  color: #E5CF81;
}

.meminfo-wrap, .ele-acc-name, .ele-acc-unit, .ele-accinfo, .ele-obalance-wrap, .ele-other-balance {
  display: inline-block;
}

.ele-obalance-item-wrap {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 270px;
  color: #fff;
  background: #383838;
}
.ele-obalance-item-wrap .ele-obalance-item {
  padding: 10px;
}
.ele-obalance-item-wrap .ele-obalance-item .ele-obalance {
  line-height: 16px;
  padding-bottom: 4px;
}
.ele-obalance-item-wrap .ele-balance-tool {
  text-align: right;
  padding: 4px;
  background-color: #0D0C0C;
  border-top: 1px solid false;
}
.ele-obalance-item-wrap .ele-balance-tool > a {
  display: inline-block;
  -webkit-transition: background-color .20s linear;
  transition: background-color .20s linear;
  padding: 4px 8px;
  color: #fff;
  background-color: #003F99;
}
.ele-obalance-item-wrap .ele-balance-tool > a:hover {
  background-color: #003580;
}

#logonBox01 {
  float: right;
  margin: 4px 15px 0 0;
  width: 224px;
  height: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../image/lang/zh-cn/mem_info_bg01.png);
  background-repeat: no-repeat;
  background-position: left top;
}

#logonBox02 {
  float: right;
  margin: 4px 15px 0 -5px;
  width: 224px;
  height: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../image/lang/zh-cn/mem_info_bg01.png);
  background-repeat: no-repeat;
  background-position: left top;
}

#logonBox03 {
  float: left;
  margin: 0px 0px 0 0;
  width: 224px;
  height: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../image/lang/zh-cn/mem_info_bg01.png);
  background-repeat: no-repeat;
  background-position: left top;
}

#logon {
  width: 190px;
  height: 96px;
  float: left;
  margin-left: 35px;
  margin-top: 32px;
  margin-bottom: 14px;
}
#logon .logon-acc {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#logon .logon-acc .acc-name {
  margin-bottom: 5px;
}
#logon .logon-acc .obalance {
  margin-left: 0px;
}
#logon .logon-acc .first-balance {
  margin-left: 0px;
}
#logon .logon-acc div .fa {
  margin-top: 0px;
  font-size: 12px;
  line-height: 20px;
  color: #E5CF81;
}
#logon .logon-acc div .fa:hover {
  color: "";
}
#logon .logon-acc div strong {
  color: #E4D9C3;
}
#logon .logon-acc div span {
  font-size: 12px;
  line-height: 20px;
  color: #E4D9C3;
}
#logon .logon-acc div span:hover {
  color: "";
}
#logon .logon-acc div,
#logon .logon-acc span,
#logon .logon-acc strong {
  float: left;
}
#logon .logon-acc div span,
#logon .logon-acc div .fa {
  margin: 0 2px;
}
#logon .logon-acc div strong {
  margin: 0 2px;
}
#logon .logon-acc .obalance {
  cursor: pointer;
}
#logon .logon-acc #Member-Sub .MemberDate ul li {
  color: #fff;
  line-height: 18px;
}
#logon .logon-acc #Member-Sub .MemberDate .MemberChange {
  border-top: 1px solid #0D0C0C;
}
#logon .logon-acc #Member-Sub .btn_change {
  line-height: 24px;
  color: #fff;
  text-align: center;
}
#logon .logon-acc #Member-Sub .btn_change:hover {
  color: #fff;
}
#logon .logon-acc #Member-Sub {
  position: relative;
  z-index: 9999;
  clear: both;
}
#logon .logon-acc #Member-Sub .MemberDate {
  display: none;
  position: absolute;
  width: 270px;
  height: 70px;
  padding-top: 10px;
  z-index: 100;
  background-color: #383838;
}
#logon .logon-acc #Member-Sub .MemberDate ul li {
  width: 250px;
  margin: 0 0 0 20px;
}
#logon .logon-acc #Member-Sub .MemberDate .MemberChange {
  width: 270px;
  height: 30px;
  margin-top: 10px;
  background-color: #0D0C0C;
}
#logon .logon-acc #Member-Sub .btn_change {
  float: right;
  display: block;
  width: 64px;
  margin: 3px 6px 0 0;
  background-color: #003F99;
}
#logon .logon-acc #Member-Sub .btn_change:hover {
  background-color: #0064F9;
}

/*banner輪播 end--------------*/
.first-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 18px auto 0;
  width: 910px;
  height: 124px;
}
.first-btn .btn-download {
  float: left;
  width: 280px;
  height: 128px;
  background: url('../image/lang/zh-cn/btn_download.png') no-repeat;
}
.first-btn .btn-download:hover {
  background-position: bottom;
}
.first-btn .btn-serve01 {
  float: left;
  margin-top: 0px;
  width: 280px;
  height: 128px;
  background: url('../image/lang/zh-cn/btn_joinus.png') no-repeat;
}
.first-btn .btn-serve01:hover {
  background-position: bottom;
}
.first-btn .btn-welcome {
  float: left;
  margin-top: 0px;
  width: 280px;
  height: 128px;
  background: url('../image/lang/zh-cn/btn_welcome.png') no-repeat;
}
.first-btn .first-news {
  float: left;
  margin: 1px auto 0;
  padding: 40px 0 0 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 350px;
  height: 128px;
  background: url('../image/lang/zh-cn/news_bg.png') no-repeat left center;
}
.first-btn .first-news marquee {
  float: left;
  font: 12px/22px "微軟正黑體";
  width: 250px;
  line-height: 22px;
  height: 40px;
  color: #fff;
}

/*game輪播 start--------------*/
#game-wrap {
  clear: both;
  width: 885px;
  height: 128px;
  margin: 0 auto 23px;
  overflow: hidden;
  padding: 15px 0 0 20px;
}

.box {
  position: relative;
  width: 810px;
  float: left;
  height: 128px;
  overflow: hidden;
}

#prev {
  background: url(../image/arrow_left.png) top center no-repeat;
  margin-right: 10px;
}

#next {
  background: url(../image/arrow_right.png) top center no-repeat;
  margin-left: 5px;
}

#prev,
#next {
  display: block;
  float: left;
  width: 26px;
  height: 60px;
  text-indent: -9999px;
  margin-top: 34px;
}

.scroll {
  CURSOR: pointer;
}

.pics {
  position: absolute;
  width: 5000px;
}

.pics li {
  FLOAT: left;
  WIDTH: 810px;
  HEIGHT: 128px;
  OVERFLOW: hidden;
  list-style: none;
}

.pics li p {
  POSITION: relative;
  FLOAT: left;
  OVERFLOW: hidden;
}

a.game01,
a.game02,
a.game03,
a.game04,
a.game05,
a.game06 {
  display: block;
  float: left;
  width: 252px;
  height: 127px;
  margin-right: 24px;
  text-decoration: none;
  text-indent: -9999px;
}

a.game01,
a.game05 {
  background: url('../image/lang/zh-cn/game01.png') no-repeat left top;
}
a.game01:hover,
a.game05:hover {
  background: url('../image/lang/zh-cn/game01_over.png') no-repeat left top;
}

a.game04 {
  background: url('../image/lang/zh-cn/game04.png') no-repeat left top;
}
a.game04:hover {
  background: url('../image/lang/zh-cn/game04_over.png') no-repeat left top;
}

a.game02,
a.game05 {
  background: url('../image/lang/zh-cn/game02.png') no-repeat left top;
}
a.game02:hover,
a.game05:hover {
  background: url('../image/lang/zh-cn/game02_over.png') no-repeat left top;
}

a.game03,
a.game06 {
  margin-right: 0px;
  background: url('../image/lang/zh-cn/game03.png') no-repeat left top;
}
a.game03:hover,
a.game06:hover {
  background: url('../image/lang/zh-cn/game03_over.png') no-repeat left top;
}

/*game輪播 end--------------*/
.footer {
  height: 87px;
}
.footer .bbin {
  float: left;
  width: 85px;
  height: 41px;
  margin-top: 25px;
  margin-right: 15px;
  margin-left: 30px;
}
.footer .ublogo {
  margin-top: 25px;
  float: left;
  width: 116px;
  height: 41px;
  background: url('../image/not-use/ublogo.png') no-repeat;
}
.footer .footer-list {
  width: 700px;
  height: 30px;
  background: url('../image/footer_list_bg.png') no-repeat;
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 20px;
}
.footer .footer-list ul li {
  display: inline;
  font-size: 12px;
  line-height: 30px;
  color: #fff;
}
.footer .footer-list ul li a {
  color: #fff;
}
.footer .footer-list ul li a:hover {
  color: #d9d9d9;
}
.footer .footer-list ul li {
  margin-left: 6px;
  margin-right: 6px;
}
.footer .copyright {
  float: right;
  margin-top: 15px;
  margin-right: 25px;
  font-size: 12px;
  line-height: 20px;
  color: #00CCFF;
}

.title-wrap {
  position: relative;
  clear: both;
  margin: 0 auto;
  width: 100%;
}
.title-wrap .title {
  float: left;
  width: 766px;
  height: 133px;
  margin-top: 9px;
  margin-bottom: 8px;
}
.title-wrap .title.title-welcome {
  background: url('../image/lang/zh-cn/title_welcome.png') no-repeat center top;
}
.title-wrap .title.title-live {
  background: url('../image/lang/zh-cn/title_live.png') no-repeat center top;
}
.title-wrap .title.title-lottery {
  background: url('../image/lang/zh-cn/title_lottery.png') no-repeat center top;
}
.title-wrap .title.title-event {
  background: url('../image/lang/zh-cn/title_memberexclusiveii.png') no-repeat center top;
}
.title-wrap .title.title-sports {
  background: url('../image/lang/zh-cn/title_sports.png') no-repeat center top;
}

#page-body {
  clear: both;
  background: url('../image/container_bg_x.jpg') repeat-x left top;
}

#page-body01 {
  clear: both;
  background: url('../image/container_bg_x.jpg') repeat-x left top;
}

#page-body02 {
  clear: both;
  background: url('../image/container01_bg_x.jpg') repeat-x left top;
}

.container-bottom {
  margin: 0 auto;
  width: 1000px;
  height: 30px;
  background: url('../image/container_bottom.jpg') no-repeat;
}

.container-bottom01 {
  clear: both;
  margin: 0 auto;
  margin-top: -1px;
  width: 1000px;
  height: 16px;
  background: url('../image/container01_bottom.jpg') no-repeat;
}

#page-left {
  float: left;
  margin-top: 70px;
  margin-left: 35px;
  width: 240px;
}

.sidebar-top {
  display: block;
  width: 240px;
  height: 56px;
  background: url('../image/sidebar_top.png') no-repeat;
}

.sidebar-middle {
  width: 240px;
  padding-top: 0px;
  background: url('../image/sidebar_bg_y.png') repeat-y left bottom;
}

.sidebar {
  width: 240px;
  padding-top: 10px;
  background: url('../image/sidebar_bg.png') no-repeat left top;
}

.sidebar a {
  margin: 0 auto;
  display: block;
  width: 225px;
  height: 28px;
  text-align: center;
  color: #fff;
  font-family: "微软雅黑";
  font-size: 12px;
  line-height: 28px;
  text-decoration: none;
  margin-bottom: 3px;
  background: url('../image/sidebar.png') no-repeat center top;
}

.sidebar a:hover {
  background: url('../image/sidebar.png') no-repeat center bottom;
  color: #66FFFF;
}

.sidebar-bottom {
  float: left;
  width: 240px;
  height: 40px;
  background: url('../image/sidebar_bottom.png') no-repeat center top;
}

#page-right {
  float: right;
  margin-bottom: 0px;
  width: 680px;
  height: auto;
  margin-top: 38px;
  font-family: "新細明體";
}
#page-right .right-bg-wrap {
  float: left;
  margin: 0 auto;
  width: 100%;
}
#page-right .right-bg-wrap .txt-wrap {
  margin: 0 auto;
  padding-bottom: 40px;
  width: 90%;
  height: 90%;
}
#page-right .right-bg-wrap .txt-wrap .about-title {
  float: left;
  display: block;
  padding-left: 22px;
  margin-bottom: 0px;
  width: 600px;
  text-align: left;
  height: 39px;
  line-height: 39px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
#page-right .right-bg-wrap .txt-wrap .about-text {
  font-size: 12px;
  margin: 20px;
  color: #fff;
}
#page-right .right-bg-wrap .txt-wrap .about-text p {
  margin: 1.5em 0;
  line-height: 2em;
}

/*event*/
.event-wrap {
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
  margin-top: 45px;
  height: auto;
}

.events {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 960px;
  height: 80px;
  font: 20px/80px Arial;
  background-color: #2e2e2e;
  border: 1px solid #B99253;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.game-slider {
  position: absolute !important;
  width: 762px;
  left: 0px;
  top: -16px;
}

/*--------- CASINO--------- */
.ele-gamebanner-wrap {
  position: relative;
  width: 762px;
  height: 186px;
}

.ele-gamebanner-wrap .ele-gamebanner-qrcode {
  position: absolute;
  right: 7px !important;
  bottom: 21px !important;
  z-index: 5;
}

#js-ele-gamebanner {
  position: absolute;
  width: 762px;
  left: 0px;
  top: -15px;
}

.elenew-live-trace {
  color: #fff;
  margin: 0 0 0 16px;
}
.elenew-live-trace .elenew-trace-title {
  color: #fff;
}
.elenew-live-trace .elenew-trace-sub {
  margin: 12px 0 0 5px;
  color: #fff;
}
.elenew-live-trace .gamenew-trace-num {
  color: #0093F6;
}

#elenew-search-wrap .elenew-search-btn {
  color: #FFF;
  background-color: #004099;
}
#elenew-search-wrap .elenew-search-btn.search-active {
  color: #FFF;
  background-color: #002E68;
}
#elenew-search-wrap .elenew-search-btn .fa-2x {
  font-size: 1.8em;
}
#elenew-search-wrap .elenew-search-input {
  background-color: #4d4d4d;
  color: #fff;
}
#elenew-search-wrap .elenew-search-input input {
  color: #fff;
}

.elenew-live-view a {
  color: #fff;
}
.elenew-live-view a:hover, .elenew-live-view a.view-active {
  color: #0064F9;
}

.elenew-serch-noresult {
  color: #ccc !important;
}

/*  color-setC
    1   標題的文字顏色
    2   副標題的文字顏色
    3   副標題的數字顏色
    4   搜尋按鈕放大鏡圖片顏色
    5   Active的搜尋按鈕放大鏡圖片顏色
    6   搜尋按鈕底色
    7   Active的搜尋按鈕底色
    8   搜尋框底色
    9   鍵入的搜尋文字顏色
    10  搜尋框的預設文字顏色"請輸入遊戲名稱"
    11  列表icon顏色
    12  Active的列表icon顏色  */
.ele-slideshow-wrap {
  float: left;
  width: 666px;
  height: 313px;
  overflow: hidden;
}

.ele-slideshow-control-wrap a {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  margin: 0 5px 0 0;
  cursor: pointer;
  background-color: #000;
  color: #FFF;
}
.ele-slideshow-control-wrap a:hover, .ele-slideshow-control-wrap a.active {
  color: #fff;
  background-color: #990000;
}
.livetop .ele-slideshow-control-wrap a:hover, .livetop .ele-slideshow-control-wrap a.active {
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */