@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------------------ 變數目錄 --------------------------------------*/
/*---------------------------- 基本變數 ----------------------------------------------*/
/*---------------------------- 背景設定 ----------------------------------------------*/
/*---------------------------- 文字屬性 ----------------------------------------------*/
/*---------------------------- BOX 區塊屬性 ------------------------------------------*/
/*---------------------------- 各類選單屬性 -------------------------------------------*/
/*---------------------------- 基本變數 ----------------------------------------------*/
/*---------------------------- 基本變數 end ------------------------------------------*/
/*---------------------------- 背景設定 ----------------------------------------------*/
/*---------------------------- 背景設定 end ------------------------------------------*/
/*---------------------------- 文字屬性 ----------------------------------------------*/
/*---------------------------- 文字屬性 end ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 end --------------------------------------*/
/*---------------------------- 各類選單屬性 -------------------------------------------*/
/*---------------------------- 各類選單屬性 end ---------------------------------------*/
.ele-slideshow-wrap {
  position: relative;
}
.ele-slideshow-wrap ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 230px;
}
.ele-slideshow-wrap ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 230px;
  -webkit-backface-visibility: hidden;
}
.ele-slideshow-wrap ul li a {
  display: block;
}
.ele-slideshow-wrap ul li a img {
  display: block;
  max-width: 100%;
  height: auto;
  float: left;
}
.ele-slideshow-wrap ul li a .img {
  width: 100%;
  height: 230px;
  background-position: top center;
  background-repeat: no-repeat;
}

.ele-slideshow-scroll {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 230px;
  overflow: hidden;
  margin: 0 auto;
}

.ele-slideshow-control-wrap {
  position: absolute;
  z-index: 1;
  bottom: 10px;
}

.block {
  position: relative;
  min-height: 1px;
  float: left;
}

html {
  font-size: 12px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Microsoft JhengHei", 微軟正黑體, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.4;
  color: #FFF;
  background-color: #052E44;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
button,
select,
textarea {
  outline: none;
}

*:focus {
  outline: none;
}

a {
  color: #FFF;
  text-decoration: none;
}
a:hover, a:focus {
  color: #d9d9d9;
  text-decoration: none;
}

#L-Sub {
  position: relative;
  z-index: 9999;
  clear: both;
  top: -25px;
  left: 59px;
}
#L-Sub div {
  width: 110px;
  display: none;
  position: absolute;
  z-index: 100;
  padding: 4px 0;
}
#L-Sub div a {
  background-color: #075376;
  display: block;
  padding: 8px 0;
  color: #FFFFFF;
  text-align: center;
}
#L-Sub div a:hover {
  color: #FFD200;
}

.ele-drop-group div {
  width: 110px;
  z-index: 100;
  position: relative;
  z-index: 999;
}
.ele-drop-group div a {
  background-color: #075376;
  display: block;
  padding: 8px 0;
  color: #FFFFFF;
  text-align: center;
}
.ele-drop-group div a:hover {
  color: #FFD200;
}

.lang-wrap {
  margin: 0 13px 0 0;
}
.lang-wrap a {
  float: right;
  width: 22px;
  height: 25px;
  margin: 6px 2px 0 2px;
  background: url('../image/not-use/flag.png') top no-repeat;
}
.lang-wrap a.flag01 {
  background-position: 0px 0px;
}
.lang-wrap a.flag02 {
  background-position: 0px -40px;
}
.lang-wrap a.flag03 {
  background-position: 0px -80px;
}

.lang-wrap02 {
  margin: 0 5px 0 0;
}
.lang-wrap02 a {
  float: right;
  width: 22px;
  height: 25px;
  margin: 6px 2px 0 2px;
  background: url('../image/not-use/flag.png') top no-repeat;
}
.lang-wrap02 a.flag01 {
  background-position: 0px 0px;
}
.lang-wrap02 a.flag02 {
  background-position: 0px -40px;
}
.lang-wrap02 a.flag03 {
  background-position: 0px -80px;
}

/*主要置中區塊*/
.wrapper, #mainBody {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper:before, #mainBody:before, .wrapper:after, #mainBody:after {
  content: "";
  display: table;
}
.wrapper:after, #mainBody:after {
  clear: both;
}

.row, .header {
  margin-left: 0;
  margin-right: 0;
}
.row:before, .header:before, .row:after, .header:after {
  content: "";
  display: table;
}
.row:after, .header:after {
  clear: both;
}

.clearfix:before, .gamenew-menu-trace:before, .clearfix:after, .gamenew-menu-trace:after {
  content: "";
  display: table;
}
.clearfix:after, .gamenew-menu-trace:after {
  clear: both;
}

/*--------common--------*/
.floatL {
  float: left;
  _display: inline;
}

.floatR {
  float: right;
  _display: inline;
}

.inline-block {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.hoverFade {
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.hoverFade a {
  display: block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.top {
  width: 35px;
  height: 33px;
  margin: 0 auto;
  cursor: pointer;
}

.top div,
.top div a {
  display: block;
  width: 35px;
  height: 33px;
  background: url('../image/top.png') no-repeat;
}
.top div:hover,
.top div a:hover {
  background-position: bottom;
}

#mainBody {
  width: 100%;
  height: 100%;
}

/* NAV */
.mainnav {
  font-family: '微軟正黑體';
  clear: both;
  width: 1000px;
  height: 88px;
}
.mainnav li {
  float: left;
  width: 90px;
  height: 86px;
  margin: 0 10px;
}
.mainnav li a {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  display: block;
  width: 90px;
  height: 66px;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}
.mainnav li a span {
  color: #b5c8d3;
}
.mainnav li span {
  font-size: 9px;
  display: block;
  letter-spacing: -1px;
}

.mainnav li a:hover span,
.mainnav li a.current span {
  color: #4791bb;
}

.mainnav li a:hover,
.mainnav li a.current {
  display: block;
  color: #3fb7ff;
  width: 90px;
  height: 86px;
  background: url('../image/nav_over.png') no-repeat;
}

/*--------Header--------*/
#page-header {
  position: relative;
  z-index: 100;
  width: 100%;
  background: url(../image/header_bg.jpg) repeat-x center 0;
}

#header {
  width: 1000px;
  margin: 0 auto;
}

#logo {
  width: 230px;
  height: 82px;
}

#headerInfo {
  width: 770px;
}

.headerTop {
  width: 770px;
}

#banner {
  height: 239px;
  background: url(../image/banner_bg.png) no-repeat left top;
}
#banner img {
  vertical-align: baseline;
}

#banner02 {
  height: 244px;
}

#banner03 {
  height: 100px;
}

#news {
  height: 52px;
  background: url(../image/newsbg02.png) no-repeat left top;
}
#news marquee {
  margin: 20px 95px 0 100px;
  cursor: pointer;
  color: #449fd0;
}

#news02 {
  height: 47px;
  background: url(../image/newsbg03.png) no-repeat left top;
}
#news02 marquee {
  margin: 16px 95px 0 100px;
  cursor: pointer;
  color: #449fd0;
}

.time {
  width: 200px;
  padding-top: 10px;
  text-align: right;
  color: #fff;
}

/*--------container--------*/
#page-container01 {
  width: 100%;
  height: 1212px;
  margin: 0 auto;
  padding-top: 0;
  background: url(../image/bg01.jpg) repeat-x center top;
}

#page-container02 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
  background: url(../image/bg02.jpg) repeat-x center top;
}

#page-container03 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 100px;
  background: url(../image/bg03.jpg) repeat-x center top;
}

#page-container04 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: url(../image/bg02.jpg) repeat-x center top;
}

#page-body {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 30px;
}

#page-body02 {
  width: 1000px;
  margin: 0 auto;
}

/*------Footer--------*/
#page-footer {
  width: 100%;
  height: 364px;
  background: url(../image/footer_bg.jpg) repeat-x center top;
}

.footer {
  width: 1000px;
  margin: 15px auto 0 auto;
}

.bbinlogo {
  margin: 4px 0 0 11px;
  float: left;
  width: 83px;
  height: 40px;
}

.ublogo {
  margin: 5px 0 0 12px;
  width: 130px;
  height: 44px;
  background: url('../image/ublogo.png') no-repeat;
}

.footerLink a {
  padding: 0 10px;
  color: #fff;
  border-right: 1px solid #d8c4c1;
}
.footerLink a:hover {
  color: #22c8d8;
}
.footerLink a:last-child {
  padding-right: 0;
  border-right: none;
}

.copyright {
  line-height: 2em;
  margin-top: 0;
  text-align: right;
  color: #fff;
}

.footerBtn {
  width: 1000px;
  height: 235px;
  margin: 0 auto;
}
.footerBtn li {
  float: left;
  width: 200px;
  height: 235px;
}
.footerBtn strong {
  font-weight: bold;
  line-height: 3em;
  display: block;
  padding-top: 100px;
}
.footerBtn a {
  line-height: 1.4em;
  display: block;
  width: 170px;
  padding: 0 15px;
  cursor: pointer;
  text-align: center;
  color: #356b89;
}
.footerBtn a:hover {
  color: #92d1f2;
}

.footerBtn01 {
  background: url(../image/footer_btn01.png) no-repeat center top;
}
.footerBtn01:hover {
  background: url(../image/footer_btn01_over.png) no-repeat center top;
}

.footerBtn02 {
  background: url(../image/footer_btn02.png) no-repeat left top;
}
.footerBtn02:hover {
  background: url(../image/footer_btn02_over.png) no-repeat left top;
}

.footerBtn03 {
  background: url(../image/footer_btn03.png) no-repeat left top;
}
.footerBtn03:hover {
  background: url(../image/footer_btn03_over.png) no-repeat left top;
}

.footerBtn04 {
  background: url(../image/footer_btn04.png) no-repeat left top;
}
.footerBtn04:hover {
  background: url(../image/footer_btn04_over.png) no-repeat left top;
}

.footerBtn05 {
  background: url(../image/footer_btn05.png) no-repeat left top;
}
.footerBtn05:hover {
  background: url(../image/footer_btn05_over.png) no-repeat left top;
}

/* LOGIN */
#loginWrap {
  width: 743px;
}

.loginUnit {
  position: relative;
  width: 170px;
  margin-top: 5px;
  margin-right: 5px;
  background: url(../image/text.png) no-repeat left top;
}
.loginUnit label {
  line-height: 1.2em;
  position: absolute;
  top: 6px;
  left: 6px;
  cursor: text;
  color: #00222e;
}

.loginInput {
  width: 167px;
  height: 25px;
  padding-left: 3px;
  border: none;
  outline: none;
  background: none;
}

.btnLogin {
  margin-left: 5px;
  width: 79px;
  height: 33px;
  background: url('../image/btn_login.png') no-repeat;
}
.btnLogin:hover {
  background-position: bottom;
}

.btnJoin {
  line-height: 2.5em;
  width: 120px;
  margin-left: 10px;
  color: #22c8d8;
}
.btnJoin a {
  padding: 0 5px;
  color: #22c8d8;
}
.btnJoin a:hover {
  color: #fff;
}

/*------Login後--------*/
#login {
  float: right;
  width: 500px;
  height: auto;
  color: #fff;
}

.login-list {
  display: block;
  float: right;
  height: 12px;
  margin: 8px 10px 0 0;
}
.login-list ul {
  height: 12px;
}
.login-list ul li {
  display: inline-block;
  float: left;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  margin: 0 0 0 6px;
  color: #63cbec;
}
.login-list ul li a {
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  color: #63cbec;
}
.login-list ul li a:hover {
  color: #fff;
}

/* LOGON */
.meminfo-wrap {
  display: inline-block;
  float: right;
  margin: 4px 10px 0 0;
}
.meminfo-wrap .ele-acc-name,
.meminfo-wrap .ele-acc-unit {
  display: inline-block;
}
.meminfo-wrap .ele-accinfo {
  padding-left: 3px;
}

.ele-balance-tool {
  border-top: 1px solid #999;
}

.meminfo-wrap, .ele-acc-name, .ele-acc-unit, .ele-accinfo, .ele-obalance-wrap, .ele-other-balance {
  display: inline-block;
}

.ele-obalance-item-wrap {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 270px;
  color: #333;
  background: #f5f5f5;
}
.ele-obalance-item-wrap .ele-obalance-item {
  padding: 10px;
}
.ele-obalance-item-wrap .ele-obalance-item .ele-obalance {
  line-height: 16px;
  padding-bottom: 4px;
}
.ele-obalance-item-wrap .ele-balance-tool {
  text-align: right;
  padding: 4px;
  background-color: #fff;
  border-top: 1px solid false;
}
.ele-obalance-item-wrap .ele-balance-tool > a {
  display: inline-block;
  -webkit-transition: background-color .20s linear;
  transition: background-color .20s linear;
  padding: 4px 8px;
  color: #fff;
  background-color: #999;
}
.ele-obalance-item-wrap .ele-balance-tool > a:hover {
  background-color: #8c8c8c;
}

/*------Index--------*/
#firstAD {
  width: 1400px;
  height: 675px;
  margin: 0 auto;
  background: url(../image/title_first_bg.jpg) no-repeat left top;
}

.ele-slideshow-wrap {
  position: relative;
  width: 1000px;
  margin: auto;
}

.ele-slideshow-nav a {
  line-height: 9999px;
  display: inline-block;
  overflow: hidden;
  width: 17px;
  height: 16px;
  margin: 0 9px 0 0;
  color: #fff;
  background: url(../image/h_02.png) no-repeat;
}
.ele-slideshow-nav a.active {
  background-position: bottom;
}

/*jQuery圖片切換 end--------------*/
.firstADimg {
  width: 760px;
  height: 270px;
  margin: 0 0 0 350px;
}

#firstBottom {
  width: 1000px;
  height: 483px;
  margin: 0 auto;
}

#firstGame {
  width: 1000px;
  height: 409px;
  width: 1000px;
  height: 409px;
  background: url('../image/prize_bg.png') no-repeat;
}
#firstGame a {
  display: block;
  float: left;
  width: 155px;
  height: 365px;
  color: #b1f1fe;
}
#firstGame a:hover {
  color: #fff;
  background-position: left bottom;
}
#firstGame p {
  line-height: 1.6em;
  overflow: hidden;
  width: 150px;
  height: 120px;
  padding-top: 205px;
  text-align: center;
  letter-spacing: -1px;
}
#firstGame span {
  display: block;
  margin: 17px 0 0 30px;
}

.firstGame_live {
  width: 155px;
  height: 730px;
  background: url('../image/game01.png') no-repeat;
}

.firstGame_sport {
  margin: 0 20px 0 22px;
  width: 155px;
  height: 730px;
  background: url('../image/game02.png') no-repeat;
}

.firstGame_casino {
  margin-right: 20px;
  width: 155px;
  height: 730px;
  background: url('../image/game03.png') no-repeat;
}

.firstGame_lottery {
  width: 155px;
  height: 730px;
  background: url('../image/game04.png') no-repeat;
}

.firstJackpot {
  font-family: Arial;
  font-size: 26px;
  line-height: 5.5em;
  float: left;
  width: 280px;
  height: 403px;
  margin: 0 25px 0 8px;
  text-align: center;
  color: #ffc926;
}

#firstNews {
  width: 1000px;
  height: 74px;
  background: url(../image/newsbg.png) no-repeat left top;
}
#firstNews marquee {
  margin: 43px 105px 0 88px;
  cursor: pointer;
  color: #fff;
}

/*------About--------*/
#gameMenual {
  width: 265px;
}

.gameMenualTop {
  width: 265px;
  height: 144px;
  background: url(../image/sidebar_top.png) no-repeat left top;
}

.gameMenualBottom {
  width: 265px;
  height: 203px;
  background: url(../image/sidebar_bottom.png) no-repeat left top;
}

.gameMenualList {
  background: url(../image/sidebar.png) repeat-y left top;
}
.gameMenualList a {
  line-height: 3.8em;
  display: block;
  width: 265px;
  height: 45px;
  text-align: center;
  color: #fff;
}
.gameMenualList a:hover {
  font-weight: bold;
  color: #003959;
  background: url(../image/sidebar_over.png) no-repeat left top;
}

#articles {
  font-size: 13px;
  line-height: 28px;
  width: 675px;
  margin-right: 20px;
  color: #fff;
}
#articles h4 {
  font-size: 15px;
  font-weight: bold;
  line-height: 1em;
  padding-top: 55px;
}
#articles p {
  margin: 1.5em 0;
}

/*------Promotions--------*/
.events-wrap {
  width: 1000px;
  height: auto;
  margin: 58px auto 0 auto;
}

.event {
  float: left;
  width: 983px;
  height: 153px;
  margin: 30px 8px;
}

/*------Lottery--------*/
/*------Sports--------*/
.ball-wrap {
  width: 1000px;
  height: auto;
  margin: 56px auto 21px auto !important;
}

/* CASINO ＊＊溫馨提醒＊＊公版需求使用, 整合站切版請刪除以下語法、casino_login的HTML頁面及css資料夾中的casino.css*/
.game #page-body {
  width: 1000px;
  margin: 0 auto;
}

.ele-gamebanner-wrap .thumbNav a {
  color: #fff;
}
.ele-gamebanner-wrap .thumbNav a:hover, .ele-gamebanner-wrap .thumbNav a.cur {
  color: #18c4a1;
}

/*  color-setA
    1   Banner切換圖片的按鈕顏色
    2   當前的Banner切換圖片的按鈕顏色   */
/*---------------------------------------程式的BB體育css*/
.clearfix, .gamenew-menu-trace {
  *zoom: 1;
}
.clearfix:before, .gamenew-menu-trace:before {
  display: table;
  content: '';
}
.clearfix:after, .gamenew-menu-trace:after {
  display: table;
  clear: both;
  content: '';
}

/*# sourceMappingURL=style.css.map */