// LANG
.ele-lang-wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    a {
        float: left;
        text-align: left;
        background-repeat: no-repeat;
        // @if $lang-img==1 {
        //     // background-image: image-url("not-use/flag_rect.png")
        // }
        // @else if $lang-img==2 {
        //     // background-image: image-url("not-use/flag_circle.png")
        // }
    }
    @if $lang-kind==Flag {
        a {
            display: inline-block;
            width: 22px;
            height: 22px;
            text-align: left;
            @for $i from 1 through 3 {
                &.flag0#{$i} {
                    background-position: 0 40px - 40px * $i;
                }
            }
        }
    }
    @else if $lang-kind==selectFlag {
        // .ele-lang-group {
        //     position: absolute;
        //     z-index: 999;
        //     top: 100%;
        //     left: 0;
        //     width: 100%;
        //     background-color: colors(primary);
        //     a {
        //         color: #fff;
        //         &.ele-lang-current,
        //         &:hover {
        //             background-color: darken(colors(primary), 10%);
        //         }
        //     }
        // }
        // a {
        //     display: block;
        //     width: 90px;
        //     height: 32px;
        //     line-height: 32px;
        //     padding: 0 5px 0 32px;
        //     @for $i from 1 through 3 {
        //         &.flag0#{$i} {
        //             @if $lang-img==1 {
        //                 background-position: 5px 48px - 40px * $i;
        //             }
        //             @else if $lang-img==2 {
        //                 background-position: 5px 46px - 40px * $i;
        //             }
        //         }
        //     }
        // }
    }
    @else {}
}

// FIRST GAME
@if $first-game-lang==true {
    .first-game-wrap {
        .first-game {
            display: inline-block;
            float: left;
            width: image-width('game01.#{$first-game-format}');
            height: image-height('game01.#{$first-game-format}');
            transition: background .3s ease;
        }
        @for $i from 1 through 4 {
            .first-game0#{$i} {
                background-image: image-url('game0#{$i}.#{$first-game-format}');
                &:hover {
                    background-image: image-url('game0#{$i}_over.#{$first-game-format}');
                }
            }
        }
    }
}

@else {}

// fIRST SLIDESHOW
@if $first-slider==true {
    .ele-slideshow-wrap {
        position: relative;
        ul {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: $first-height;
            li {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: $first-height;
                -webkit-backface-visibility: hidden;
                a {
                    display: block;
                    img {
                        display: block;
                        max-width: 100%;
                        height: auto;
                        float: left;
                    }
                    .img {
                        width: 100%;
                        height: $first-height;
                        background-position: top center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
    .ele-slideshow-scroll {
        position: relative;
        z-index: 1;
        width: 100%;
        height: $first-height;
        overflow: hidden;
        margin: 0 auto;
    }
    .ele-slideshow-control-wrap {
        position: absolute;
        z-index: 1;
        bottom: 10px;
    }
}

else {}