.game {
    .header-bg01 {
        height: 546px;
        background-image: url(../image/game_bg.png);
        /*.left {
            bottom: 213px;
        }*/
    }
    .header-lang-main {
        top: -10px;
    }
    .login-wrap {
        z-index: 201;
    }
    .page-main {
        z-index: auto;
    }
    @include MQ(desktop) {
        .header-wrap {
            z-index: 201;
        }
        .header-bg01 {
            height: 100%;
        }
    }
    @include MQ(tablet) {
        .header-main {
            height: auto;
        }
        .header-bg01 {
            height: 116px;
            background-image: url(../image/game_bg_m.png);
        }
        .header-bg02 {
            top: 0;
            height: 180px;
            background: #333;
        }
        .login-wrap {
            &.active {
                z-index: 998;
            }
        }
    }
}

.game-slider {
    position: relative;
    top: 10px;
    z-index: 2;
    max-width: 960px;
    margin: 0 auto;
    @include MQ(tablet) {
        top: 0;
        margin-top: 130px;
    }
    @include MQ(mobile) {
        top: 0;
        margin-top: 110px;
    }
}

.game-wrap {
    width: 100%;
    @include MQ(tablet) {
        margin: 0 0 80px;
    }
}



/* --- 模組調整 --- */
.game {
    background-color: #FFF !important;
    .fixed-header .container {
        padding: 0 !important;
    }
    .game-slider {
        z-index: 1;
    }
    .game-slider-wrap {
        max-width: 960px !important;
    }
    .game-search-input {
        background: #EEE;
    }
    .dialog-content {
        margin: -285px 0 0 -160px !important;
    }
    .gamejp-wrap {
        max-width: 960px !important;
    }
}

.game-nav.fixed {
    max-width: 960px !important;
}

.game-layout {
    z-index: 1;
    width: 98% !important;
}

.game-box-view li a:hover i, 
.game-box-view li a:focus i, 
.game-box-view li a:active i, 
.game-box-view li a.active i {
    color: #D6782A !important;
}