.live {
    .header-bg01 {
        background-image: url(../image/live_bg.png);
    }
    @include MQ(tablet) {
        .header-bg01 {
            background-image: url(../image/live_bg_m.png);
        }
    }
}

.live-wrap {
    margin: 24px 0 0;
    @include MQ(tablet) {
        margin: 0;
    }
}