.memberexclusiveii {
    .header-bg01 {
        background-image: url(../image/pro_bg.png);
    }
    @include MQ(tablet) {
        .header-bg01 {
            background-image: url(../image/pro_bg_m.png);
        }
        .page-main {
            margin-bottom: 64px;
        }
    }
    @include MQ(desktop) {
        .header-bg01 {
            height: 465px;
        }
    }
    @include MQ(mobile) {
        .header-bg01 {
            height: 333px;
        }
    }
}

.memberexclusiveii-content {
    position: relative;
    z-index: 50;
    padding: 32px 0 0;
    ul {
        display: block;
        width: 100%;
    }
    .memExclusive {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 31.3%;
        background: #333;
        margin: 0 1% 20px;
        a {
            display: block;
            padding: 8px 8px 0;
            img {
                display: block;
                width: 100%;
                &.img-orign {
                    display: block;
                }
                &.img-hover {
                    display: none;
                }   
            }
            h2 {
                height: 40px;
                line-height: 20px;
                font-size: 13px;
                color: #FFF;
                background: #333;
                margin: 20px 0;
                padding: 0 20px;
                overflow: hidden;
            }
            &:hover {
                img {
                    &.img-orign {
                        display: none;
                    }
                    &.img-hover {
                        display: block;
                    }
                }
                h2 {
                    color: #FFD200;
                }
            }
        }
    }
    @include MQ(tablet) {
        margin: 0;
        padding: 0 2%;
        .memExclusive {
            width: 44%;
            margin: 0 3% 28px;
            a {
                padding: 10px 10px 0;
                img {
                    &.img-orign {
                        display: none;
                    }
                    &.img-hover {
                        display: block;
                    }
                }
                h2 {
                    padding: 0 14px;
                }
            }
        }
    }
    @include MQ(mobile) {
        text-align: center;
        .memExclusive {
            width: 87.5%;
            text-align: left;
            margin: 0 0 16px;
            a {
                h2 {
                    margin-top: 8px;
                }
            }
        }
    }
}