//====== 開發者模式 = 1; 非開發者模式 = 0
$developer: 0;
//====== 語系種類
$lang-kind: Dropmenu; //false = 不使用; Flag = 使用 inline 國旗; Dropmenu = 下拉式; popupFlag = 使用 popup 國旗
$lang-img: 1; // 1 = 長方形; 2 = 圓形（目前使用 Flag、Dropmenu 才需設定）
$lang-arrow: 1; // 1 = 白; 2 = 黑（目前使用 Dropmenu 才需設定）
//====== 首頁遊戲圖
$first-game-lang: false; //true = 使用; false = 不使用;
$first-game-format: png; //遊戲圖圖片格式（png、jpg...）
// 目前語系資料夾
$lang: 'lang/zh-cn/';
// 主風格或常用的配色，自行修改
$red: #EC3E40 !default;
$orange: #D0650D !default;
$blue: #2E5083 !default;
// 基本顏色設定
$body-bg: #DADEE6;
$text-color: #727272;
$link-color: #727272;
$link-hover-color: #F77D53 !default;
// 基本文字設定
//## Font, line-height, and color for body text, and more.
$font-family-base: arial,
STHeiti,
"Microsoft YaHei",
"微软雅黑",
"SimSun",
"宋体" !default;
$font-size-base: 13px !default;
$line-height-base: 1.8 !default;
// GOOGLE FONTS
// @import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');  //範例，沒有使用可刪除