.ele-slideshow-wrap{
    width: 100%;
    position: relative;
    margin : 0 auto;
}
.ele-slideshow-scroll{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}
.ele-slideshow-scroll li {
    opacity: 0;
    filter: alpha(opacity=0);
}
.ele-slideshow-wrap ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
.ele-slideshow-wrap li{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    filter: alpha(opacity=0);
}
.ele-slideshow-wrap li a{
    display: block;
    width: 100%;
    height: auto;
}
.ele-slideshow-wrap li a img{
    image-rendering: optimizeQuality;
}
.ele-slideshow-full-img {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center top;
}
.ele-slideshow-control-wrap{
    position: absolute;
    z-index: 3;
    bottom: 0;
    padding: 5px;
}
.ele-slideshow-nav{
    display: inline-block;
    vertical-align: middle;
}
.ele-slideshow-nav a{
    width: 16px;
    height: 16px;
    background-color: #8296B1;
    display: inline-block;
    text-align: center;
    color: #FFF;
    line-height: 16px;
    margin: 0 2px;
    text-decoration: none;
    position: relative;
}
.ele-slideshow-nav a.active,
.ele-slideshow-nav a:hover{
    background-color: #74B0CE;
    color: #FFF;
}
.ele-slideshow-text-wrap {
    position: absolute;
    z-index: 2;
}
.ele-slideshow-text{
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
    opacity: 0;
    filter:alpha(opacity=0);
}
.ele-slideshow-clip{
    background-repeat: no-repeat;
}

/*首頁輪播圖*/
.first-slider {
    position: relative;
    background-color: #000;
    width: 100%;
    overflow: hidden;
}
.first-slider .ele-slideshow-scroll,
.first-slider .ele-slideshow-full-img {
    height: 530px;
}
.first-slider .ele-slideshow-control-wrap {
    bottom: 2rem;
}
.first-slider .ele-slideshow-arrow,
.first-slider .ele-slideshow-arrow i {
    width: 48px;
    height: 48px;
    line-height: 48px;
}
.first-slider .ele-slideshow-arrow i {
    color: #FFF;
    font-size: 40px;
    font-family: 'FontAwesome';
    font-style: normal;
}
.first-slider .ele-slideshow-control-wrap {
    padding: 0;
}
.first-slider .ele-slideshow-nav a {
    background-image: url("../image/first_slider_ctrl.png");
    background-color: transparent;
    background-repeat: no-repeat;
    margin: 0 10px;
}
.first-slider .ele-slideshow-nav a.active,
.first-slider .ele-slideshow-nav a:hover {
    background-color: transparent;
    background-position: left bottom;
}
.ele-slideshow-text-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ele-slideshow-text-wrap .ele-slideshow-text {
    top: 0;
    bottom: 0;
    left: -384px;
    right: 0;
    margin: 306px 0 0 225px;
    max-width: 90%;
    @include MQ(tablet) {
        margin: auto auto 140px auto;
    }
    @include MQ(mobile) {
        margin: auto auto 140px 0;
        max-width: 80%;
    }
}
    