.clear {
    clear: both;
    margin: 0;
    padding: 0;
}

.elenew-layout-subjp .elenew-game-layout {
    height: 240px
}

#progressiveTickerall {
    display: none
}

.game .elenew-game-wrap {
    margin: 15px auto 30px;
    width: 1000px
}

.elenew-game-layout {
    margin: 5px 1% 15px;
    width: 23%;
    border: 1px solid #D1D1D1;
    background-color: #FBFBFB;
    box-sizing: border-box
}

.elenew-view-block .elenew-game-layout {
    border: 0;
    background: 0
}

.elenew-view-block .elenew-img-wrap {
    position: relative;
    border: 1px solid #D1D1D1;
    background-color: #FBFBFB;
    box-shadow: 1px 1px 3px 1px #cccccd
}

.elenew-game-ctl-wrap,
.elenew-game-ctl-tools,
.elenew-game-ctl-links {
    width: 100%
}

.elenew-game-img,
.elenew-game-ctl-wrap {
    bottom: 0
}

.elenew-game-link {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none
}

.elenew-game-ctl-links .ctl-btn-coming a {
    text-decoration: none
}

.elenew-view-block .elenew-game-ctl-links .ctl-btn-coming {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    border-radius: 99em;
    border: 1px solid #18c49f;
    box-shadow: -1px 1px 1px #000;
    background: rgba(8, 5, 4, 0.5);
    text-align: center
}

.elenew-view-block .elenew-game-ctl-links .ctl-btn-coming a {
    background: url("../image/layout/game_first_xl_icon.png") 50% 20px no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 68px;
    box-sizing: border-box
}

.elenew-view-block .elenew-game-ctl-links .ctl-btn-coming a span {
    display: block;
    width: 79px;
    border-top: 1px solid #18c49f;
    margin: 0 auto
}

.elenew-game-ctl-links a.ctl-btn-enter {
    background-color: #b5271d;
    border: 1px solid #cc2d22
}

.elenew-game-ctl-links a.ctl-btn-enter:hover {
    background-color: #6e1710;
    border: 1px solid #921c12
}

.elenew-game-ctl-links a.ctl-btn-rule {
    border: 1px solid #FFF;
    background: 0
}

.elenew-game-ctl-links a.ctl-btn-rule:hover {
    color: #FFF;
    background: rgba(232, 232, 232, 0.35)
}

.elenew-game-wrap {
    clear: both;
    min-height: 480px
}

.elenew-game-layout {
    position: relative;
    float: left
}

.elenew-game-name {
    display: none;
    position: relative
}

.elenew-img-innerwrap h3 {
    height: 34px;
    line-height: 34px;
    padding-left: 5px
}

.elenew-img-innerwrap h3 .img-innerwrap-name {
    float: left;
    width: 190px;
    text-indent: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
    color: #444;
    font-weight: bold
}

.elenew-game-img {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 4px auto 0;
    width: 220px;
    height: 162px
}

.elenew-game-img img {
    display: block;
    position: absolute;
    top: 0;
    width: 220px
}

.th .ctl-btn-rule {
    font-size: 16px
}

.elenew-hall-icon {
    float: left;
    width: 34px;
    height: 34px;
    background: url("../image/layout/game_title_icon.png") no-repeat 50% 50%
}

.gamenew-hall-23 .elenew-hall-icon {
    background: url("../image/layout/hall_MG.png") no-repeat 50% 50%
}

.elenew-view-block .elenew-hall-icon.elenew-hall-bbin {
    width: 0;
    margin-left: 5px
}

.elenew-hall-43 {
    width: 30px;
    background: url("../image/layout/hall-43.png") no-repeat left top
}

.elenew-hall-45 {
    width: 30px;
    background: url("../image/layout/hall-45.png") no-repeat left top
}

.elenew-hall-47 {
    width: 30px;
    background: url("../image/layout/hall-47.png") no-repeat left top
}

.elenew-hall-3D {
    width: 30px;
    background-image: url("../image/layout/hall-3d.png")
}

.elenew-hall-PT {
    width: 30px;
    background: url("../image/layout/hall-pt.png") no-repeat left top
}

.elenew-game-status {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 73px;
    height: 61px
}

.status-First {
    background: url("../image/layout/comingsoon.png") no-repeat left top
}

.status-New {
    background: url("../image/layout/new.png") no-repeat left top
}

.status-NewBonus {
    background: url("../image/layout/newbonus.png") no-repeat left top
}

.status-Recommend {
    background: url("../image/layout/recommend.png") no-repeat left top
}

.elenew-game-ctl-wrap {
    position: absolute;
    height: 0;
    overflow: hidden
}

.elenew-game-ctl-links {
    display: none
}

.elenew-game-tool {
    float: right;
    margin-right: 10px
}

.tool-btn-comingsoon {
    color: #306FBD
}

.elenew-game-tool {
    font-family: arial
}

.elenew-img-wrap .tool-btn-favorite {
    position: relative;
    z-index: 5
}

a.favorite-icon-N,
a.favorite-icon-N:hover,
a.favorite-icon-Y {
    color: #DDD
}

a.favorite-icon-N:hover,
a.favorite-icon-Y {
    color: #13BF72
}

.elenew-innerwrap .elenew-game-sub-jp .minorJP {
    display: none;
    border-top: 1px solid #EFEFEF;
    height: 34px;
    width: 100%;
    background: url("../image/layout/minor.png") 0 0 no-repeat;
    padding: 0 10px 0 85px;
    margin: 0;
    box-sizing: border-box;
    text-align: right;
    font: normal bold 18px/34px 'Palatino', 'Palatino Linotype', 'Georgia', serif;
    color: #b5271d
}

.elenew-game-sub-jp .JP3D {
    background-position: 0 100%
}

.elenew-game-sub-jp .minorJP.JP3D {
    overflow: hidden
}

.elenew-game-loading {
    display: none
}

.elenew-game-layout {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    z-index: 1;
    transition: transform .5s, top .5s, left .5s;
    -moz-transition: transform .5s, top .5s, left .5s;
    -webkit-transition: transform .5s, top .5s, left .5s;
    -o-transition: transform 0.5s, top 0.5s, left 0.5s
}

.elenew-no-animate .elenew-game-layout {
    transition: transform 0s, top 0s, left 0s;
    -moz-transition: transform 0s, top 0s, left 0s;
    -webkit-transition: transform 0s, top 0s, left 0s;
    -o-transition: transform 0s, top 0s, left 0s
}

.gamenew-filter-hide,
.gamenew-group-hide {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    z-index: 0;
    display: none\0
}

@media all and (-webkit-bb: 0) {
    .elenew-game-layout {
        transition: top .5s, left .5s;
        -webkit-transition: top 0.5s, left 0.5s
    }
    .elenew-no-animate .elenew-game-layout {
        transition: top 0s, left 0s;
        -webkit-transition: top 0s, left 0s
    }
    .gamenew-filter-hide,
    .gamenew-group-hide {
        display: none
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .gamenew-filter-hide,
    .gamenew-group-hide {
        display: block
    }
}

.elenew-game-ctl-wrap {
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: url("../image/layout/game_layout_bg.png") repeat
}

.elenew-img-wrap:hover .elenew-game-ctl-wrap {
    display: block
}

.elenew-game-ctl-links {
    display: block;
    width: 138px;
    margin: 60px auto 0;
    text-align: center
}

.elenew-view-block .elenew-coming-layout .elenew-game-ctl-links {
    margin: 45px auto 0
}

.elenew-game-ctl-links a {
    position: relative;
    display: block;
    text-align: center;
    width: 138px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #FFF;
    margin-bottom: 10px;
    box-sizing: border-box
}

.elenew-block-title {
    display: none
}

.elenew-view-block .elenew-block-title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.is-login .elenew-game-ctl-links a {
    margin-top: 0
}

.elenew-game-content {
    display: none;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical
}

.elenew-game-ctl-tools {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 23px;
    height: 30px;
    font-size: 15px;
    z-index: 2
}

.elenew-view-block .elenew-game-ctl-tools {
    display: none
}

.elenew-view-block .elenew-hall-icon {
    margin-left: 4px
}

.elenew-view-list .elenew-game-ctl-wrap {
    right: 30px;
    display: block;
    width: 116px;
    height: 100%;
    background: 0
}

.elenew-view-list .elenew-coming-layout .elenew-game-ctl-links {
    margin: 45px auto 0
}

.elenew-view-list .elenew-game-ctl-links {
    width: 100%;
    margin: 25px auto 0;
    border: 0
}

.elenew-view-list .elenew-game-ctl-links a {
    background: #b5271d;
    color: #FFF;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #cc2d22;
    margin-bottom: 10px;
    font-size: 13px
}

.elenew-view-list .elenew-game-ctl-links a:hover {
    background: #6e1710;
    border: 1px solid #921c12
}

.elenew-view-list .elenew-game-ctl-links a.ctl-btn-rule {
    background: #f4f4f4;
    color: #9f9f9f;
    border: 1px solid #e0e0e0
}

.elenew-view-list .elenew-game-ctl-links a.ctl-btn-rule:hover {
    background: #31485c;
    color: #FFF
}

.elenew-view-list .elenew-hall-icon {
    left: 11px;
    top: 49px
}

.elenew-view-list .elenew-hall-icon.elenew-hall-bbin {
    display: block
}

.elenew-view-list .elenew-game-layout {
    width: 100%;
    height: 124px !important;
    margin: 0 0 7px 0;
    background-color: #f7f7f7
}

.elenew-view-list .elenew-game-layout:hover {
    background-color: #FFF
}

.elenew-view-list .elenew-game-layout.no-hover-effect {
    background-color: #f7f7f7
}

.elenew-view-list .elenew-innerwrap {
    float: left
}

.elenew-view-list .elenew-img-innerwrap h3 .img-innerwrap-name {
    width: 100%;
    box-sizing: border-box
}

.elenew-view-list .elenew-game-img {
    float: left;
    width: 140px;
    height: 103px;
    margin: 9px 0 0 15px
}

.elenew-view-list .elenew-game-img img {
    width: 100%
}

.elenew-view-list .elenew-game-ctl-tools {
    width: 46px;
    height: 46px;
    top: 38px;
    right: 195px
}

.elenew-view-list .elenew-game-tool {
    display: block;
    width: 46px;
    height: 46px;
    margin: 0
}

.elenew-view-list .elenew-img-wrap .elenew-game-tool,
.elenew-view-list .elenew-game-tool i {
    display: none
}

.elenew-view-list .tool-btn-favorite {
    background: url("../image/layout/game_favorite_lg_icon.png") no-repeat 0 0
}

.elenew-view-list .tool-btn-comingsoon {
    background: url("../image/layout/game_first_lg_icon.png") no-repeat 0 0
}

.elenew-view-list .tool-btn-favorite:hover,
.elenew-view-list .tool-btn-favorite.favorite-icon-Y {
    background-position: 0 100%
}

.elenew-view-list .elenew-game-content {
    display: block;
    width: 540px;
    height: 36px;
    line-height: 18px;
    margin: 5px 0 0 20px;
    color: #888;
    display: -webkit-box;
    -webkit-line-clamp: 2
}

.elenew-view-list .elenew-img-innerwrap h3 {
    margin: 10px 0 0 13px
}

.elenew-view-list .elenew-game-sub-jp {
    width: 180px;
    height: 22px;
    margin: 4px 0 0 20px;
    border-top: 0
}

.elenew-view-list .elenew-game-sub-jp .minorJP {
    background-image: url("../image/layout/minor_sm.png");
    padding: 0 0 0 75px;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    height: 100%;
    border: 0;
    text-align: left
}

.elenew-view-mini .elenew-game-content {
    display: block;
    margin: 5px 20px 7px;
    max-height: 68px;
    font-size: 13px;
    line-height: 17px;
    color: #888;
    display: -webkit-box;
    -webkit-line-clamp: 4
}

.elenew-view-mini .elenew-game-ctl-wrap {
    right: 55px;
    display: block;
    width: 178px;
    height: 100%;
    background: 0
}

.elenew-view-mini .elenew-game-ctl-links {
    border: 0;
    width: 178px;
    margin: 10px 0 0 0;
    padding-top: 0
}

.elenew-view-mini .elenew-game-ctl-links a {
    float: left;
    background: #b5271d;
    color: #FFF;
    height: 33px;
    width: 82px;
    margin-right: 7px;
    line-height: 31px;
    border: 1px solid #cc2d22;
    margin-top: 0
}

.elenew-view-mini .elenew-game-ctl-links a:hover {
    background: #6e1710;
    border: 1px solid #921c12
}

.elenew-view-mini .elenew-game-ctl-links a.ctl-btn-rule {
    background: #f4f4f4;
    color: #9f9f9f;
    border: 1px solid #e0e0e0
}

.elenew-view-mini .elenew-game-ctl-links a.ctl-btn-rule:hover {
    background: #31485c;
    color: #FFF
}

.elenew-view-mini .elenew-hall-icon {
    float: left;
    width: 64px;
    height: 54px;
    border-right: 1px solid #e6e6e6;
    background-color: #ededed
}

.elenew-view-mini .elenew-hall-icon.elenew-hall-bbin {
    display: block
}

.elenew-view-mini .elenew-img-innerwrap .elenew-hall-icon {
    display: none
}

.elenew-view-mini .elenew-game-status {
    top: -8px;
    left: 8px
}

.elenew-view-mini .trans-over .elenew-game-status {
    top: -1px
}

.elenew-view-mini .elenew-game-layout {
    height: 56px;
    width: 48.8%;
    margin: 6px .6%;
    background-color: #f7f7f7
}

.elenew-view-mini .elenew-game-layout:hover {
    background-color: #FFF
}

.elenew-view-mini .elenew-game-layout.no-hover-effect {
    background-color: #f7f7f7
}

.elenew-view-mini .elenew-img-innerwrap {
    display: none;
    position: absolute;
    z-index: 1;
    top: 74px;
    left: -9px;
    width: 250px;
    background: url("../image/layout/game_mini_hover_mid.png") 0 0 repeat-y;
    color: #555;
    box-sizing: border-box
}

.elenew-view-mini .elenew-img-innerwrap:before {
    content: '';
    display: block;
    position: absolute;
    top: -24px;
    left: 0;
    width: 250px;
    height: 24px;
    background: url("../image/layout/game_mini_hover_top.png") 0 0 no-repeat
}

.elenew-view-mini .elenew-img-innerwrap:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 250px;
    height: 10px;
    background: url("../image/layout/game_mini_hover_bot.png") 0 0 no-repeat
}

.elenew-view-mini .trans-over .elenew-img-innerwrap {
    top: auto;
    bottom: 74px;
    padding-top: 6px
}

.elenew-view-mini .trans-over .elenew-img-innerwrap:before {
    top: -10px;
    height: 10px;
    background: url("../image/layout/game_mini_hover_bot_tr.png") 0 0 no-repeat
}

.elenew-view-mini .trans-over .elenew-img-innerwrap:after {
    bottom: -24px;
    height: 24px;
    background: url("../image/layout/game_mini_hover_top_tr.png") 0 0 no-repeat
}

.elenew-view-mini .elenew-img-wrap .elenew-game-img {
    width: 220px;
    height: 162px;
    margin: 0 15px 5px
}

.elenew-view-mini .elenew-img-wrap .elenew-game-img img {
    width: 220px
}

.elenew-view-mini .elenew-img-wrap {
    position: absolute;
    height: 100%;
    width: 100%
}

.elenew-view-mini .elenew-img-wrap.mini-img-show .elenew-img-innerwrap {
    display: block
}

.elenew-view-mini .elenew-game-name {
    display: block;
    width: 250px
}

.elenew-view-mini .elenew-img-innerwrap h3 {
    display: block;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    margin: 7px 10px
}

.elenew-view-mini .elenew-game-name h3 {
    position: relative;
    float: left;
    max-width: 185px;
    height: 54px;
    line-height: 54px;
    padding: 0 26px 0 10px;
    box-sizing: border-box;
    color: #444;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical
}

.elenew-view-mini .elenew-game-ctl-tools {
    top: 0;
    right: 0;
    width: 53px;
    height: 55px;
    border-left: 1px dashed #e3e3e3
}

.elenew-view-mini .elenew-game-tool {
    display: block;
    float: right;
    margin-top: 17px;
    margin-right: 18px
}

.elenew-view-mini .elenew-game-tool i {
    line-height: 21px
}

.elenew-view-mini .elenew-img-wrap .elenew-game-tool {
    display: block;
    margin: 0 7px 0 0;
    line-height: 18px
}

.elenew-view-mini .elenew-game-sub-jp {
    width: 234px;
    margin: 0 0 0 8px
}

.mini-status {
    display: none;
    width: 25px;
    height: 17px
}

.elenew-view-mini .mini-status {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px
}

.mini-status-First {
    background: url("../image/layout/comingsoon_sm_icon.png") no-repeat 50% 50%
}

.mini-status-New {
    background: url("../image/layout/new_sm_icon.png") no-repeat 50% 50%
}

.mini-status-NewBonus {
    background: url("../image/layout/newbonus_sm_icon.png") no-repeat 50% 50%
}

.mini-status-Recommend {
    background: url("../image/layout/recommend_sm_icon.png") no-repeat 50% 50%
}

.gamenew-filter-empty {
    transform-origin: center center;
    animation-name: shake-base;
    animation-duration: 100ms;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-play-state: running
}

@keyframes shake-base {
    0% {
        transform: translate(2px, 1px) rotate(0deg)
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg)
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg)
    }
    30% {
        transform: translate(0px, 2px) rotate(0deg)
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg)
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg)
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg)
    }
    70% {
        transform: translate(2px, 1px) rotate(-1deg)
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg)
    }
    90% {
        transform: translate(2px, 2px) rotate(0deg)
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg)
    }
}

@-webkit-keyframes shake-base {
    0% {
        transform: translate(2px, 1px) rotate(0deg)
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg)
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg)
    }
    30% {
        transform: translate(0px, 2px) rotate(0deg)
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg)
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg)
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg)
    }
    70% {
        transform: translate(2px, 1px) rotate(-1deg)
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg)
    }
    90% {
        transform: translate(2px, 2px) rotate(0deg)
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg)
    }
}

.game-login-wrap {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../image/layout/login_area_bg.png") repeat
}

.game-login-wrap .game-login-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 723px;
    height: 450px;
    margin: -225px 0 0 -362px;
    background: url("../image/layout/login_bg01.png")
}

.game-login-wrap .game-login-bg form {
    width: 100%;
    height: 100%;
    padding-left: 380px;
    padding-top: 85px;
    box-sizing: border-box;
    background: url("../image/layout/login_bg02.png") 50% 50% no-repeat
}

.game-login-wrap form p {
    position: relative !important;
    display: block !important;
    float: none !important
}

.game-login-wrap .glogin-title {
    background: url("../image/layout/login_top_icon.png") 0 0 no-repeat;
    width: 250px;
    height: 30px;
    line-height: 30px;
    color: #34caae;
    font-size: 14px;
    text-indent: 39px;
    margin-bottom: 13px;
    text-shadow: 1px 1px 2px #000
}

.game-login-wrap .login-unit {
    width: 248px !important;
    height: 28px !important;
    margin: 0 0 12px 0 !important;
    padding: 0 !important;
    background: url("../image/layout/loginInput_icon.png") #FFF no-repeat !important;
    border-radius: 3px;
    border: 1px solid #CCC !important
}

.game-login-wrap .login-unit.login-unit-pwd {
    background-position: 0 -28px !important
}

.game-login-wrap .login-unit.login-unit-chk {
    background-position: 0 -56px !important
}

.game-login-wrap .login-input {
    float: left !important;
    position: static !important;
    width: 248px !important;
    height: 28px !important;
    padding: 6px 12px 6px 30px !important;
    margin: 0 !important;
    font-size: 13px !important;
    color: #555 !important;
    border: none !important;
    outline: none !important;
    background: none !important;
    line-height: 16px !important;
    box-sizing: border-box !important
}

.game-login-wrap .login-input.login-acc {
    padding: 6px 48px 6px 30px !important
}

.game-login-wrap .login-unit .login-placeholder {
    position: absolute;
    left: 33px;
    top: 0;
    line-height: 30px;
    color: #8c8c8c;
    cursor: text;
    font-family: arial
}

.game-login-wrap .acc-unicode {
    position: absolute;
    right: 9px;
    top: 0;
    line-height: 27px;
    color: #555;
    font-size: 14px;
    font-family: arial
}

#vPic-game {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    visibility: hidden
}

.game-login-wrap .login-submit {
    float: none !important;
    position: static !important;
    background: none !important;
    width: 250px !important;
    height: 30px !important;
    line-height: normal !important;
    margin: 0 0 11px !important;
    padding: 0 !important;
    font-size: 13px !important;
    border-radius: 3px;
    border: 1px solid #FFF !important;
    box-sizing: border-box !important;
    color: #FFF !important;
    cursor: pointer !important
}

.game-login-wrap .glogin-forget a {
    display: block;
    margin-bottom: 11px;
    width: 250px;
    height: 28px;
    line-height: 28px;
    color: #CCC;
    text-align: center
}

.game-login-wrap .glogin-joinmem a {
    display: block;
    background: url("../image/layout/login_btn.png") no-repeat;
    width: 250px;
    height: 32px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 14px
}

.game-login-wrap .glogin-joinmem a:hover {
    background-position: 0 100%
}

.game-login-wrap .glogin-close {
    background: url("../image/layout/login_close.png") no-repeat;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 55px;
    right: 55px;
    cursor: pointer
}

.elenew-gamejp-wrap {
    /*float: right;*/
    float: left;
    position: relative;
    overflow: hidden;
    /*width: 575px;*/
    width: 610px;
    height: 100%;
    border-left: #CF2E21 1px solid;


}

.elenew-gamejp-area {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1px 0 0 119px;
    box-sizing: border-box;
    background-image: url("../image/layout/gamejp_jackpot.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    /*margin-left: 50px;*/

}

.elenew-gamejp-bb-area {
    background-position: 0 -80px
}

.elenew-gamejp-bb-area.elenew-gamejp-major {
    background-position: 0 0
}

.elenew-gamejp-g3d-area {
    /*background-position: 0 -240px*/
    background-position: 30px -240px
}

.elenew-gamejp-g3d-area.elenew-gamejp-major {
    /*background-position: 0 -160px*/
    background-position: 30px -160px
}

.elenew-gamejp-mg-area {
    /*background-position: 0 -320px*/
    background-position: 30px -320px
}

.elenew-gamejp-prize {
    float: right;
    font-family: arial;
    text-align: center;
    width: 344px;
    line-height: 35px;
    margin-top: 19px;
    font-size: 25px;
    font-weight: bold;
    color: #f7e268
}

.elenew-gamejp-explain {
    float: left;
    margin: 42px auto 0;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: #000;
    width: 110px;
    height: 19px;
    line-height: 20px;
    font-size: 12px;
    color: #f9f3a8;
    border: 1px solid #f7e268;
    border-radius: 30px
}

#EjpRemote {
    float: left;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden
}

.jFlip-layout {
    height: 51px
}

.jFlip-layout>div {
    display: inline-block
}

.flip-num {
    position: relative;
    display: inline-block;
    padding: 4px 5px 2px;
    width: 30px;
    height: 42px;
    margin: 0 1px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 42px;
    color: #606060;
    box-sizing: border-box;
    -webkit-perspective: 50px;
    -moz-perspective: 50px;
    -o-perspective: 50px;
    -ms-perspective: 50px;
    perspective: 50px
}

.flip-num:after {
    content: '';
    width: 27px;
    height: 1px;
    background-color: #212121;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 1px
}

.flip-num>div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background: url("../image/layout/gamejp_prize_bg.png") 0 0 no-repeat;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.flip-num>.f-t {
    top: 0;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%
}

.flip-num>.f-b {
    bottom: 0;
    -ms-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    background-position: 0 100%
}

.flip-num>div>span {
    position: absolute;
    display: block;
    width: 100%;
    height: 200%;
    color: #f7e268;
    background: -webkit-linear-gradient(top, #F7E268 20%, #FFF 50%, #F7E268 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.flip-num>.f-t>span {
    top: 0
}

.flip-num>.f-b>span {
    bottom: 0
}

.flip-num>.f-i.f-t {
    z-index: 2;
   

}

.flip-num>.f-i.f-b {
    z-index: 1
}

.flip-num>.f-j.f-t {
    z-index: 1
}

.flip-num>.f-j.f-b {
    z-index: 2;
    -ms-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg)
}

.flip-num.ing>.f-i.f-t {
    -ms-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg)
}

.flip-num.ing>.f-j.f-b {
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.jp-info-wrap {
    position: absolute;
    z-index: 99;
    top: -223px;
    right: -120px;
    width: 585px;
    height: 500px;
    transition: top .5s;
    -moz-transition: top .5s;
    -webkit-transition: top .5s;
    -o-transition: top 0.5s
}

#gamenew-menu-placeholder.fixed .jp-info-wrap {
    top: -33px;
    right: -120px
}

.jp-info-top {
    width: 585px;
    height: 315px
}

.jp-info-bbin .jp-info-top {
    background: url("../image/layout/jackpot_rule_bbin.png") 0 0 no-repeat
}

.jp-info-3d .jp-info-top {
    background: url("../image/layout/jackpot_rule_3d.png") 0 0 no-repeat
}

.jp-info-mg .jp-info-top {
    background: url("../image/layout/jackpot_rule_mg.png") 0 0 no-repeat
}

.jp-info-text {
    background: url("../image/layout/jackpot_rule_y.png") 0 0 repeat-y;
    width: 325px;
    padding: 22px 130px 0;
    min-height: 50px;
    line-height: 20px;
    font-size: 14px;
    color: #000;
}

.jp-info-bot {
    background: url("../image/layout/jackpot_rule_bottom.png") 0 0 no-repeat;
    width: 585px;
    height: 70px
}

.jp-info-close {
    float: right;
    background: url("../image/layout/game_menu_close_icon.png") 0 0 no-repeat;
    width: 12px;
    height: 12px;
    margin: 48px 107px 0 0;
    cursor: pointer
}

.loading-jp {
    margin-top: 2px;
    width: 180px;
    text-align: left
}

.loading-jp i {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f7e268;
    margin: 0
}

.loading-jp i.loading-f {
    margin-left: 24px;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    -webkit-animation: myfirst .5s;
    -o-animation: myfirst .5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear
}

.loading-jp i.loading-l {
    animation: mylast .5s;
    -moz-animation: mylast .5s;
    -webkit-animation: mylast .5s;
    -o-animation: mylast .5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear
}

@keyframes myfirst {
    from {
        margin: 0 16px 0 16px;
        opacity: 0
    }
    to {
        margin: 0 0 0 48px;
        opacity: 1
    }
}

@keyframes mylast {
    from {
        margin: 0 10px 0 0;
        opacity: 1
    }
    to {
        margin: 0 0 0 10px;
        opacity: 0
    }
}

.ele-gamebanner-wrap {
    position: relative;
    width: 1000px;
    height: 244px;
    margin-top:-313px ;
    margin-bottom: 70px;
}

.ele-gamebanner-wrap .anythingWindow {
    overflow: hidden
}

.ele-gamebanner-fade {
    display: none
}

.ele-gamebanner-slider,
.ele-gamebanner-slider img {
    width: 1000px;
    height: 244px
}

.ele-gamebanner-slider {
    position: relative;
    overflow: hidden
}

.ele-gamebanner-slider .panel {
    float: left
}

.ele-gamebanner-slider .horizontal li {
    float: left
}

.ele-gamebanner-slider .fade li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0
}

.ele-gamebanner-slider .fade .activePage {
    z-index: 1
}

.ele-gamebanner-wrap .anythingControls {
    position: absolute;
    right: 14px;
    bottom: 15px;
    z-index: 5
}

.ele-gamebanner-wrap .thumbNav span {
    display: none
}

.ele-gamebanner-wrap .thumbNav li {
    float: left;
    line-height: 14px
}

.ele-gamebanner-wrap .thumbNav a {
    display: inline-block;
    margin: 0px 4px;
    height: 12px;
    width: 12px;
    text-decoration: none
}

.ele-gamebanner-wrap .thumbNav a.cur,
.ele-gamebanner-wrap .thumbNav a:hover {
    color: #FFBF00
}

.ele-gamebanner-wrap .thumbNav a.cur .fa-circle:before {
    content: "\f111 " !important
}

.ele-gamebanner-wrap .thumbNav a {
    color: #16181D
}

.ele-gamebanner-wrap .thumbNav a.cur .fa-circle {
    display: none
}

.ele-gamebanner-wrap .thumbNav a .fa-circle-o {
    display: none
}

.ele-gamebanner-wrap .thumbNav a.cur .fa-circle-o {
    display: block;
    position: relative;
    top: 2px
}

.elenew-hall-3D {
    width: 30px;
    background-image: url("../image/layout/hall-3d.png")
}

#gamenew-menu-placeholder,
.gamenew-menu {
    height: 80px
}

.gamenew-menu-bgcolor {
    background-color: #B5271D;
    margin: 0 auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7)
}

.gamenew-menu {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    background-color: #B5271D;
    box-sizing: border-box
}

.fixed .gamenew-menu-fixed {
    position: fixed;
    width: 100%;
    height: 0;
    z-index: 99;
    top: 0
}

#gamenew-menu-placeholder.fixed .gamenew-menu-fixed {
    top: 0px
}

.fixed .gamenew-menu {
    width: 1000px
}

.gamenew-menu-title {
    float: left;
    width: 366px;
    border-right: 1px solid #CF2E21;
    border-left: 1px solid #972117
}

.gamenew-hall-current.gamenew-hall-open {
    box-shadow: 0 2px 5px 0 #AAA
}

.gamenew-menu-hallselect {
    float: left;
    height: 100%;
    box-sizing: border-box;
    padding: 25px 10px 13px;
    border-left: 1px solid #FFF;
    font-size: 23px;
    background: linear-gradient(#F2F2F2, #E9E9E9);
    color: #555;
    cursor: pointer
}

.elenew-game-nav i {
    margin-top: 22px;
    font-size: 38px;
    color: #FFF
}

.gamenew-menu-title,
.nav-normal>a {
    height: 100%;
    box-sizing: border-box
}

.gamenew-menu ul.mega-menu li.nav-normal,
.gamenew-menu-hallselect {
    border-right: 1px solid #FFF;
    border-left: 1px solid #d8d8d8
}

.nav-normal>a {
    padding: 0 25px;
    line-height: 19px;
    text-decoration: none
}

.nav-icon {
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    transition: all 0.2s ease
}

#elenew-search-wrap {
    height: 35px;
    position: relative;
    bottom: 0;
    margin: 0 15px 0 0
}

#elenew-search-wrap label {
    top: 18px;
    left: 6px
}

#elenew-search-wrap label {
    width: 150px
}

#elenew-search-wrap .elenew-search-btn {
    cursor: pointer;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 18px;
    text-align: center;
    color: #FFF;
    background-color: #AAA
}

#elenew-search-wrap .elenew-search-btn.search-active {
    color: #FFF;
    background-color: #555
}

#elenew-search-wrap .elenew-search-btn i {
    margin-top: 5px
}

.elenew-game-nav a i.nav-icon-pt {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    transition: all .2s ease;
    background: url("../image/layout/pt_icon.png") 0 0 no-repeat;
    padding-left: 8px;
    background-position: 10px 0
}

.elenew-game-nav a i.nav-icon-news {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 33px;
    transition: all .2s ease;
    background: url("../image/layout/new_icon.gif") 0 0 no-repeat
}

#elenew-search-wrap {
    position: relative;
    float: right;
    width: 300px
}

#elenew-search-wrap .elenew-search-input {
    float: right;
    width: 268px;
    height: 35px;
    line-height: 35px;
    margin-right: 17px;
    border-radius: 18px 0 0 18px;
    background-color: #FFF;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #000
}

#elenew-search-wrap .elenew-search-input input {
    width: 250px;
    height: 35px;
    line-height: 35px\9;
    border: 0;
    background-color: transparent;
    outline: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #000
}

#elenew-search-wrap::-webkit-input-placeholder {
    color: #777
}

#elenew-search-wrap:-ms-input-placeholder {
    color: #777
}

#elenew-search-wrap::-moz-input-placeholder {
    color: #777
}

#elenew-search-wrap label {
    position: absolute;
    cursor: text;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #777
}

#elenew-search-wrap .elenew-search-btn {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
    cursor: pointer;
    outline: 0
}

@media all and (-webkit-bb: 0) {
    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none
    }
}

.elenew-live-view {
    float: right;
    margin: 3px 0 0 10px
}

.elenew-live-view span {
    float: left;
    padding: 0 17px;
    background: url("../image/layout/viewbtn_line.png") no-repeat 0 0
}

.elenew-live-view a {
    display: block;
    width: 28px;
    height: 28px;
    font-size: 28px;
    line-height: 28px;
    padding-top: 1px;
    color: #9E9E9E;
    font-family: arial
}

.elenew-live-view a:hover,
.elenew-live-view a.view-active {
    color: #FFF
}

.elenew-serch-noresult {
    color: #B5271D !important
}

.elenew-game-nav {
    position: relative;
    float: left;
    width: 357px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    border-right:#972117 1px solid; 
}

.elenew-gn-btn {
    float: left;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    z-index: 5;
    
}

.elenew-gn-btn:before {
    position: absolute;
    top: 0;
    left: 1px;
    content: '';
    height: 100%;
    width: 1px;
    background-color: #CF2E21
}

.elenew-gn-btn:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 1px;
    background-color: #972117
}

.elenew-gn-btn:hover:before,
.elenew-gn-btn:hover:after {
    background: #6E1710
}

.elenew-gn-btn.gn-active:before,
.elenew-gn-btn.gn-active:after {
    display: none
}

.elenew-gn-btn .fa-times {
    display: none;
    color: #FFF
}

.elenew-gn-btn:hover {
    background: #6E1710
}

.elenew-gn-btn.gn-active {
    background-color: #6E1710
}

.elenew-gn-btn.gn-active .fa-bars {
    display: none
}

.elenew-gn-btn.gn-active .fa-times {
    display: block
}

.elenew-gn-wrap {
    display: none;
    position: absolute;
    z-index: 4;
    top: 100%;
    left: 0;
    width: 559px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.7);
    background-color: #444
}

.elenew-gn-innerwrap {
    width: 100%;
    background: url(../image/layout/gn_border.png) repeat-y 358px 0
}

.elenew-game-menu1 {
    float: left;
    width: 359px;
    border-right: 1px solid #333;
    padding: 8px 13px 10px 14px;
    box-sizing: border-box
}

.elenew-game-menu2 {
    float: left;
    width: 198px;
    padding: 22px 0 10px;
    color: #747474;
    border-left: 1px solid #555
}

.elenew-gm-bottom {
    background-color: #18C49F;
    width: 100%;
    height: 8px
}

#gm-no-3.elenew-gm-1.gm-no-hover {
    color: #747474
}

.elenew-gm-1 {
    float: left;
    width: 100px;
    height: 90px;
    text-align: center;
    color: #747474;
    font-size: 12px;
    margin: 18px 5px;
    text-decoration: none
}

.elenew-game-menu2 .elenew-gm-1 {
    float: none;
    display: block;
    margin: 0 auto 4px
}

.elenew-gm-1.gm-active,
.elenew-gm-1:hover {
    color: #FFF
}

.elenew-gm-1.gm-active .gm-icon,
.elenew-gm-1:hover .gm-icon {
    background-position: 0 100%
}

#gm-no-3.gm-no-hover .gm-icon {
    background-position: 0 0
}

.gm-icon {
    display: block;
    margin: 0 auto 3px;
    width: 70px;
    height: 70px
}

.gm-icon-2 {
    background-image: url(../image/layout/gn_hotGames_icon.png)
}

.gm-icon-1 {
    background-image: url(../image/layout/gn_newGames_icon.png)
}

.gm-icon-85 {
    background-image: url(../image/layout/gn_featured_icon.png)
}

.gm-icon-3 {
    background-image: url(../image/layout/gn_slotMachines_icon.png)
}

.gm-icon-5 {
    background-image: url(../image/layout/gn_tableGames_icon.png)
}

.gm-icon-82 {
    background-image: url(../image/layout/gn_arcade_icon.png)
}

.gm-icon-83 {
    background-image: url(../image/layout/gn_crazyScratchCards_icon.png)
}

.gm-icon-84 {
    background-image: url(../image/layout/gn_bbin_icon.png)
}

.gamenew-hall-23 .gm-icon-84 {
    background-image: url(../image/layout/gn_mg_icon.png)
}

.gm-icon-81 {
    background-image: url(../image/layout/gn_jackpot_icon.png)
}

.gm-icon-35 {
    background-image: url(../image/layout/gn_favorites_icon.png)
}

.elenew-game-menu2:hover .gm-icon-3 {
    background-position: 0 100%
}

.elenew-game-menu2:hover .elenew-gm-1 .gm-name {
    color: #FFF
}

.elenew-gm-2 {
    display: block;
    padding: 3px 14px 4px 24px;
    line-height: 27px;
    color: #6C6C6C;
    text-align: left;
    text-decoration: none
}

.elenew-gm-2.gm-active,
.elenew-gm-2:hover {
    color: #FFF
}

.elenew-gm-2 .gm-num {
    float: right;
    width: 25px;
    height: 25px;
    text-align: center
}

.elenew-gm-2.gm-active .gm-num,
.elenew-gm-2:hover .gm-num {
    background-color: #18c49f;
    border-radius: 99em
}

.gamenew-menu-hallmenu {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px
}

.gamenew-hall-current {
    transition: transform .3s, box-shadow .3s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0
}

.gamenew-hall-current.gamenew-hall-open {
    transform: rotateX(45deg);
    -webkit-transform: rotateX(45deg);
    -moz-transform: rotateX(45deg)
}

.gamenew-menu-hallmenu a {
    float: left;
    width: 180px;
    height: 100%;
    border-left: 1px solid #CF2E21;
    border-right: 1px solid #972117
}

.gamenew-menu-hallmenu a:hover,
.gamenew-menu-hallmenu a.gamenew-hall-current {
    position: relative;
    background: #6E1710;
    border-left: 1px solid #6E1710;
    border-right: 1px solid #6E1710
}

.gamenew-menu-hallmenu a:hover:before,
.gamenew-menu-hallmenu a.gamenew-hall-current:before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: 1px;
    height: 100%;
    background: #6E1710
}

.gamenew-menu-hallmenu a:hover:after,
.gamenew-menu-hallmenu a.gamenew-hall-current:after {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 1px;
    height: 100%;
    background: #6E1710
}

.gamenew-menu-hallmenu a span {
    background: url(../image/layout/game_menu_bbin.png) no-repeat;
    display: block;
    width: 100%;
    height: 100%
}

.gamenew-logo-bb {
    background: url(../image/layout/game_menu_bbin.png) no-repeat 50% 50%;
    display: block;
    width: 100%;
    height: 100%;
    
}

.gamenew-hall-bb {
    border-top: 0
}

.gamenew-menu-hallmenu a.gamenew-hall-mg span {
    background-position: 50% -80px
}

.elenew-live-trace .elenew-trace-title {
    font-size: 24px;
    color: #FFF
}

.red {
    color: #FFF
}

.gamenew-trace-num {
    color: red
}

.menu-border-bg {
    width: 1px;
    height: 70px;
    background-color: #d8d8d8
}

.gamenew-menu-trace {
    width: 1000px;
    margin: 22px auto 0
}

.elenew-live-trace {
    float: left;
    margin: 2px 0 0 16px
}

.elenew-trace-sub {
    margin: 8px 0 0 5px;
    color: #FFF
}

.elenew-trace-sub span {
    float: left
}

.gamenew-trace-option a span {
    float: none
}

.elenew-live-trace>span {
    float: left
}

.gamenew-trace {
    position: relative;
    padding: 0 5px
}

.gamenew-trace-option {
    display: none;
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 50%;
    height: auto;
    width: 60px;
    padding: 3px;
    margin-left: -33px;
    border-radius: 0 0 5px 5px;
    background: url("../image/layout/login_area_bg.png") repeat
}

.gamenew-trace-option a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #EEE;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.gamenew-trace-option a:hover {
    color: #FFF;
    background: #000;
    text-decoration: underline
}

.gamenew-trace-current {
    cursor: pointer
}
