    a img {
        border: none;
    }
    
    .cl:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    
    .cl {
        zoom: 1;
    }
    
    .frame {
        margin-bottom: 10px;
        border: 1px solid #e1e1e1;
        background: #FFF;
    }
    
    .block {
        margin: 10px 10px 0;
    }
    
    .slideshow {
        clear: both;
    }
    
    .slideshow li {
        position: relative;
        overflow: hidden;
    }
    
    .slideshow span.title {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        width: 100%;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        text-indent: 10px;
    }
    
    .slideshow span.title,
    .slidebar li {
        background: rgba(0, 0, 0, 0.3);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#30000000, endColorstr=#30000000);
        color: #FFF;
        overflow: hidden;
    }
    
    .slidebar li {
        float: left;
        margin-right:6px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
    }
    
    .slidebar li.on {
        background: rgba(255, 255, 255, 0.5);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#50FFFFFF, endColorstr=#50FFFFFF);
        color: #000;
/*        font-weight: 1000;*/
    }
    
    ul,
    li {
        list-style: none;
    }
    
    a:hover {
        text-decoration: underline;
        color: #a50001;
    }
    
    .frame {
        background: none;
        border: 0px solid #fff;
        margin-bottom: 0px;
    }
    
    .temp {
        margin: 0;
    }
    
    .slidebar {
        position: absolute;
        top: 285px;
        left:620px;
    }
    
    .slideshow span.title,
    .slidebar li {
        background: rgb(0, 0, 0);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#90000000, endColorstr=#90000000);
        color: #FFF;
        overflow: hidden;
    }
    
    .slidebar li.on {
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#90000000, endColorstr=#90000000);
        color: #FFF;
/*        font-weight: 700;*/
        background-color: rgb(162, 0, 0 );
    }
    
    .slideshow SPAN.title {
        text-indent: 0px;
    }
    
    .block {
        margin: 0;
        position: relative;
    }
    
    #frameHlicAe {
        margin: 0px !important;
        border: 0px !important;
    }
    
    .comiis_wrap960
     {
        width: 1000px;
        height: 250px;
        margin-right: auto;
        margin-left: auto;
        clear: both;
    }
    
    .comiis_wrapad {
        float: left;
	margin: 5px 0 5px 7px;
    }
    
    .comiis_wrapad {
        overflow: hidden;
    }
    
    .comiis_wrapad img {
        margin-top: 0px;
        float: left;
    }
    
    #slidesImgs li {
        width: 666px;
        height:313px;
        display: none;
    }