@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------------------ 變數目錄 --------------------------------------*/
/*---------------------------- 基本變數 ----------------------------------------------*/
/*---------------------------- 背景設定 ----------------------------------------------*/
/*---------------------------- 文字屬性 ----------------------------------------------*/
/*---------------------------- BOX 區塊屬性 ------------------------------------------*/
/*---------------------------- 各類選單屬性 -------------------------------------------*/
/*---------------------------- 基本變數 ----------------------------------------------*/
/*---------------------------- 基本變數 end ------------------------------------------*/
/*---------------------------- 背景設定 ----------------------------------------------*/
/*---------------------------- 背景設定 end ------------------------------------------*/
/*---------------------------- 文字屬性 ----------------------------------------------*/
/*---------------------------- 文字屬性 end ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 end --------------------------------------*/
/*---------------------------- 各類選單屬性 -------------------------------------------*/
/*---------------------------- 各類選單屬性 end ---------------------------------------*/
/*---------------------------- 各類選單屬性 end ---------------------------------------*/
.ele-slideshow-wrap {
  position: relative;
}
.ele-slideshow-wrap ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 246px;
}
.ele-slideshow-wrap ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 246px;
  -webkit-backface-visibility: hidden;
}
.ele-slideshow-wrap ul li a {
  display: block;
}
.ele-slideshow-wrap ul li a img {
  display: block;
  max-width: 100%;
  height: auto;
  float: left;
}
.ele-slideshow-wrap ul li a .img {
  width: 100%;
  height: 246px;
  background-position: top center;
  background-repeat: no-repeat;
}

.ele-slideshow-scroll {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 246px;
  overflow: hidden;
  margin: 0 auto;
}

.ele-slideshow-control-wrap {
  position: absolute;
  z-index: 1;
  bottom: 10px;
}

.lang-wrap a {
  float: left;
  width: 22px;
  height: 20px;
  margin: 0 2px;
  background: url('../image/not-use/flag.png') top no-repeat;
}
.lang-wrap a.flag01 {
  background-position: 0px 0px;
}
.lang-wrap a.flag02 {
  background-position: 0px -40px;
}
.lang-wrap a.flag03 {
  background-position: 0px -80px;
}

.block {
  position: relative;
  min-height: 1px;
  float: left;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: STHeiti, "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", arial;
  font-size: 12px;
  line-height: 1.8;
  color: #FFF;
  background-color: #463655;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input, button, select, textarea {
  outline: none;
}

*:focus {
  outline: none;
}

a {
  color: #FFF;
  text-decoration: none;
}
a:hover, a:focus {
  color: #CD6481;
  text-decoration: none;
}

#L-Sub {
  position: relative;
  z-index: 9999;
  clear: both;
}
#L-Sub div {
  display: none;
  position: absolute;
  z-index: 9999;
}
#L-Sub div a {
  float: left;
  display: block;
  padding: 0 4px;
}
#L-Sub span {
  display: block;
  float: left;
}

#U-Sub {
  position: relative;
  z-index: 9999;
  float: left;
}

/*主要置中區塊*/
.wrapper, .footer {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper:before, .footer:before, .wrapper:after, .footer:after {
  content: "";
  display: table;
}
.wrapper:after, .footer:after {
  clear: both;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* 主要區塊 */
#mainBody,
#page-header,
#page-container,
#page-footer {
  margin: 0 auto;
}

#mainBody {
  width: 100%;
  min-height: 1080px;
  background: url('../image/bg02.jpg') no-repeat center top;
}
.first #mainBody {
  min-height: 1080px;
  background: url('../image/bg01.jpg') no-repeat center top;
}

#page-body {
  width: 1000px;
  background: url('../image/page_body_bg.png') repeat-x left top;
  padding: 5px 0 20px;
  margin: 0 auto;
}
.first #page-body, .game #page-body {
  background: none;
  padding: 0;
}

#page-footer {
  background: url('../image/footer_bg_x.png') repeat-x left top;
  padding-bottom: 20px;
}

#header {
  width: auto;
}
#header .header-top {
  position: relative;
  clear: both;
  margin: 0 auto;
  height: 114px;
}
#header .header-right {
  float: right;
  width: 400px;
  margin-right: 20px;
}
#header .header-right.right02 {
  width: 225px;
}
#header .logo {
  float: left;
  margin: 29px 0 0 7px;
  width: 122px;
  height: 84px;
  background: url('../image/logo.png') no-repeat;
}
#header .logo:hover {
  background-position: bottom;
}

/*--------------------語系---------------------*/
.lang-wrap {
  float: right;
  height: 22px;
  margin-top: 6px;
}

/* NAV */
.mainnav-wrap {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background: url('../image/nav_bg_x.jpg') repeat-x left top;
}
.mainnav-wrap .mainnav {
  margin: 0 auto;
  width: 1000px;
  height: 50px;
  padding-left: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url('../image/nav_bg.jpg') no-repeat left top;
}
.mainnav-wrap .mainnav li {
  float: left;
  text-align: center;
  width: 88px;
  margin-right: 15px;
}
.mainnav-wrap .mainnav li a {
  display: block;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif, "新細明體";
  font-size: 12px;
  line-height: 49px;
  color: #FFF;
}
.mainnav-wrap .mainnav li a:hover {
  color: #FFF;
}
.mainnav-wrap .mainnav li a:hover, .mainnav-wrap .mainnav li a.current {
  background: url('../image/nav_btn.png') no-repeat center center;
}
.mainnav-wrap .mainnav li .nav-space {
  letter-spacing: 5px;
}

/*次選單的css樣式設定*/
.ele-drop-group a {
  display: block;
  width: 110px;
  font-size: 12px;
  line-height: 30px;
  color: #E7CCD6;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #544066;
  background-color: #3F304C;
}
.ele-drop-group a:hover {
  color: #d76aff;
}

#loginBox {
  width: 500px;
  height: 85px;
  float: right;
}

/*login*/
#login {
  float: right;
  margin-right: 10px;
  margin-top: 0px;
  width: 144px;
}
#login .co {
  width: 40px;
  height: 18px;
  background: url('../image/not-use/co.jpg') no-repeat;
}
#login .login-unit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 22px;
  color: #E7CCD6;
  width: 146px;
  height: 26px;
  background: url('../image/loginInput_bg.png') no-repeat;
  background-color: transparent;
  border: none;
}

.login-list-wrap {
  float: right;
  width: 75px;
  height: 84px;
}
.login-list-wrap .login-list {
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.login-list-wrap .login-list a {
  margin-bottom: 2px;
  text-decoration: none;
  width: 70px;
  display: block;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}
.login-list-wrap .login-list a:hover {
  color: #cccccc;
}

.btn-login {
  float: right;
  display: block;
  margin-right: 0px;
  margin-top: 5px;
  width: 76px;
  height: 30px;
  background: url('../image/lang/zh-cn/btn_login.png') no-repeat;
}
.btn-login:hover {
  background-position: bottom;
}

.logon-list {
  position: absolute;
  top: 170px;
  left: 470px;
  height: 20px;
  font-weight: normal;
}
.logon-list ul li {
  display: inline;
  font-size: 12px;
  line-height: 20px;
  color: #DAD2DA;
}
.logon-list ul li a {
  color: #DAD2DA;
}
.logon-list ul li a:hover {
  color: #fff;
}
.logon-list ul {
  width: 500px;
  text-align: -webkit-right;
}
.logon-list ul li {
  margin-left: 6px;
}
.logon-list ul li a {
  text-decoration: none;
}

.logon-list-Inside {
  top: 287px;
  left: 490px;
}

.logon-list-casino {
  clear: both;
  margin: 0 auto;
  width: 1000px;
  font-weight: normal;
}
.logon-list-casino ul li {
  display: inline;
  font-size: 12px;
  line-height: 20px;
  color: #DAD2DA;
}
.logon-list-casino ul li a {
  color: #DAD2DA;
}
.logon-list-casino ul li a:hover {
  color: #fff;
}
.logon-list-casino ul {
  text-align: right;
  float: right;
  width: 500px;
  margin: 3px 10px 0 0;
}
.logon-list-casino ul li {
  margin-left: 6px;
}

#logoutBox {
  float: right;
  position: relative;
  height: 84px;
  width: 225px;
  background-image: url(../image/lang/zh-cn/mem_info_bg.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-top: 0px;
  margin-left: 0px;
}

.meminfo-wrap, .ele-acc-name, .ele-acc-unit, .ele-accinfo, .ele-obalance-wrap, .ele-other-balance {
  display: inline-block;
}

.ele-obalance-item-wrap {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 270px;
  color: #000;
  background: #fff;
}
.ele-obalance-item-wrap .ele-obalance-item {
  padding: 10px;
}
.ele-obalance-item-wrap .ele-obalance-item .ele-obalance {
  line-height: 16px;
  padding-bottom: 4px;
}
.ele-obalance-item-wrap .ele-balance-tool {
  text-align: right;
  padding: 4px;
  background-color: #B55979;
  border-top: 1px solid darden(#B55979, 15%);
}
.ele-obalance-item-wrap .ele-balance-tool > a {
  display: inline-block;
  -webkit-transition: background-color .20s linear;
  transition: background-color .20s linear;
  padding: 4px 8px;
  color: #000;
  background-color: #fff;
}
.ele-obalance-item-wrap .ele-balance-tool > a:hover {
  background-color: #f2f2f2;
}

.meminfo-wrap {
  font-family: "新細明體";
  float: left;
  margin: 32px 0px 0px 20px;
  font-size: 12px;
  width: 160px;
}

/*banner輪播 end--------------*/
.first-banner-wrap {
  width: 900px;
  margin: 0 auto;
  margin-top: 27px;
  margin-left: 45px;
}
.first-banner-wrap .ele-slideshow-wrap {
  float: left;
  width: 626px;
}
.first-banner-wrap .ele-slideshow-wrap .ele-slideshow-nav {
  padding-left: 10px;
}
.first-banner-wrap .ele-slideshow-wrap .ele-slideshow-nav a {
  display: inline-block;
  float: left;
  margin-left: 5px;
  text-align: center;
  width: 26px;
  height: 26px;
  text-decoration: none;
  cursor: pointer;
  font-size: 10px;
  line-height: 26px;
  color: #6C6C6C;
  background: url(../image/slider_ctrl.png) no-repeat left top;
}
.first-banner-wrap .ele-slideshow-wrap .ele-slideshow-nav a:hover {
  color: #FFF;
}
.first-banner-wrap .ele-slideshow-wrap .ele-slideshow-nav a.active, .first-banner-wrap .ele-slideshow-wrap .ele-slideshow-nav a:hover {
  background-position: bottom center;
  color: #FFF;
}

.first-btn {
  float: right;
  margin: 12px auto 0;
  width: 250px;
  margin-right: 12px;
  overflow: hidden;
}
.first-btn .btn-promotions {
  margin-top: 8px;
  float: left;
  width: 250px;
  height: 68px;
  background: url('../image/lang/zh-cn/btn_memberexclusiveii.png') no-repeat;
}
.first-btn .btn-promotions:hover {
  background-position: bottom;
}
.first-btn .btn-joinus {
  float: left;
  width: 250px;
  height: 68px;
  background: url('../image/lang/zh-cn/btn_joinus.png') no-repeat;
}
.first-btn .btn-joinus:hover {
  background-position: bottom;
}
.first-btn .btn-service {
  float: left;
  width: 250px;
  height: 68px;
  background: url('../image/lang/zh-cn/btn_service.png') no-repeat;
  margin-top: 8px;
}
.first-btn .btn-service:hover {
  background-position: bottom;
}
.first-btn .btn-welcome {
  float: left;
  width: 250px;
  height: 68px;
  background: url('../image/lang/zh-cn/btn_welcome.png') no-repeat;
}

.first-news {
  margin: 0 auto;
  margin-top: 43px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 832px;
  height: 26px;
}
.first-news marquee {
  float: left;
  font: 12px/22px "微軟正黑體";
  line-height: 26px;
  height: 26px;
  color: #F0DFE5;
}

/*game輪播 start--------------*/
#game-wrap {
  clear: both;
  overflow: hidden;
  position: relative;
  margin-top: 92px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 35px;
  height: 147px;
  background: url('../image/game_bg.png') no-repeat center top;
}

.box {
  position: relative;
  width: 858px;
  float: left;
  height: 90px;
  overflow: hidden;
  margin-left: 75px;
  margin-top: 30px;
}

#prev {
  position: absolute;
  width: 23px;
  height: 40px;
  background: url('../image/game_arrow01.png') no-repeat;
  top: 54px;
  left: 35px;
}
#prev:hover {
  background-position: bottom;
}

#next {
  position: absolute;
  width: 23px;
  height: 40px;
  background: url('../image/game_arrow02.png') no-repeat;
  top: 54px;
  right: 35px;
}
#next:hover {
  background-position: bottom;
}

#prev,
#next {
  text-indent: -9999px;
}

.scroll {
  CURSOR: pointer;
}

.pics {
  position: absolute;
  width: 5000px;
}

.pics li {
  FLOAT: left;
  WIDTH: 858px;
  HEIGHT: 90px;
  OVERFLOW: hidden;
  list-style: none;
}

.pics li p {
  POSITION: relative;
  FLOAT: left;
  OVERFLOW: hidden;
}

a.game01,
a.game02,
a.game03,
a.game04,
a.game05,
a.game06,
a.game07,
a.game08,
a.game09,
a.game10 {
  display: block;
  float: left;
  width: 160px;
  height: 90px;
  margin-right: 13px;
  text-decoration: none;
  text-indent: -9999px;
}

a.game01,
a.game07 {
  background: url('../image/lang/zh-cn/game01.jpg') no-repeat left top;
}
a.game01:hover,
a.game07:hover {
  background: url('../image/lang/zh-cn/game01_over.jpg') no-repeat left top;
}

a.game02,
a.game08 {
  background: url('../image/lang/zh-cn/game02.jpg') no-repeat left top;
}
a.game02:hover,
a.game08:hover {
  background: url('../image/lang/zh-cn/game02_over.jpg') no-repeat left top;
}

a.game03,
a.game09 {
  background: url('../image/lang/zh-cn/game03.jpg') no-repeat left top;
}
a.game03:hover,
a.game09:hover {
  background: url('../image/lang/zh-cn/game03_over.jpg') no-repeat left top;
}

a.game04,
a.game10 {
  background: url('../image/lang/zh-cn/game04.jpg') no-repeat left top;
}
a.game04:hover,
a.game10:hover {
  background: url('../image/lang/zh-cn/game04_over.jpg') no-repeat left top;
}

a.game10 {
  margin-right: 0px;
}

a.game05 {
  margin-right: 0px;
  background: url('../image/lang/zh-cn/game05.jpg') no-repeat left top;
}
a.game05:hover {
  background: url('../image/lang/zh-cn/game05_over.jpg') no-repeat left top;
}

a.game06 {
  margin-left: 0px;
  background: url('../image/lang/zh-cn/game06.jpg') no-repeat left top;
}
a.game06:hover {
  background: url('../image/lang/zh-cn/game06_over.jpg') no-repeat left top;
}

/*game輪播 end--------------*/
.footer .bbinlogo,
.footer .ublogo {
  display: inline-block;
  vertical-align: top;
}
.footer .footer-list {
  text-align: right;
  margin: 3px 20px 0 0;
  height: 45px;
}
.footer .footer-list li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
}
.footer .footer-list li:before {
  content: "|";
  padding-right: 15px;
}
.footer .footer-list li.last:before {
  content: "";
}
.footer .footer-list li a {
  color: #FFF;
  text-decoration: none;
}
.footer .footer-list li a:hover {
  color: #937fa2;
}
.footer .copyright {
  float: right;
  margin-top: 10px;
  margin-right: 25px;
  font-size: 12px;
  line-height: 20px;
  color: #857492;
}

.title-wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px auto;
  margin-top: 29px;
  width: 1000px;
  overflow: hidden;
}
.title-wrap .title {
  width: 100%;
  height: 115px;
}
.title-wrap .title.title-welcome {
  background: url('../image/lang/zh-cn/title_welcome.png') no-repeat center top;
}
.title-wrap .title.title-live {
  background: url('../image/lang/zh-cn/title_live.png') no-repeat center top;
}
.title-wrap .title.title-lottery {
  background: url('../image/lang/zh-cn/title_lottery.png') no-repeat center top;
}
.title-wrap .title.title-event {
  background: url('../image/lang/zh-cn/title_memberexclusiveii.png') no-repeat center top;
}
.title-wrap .title.title-sports {
  background: url('../image/lang/zh-cn/title_sports.png') no-repeat center top;
}
.title-wrap.casino-banner-wrap {
  margin-top: 0px;
  height: 244px;
}

/*------------------about----------------------*/
#page-left {
  float: left;
  margin-top: 0px;
  margin-left: 52px;
  margin-bottom: 100px;
}

.sidebar-top {
  width: 226px;
  height: 16px;
  display: block;
  background: url('../image/sidebar_top.png') no-repeat center top;
}

.sidebar-bottom {
  width: 226px;
  height: 44px;
  background: url('../image/sidebar_bottom.png') no-repeat center top;
}

.sidebar-middle {
  background: url('../image/sidebar_bg_y.png') repeat-y left bottom;
}

.sidebar {
  width: 226px;
  height: auto;
  background: url('../image/sidebar_bg.png') no-repeat center top;
}
.sidebar li {
  width: 226px;
  height: 38px;
}
.sidebar li a {
  display: block;
  text-align: center;
  color: #FFF;
  font-family: "微软雅黑";
  font-size: 12px;
  line-height: 38px;
  text-decoration: none;
  background: url('../image/sidebar_line.png') no-repeat center top;
}
.sidebar li a:hover {
  text-decoration: none;
  background: url('../image/sidebar_over.png') no-repeat center top;
}

#page-right {
  float: right;
  margin-bottom: 0px;
  width: 600px;
  height: auto;
  margin-right: 55px;
  margin-top: 38px;
  font-family: "新細明體";
}
#page-right .right-bg-wrap {
  float: left;
  margin: 0 auto;
  width: 100%;
}
#page-right .right-bg-wrap .txt-wrap {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 40px;
  width: 80%;
  height: 90%;
}
#page-right .right-bg-wrap .txt-wrap .about-title {
  float: left;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 22px;
  padding-bottom: 15px;
  width: 600px;
  text-align: left;
  height: 39px;
  line-height: 39px;
  font-size: 12px;
  font-weight: bold;
  color: #DED6DF;
}
#page-right .right-bg-wrap .txt-wrap .about-text {
  font-size: 12px;
  margin: 20px;
  color: #E6CCD6;
}
#page-right .right-bg-wrap .txt-wrap .about-text p {
  margin: 1.5em 0;
  line-height: 2em;
}

.livetop-wrap, .ltlottery-wrap {
  padding: 20px 0;
}

/*event*/
.event-wrap {
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  height: auto;
}

.events {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 940px;
  height: 120px;
  font: 30px/120px Arial;
  background-color: #CDC4CD;
  font: #666;
}

/*-----------------BB體育css*/
.ball-wrap {
  margin-top: 20px !important;
}

/*# sourceMappingURL=style.css.map */