/* --- 首頁輪播 --- */
@if $first-slider==true {
    .ele-slideshow-wrap {
        position: relative;
        display: block;
        z-index: 2;
        margin: 0;
        width: 71.4%;
        float: right;
        @media screen and (max-width: 1200px) {
          width: 80%;  
        }
        @include MQ(tablet) {
          width: 88%;
          margin-top: 4%;  
        }
        @include MQ(mobile) {
          width: 83%;
          margin-top: 4%;   
        }
        ul {
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            li {
                left: 0;
                top: 0;
                width: 100%;
                a {
                    display: block;
                    img {
                        width: 100%;
                        height: auto;
                        background-position: top center;
                        background-repeat: no-repeat;
                        background-size:100%;
                    }
                }
            }
        }
    }
    
    .ele-slideshow-scroll {
        z-index: 1;
        margin: 0 auto;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .js-ele-slideshow-control-wrap {
        position: absolute;
        z-index: 9;
    }

    .ele-slideshow-arrow-wrap {
        position: absolute;
        top: 0%;
        margin: 50% 0 0 -80px;
        @include MQ(mobile) {
          margin: 45% 0 0 -70px;  
        }
        .ele-slideshow-arrow {
            //position: absolute;
            float: left;
            z-index: 9;
            display: inline-block;
            width: 80px;
            height: 80px;
            background: image-url("slider_arrow.png") 0 0 no-repeat;
            opacity: 0.5;

            &.ele-slideshow-arrow-right {
                right: 0;
                background-position: -80px 0;
            }
            &:hover {
                opacity: 1;
            }
            @include MQ(mobile) {
              width: 60px;
              height: 60px; 
              background-size:200%;
              &.ele-slideshow-arrow-right {
                right: 0;
                background-position: -50px 0;
            }
            }
        }
    }

    .ele-slideshow-nav {
        > a {
            display: inline-block;
            width: 12px;
            height: 12px;
            background: image-url("slider_ctrl.png") 0 0 no-repeat;
            margin: 0 4px;
            &.active {
                background-position: -12px 0;
            }
        }
    }

} else {}







