@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.ele-slideshow-wrap {
  position: relative;
}
.ele-slideshow-wrap ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 470px;
}
.ele-slideshow-wrap ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 470px;
  -webkit-backface-visibility: hidden;
}
.ele-slideshow-wrap ul li a {
  display: block;
}
.ele-slideshow-wrap ul li a img {
  display: block;
  max-width: 100%;
  height: auto;
  float: left;
}
.ele-slideshow-wrap ul li a .img {
  width: 100%;
  height: 470px;
  background-position: top center;
  background-repeat: no-repeat;
}

.ele-slideshow-scroll {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 470px;
  overflow: hidden;
  margin: 0 auto;
}

.ele-slideshow-control-wrap {
  position: absolute;
  z-index: 1;
  bottom: 10px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif, "新細明體";
  background-color: #161721;
}

a {
  text-decoration: none;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

/*基本框架*/
#mainBody {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #313248;
  background-position: top center;
  background-repeat: no-repeat;
}

#page-header {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
#page-container {
  position: relative;
  display: block;
  width: 1024px;
  height: auto;
  margin: 0 auto;
}
#page-container1 {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  background: url(../image/bg_top.jpg) top repeat-x #313248;
}
#page-footer {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background: #181820;
}
#page-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 48px;
  background: #535061;
}

/*footer*/
.footer {
  position: relative;
  z-index: 2;
  display: block;
  width: 1024px;
  height: auto;
  margin: 0 auto;
}
.footer-list {
  display: block;
  width: 100%;
  height: 48px;
  font-size: 12px;
  color: #161721;
  text-align: right;
  padding: 18px 90px 0 378px;
}
.footer-list li {
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #161721;
}
.footer-list li a {
  padding: 0 12px;
  color: #161721;
}
.footer-list li a:hover {
  color: #857492;
}
.footer-list li:last-child {
  border-right: none;
  padding-right: 0px;
}
.footer-bottom {
  position: relative;
  display: block;
  width: 100%;
  height: 110px;
}

.bbinlogo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: block;
  width: 62px;
  height: 30px;
  background: url(../image/bbin_logo.png) no-repeat top;
  background-size: auto 100%;
}

.ublogo {
  position: absolute;
  top: 20px;
  left: 90px;
  z-index: 1;
  display: block;
  width: 100px;
  height: 33px;
  background: url(../image/ublogo.png) no-repeat top;
}

.copyright {
  width: 100%;
  text-align: right;
  font-size: 12px;
  color: #5E5B6C;
  padding: 25px 120px 0 0;
}

/*header*/
.header {
  display: block;
  width: 1024px;
  height: auto;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
}
.header::after {
  content: "";
  position: absolute;
  top: 138px;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 20px;
  background: #CF664A;
}
.header-top {
  display: block;
  width: 756px;
  height: 51px;
  margin: 0 auto;
  padding: 0 10px;
  float: right;
}
.header-logo {
  display: block;
  width: 133px;
  height: 67px;
  margin: 15px 0 0 45px;
  float: left;
}
.header-logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../image/logo.png);
}
.header-logo a:hover {
  background-position: 0 bottom;
}
.header .mainnav {
  float: right;
  padding-top: 8px;
}
.header .mainnav li {
  position: relative;
  width: 124px;
  height: 42px;
  line-height: 42px;
  float: left;
  border-bottom: 2px solid #CF664A;
}
.header .mainnav li a {
  display: block;
  height: 42px;
  color: #fff;
  text-align: center;
  line-height: 42px;
  font-family: "微軟正黑體";
  font-size: 13px;
  font-weight: bold;
}
.header .mainnav li a:hover,
.header .mainnav li .current {
  background: #CF664A;
}

.lsub-inner-wrap a {
  display: block;
  width: 124px;
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  color: #fff;
  background: url(../image/sub_bg.jpg) repeat-x;
  border-bottom: 0;
}
.lsub-inner-wrap a:hover {
  color: #FBEB8C;
}

:hover .ls-item {
  display: block;
}

.login-lab {
  display: block;
  width: 140px;
  height: 25px;
  margin: 15px 10px 0 0;
  padding: 0 0 0 5px;
  font-size: 12px;
  color: #5E5A6C;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 4px;
  float: left;
}
.login-submit {
  display: block;
  width: 59px;
  height: 39px;
  margin: 8px 0 0 5px;
  background: url(../image/lang/zh-cn/btn_login.png) no-repeat left top;
  float: left;
}
.login-submit:hover {
  background: url(../image/lang/zh-cn/btn_login.png) no-repeat left top;
  background-position: 0 bottom;
}
.login-btn {
  display: block;
  width: 70px;
  height: auto;
  margin: 8px 0 0 10px;
  line-height: 19px;
  font-size: 12px;
}
.login-btn a {
  display: block;
  width: 100%;
  height: auto;
  color: #FFF;
  background: url(../image/member_bg02.png) top no-repeat;
  padding: 0 0 0 16px;
}
.login-btn a:hover {
  color: #CE664A;
  background-position: 0 bottom;
}

/* LOGON */
.meminfo-wrap {
  float: right;
  display: inline-block;
  width: 406px;
  color: #B297AD;
  line-height: 1.25;
  margin-top: 8px;
}
.meminfo-wrap .ele-acc-name, .meminfo-wrap .ele-acc-unit {
  display: inline-block;
}
.meminfo-wrap .ele-accinfo {
  padding-left: 3px;
}

.ele-balance-tool {
  border-top: 1px solid #999;
}

.meminfo-wrap, .ele-acc-name, .ele-acc-unit, .ele-accinfo, .ele-obalance-wrap, .ele-other-balance {
  display: inline-block;
}

.ele-obalance-item-wrap {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 270px;
  color: #333;
  background: #C7C8CA;
}
.ele-obalance-item-wrap .ele-obalance-item {
  padding: 10px;
}
.ele-obalance-item-wrap .ele-obalance-item .ele-obalance {
  line-height: 16px;
  padding-bottom: 4px;
}
.ele-obalance-item-wrap .ele-balance-tool {
  text-align: right;
  padding: 4px;
  background-color: #666;
  border-top: 1px solid false;
}
.ele-obalance-item-wrap .ele-balance-tool > a {
  display: inline-block;
  -webkit-transition: background-color .20s linear;
  transition: background-color .20s linear;
  padding: 4px 8px;
  color: #fff;
  background-color: #333;
}
.ele-obalance-item-wrap .ele-balance-tool > a:hover {
  background-color: #262626;
}

.member-list {
  width: 410px;
  line-height: 1.25;
  font-size: 12px;
  color: #C4B7C3;
  margin: 5px 0 0 0;
  padding: 0 0 0 5px;
  text-align: left;
  float: right;
}
.member-list a {
  color: #C4B7C3;
}
.member-list a:hover {
  color: #fff;
}
.member-list a::after {
  content: " | ";
}
.member-list a:last-child::after {
  content: "";
  display: none;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*語系下拉*/
.lang-wrap {
  position: relative;
  z-index: 999;
  display: block;
  width: 112px;
  height: 25px;
  margin: 15px 15px 0 0;
  padding: 5px 0;
  text-align: left;
  text-indent: 5px;
  font-size: 12px;
  background: url(../image/h_langbg.png) top center no-repeat;
  float: right;
}
.lang-title {
  position: relative;
  line-height: 15px;
  color: #5E5B6C;
  margin: 0 3px 0 0;
  cursor: pointer;
}
.lang-title::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 2px;
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7.5px 0 7.5px;
  border-color: #000 transparent transparent transparent;
}
.lang-option {
  position: absolute;
  top: 24px;
  z-index: 1000;
  display: none;
  width: 112px;
  line-height: 20px;
  background: #DDD;
  border-radius: 0 0 5px 5px;
}
.lang-option a {
  display: block;
  color: #5E5B6C;
  padding: 0 0 0 3px;
}
.lang-option a:hover {
  color: #CE664A;
}
.lang-option .langCurrent {
  color: #5E5B6C;
}

/*按鈕*/
.btn-up {
  position: absolute;
  top: -18px;
  right: 0;
  z-index: 1;
  display: block;
  width: 95px;
  height: 64px;
  background: url(../image/footer_img01.png) top center no-repeat;
}
.btn-up:hover {
  background-position: bottom;
}
.btn-welcome {
  display: block;
  width: 298px;
  height: 325px;
  margin: 0 5px 0 4px;
  background: url(../image/lang/zh-cn/btn_welcome.png) no-repeat;
  float: left;
}
.btn-join a {
  display: block;
  width: 298px;
  height: 325px;
  margin: 0 5px 0 4px;
  background: url(../image/lang/zh-cn/btn_join.png) no-repeat;
  text-indent: -9999px;
  float: left;
}
.btn-join a:hover {
  background: url(../image/lang/zh-cn/btn_join.png) bottom no-repeat;
}

/*page title*/
.page-title {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 85px;
  margin: 24px 0 0 0;
  background-position: left bottom;
  background-repeat: no-repeat;
}

/*左選單*/
.sidebar {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 0 0 215px 32px;
}
.sidebar a {
  display: block;
  width: 100%;
  height: 41px;
  padding: 0 0 0 32px;
  line-height: 40px;
  text-align: left;
  font-size: 15px;
  color: #FFF;
  background-image: url(../image/sidebar.png);
  background-position: left top;
  background-repeat: no-repeat;
}
.sidebar a:hover {
  color: #000;
  background-position: left bottom;
}
.sidebar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 157px;
  background: url(../image/sidebar_bottom.png) no-repeat top center;
}

.first #mainBody {
  background-image: url(../image/bg.png);
}
.first .header::after {
  content: "";
  display: none;
}
.first-wrap {
  display: block;
  width: 100%;
  height: auto;
}
.first-banner-ad ul {
  position: relative;
  display: block;
  width: 402px;
  height: 114px;
  margin: 206px 0 150px 42px;
  overflow: hidden;
}
.first .ele-slideshow-control-wrap {
  width: 100%;
  bottom: 10px;
}
.first .ele-slideshow-control-wrap .ele-slideshow-nav {
  text-align: center;
  padding-left: 50px;
}
.first .ele-slideshow-control-wrap a {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 10px 0 0;
  display: inline-block;
  background: #313248;
  border-radius: 100%;
  cursor: pointer;
}
.first .ele-slideshow-control-wrap .active {
  background: #cf664a;
}
.first-newbox {
  display: block;
  width: 100%;
  height: 51px;
  margin: 0;
  padding: 10px 30px 10px 134px;
  background: url(../image/lang/zh-cn/new_img.png) left top no-repeat;
}
.first-newbox marquee {
  display: block;
  width: 860px;
  height: 31px;
  margin: 0;
  line-height: 31px;
  color: #E7E7E7;
  cursor: pointer;
  float: left;
}
.first-gamebox {
  display: block;
  width: 100%;
  height: auto;
  margin: 26px 0 15px 0;
}
.first-gamebox .gameset {
  display: block;
  width: 172px;
  height: 325px;
  margin: 0 5px 0 2px;
  float: left;
}
.first-gamebox .gameset.game01 {
  background: url(../image/lang/zh-cn/game01.png) no-repeat;
}
.first-gamebox .gameset.game01:hover {
  background: url(../image/lang/zh-cn/game01_over.png) no-repeat;
}
.first-gamebox .gameset.game02 {
  background: url(../image/lang/zh-cn/game02.png) no-repeat;
}
.first-gamebox .gameset.game02:hover {
  background: url(../image/lang/zh-cn/game02_over.png) no-repeat;
}
.first-gamebox .gameset.game03 {
  background: url(../image/lang/zh-cn/game03.png) no-repeat;
}
.first-gamebox .gameset.game03:hover {
  background: url(../image/lang/zh-cn/game03_over.png) no-repeat;
}
.first-gamebox .gameset.game04 {
  background: url(../image/lang/zh-cn/game04.png) no-repeat;
}
.first-gamebox .gameset.game04:hover {
  background: url(../image/lang/zh-cn/game04_over.png) no-repeat;
}

.at1 #mainBody {
  background-image: url(../image/bg_about.png);
}
.at1 .sidemenu {
  display: block;
  width: 257px;
  height: auto;
  float: left;
}
.at1 .page-title {
  background-image: url(../image/lang/zh-cn/title_welcome.png);
}
.at1 .about-wrap {
  display: block;
  width: 100%;
  height: auto;
}
.at1 .about-title {
  display: block;
  width: 730px;
  height: 39px;
  margin: 7px;
  line-height: 35px;
  text-indent: 35px;
  font-size: 15px;
  font-weight: bold;
  color: #CE664A;
  background: url(../image/title01.png) top center no-repeat;
}
.at1 .page-right {
  display: block;
  width: 744px;
  height: auto;
  margin: -47px 7px 0 0;
  float: right;
}
.at1 .about-text {
  font-size: 12px;
  color: #ddd;
  margin: 0 60px 0 44px;
}
.at1 .about-text p {
  line-height: 1.8;
  margin: 18px 0;
}
.at1 .about-text img {
  max-width: 100%;
  margin: 0 auto;
}

.casino #mainBody {
  background-image: url(../image/bg_casino.jpg);
}
.casino .header::after {
  top: 354px;
}
.casino-wrap {
  position: relative;
  z-index: 99;
  display: block;
  width: 1024px;
  height: auto;
  margin: 0 auto 24px;
}

.livetop #mainBody {
  background-image: url(../image/bg2.png);
}
.livetop .page-title {
  background-image: url(../image/lang/zh-cn/title_live.png);
}
.livetop .page-bg {
  position: absolute;
  top: 40px;
  left: 34px;
  z-index: 0;
  display: block;
  width: 985px;
  height: 100%;
  background: #503d49;
  background: rgba(0, 0, 0, 0.3);
}
.livetop .livetop-wrap {
  position: relative;
  z-index: 1;
  margin: 0 0 24px 24px !important;
}

.ltlottery #mainBody {
  background-image: url(../image/bg2.png);
}
.ltlottery .page-title {
  background-image: url(../image/lang/zh-cn/title_lottery.png);
}
.ltlottery .page-bg {
  position: absolute;
  top: 40px;
  left: 34px;
  z-index: 0;
  display: block;
  width: 985px;
  height: 100%;
  background: #503d49;
  background: rgba(0, 0, 0, 0.3);
}
.ltlottery .ltlottery-wrap {
  position: relative;
  z-index: 100;
  display: block;
  width: 960px;
  height: auto;
  margin: 0 auto 24px;
  padding-left: 26px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.ball #mainBody {
  background-image: url(../image/bg2.png);
}
.ball .page-title {
  background-image: url(../image/lang/zh-cn/title_sport.png);
}
.ball .page-bg {
  position: absolute;
  top: 40px;
  left: 34px;
  z-index: 0;
  display: block;
  width: 985px;
  height: 100%;
  background: #503d49;
  background: rgba(0, 0, 0, 0.3);
}
.ball .ball-wrap {
  margin: 10px auto 30px !important;
}

/*# sourceMappingURL=style.css.map */