// 登入後 色彩管理
@include meminfo-color(
    $info-font              : $color1,       //帳號、餘額列的字色
    $info-icon              : $red,       //帳號、餘額列加號的顏色

    $balance-bg             : #6E3B00,       //餘額視窗的背景色
    $balance-font           : #FFF,       //餘額視窗個餘額的字色
    $balance-bottom         : #CCAF7D,       //餘額視窗下方背景色
    $balance-btn-font       : #FFF,       //餘額轉換按鈕的字色
    $balance-btn-font-h     : #FFF,       //餘額轉換按鈕的字色:hover
    $balance-btn-bg         : $red,       //餘額轉換按鈕的背景色
    $balance-btn-bg-h       : $red-dark,       //餘額轉換按鈕的背景色:hover

    $popup-obalance-font    : #C98404,       //TABLET 以下帳號、餘額列的字色
    $popup-btn-member       : #B69564,        //TABLET 以下會員中心按鈕背景色
    $popup-btn-switch       : #685238,       //TABLET 以下額度轉換按鈕背景色
    $popup-btn-logout       : transparent       //TABLET 以下登出按鈕背景色
);

// 登入前與登入後框架
.login-wrap,
.meminfo-wrap {
    position: relative;
    z-index: 3;
    width: 960px;
    margin: 0 auto;
    @include MQ(desktop) {
        width: 100%;
    }
}

.login-wrap {
    padding: 8px 134px 8px 80px;
    @include MQ(desktop) {
        // padding-right: 80px;
        padding: 8px 80px 8px 10%;
    }
}

.meminfo-wrap {
    text-align: left;
    font-size: 13px;
    padding: 8px 80px 8px 54px;
    @include MQ(desktop) {
        // padding: 0 80px 0 96px;
        padding: 0 80px 0 10%;
    }
    @include MQ(tablet) {
        display: none;
    }
}

.ele-popup-account-fixed,
.login-wrap {
    @include MQ(tablet) {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 998;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #403124;
        padding: 220px 0 0;
        overflow-y: auto;
        overflow-scrolling: touch;
        -webkit-overflow-scrolling: touch;
        // 卷軸樣式變更
        @include scrollbar();
        @include trans(right);
        &.active {
            right: 0;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            display: block;
            @include bg("nav_bg_top.png");
        }
    }
    @include MQ(mobile) {
        width: 100%;
        &::before {
            @include bg("nav_bg_top_m.png");
            background-repeat: no-repeat;
            background-position: center top;
            width: 100%;
        }
    }
}

.ele-popup-account-fixed {
    display: none;
    @include MQ(tablet) {
        display: block;
        background: url(../image/nav_bg_bottom01.png) center bottom no-repeat #403124;
        background-size: 100% auto;
        padding-bottom: 84px;
    }
}


/* --- 登入前 --- */

.login-title {
    display: none;
    @include MQ(tablet) {
        position: absolute;
        top: 36px;
        left: 16px;
        z-index: 1;
        display: block;
        width: 70%;
        max-width: 490px;
        height: 88px;
        background: url(../image/login_title.png) top left no-repeat;
        background-size: 100% auto;
    }
    @include MQ(mobile) {
        width: 60%;
        max-width: none;
    }
}

.login-main {
    @include MQ(desktop) {}
    @include MQ(tablet) {
        height: 100%;
        background: url(../image/nav_bg_bottom01.png) center bottom no-repeat;
        background-size: 100% auto;
        padding-bottom: 84px;
        overflow-y: auto;
    }
    @include MQ(mobile) {}
}

#LoginForm {
    float: left;
    @include MQ(desktop) {
        width: 100%;
        padding-right: 240px;
        float: none;
    }
    @include MQ(tablet) {
        max-width: 300px;
        margin: 0 auto;
        padding: 0;
    }
    @include MQ(mobile) {
        width: 90%;
    }
}

// 登入前輸入框
.login-unit {
    position: relative;
    height: 38px;
    float: left;
    &.login-unit-user,
    &.login-unit-pwd {
        max-width: 165px;
        margin-right: 5px;
    }
    &.login-unit-chk {
        max-width: 120px;
        margin-right: 10px;
    }
    @include MQ(desktop) {
        &.login-unit-user,
        &.login-unit-pwd {
            width: 35%;
            max-width: none;
            margin-right: 1%;
        }
        &.login-unit-chk {
            width: 28%;
            max-width: none;
            margin-right: 0;
        }
    }
    @include MQ(tablet) {
        height: 46px;
        float: none;
        &.login-unit-user,
        &.login-unit-pwd,
        &.login-unit-chk {
            width: 100%;
        }
        &.login-unit-user,
        &.login-unit-pwd {
            margin-bottom: 16px;
        }
        &.login-unit-chk {
            margin-bottom: 22px;
        }
    }
    @include MQ(mobile) {}
}

.login-placeholder {
    position: absolute;
    top: 0;
    left: 12px;
    line-height: 38px;
    font-size: 13px;
    color: #595656;
    @include MQ(tablet) {
        line-height: 46px;
        color: #FFF;
    }
}

.login-input {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: #595656;
    background: none;
    border: 1px solid #555;
    padding-left: 12px;
    @include MQ(tablet) {
        color: #FFF;
        background: #685238;
        border: 0;
    }
}

// 登入前按鈕
.login-submit {
    display: block;
    width: 81px;
    line-height: 38px;
    text-align: center;
    color: $color1;
    background-image: image-url("btn_login.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    float: left;
    @include alink {
        background-position: 0 -38px;
    }
    @include MQ(desktop) {
        position: absolute;
        top: 8px;
        right: 224px;
        float: none;
    }
    @include MQ(tablet) {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 300px;
        line-height: 46px;
        background-image: image-url("btn_login_m.jpg");
        background-position: 50% -46px;
        background-repeat: repeat-x;
        margin: 0 auto 32px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            display: block;
            width: 80px;
            height: 46px;
            background-image: image-url("btn_login_m.jpg");
            background-position: 0 0;
        }
        &::after {
            left: auto;
            right: 0;
            background-position: 0 -92px;
        }
        @include alink {
            background-position: 50% -46px;
        }
    }
    @include MQ(mobile) {
        width: 90%;
    }
}


// 登入前其他連結（忘記密碼與加入會員）
.login-link {
    line-height: 38px;
    font-size: 14px;
    color: #525252;
    float: left;
    margin-left: 30px;
    a {
        color: #525252;
        transition: all .3s ease;
        &:hover {
            color: #BB3D3D;
        }
    }
    @include MQ(desktop) {
        position: absolute;
        top: 8px;
        right: 84px;
        float: none;
        margin-left: 0;
    }
    @include MQ(tablet) {
        position: static;
        text-align: center;
        span {
            margin: 0 20px;
        }
    }
    @include MQ(mobile) {}
}



/* --- 登入後 --- */
// 登入後資訊列（帳號、餘額）
.mem-info {
    display: inline-block;
    vertical-align: middle;
    line-height: 38px;
    margin-right: 16px;
    .ele-acc-name,
    .ele-acc-unit,
    .ele-accinfo,
    .ele-obalance-wrap {
        display: inline-block;
    }
    .ele-acc-unit {
        position: relative;
    }
    .ele-acc-name {
        margin-right: 16px;
    }
    .ele-obalance-wrap {
        cursor: pointer;
    }
    @media only screen and (min-width: 768px) {
        .ele-acc-unit {
            &:hover {
                #rwd-obalance-item-wrap {
                    display: block;
                }
            }
        }
    }
    @include MQ(desktop) {
        display: block;
        line-height: 20px;
        float: none;
    }
}

.meminfo-title {
    display: none;
    @include MQ(tablet) {
        position: absolute;
        top: 36px;
        left: 16px;
        z-index: 1;
        display: block;
        width: 74%;
        max-width: 560px;
        height: 86px;
        background: url(../image/meminfo_title.png) top left no-repeat;
        background-size: 100% auto;
    }
    @include MQ(mobile) {
        width: 65%;
        height: 50px;
        left: 2.5%;
        max-width: none;
    }
}

.ele-popup-mem-info {
    max-width: 400px;
    text-align: left;
    color: $color1;
    margin: 0 auto;
    @include MQ(mobile) {
        width: 90%;
    }
}

.ele-popup-account-wrap {
    margin-bottom: 16px;
}

// 登入後餘額視窗
.ele-obalance-item-wrap {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 270px;
    font-size: 12px;
}

.ele-obalance-item {
    padding: 11px 16px;
}

.ele-obalance {
    line-height: 20px;
    padding-bottom: 2px;
}


// 登入後餘額轉換的按鈕
.ele-balance-tool {
    text-align: right;
    padding: 4px; //基本數值不可更動
    a {
        display: inline-block;
        width: 80px;
        text-align: center;
        padding: 4px 8px; //基本數值不可更動
        transition: background-color .20s linear;
    }
    @include MQ(tablet) {
        display: none;
    }
}


// 行動裝置會員彈跳視窗
.ele-popup-first-balance,
.ele-popup-acc-unit {
    display: inline-block;
}

.ele-popup-obalance-wrap {
    position: relative;
    display: inline-block;
}

.ele-popup-obalance-inner {
    cursor: default;
    margin-top: 10px;
}

.ele-popup-obalance-item {
    background: #F2F2F2;
    background: rgba(255, 255, 255, .1);
    padding: 5px 16px;
    strong {
        font-weight: normal;
    }
}

.ele-popup-obalance {
    line-height: 30px;
    font-size: 15px;
}

.ele-popup-other-balance {
    cursor: pointer;
}

.ele-popup-btn-wrap {
    width: 90%;
    max-width: 410px;
    margin: 0 auto;
}

.ele-popup-btn {
    display: block;
}

.ele-popup-btn-member {
    width: 134px;
    line-height: 48px;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto 40px;
}

.ele-popup-btn-switch,
.ele-popup-btn-logout {
    width: 48.78%;
    line-height: 46px;
    float: left;
}

.ele-popup-btn-switch {
    color: #FFDD8C;
}

.ele-popup-btn-logout {
    position: relative;
    background-image: image-url("btn_logout.png");
    background-position: 0 -46px;
    background-repeat: repeat-x;
    color: $color1;
    float: right;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        z-index: 1;
        display: block;
        width: 54px;
        height: 46px;
        background-image: image-url("btn_logout.png");
        background-repeat: no-repeat;
    }
    &::before {
        left: 0;
        background-position: 0 0;
    }
    &::after {
        right: 0;
        background-position: 100% -92px;
    }
    @include MQ(mobile) {
        &::before,
        &::after {
            width: 40px;
        }
    }
}

// 登入後會員操作列
.SU-Menual {
    display: inline-block;
    vertical-align: middle;
    li {
        line-height: 1;
        border-right: 1px solid #4D4D4D;
        margin-right: 10px;
        padding-right: 10px;
        float: left;
        a {
            display: block;
            color: #4D4D4D;
            transition: all .3s ease;
            @include alink {
                color: #FFF;
            }
        }
        span {
            color: $red;
        }
        &:last-of-type {
            border-right: 0;
            margin-right: 0;
            padding-right: 0;
        }
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        display: none;
    }
}


// 登入後 RWD 選單底部
.meminfo-tool {
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}


// 登入後 RWD 選單的按鈕
[class*="meminfo-btn-"] {
    display: none;
    @include MQ(tablet) {
        display: block;
        width: 100%;
        a {
            display: block;
            line-height: 48px;
            text-align: center;
        }
    }
    @include MQ(mobile) {}
}