@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------------------ 變數目錄 --------------------------------------*/
/*---------------------------- 基本變數 ----------------------------------------------*/
/*---------------------------- 背景設定 ----------------------------------------------*/
/*---------------------------- 文字屬性 ----------------------------------------------*/
/*---------------------------- BOX 區塊屬性 ------------------------------------------*/
/*---------------------------- 各類選單屬性 -------------------------------------------*/
/*---------------------------- 基本變數 ----------------------------------------------*/
/*---------------------------- 基本變數 end ------------------------------------------*/
/*---------------------------- 背景設定 ----------------------------------------------*/
/*---------------------------- 背景設定 end ------------------------------------------*/
/*---------------------------- 文字屬性 ----------------------------------------------*/
/*---------------------------- 文字屬性 end ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 end --------------------------------------*/
/*---------------------------- 各類選單屬性 -------------------------------------------*/
/*---------------------------- 各類選單屬性 end ---------------------------------------*/
.ele-slideshow-wrap {
  position: relative;
}
.ele-slideshow-wrap ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 310px;
}
.ele-slideshow-wrap ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 310px;
  -webkit-backface-visibility: hidden;
}
.ele-slideshow-wrap ul li a {
  display: block;
}
.ele-slideshow-wrap ul li a img {
  display: block;
  max-width: 100%;
  height: auto;
  float: left;
}
.ele-slideshow-wrap ul li a .img {
  width: 100%;
  height: 310px;
  background-position: top center;
  background-repeat: no-repeat;
}

.ele-slideshow-scroll {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 310px;
  overflow: hidden;
  margin: 0 auto;
}

.ele-slideshow-control-wrap {
  position: absolute;
  z-index: 1;
  bottom: 10px;
}

.block {
  position: relative;
  min-height: 1px;
  float: left;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: STHeiti, "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", arial;
  font-size: 12px;
  line-height: 1.8;
  color: #FFF;
  background-color: #FFF;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input, button, select, textarea {
  outline: none;
}

*:focus {
  outline: none;
}

a {
  color: #FFF;
  text-decoration: none;
}
a:hover, a:focus {
  color: #d9d9d9;
  text-decoration: none;
}

#L-Sub {
  position: relative;
  z-index: 9999;
  clear: both;
}
#L-Sub div {
  display: none;
  position: absolute;
  z-index: 9999;
}
#L-Sub div a {
  float: left;
  display: block;
  padding: 0 4px;
}
#L-Sub span {
  display: block;
  float: left;
}

#U-Sub {
  position: relative;
  z-index: 9999;
  float: left;
}

.lang-wrap a {
  float: left;
  width: 22px;
  height: 20px;
  margin: 0 2px;
}

.first-game a {
  float: left;
  width: 173px;
  height: 199px;
}

.first-game01 {
  background: url('../image/lang/zh-cn/game01.png');
}
.first-game01:hover {
  background: url('../image/lang/zh-cn/game01_over.png');
}

.first-game02 {
  background: url('../image/lang/zh-cn/game02.png');
}
.first-game02:hover {
  background: url('../image/lang/zh-cn/game02_over.png');
}

.first-game03 {
  background: url('../image/lang/zh-cn/game03.png');
}
.first-game03:hover {
  background: url('../image/lang/zh-cn/game03_over.png');
}

.first-game04 {
  background: url('../image/lang/zh-cn/game04.png');
}
.first-game04:hover {
  background: url('../image/lang/zh-cn/game04_over.png');
}

/*主要置中區塊*/
.wrapper, .wrap,
.header,
.page-c,
#page-body,
.banner-wrap {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper:before, .wrap:before,
.header:before,
.page-c:before,
#page-body:before,
.banner-wrap:before, .wrapper:after, .wrap:after,
.header:after,
.page-c:after,
#page-body:after,
.banner-wrap:after {
  content: "";
  display: table;
}
.wrapper:after, .wrap:after,
.header:after,
.page-c:after,
#page-body:after,
.banner-wrap:after {
  clear: both;
}

.row, .header01 {
  margin-left: 0;
  margin-right: 0;
}
.row:before, .header01:before, .row:after, .header01:after {
  content: "";
  display: table;
}
.row:after, .header01:after {
  clear: both;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.ball-wrap,
.livetop-wrap {
  margin: 20px auto !important;
}

/* 主要區塊 */
#mainBody {
  background: url('../image/bg01.png') repeat left top;
}

.first #page-body {
  position: relative;
  height: 160px;
}

/* HEADER */
/*------------------page-header------------------*/
/*語系下拉*/
#lang-wrap {
  position: relative;
  z-index: 9999;
  float: right;
  width: 80px;
  height: 24px;
  text-align: left;
  text-indent: 5px;
  border: 0px solid #FFCFBF;
  margin-right: 3px;
  _margin-right: 2px;
  _display: inline;
  font-size: 12px;
  background: url(../image/h_langbg.png) center top no-repeat;
  padding: 1px 4px 8px 2px;
  margin-top: 2px;
}

#lang-wrap #ele-lang-wrap {
  cursor: pointer;
  color: #FFF;
  background-image: url(../image/h_langbg_arrow.png);
  background-repeat: no-repeat;
  background-position: right 8px;
  margin-right: 3px;
  line-height: 1.8;
}

#lang-wrap #ele-lang-group {
  position: absolute;
  top: 24px;
  _right: -2px;
  z-index: 1000;
  width: 80px;
  line-height: 19px;
  display: none;
  background-color: #FFF;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #a6a6a6;
  border-bottom-color: #a6a6a6;
  border-left-color: #a6a6a6;
}

#lang-wrap #ele-lang-group,
#lang-wrap #ele-lang-group a:last-child {
  border-radius: 0 0 5px 5px;
}

#ele-lang-group .langCurrent {
  color: #222222;
}

#ele-lang-group a {
  display: block;
  text-decoration: none;
  color: #222222;
  padding-left: 3px;
}

#ele-lang-group a:hover {
  color: #990000;
}

/*彈出視窗*/
#mask {
  display: none;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 999;
}

.login-popup {
  display: none;
  float: left;
  font-size: 12px;
  position: relative;
  z-index: 99999;
  background-image: url(../image/lang/zh-cn/loginbg.png);
  background-repeat: no-repeat;
  background-position: left top;
  height: 226px;
  width: 415px;
  top: 145px;
  left: 480px;
}

img.btn_close {
  float: right;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 11px;
  margin-right: 13px;
}

fieldset {
  border: none;
  padding-top: 68px;
  padding-left: 176px;
}

form.signin .textbox label {
  display: block;
  padding-bottom: 6px;
}

form.signin .textbox span {
  display: block;
}

form.signin span {
  color: #999;
  font-size: 11px;
  line-height: 18px;
}

form.signin .textbox input {
  color: #878787;
  width: 175px;
  font-family: "細明體";
  font-size: 12px;
  background-color: transparent;
  line-height: 25px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.wordBox {
  float: left;
  display: block;
  margin-left: -130px;
  margin-top: 15px;
}

.wordBox .loginWord {
  padding: 0px;
}

.wordBox .loginWord ul li {
  float: left;
  color: #333333;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.wordBox .loginWord ul li.line {
  font-size: 12px;
  font-weight: normal;
  width: 10px;
  text-align: center;
}

.wordBox .loginWord ul li a {
  color: #333333;
  font-size: 12px;
  text-align: center;
  display: block;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  width: 55px;
}

.wordBox .loginWord ul li a:hover {
  color: #990000;
}

.button {
  width: 83px;
  height: 32px;
  background-image: url(../image/lang/zh-cn/btn_login02.png);
  background-repeat: no-repeat;
  background-position: left top;
  display: block;
  cursor: pointer;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  float: right;
  margin-right: 23px;
  margin-top: 15px;
}

.button:hover {
  background-image: url(../image/lang/zh-cn/btn_login02.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 32px;
  width: 83px;
  float: right;
}

/*END header top*/
/*------------------首頁登入前--------------------*/
.logo {
  margin: 33px 0 0 2px;
  float: left;
  width: 197px;
  height: 81px;
  background: url('../image/logo.png') no-repeat center top;
}

/* LOGIN */
#login {
  background: url('../image/lang/zh-cn/loginbg01.png') no-repeat;
  width: 220px;
  height: 174px;
  float: left;
  clear: both;
  margin: 0px 14px 0 0;
}
#login a {
  float: left;
}
#login .btn-joinus01 {
  margin: 1px 5px 0 0;
}
#login .login-input {
  float: left;
  width: 207px;
  margin: 38px 0 0 13px;
}
#login .login-input input {
  padding: 0 0 0 0;
  white-space: pre-wrap;
  background: url(../image/login_bg.png) transparent;
  float: left;
  margin: 0 8px 3px 0;
  font: 14px 25px;
  border: none;
  height: 25px;
  text-indent: 2px;
  color: #BBBBBB;
}
#login .login-input input.name {
  width: 190px;
}
#login .login-input input.password {
  width: 190px;
}
#login .login-input input.key {
  width: 190px;
  margin-right: 0;
}
#login .login-input input:hover {
  color: #FFF;
}
#login .btn_box {
  float: left;
  width: 60px;
  margin: 7px 0 0 25px;
}
#login .getPW {
  float: left;
  font-family: "新細明體";
  width: 60px;
  font-size: 12px;
  line-height: 20px;
  color: #FFF;
}
#login .getPW:hover {
  color: #ffc926;
}
#login .btn_joinus01 {
  float: left;
  font-family: "新細明體";
  width: 60px;
  font-size: 12px;
  line-height: 16px;
  color: #FFF;
}
#login .btn_joinus01:hover {
  color: #ffc926;
}
#login .btn_login01 {
  margin: 5px 0 0 44px;
  float: left;
  width: 75px;
  height: 36px;
  background: url('../image/lang/zh-cn/btn_login.png') no-repeat;
}
#login .btn_login01:hover {
  background-position: bottom;
}

.meminfo-wrap {
  margin: 20px 0 0 30px;
}
.meminfo-wrap .ele-acc-name,
.meminfo-wrap .ele-acc-unit {
  width: 100%;
}

.meminfo-wrap, .ele-acc-name, .ele-acc-unit, .ele-accinfo, .ele-obalance-wrap, .ele-other-balance {
  display: inline-block;
}

.ele-other-balance {
  padding-left: 5px;
}

.ele-obalance-item-wrap {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 270px;
  color: #151515;
  background: #FBFBFB;
}
.ele-obalance-item-wrap .ele-obalance-item {
  padding: 10px;
}
.ele-obalance-item-wrap .ele-obalance-item .ele-obalance {
  line-height: 16px;
  padding-bottom: 4px;
}
.ele-obalance-item-wrap .ele-balance-tool {
  text-align: right;
  padding: 4px;
  background-color: #696969;
}
.ele-obalance-item-wrap .ele-balance-tool > a {
  display: inline-block;
  -webkit-transition: background-color .20s linear;
  transition: background-color .20s linear;
  padding: 4px 8px;
  color: #221815;
  background-color: #A2A2A2;
}
.ele-obalance-item-wrap .ele-balance-tool > a:hover {
  background-color: #959595;
}

.btn_promotions {
  clear: both;
  float: left;
  width: 220px;
  height: 96px;
  background: url('../image/lang/zh-cn/btn_promotions.png') no-repeat;
  margin: 0px 0px 0 0;
}
.btn_promotions:hover {
  background-position: bottom;
}

.btn_download {
  float: left;
  clear: both;
  width: 220px;
  height: 92px;
  background: url('../image/lang/zh-cn/btn_download.png') no-repeat;
  margin: 0px 0px 0 0;
}
.btn_download:hover {
  background-position: bottom;
}

.btn_service {
  float: left;
  clear: both;
  width: 220px;
  height: 145px;
  background: url('../image/lang/zh-cn/btn_service.png') no-repeat;
}
.btn_service:hover {
  background-position: bottom;
}

.container_homebannerbg {
  float: left;
  height: 16px;
  width: 19px;
  background: url('../image/container_homebannerbg.png') no-repeat left top;
  margin-top: 2px;
}

/*--------------------首頁登入後------------------*/
#logon {
  background: url('../image/lang/zh-cn/loginbg01.png') no-repeat bottom;
  width: 220px;
  height: 174px;
  float: left;
  clear: both;
  margin: 0px 14px 0 0;
}
#logon h3 {
  font-family: "細明體";
  font-size: 12px;
  color: #F1F1F1;
  float: left;
  width: 200px;
  margin: 37px 0 10px 15px;
}
#logon .logon-acc {
  font-family: "細明體";
  float: left;
  margin: 24px 0 0 21px;
}
#logon .logon-acc .first-balance {
  clear: both;
}
#logon .logon-acc div span {
  font-size: 12px;
  line-height: 22px;
  color: #DDDDDD;
}
#logon .logon-acc div .fa {
  font-size: 12px;
  line-height: 22px;
  color: #DDDDDD;
}
#logon .logon-acc div .fa:hover {
  color: #BBBBBB;
}
#logon .logon-acc div span {
  font-weight: none;
}
#logon .logon-acc div strong {
  font-size: 12px;
  line-height: 22px;
  color: #DDDDDD;
}
#logon .logon-acc div,
#logon .logon-acc span,
#logon .logon-acc strong {
  float: left;
}
#logon .logon-acc div span,
#logon .logon-acc div .fa {
  margin: 0 2px;
}
#logon .logon-acc div strong {
  margin: 0 2px;
}
#logon .logon-acc .obalance {
  cursor: pointer;
}
#logon .logon-acc #Member-Sub .MemberDate ul li {
  color: #151515;
  line-height: 18px;
}
#logon .logon-acc #Member-Sub .MemberDate .MemberChange {
  border-top: 1px solid #B5B5B5;
}
#logon .logon-acc #Member-Sub .btn_change {
  line-height: 24px;
  color: #221815;
  text-align: center;
}
#logon .logon-acc #Member-Sub .btn_change:hover {
  color: flase;
}
#logon .logon-acc #Member-Sub {
  position: relative;
  z-index: 9999;
  clear: both;
}
#logon .logon-acc #Member-Sub .MemberDate {
  display: none;
  position: absolute;
  width: 270px;
  height: 70px;
  padding-top: 10px;
  z-index: 100;
  background-color: #FBFBFB;
}
#logon .logon-acc #Member-Sub .MemberDate ul li {
  width: 250px;
  margin: 0 0 0 20px;
}
#logon .logon-acc #Member-Sub .MemberDate .MemberChange {
  width: 270px;
  height: 30px;
  margin-top: 10px;
  background-color: #696969;
}
#logon .logon-acc #Member-Sub .btn_change {
  float: right;
  display: block;
  width: 64px;
  margin: 3px 6px 0 0;
  background-color: #A2A2A2;
}
#logon .logon-acc #Member-Sub .btn_change:hover {
  background-color: #d5d5d5;
}

.logon-list {
  font-family: "細明體";
  float: right;
  margin: 18px 2px 0 0;
  height: 16px;
}
.logon-list ul li {
  display: inline;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}
.logon-list ul li a {
  color: #000;
}
.logon-list ul li a span {
  color: #000;
}
.logon-list ul li a:hover {
  color: #595959;
}
.logon-list li {
  margin: 0 3px 0 3px;
}

.logon-list01 {
  font-family: "新細明體";
  float: right;
  margin: -4px 2px 0 0;
  height: 14px;
}
.logon-list01 ul li {
  display: inline;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}
.logon-list01 ul li a {
  color: #000;
}
.logon-list01 ul li a span {
  color: #000;
}
.logon-list01 ul li a:hover {
  color: #595959;
}
.logon-list01 li {
  margin: 0 3px 0 3px;
}

/*--------------------內頁登入前-------------------*/
/* LOGIN */
#login01 {
  background: url('../image/lang/zh-cn/loginbg02.png') no-repeat;
  width: 220px;
  height: auto;
  float: left;
  clear: both;
  margin: 2px 14px 0 0;
}
#login01 a {
  float: left;
}
#login01 .btn-joinus01 {
  margin: 1px 5px 0 0;
}
#login01 .login-input {
  float: left;
  width: 207px;
  margin: 38px 0 0 13px;
}
#login01 .login-input input {
  padding: 0 0 0 0;
  white-space: pre-wrap;
  background: url(../image/login_bg.png) transparent;
  float: left;
  margin: 0 8px 3px 0;
  font: 14px 25px;
  border: none;
  height: 25px;
  text-indent: 2px;
  color: #BBBBBB;
}
#login01 .login-input input.name {
  width: 190px;
}
#login01 .login-input input.password {
  width: 190px;
}
#login01 .login-input input.key {
  width: 190px;
  margin-right: 0;
}
#login01 .login-input input:hover {
  color: #FFF;
}
#login01 .btn_box {
  float: left;
  width: 60px;
  margin: 7px 0 0 25px;
}
#login01 .getPW {
  float: left;
  font-family: "新細明體";
  width: 60px;
  font-size: 12px;
  line-height: 20px;
  color: #FFF;
}
#login01 .getPW:hover {
  color: #ffc926;
}
#login01 .btn_joinus01 {
  float: left;
  font-family: "新細明體";
  width: 60px;
  font-size: 12px;
  line-height: 16px;
  color: #FFF;
}
#login01 .btn_joinus01:hover {
  color: #ffc926;
}
#login01 .btn_login01 {
  margin: 5px 0 0 44px;
  float: left;
  width: 75px;
  height: 36px;
  background: url('../image/lang/zh-cn/btn_login.png') no-repeat;
}
#login01 .btn_login01:hover {
  background-position: bottom;
}

.btn_service01 {
  float: left;
  clear: both;
  width: 220px;
  height: 62px;
  background: url('../image/lang/zh-cn/btn_service02.png') no-repeat;
}
.btn_service01:hover {
  background-position: bottom;
}

/*--------------------內頁登入後-------------------*/
.loginbg_01 {
  float: left;
  clear: both;
  width: 220px;
  height: 12px;
  background: url('../image/loginbg_01.png') no-repeat center top;
}

.loginbg_02 {
  float: left;
  clear: both;
  width: 220px;
  height: 40px;
  background: url('../image/loginbg_02.png') no-repeat center top;
}

#logon01 {
  background: url('../image/lang/zh-cn/loginbg02.png') no-repeat bottom;
  width: 220px;
  height: 166px;
  float: left;
  clear: both;
  margin: 2px 14px 0 0;
}
#logon01 h3 {
  font-family: "細明體";
  font-size: 12px;
  color: #F1F1F1;
  float: left;
  width: 200px;
  margin: 37px 0 10px 15px;
}
#logon01 .logon-acc {
  font-family: "細明體";
  float: left;
  margin: 24px 0 0 21px;
}
#logon01 .logon-acc .first-balance {
  clear: both;
}
#logon01 .logon-acc div span {
  font-size: 12px;
  line-height: 22px;
  color: #DDDDDD;
}
#logon01 .logon-acc div .fa {
  font-size: 12px;
  line-height: 22px;
  color: #DDDDDD;
}
#logon01 .logon-acc div .fa:hover {
  color: #BBBBBB;
}
#logon01 .logon-acc div span {
  font-weight: none;
}
#logon01 .logon-acc div strong {
  font-size: 12px;
  line-height: 22px;
  color: #DDDDDD;
}
#logon01 .logon-acc div,
#logon01 .logon-acc span,
#logon01 .logon-acc strong {
  float: left;
}
#logon01 .logon-acc div span,
#logon01 .logon-acc div .fa {
  margin: 0 2px;
}
#logon01 .logon-acc div strong {
  margin: 0 2px;
}
#logon01 .logon-acc .obalance {
  cursor: pointer;
}
#logon01 .logon-acc #Member-Sub .MemberDate ul li {
  color: #151515;
  line-height: 18px;
}
#logon01 .logon-acc #Member-Sub .MemberDate .MemberChange {
  border-top: 1px solid #B5B5B5;
}
#logon01 .logon-acc #Member-Sub .btn_change {
  line-height: 24px;
  color: #221815;
  text-align: center;
}
#logon01 .logon-acc #Member-Sub .btn_change:hover {
  color: flase;
}
#logon01 .logon-acc #Member-Sub {
  position: relative;
  z-index: 9999;
  clear: both;
}
#logon01 .logon-acc #Member-Sub .MemberDate {
  display: none;
  position: absolute;
  width: 270px;
  height: 70px;
  padding-top: 10px;
  z-index: 100;
  background-color: #FBFBFB;
}
#logon01 .logon-acc #Member-Sub .MemberDate ul li {
  width: 250px;
  margin: 0 0 0 20px;
}
#logon01 .logon-acc #Member-Sub .MemberDate .MemberChange {
  width: 270px;
  height: 30px;
  margin-top: 10px;
  background-color: #696969;
}
#logon01 .logon-acc #Member-Sub .btn_change {
  float: right;
  display: block;
  width: 64px;
  margin: 3px 6px 0 0;
  background-color: #A2A2A2;
}
#logon01 .logon-acc #Member-Sub .btn_change:hover {
  background-color: #d5d5d5;
}

/*---------------------main---------------------*/
/* NAV */
.mainnav {
  float: right;
  display: block;
  padding: 8px 0 0 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 801px;
  height: 50px;
  text-align: right;
}
.mainnav li {
  display: inline-block;
}
.mainnav li a {
  display: inline-block;
  width: 97px;
  height: 50px;
  text-align: center;
  font-family: '細明體';
  font-size: 12px;
  line-height: 57px;
  color: #000;
}
.mainnav li:hover, .mainnav li.current {
  background: url('../image/nav_over.png') no-repeat;
}
.mainnav li:hover a, .mainnav li.current a {
  color: #FF0000;
}

.ele-drop-group {
  text-align: center;
  background-color: #e6e6e6;
}
.ele-drop-group a {
  display: block;
  color: #000;
  width: 110px;
  line-height: 40px;
  border-top: 1px solid #d1d0d0;
  cursor: pointer;
}
.ele-drop-group a:hover {
  color: #c33506;
}

/* FIRST */
/*------------------page-container--------------*/
.page_left {
  float: left;
  width: 220px;
}

.page_right {
  float: left;
  width: 780px;
}

/*----------------------banner------------------*/
.news_bg {
  float: left;
  width: 780px;
  height: 62px;
  background: url('../image/news_bg.png') no-repeat left top;
}
.news_bg h3 {
  font-family: "細明體";
  font-size: 12px;
  color: #000000;
  float: left;
  line-height: 62px;
  text-indent: 43px;
}

.first-game {
  position: absolute;
  top: -130px;
  right: 0;
}
.first-game a.first-game01 {
  margin: 11px 21px 86px 19px;
}
.first-game a.first-game02 {
  margin-top: 50px;
}
.first-game a.first-game03 {
  margin: 11px 22px 86px 21px;
}
.first-game a.first-game04 {
  margin-top: 50px;
}

/*jQuery圖片切換 start--------------*/
#firstAD {
  float: left;
}

.ele-slideshow-wrap {
  width: 780px;
  height: 310px;
}

.ele-slideshow-nav a {
  display: inline-block;
  background: url(../image/h_02.png) no-repeat top;
  line-height: 9999px;
  overflow: hidden;
  height: 14px;
  width: 14px;
  margin: 0 5px 0 0;
}
.ele-slideshow-nav a.active {
  background-position: 100% 100%;
}

/* PAGE */
/*------------------about----------------------*/
.title_welcome {
  float: left;
  width: 780px;
  height: 150px;
  background: url('../image/lang/zh-cn/title_welcome.png') no-repeat left top;
}

#sidebar {
  float: left;
  margin: 0px 0 0 0px;
}
#sidebar .sidebar-top,
#sidebar .sidebar-bottom.sidebar-y,
#sidebar .sidebar-y {
  display: block;
}
#sidebar .sidebar-top {
  width: 220px;
  height: 99px;
  background: url('../image/lang/zh-cn/sidebar_top.png') no-repeat;
}
#sidebar .sidebar-top:hover {
  background-position: bottom;
}
#sidebar .sidebar-bottom {
  width: 220px;
  height: 37px;
  background: url('../image/sidebar_bottom.png') no-repeat;
}
#sidebar .sidebar-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url('../image/sidebar_y.png') repeat-y;
}
#sidebar .sidemenu {
  background: url('../image/sidebar_bg.png') center top no-repeat;
  width: 220px;
}
#sidebar .sidemenu li {
  position: relative;
  z-index: 9999;
  display: block;
  width: 100%;
  height: 38px;
  text-align: center;
  margin-top: 0px;
  background: url('../image/sidebar_over.png') no-repeat top;
}
#sidebar .sidemenu li a {
  font-size: 12px;
  line-height: 38px;
  color: #FFFFFF;
}
#sidebar .sidemenu li a:hover {
  color: #CCCCCC;
}
#sidebar .sidemenu li:hover {
  background: url('../image/sidebar_over.png') no-repeat bottom;
}
#sidebar .sidemenu li:hover a {
  color: #CCCCCC;
}
#sidebar .sidemenu li.sidebar-line {
  z-index: 100;
}

/* about */
#about_textBox {
  float: left;
  height: auto;
  width: 630px;
  margin: 13px 0 38px 96px;
}
#about_textBox h3 {
  font-family: "細明體";
  font-size: 12px;
  color: #917E7D;
  float: left;
  font-weight: bold;
  width: 150px;
  color: #000000;
}
#about_textBox span {
  font-family: "細明體";
  font-size: 12px;
  float: left;
  line-height: 25px;
  clear: both;
  width: 630px;
  margin-top: 28px;
  color: #000000;
  white-space: pre-wrap;
}

/*------------------event----------------------*/
/*------------------live-----------------------*/
.title_live {
  float: left;
  width: 780px;
  height: 150px;
  background: url('../image/lang/zh-cn/title_live.png') no-repeat left top;
}

.container_shadowimg {
  float: left;
  width: 780px;
  height: 37px;
  background: url('../image/container_shadowimg.png') no-repeat left top;
}

.game {
  margin: 0 auto;
  width: auto;
}

.elenew-live-trace {
  color: #444444;
  margin: 0 0 0 16px;
}
.elenew-live-trace a {
  color: #444444;
}
.elenew-live-trace .elenew-trace-title {
  color: #949494;
}
.elenew-live-trace .elenew-trace-sub {
  margin: 12px 0 0 5px;
  color: #444444;
}
.elenew-live-trace .gamenew-trace-num {
  color: #D2261E;
}

#elenew-search-wrap .elenew-search-btn {
  color: #FFF;
  background-color: #969696;
}
#elenew-search-wrap .elenew-search-btn.search-active {
  color: #FFF;
  background-color: #8F8F8F;
}
#elenew-search-wrap .elenew-search-input {
  background-color: #FFF;
  color: #FFF;
}
#elenew-search-wrap .elenew-search-input input {
  color: #FFF;
}

.elenew-live-view a {
  color: #8F8F8F;
}
.elenew-live-view a:hover, .elenew-live-view a.view-active {
  color: #474747;
}

.elenew-serch-noresult {
  color: #FFF !important;
}

/*  color-setC
    1   標題的文字顏色
    2   副標題的文字顏色
    3   副標題的數字顏色
    4   搜尋按鈕放大鏡圖片顏色
    5   Active的搜尋按鈕放大鏡圖片顏色
    6   搜尋按鈕底色
    7   Active的搜尋按鈕底色
    8   搜尋框底色
    9   鍵入的搜尋文字顏色
    10  搜尋框的預設文字顏色"請輸入遊戲名稱"
    11  列表icon顏色
    12  Active的列表icon顏色  */
.ele-gamebanner-wrap {
  float: left;
  width: 780px;
  height: 190px;
}

/*------------------lottery--------------------*/
.title_lottery {
  float: left;
  width: 780px;
  height: 150px;
  background: url('../image/lang/zh-cn/title_lottery.png') no-repeat left top;
}

.ltlottery-wrap {
  margin-bottom: 30px;
}

/*-----------------------------------------------------------------------------------------------程式的BB體育css*/
.title_sport {
  float: left;
  width: 780px;
  height: 150px;
  background: url('../image/lang/zh-cn/title_sport.png') no-repeat left top;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* FOOTER */
/*------------------page_footer----------------*/
#page-footer {
  background: url('../image/footer_bg_x.png') repeat-x left top;
}

.bbinlogo {
  float: left;
  margin: 11px 11px 0 26px;
}

.ublogo {
  float: left;
  width: 128px;
  height: 42px;
  background: url('../image/not-use/ublogo.png') no-repeat;
  margin-top: 10px;
}

.footer-list {
  float: right;
  font-family: "新細明體";
  margin: 19px 0px 26px 0;
}
.footer-list ul li {
  display: inline;
  font-size: 12px;
  line-height: 15px;
  color: #FFF;
}
.footer-list ul li a {
  color: #FFF;
}
.footer-list ul li a:hover {
  color: #CCC;
}
.footer-list a {
  margin: 0px 8px;
}

.copyright {
  clear: both;
  float: right;
  font-family: "新細明體";
  color: #999999;
  margin-bottom: 100px;
}

/*增*/

/*# sourceMappingURL=style.css.map */