@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";
/* @group Reset */
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  line-height: 1;
}

body {
  position: relative;
  font-family: arial, STHeiti, "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "SimSun", "\5B8B\4F53";
  font-size: 13px;
  line-height: 1.8;
  color: #555;
  margin: 0;
  /*overflow-x: hidden;*/
  min-width: 1024px;
}

a {
  color: #000;
  text-decoration: none !important;
  cursor: pointer;
}
a:hover {
  color: #FFF;
}

a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=checkbox],
input[type=radio] {
  line-height: normal;
  margin: 4px 0 0;
  margin-top: 1px\9 ;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  border-radius: 0;
}
button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: 0;
}

button,
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=reset],
input[type=submit],
label[for] {
  cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/* @end */
.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

html {
  min-height: 100%;
}
.page-login html {
  position: relative;
}
html.over_hidden {
  overflow: hidden;
}

body {
  min-width: 1005px;
  min-height: 100%;
  background-image: linear-gradient(135deg, #f8f6f7, #c3cada);
}

input[type=text],
input[type=password],
textarea {
  border-radius: 3px;
  padding: 5px 15px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e1e6f0;
  color: #555;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  border: 1px solid #676EA5 !important;
}

select[name] {
  border-radius: 3px;
  background: #ffffff;
  padding: 5px;
  border: 1px solid #e1e6f0;
  min-width: 160px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  color: #7a8599;
}

input[type=submit],
.btn,
.btn_save {
  border-radius: 3px;
  transition: background 0.3s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  min-width: 100px;
  height: 40px;
  color: #ffffff;
  text-align: center;
  background: #676ea5;
  border: 0;
  font-size: 13px;
}
input[type=submit]:hover,
.btn:hover,
.btn_save:hover {
  background: #777FBF;
}

.btn-cancel {
  transition-property: color, border;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  background: #fff;
  border: 1px solid #e1e6f0;
  color: #7a8599;
  height: 42px;
  line-height: 30px;
  margin-left: 8px;
}
.btn-cancel:hover {
  background: #fff;
  border: 1px solid #676EA5;
  color: #676ea5;
}
.btn-s {
  padding: 0;
  min-width: 60px;
  line-height: 32px;
  height: 32px;
  margin: 0 5px;
}
.btn-s-del {
  background: #e85b70;
}
.btn-s-del:hover {
  background: #FF637B;
}
.btn-del {
  transition: background 0.3s ease-in-out;
  background: #e85b70;
  color: #fff;
  padding: 0;
  height: 40px;
  line-height: 40px;
}
.btn-del:hover {
  background: #ff637b;
}
.btn-del-circle {
  transition: background 0.3s ease-in-out;
  border-radius: 20px;
  border: 1px solid #e85b70;
  background: none;
  min-width: auto;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  padding: 0;
  margin-left: 10px;
}
.btn-del-circle span:before {
  content: "\F00D";
  color: #ff637b;
}
.btn-del-circle:hover {
  background: #ff637b;
}
.btn-del-circle:hover span:before {
  color: #fff;
}
.btn-upload {
  transition: background 0.3s ease-in-out;
  background: #55b0a6;
  color: #fff;
  padding: 0;
  height: 35px;
  line-height: 35px;
  min-width: 80px;
}
.btn-upload:hover {
  background: #61C9BD;
}
.btn-add-item {
  transition: border 0.3s ease-in-out;
  padding: 0;
  line-height: 35px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #e1e6f0;
  color: #7a8599;
}
.btn-add-item span:before {
  content: "\F067";
  font-size: 12px;
  margin-right: 7px;
}
.btn-add-item:hover {
  background: #ffffff;
  color: #676ea5;
  border: 1px solid #676ea5;
}
.btn-copy {
  border-radius: 20px;
  border: 1px solid #e85b70;
  min-width: auto;
  width: 35px;
  height: 35px;
  background: #e85b70;
  margin-left: 10px;
}
.btn-copy:hover {
  border: 1px solid #e85b70;
  background: #fff;
  color: #FF637B;
}
.btn-path {
  min-width: 80px;
  padding: 0;
  line-height: 35px;
  height: 35px;
}

.text-warning {
  color: #e85b70;
}
.text-nar {
  color: #55b0a6;
}
.text-tip {
  color: #676ea5;
}

#mainBody {
  width: 100%;
  min-width: 1005px;
}

.login-input {
  width: 220px;
}

.logo {
  width: 89px;
  height: 34px;
  background-image: url(../images/logo.png);
}
.login-bg .logo {
  margin: 0 auto 15px;
}
#header .logo {
  display: block;
  margin: 0 auto 40px;
}

#header {
  transition: width 0.3s ease-in-out;
  padding-top: 80px;
  width: 240px;
  height: 100%;
  float: left;
}
@media only screen and (max-width: 1440px) {
  #header {
    width: 200px;
  }
}

.mainnav-wrap {
  position: relative;
  float: left;
  width: 100%;
}
.mainnav ul {
  width: 100%;
  padding: 0 30px;
}
.mainnav li {
  display: block;
  border-top: 1px solid #e9ebf0;
}
.mainnav li > a {
  transition: color 0.3s ease-in-out;
  padding: 15px;
  line-height: 20px;
  font-size: 14px;
  display: block;
  color: #525866;
}
.mainnav li > a.current, .mainnav li > a:hover {
  color: #676EA5;
}
.mainnav li > a:before {
  content: " ";
  width: 25px;
  display: inline-block;
}
.mainnav li > a.drop-title:before {
  content: "\F105";
}
.mainnav li > a.drop-title-down:before {
  content: "\F107";
}

.drop-group {
  display: none;
  padding-bottom: 20px;
}
.drop-group a {
  transition: color 0.3s ease-in-out;
  font-size: 13px;
  color: #525866;
  display: block;
  line-height: 30px;
  padding-left: 50px;
}
.drop-group a.current, .drop-group a:hover {
  color: #676EA5;
}
.drop-open {
  display: block;
}

#container {
  width: 100%;
  min-height: 100%;
  padding: 0 2% 40px 240px;
}
@media only screen and (max-width: 1440px) {
  #container {
    padding-left: 200px;
  }
}

.title {
  display: inline-block;
  color: #525866;
  font-size: 16px;
}
.title p {
  display: inline-block;
  font-size: 13px;
  margin-left: 5px;
}
.title p span {
  color: #55b0a6;
  padding: 0 5px;
}

.staut {
  height: 80px;
  width: 100%;
  text-align: right;
  padding-top: 25px;
  font-size: 13px;
}
.staut-edit {
  transition: border 0.3s ease-in-out;
  color: #7a8599;
  line-height: 30px;
  height: 42px;
  background: #fff;
  border: 1px solid #e1e6f0;
  padding: 5px 15px;
}
.staut-edit:hover {
  background: #fff;
  color: #676ea5;
  border: 1px solid #676ea5;
}
.staut-logout {
  color: #fff;
  background: #676ea5;
  margin-left: 10px;
  line-height: 30px;
}
.staut-logout:hover {
  background: #777fbf;
}

.content-wrap {
  border-radius: 5px;
  width: 100%;
  min-width: 805px;
  padding: 50px 60px 120px;
  min-height: 600px;
  background: rgba(255, 255, 255, 0.8);
}
.index .content-wrap {
  padding: 50px 60px 80px;
}
.content-title {
  position: relative;
  font-size: 16px;
  height: 40px;
  line-height: 20px;
}
.content-title p {
  color: #7a8599;
  display: inline-block;
  font-size: 13px;
  margin-left: 5px;
}
.content-title span {
  font-size: 13px;
  padding: 0 5px;
}
.content-righttop-btn {
  position: absolute;
  top: -17px;
  right: 0;
  display: block;
  font-size: 13px;
}
.content-righttop-btn span:before {
  font-size: 12px;
  content: "\F067";
}
.content-body {
  font-size: 13px;
}

.first-more-btn {
  border-radius: 3px;
  transition: border 0.3s ease-in-out;
  width: 135px;
  color: #7a8599;
  text-align: center;
  display: block;
  margin: 20px auto 0;
  border: 1px solid #e1e6f0;
  line-height: 40px;
}
.first-more-btn:hover {
  color: #676ea5;
  border: 1px solid #676ea5;
}
.first-content {
  position: relative;
  width: 100%;
  float: left;
}
.first-content .form_orderby {
  display: none;
}
.first-content > select {
  position: absolute;
  right: 0;
  top: -6px;
}
.first-wrap {
  float: left;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}
.first-item {
  float: left;
  width: 25%;
  min-height: 240px;
  position: relative;
}
.first-item canvas {
  float: right;
  display: block;
  margin: 0 auto;
  width: 130px !important;
  height: 130px !important;
}
@media only screen and (max-width: 1440px) {
  .first-item canvas {
    float: unset;
    margin: auto;
    width: 150px !important;
    height: 150px !important;
  }
}
.first-item .title {
  width: 100%;
  padding: 0 0 25px 25px;
}
.first-item:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 130px;
  right: -1px;
  top: 53px;
  background: #E1E6F0;
}
@media only screen and (max-width: 1440px) {
  .first-item:after {
    height: 150px;
  }
}
.first-item:nth-child(1) .title {
  padding-left: 0;
}
.first-item:last-child:after {
  display: none;
}
.first-temp-num {
  float: left;
  width: 55%;
}
@media only screen and (max-width: 1440px) {
  .first-temp-num {
    width: 100%;
  }
}
.first-temp-num p {
  border-radius: 65px;
  font-family: "PingFang TC", "Segoe UI ", sans-serif !important;
  font-weight: 100;
  display: inline-block;
  width: 130px;
  height: 130px;
  line-height: 130px;
  background: #f2f6fc;
  font-size: 50px;
  text-align: center;
  color: #676ea5;
}
@media only screen and (max-width: 1440px) {
  .first-temp-num p {
    display: block;
    margin: auto;
    width: 150px !important;
    height: 150px !important;
    line-height: 150px;
    border-radius: 75px;
  }
}
.first-temp-wrap {
  float: right;
  width: 45%;
}
@media only screen and (max-width: 1440px) {
  .first-temp-wrap {
    display: none;
  }
}
.first-temp-wrap ul {
  margin-left: 10%;
  width: 90%;
}
.first-temp-wrap li {
  font-size: 13px;
  line-height: 25px;
}
.first-temp-wrap li:last-child span:after {
  content: " ";
  display: none;
}
.first-temp-wrap li a:hover {
  color: #666;
}
.first-temp-wrap span {
  border-radius: 10px;
  color: #525866;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #d8dce6;
  margin-right: 10px;
}
.first-temp-wrap span:after {
  content: " ";
  display: block;
  width: 1px;
  height: 25px;
  margin-left: 5px;
  background: #d8dce6;
}
.first-temp-wrap span.chart1_bg1 {
  background: #7d66f4;
}
.first-temp-wrap span.chart1_bg1:after {
  display: none;
}
.first-temp-wrap span.chart1_bg2 {
  background: #ff7e00;
}
.first-temp-wrap span.chart1_bg2:after {
  display: none;
}
.first-temp-wrap span.chart1_bg3 {
  background: #ffd200;
}
.first-temp-wrap span.chart1_bg3:after {
  display: none;
}
.first-temp-wrap span.chart1_bg4 {
  background: #bc00ff;
}
.first-temp-wrap span.chart1_bg4:after {
  display: none;
}
.first-temp-wrap span.chart1_bg5 {
  background: #f94c4c;
}
.first-temp-wrap span.chart1_bg5:after {
  display: none;
}
.first-temp-wrap span.chart2_bg1 {
  background: #7d66f4;
}
.first-temp-wrap span.chart2_bg1:after {
  display: none;
}
.first-temp-wrap span.chart2_bg2 {
  background: #ff7e00;
}
.first-temp-wrap span.chart2_bg2:after {
  display: none;
}
.first-temp-wrap span.chart2_bg3 {
  background: #ffd200;
}
.first-temp-wrap span.chart2_bg3:after {
  display: none;
}
.first-temp-wrap span.chart2_bg4 {
  background: #bc00ff;
}
.first-temp-wrap span.chart2_bg4:after {
  display: none;
}
.first-temp-wrap span.white {
  background: #fff;
}
.first-temp-wrap span.white:after {
  display: none;
}
.first-temp-wrap span.grey {
  background: #999;
}
.first-temp-wrap span.grey:after {
  display: none;
}
.first-temp-wrap span.black {
  background: #000;
}
.first-temp-wrap span.black:after {
  display: none;
}
.first-temp-wrap span.blue {
  background: #008fe4;
}
.first-temp-wrap span.blue:after {
  display: none;
}
.first-temp-wrap span.green {
  background: #46c100;
}
.first-temp-wrap span.green:after {
  display: none;
}
.first-temp-wrap span.yellow {
  background: #f1f500;
}
.first-temp-wrap span.yellow:after {
  display: none;
}
.first-temp-wrap span.brown {
  background: #5b2900;
}
.first-temp-wrap span.brown:after {
  display: none;
}
.first-temp-wrap span.orange {
  background: #ff7e00;
}
.first-temp-wrap span.orange:after {
  display: none;
}
.first-temp-wrap span.red {
  background: #f31809;
}
.first-temp-wrap span.red:after {
  display: none;
}
.first-temp-wrap span.pink {
  background: #ff007e;
}
.first-temp-wrap span.pink:after {
  display: none;
}
.first-temp-wrap span.purple {
  background: #bc00ff;
}
.first-temp-wrap span.purple:after {
  display: none;
}

#searchWrap {
  position: relative;
  float: right;
  margin-top: -10px;
}
#searchWrap label {
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 15px;
  color: #7a8599;
  line-height: 42px;
}
#searchWrap input[type=text] {
  width: 200px;
  padding: 5px 40px 5px 15px;
}

input.search-btn {
  min-width: auto;
  background: url(../images/search_btn_bg.png) no-repeat center center;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 38px;
  height: 38px;
  border: 0;
  padding: 0;
}

input.close-btn {
  min-width: auto;
  background: url(../images/close_btn_bg.png) no-repeat center center;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 38px;
  height: 38px;
  border: 0;
  padding: 0;
}

.js-color-pick span:hover {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 0 1px #676ea5;
}

.color {
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  text-align: center;
}
.color-active:before {
  line-height: 30px;
  color: #ffffff;
  content: "\F00C";
  font-size: 13px;
}
.color-white {
  background: #fff;
  border: 1px solid #d3d7e0;
}
.color-white.color-active:before {
  color: #000;
  content: "\F00C";
}
.color-gray {
  background: #919090;
}
.color-black {
  background: #000;
}
.color-blue {
  background: #008fe4;
}
.color-green {
  background: #46c100;
}
.color-yellow {
  background: #f1f500;
}
.color-yellow.color-active:before {
  color: #000;
  content: "\F00C";
}
.color-coffee {
  background: #5b2900;
}
.color-orange {
  background: #ff7e00;
}
.color-red {
  background: #f31809;
}
.color-pink {
  background: #ff007e;
}
.color-purple {
  background: #bc00ff;
}

.paginate_box {
  position: relative;
}
.paginate_box .pagination-select {
  display: inline-block;
}
.paginate_box .pagination-select select {
  min-width: 100px;
}
.paginate_box ul {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  position: relative;
  font-size: 0;
  margin: unset;
  margin-right: 10px;
}
.paginate_box ul li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}
.paginate_box ul li:first-child > a {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.paginate_box ul li:last-child > a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.paginate_box ul li.active {
  z-index: 2;
}
.paginate_box ul li.active span, .paginate_box ul li.active a {
  border: 1px solid #676ea5;
  background: #676ea5;
  color: #ffffff;
}
.paginate_box ul li.active span:hover, .paginate_box ul li.active a:hover {
  position: relative;
  background-color: #ffffff !important;
  border: 1px solid #676ea5 !important;
  color: #676ea5 !important;
}
.paginate_box ul li:hover {
  z-index: 99;
}
.paginate_box ul li:hover a, .paginate_box ul li:hover span {
  position: relative;
  background: #ffffff;
  border: 1px solid #676ea5;
  color: #676ea5;
}
.paginate_box ul li a, .paginate_box ul li span {
  font-size: 13px;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
  padding: unset;
  background: #ffffff;
  color: #777FBF;
  border: 1px solid #e1e6f0;
  outline: none;
}
.paginate_box .model-wrap {
  position: absolute;
  right: 0;
  top: 0;
}
.paginate_box .model-wrap a {
  float: right;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}
.paginate_box .model-wrap select {
  float: right;
  min-width: 150px;
}
.paginate_box .model-btn {
  border-radius: 3px;
  color: #7a8599;
  padding: 13px;
  border: 1px solid #e1e6f0;
  text-decoration: none;
}
.paginate_box .model-btn:hover {
  border: 1px solid #676ea5;
  color: #676ea5;
}
.paginate_box .model-list:before {
  content: "\F0CA";
}
.paginate_box .model-img:before {
  content: "\F009";
}
.paginate_box .pagination-gotoTop {
  float: right;
  margin: 0 -1px 0 0 !important;
}
.paginate_box .pagination-gotoTop > a {
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
  background: #ffffff;
  border: 1px solid #e1e6f0;
  color: #777FBF;
  border-radius: 3px;
}
.paginate_box .pagination-gotoTop > a.current {
  border: 1px solid #676ea5;
  background: #676ea5;
  color: #ffffff;
}
.paginate_box .pagination-gotoTop > a:hover {
  position: relative;
  background: #ffffff;
  border: 1px solid #676ea5;
  color: #676ea5;
}
.paginate_box .pagination-gotoTop > a:before {
  content: "\F106";
}

.p_l_r_dis {
  padding-left: 0;
  padding-right: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes indexTopArrowDown {
  0% {
    opacity: 0;
    bottom: -32px;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes indexTopArrowDown {
  0% {
    opacity: 0;
    bottom: -32px;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes indexTopSlideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes indexTopSlideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes indexTopSlideDown1 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes indexTopSlideDown1 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes indexTopSlideDown2 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes indexTopSlideDown2 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes indexTopSlideDown3 {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes indexTopSlideDown3 {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes indexTopSlideDown4 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes indexTopSlideDown4 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes indexTopLine1 {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 54vh;
    height: calc(var(--vh, 1vh) * 54);
    opacity: 1;
  }
}
@keyframes indexTopLine1 {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 54vh;
    height: calc(var(--vh, 1vh) * 54);
    opacity: 1;
  }
}
@-webkit-keyframes indexTopLine2 {
  0% {
    left: 100%;
    width: 0;
    opacity: 0;
  }
  100% {
    left: 50%;
    width: 50%;
    opacity: 1;
  }
}
@keyframes indexTopLine2 {
  0% {
    left: 100%;
    width: 0;
    opacity: 0;
  }
  100% {
    left: 50%;
    width: 50%;
    opacity: 1;
  }
}
@-webkit-keyframes indexTopButton {
  0% {
    bottom: 17.5vh;
    bottom: calc(var(--vh, 1vh) * 17.5);
    opacity: 0;
  }
  100% {
    bottom: 16.5vh;
    bottom: calc(var(--vh, 1vh) * 16.5);
    opacity: 1;
  }
}
@keyframes indexTopButton {
  0% {
    bottom: 17.5vh;
    bottom: calc(var(--vh, 1vh) * 17.5);
    opacity: 0;
  }
  100% {
    bottom: 16.5vh;
    bottom: calc(var(--vh, 1vh) * 16.5);
    opacity: 1;
  }
}
@-webkit-keyframes indexTopButton2 {
  0% {
    bottom: 2vh;
    bottom: calc(var(--vh, 1vh) * 2);
    opacity: 0;
  }
  100% {
    bottom: 5vh;
    bottom: calc(var(--vh, 1vh) * 5);
    opacity: 1;
  }
}
@keyframes indexTopButton2 {
  0% {
    bottom: 2vh;
    bottom: calc(var(--vh, 1vh) * 2);
    opacity: 0;
  }
  100% {
    bottom: 5vh;
    bottom: calc(var(--vh, 1vh) * 5);
    opacity: 1;
  }
}
@-webkit-keyframes slideLeft {
  0% {
    left: -35px;
    opacity: 0;
  }
  100% {
    left: 35px;
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    left: -35px;
    opacity: 0;
  }
  100% {
    left: 35px;
    opacity: 1;
  }
}
@-webkit-keyframes slideLeft2 {
  0% {
    left: -20px;
    opacity: 0;
  }
  100% {
    left: 20px;
    opacity: 1;
  }
}
@keyframes slideLeft2 {
  0% {
    left: -20px;
    opacity: 0;
  }
  100% {
    left: 20px;
    opacity: 1;
  }
}
@-webkit-keyframes slideRight {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}
@-webkit-keyframes slideBottom {
  0% {
    bottom: -10%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    bottom: -10%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
.table-template-edit {
  border-collapse: collapse;
  width: 100%;
}
.table-template-edit .islogoimg .check_unit {
  font-size: 12px;
}
.table-template-edit .date-input {
  display: inline-block;
}
.table-template-edit .date-input input#datepicker {
  padding-left: 35px;
  margin-right: 0;
}
.table-template-edit .date-input .vdp-datepicker__calendar .cell.selected {
  background: #676ea5;
  color: white;
}
.table-template-edit .date-input .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .table-template-edit .date-input .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .table-template-edit .date-input .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border: 1px solid #676ea5;
}
.table-template-edit .isbannerimg .check_unit, .table-template-edit .isviewimg .check_unit {
  font-size: 0;
}
.table-template-edit .isbannerimg .check_unit input, .table-template-edit .isviewimg .check_unit input {
  font-size: 13px;
}
.table-template-edit .isbannerimg .check_unit button, .table-template-edit .isviewimg .check_unit button {
  vertical-align: top;
}
.table-template-edit .table-copy-btn {
  font-size: 0;
}
.table-template-edit .table-copy-btn input {
  font-size: 13px;
}
.table-template-edit .table-copy-btn button {
  vertical-align: top;
}
.table-template-edit label.date-icon {
  position: absolute;
}
.table-template-edit label.date-icon:after {
  position: absolute;
  left: 15px;
  top: 11px;
  z-index: 10;
  content: "\F073";
}
.table-template-edit td {
  vertical-align: middle;
  border: 1px solid #e1e6f0;
  padding: 8px 15px;
  position: relative;
}
.table-template-edit td.js-color-pick {
  font-size: 0;
  padding: 6px 8px;
}
.table-template-edit tr.temp-title td {
  line-height: 60px;
  padding: 0 20px;
  background: #f2f6fc;
  width: 100%;
  text-align: left !important;
  font-size: 14px;
  font-weight: bold;
}
.table-template-edit tr td:first-child {
  padding: 0 15px;
  line-height: 60px;
  width: 220px;
  text-align: right;
}
.table-template-edit tr:nth-child(even) {
  background: #f5f7fa;
}
.table-template-edit tr:last-child {
  background: none;
}
.table-template-edit tr:last-child td {
  padding-top: 30px;
  background: none;
  border: none;
}
.table-template-edit .color {
  cursor: pointer;
  margin: 4px 7px;
}
.table-template-edit input[type=text] {
  width: 400px;
  height: 35px;
  margin-right: 10px;
}
@media only screen and (max-width: 1440px) {
  .table-template-edit input[type=text] {
    width: 220px;
  }
}
.table-template-edit textarea {
  border-radius: 3px;
  border: 1px solid #e1e6f0;
  width: 400px;
  height: 120px;
  padding: 5px 15px;
  text-align: left;
  font-size: 13px;
}
.table-template-edit-add {
  margin-bottom: 8px;
  font-size: 0;
}
.table-template-edit-add input,
.table-template-edit-add a {
  float: left;
}
.table-template-edit-add input {
  font-size: 13px;
}
.table-template-edit-add a {
  margin-top: 2px;
}
.table-copy-btn {
  height: 45px;
  padding-top: 10px;
}
.table-copy-btn span:before {
  content: "\F0C5";
}
.table-order {
  border-collapse: collapse;
  width: 100%;
}
.table-order td {
  border: 1px solid #e1e6f0;
  padding: 8px 15px;
}
.table-order tr:nth-child(even) {
  background: #f5f7fa;
}
.table-order tr > td:first-child {
  width: 220px;
  height: 42px;
  line-height: 42px;
  text-align: right;
}
.table-order tr.table-sepa td {
  border-top: 2px solid #e1e6f0;
}
.table-order tr:last-child {
  background: none;
}
.table-order tr:last-child td {
  padding-top: 20px;
  background: none;
  border: none;
}
.table-order span {
  color: #676ea5;
}
.table-order input[type=text], .table-order input[type=password] {
  width: 250px;
}
.table-order p,
.table-order label,
.table-order input[type=radio] {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.table-order p {
  margin-right: 20px;
}
.table-order input[type=radio] {
  margin-top: 0px;
}
.table-enable, .table-disable {
  transition-property: background, border, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-width: 80px;
  height: 35px;
  line-height: 35px;
  background: #ffffff;
  border: 1px solid #e1e6f0;
  color: #525866;
  margin-right: -4px;
}
.table-enable:hover, .table-disable:hover {
  color: #676ea5 !important;
  border: 1px solid #676EA5 !important;
  background: #fff !important;
}
.table-enable {
  border-radius: 3px 0 0 3px;
}
.table-enable.table-active {
  border: 1px solid #676EA5;
  background: #676ea5;
  color: #ffffff;
}
.table-enable.table-active:hover {
  color: #ffffff;
}
.table-disable {
  border-radius: 0 3px 3px 0;
  margin-right: 0;
}
.table-disable.table-active {
  border: 1px solid #c3cada;
  background: #c3cada;
  color: #fff;
}
.table-disable.table-active:hover {
  color: #ffffff;
}
.table-list {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  margin-bottom: 15px;
}
.table-list .tLeft {
  text-align: left;
}
.table-list td {
  color: #525866;
  border: 1px solid #e1e6f0;
  padding: 15px 10px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}
.table-list thead td {
  background: #f2f6fc;
  line-height: 30px;
  text-align: center;
}
.table-list-user td.tNum {
  width: 8%;
}
.table-list-user td.tName {
  width: 14%;
}
.table-list-user td.tId {
  width: 11%;
}
.table-list-user td.tPw {
  width: 11%;
}
.table-list-user td.tPer {
  width: 11%;
}
.table-list-user td.tStaut {
  width: 11%;
}
.table-list-user td.tDate {
  width: 16%;
}
.table-list-user td.tEdit {
  width: 18%;
}
.table-list-modify td.tNum {
  width: 10%;
}
.table-list-modify td.tAct {
  width: 15%;
}
.table-list-modify td.tCon {
  width: 45%;
}
.table-list-modify td.tUser {
  width: 15%;
}
.table-list-modify td.tDate {
  width: 15%;
  min-width: 145px;
}
.table-list-login-record td.tUser {
  width: 35%;
}
.table-list-login-record td.tDate {
  width: 65%;
}
.table-list tbody tr:nth-child(even) {
  background: #f5f7fa;
}
.table-list tbody td.tLink {
  padding: 3px;
}
.table-list tbody td.tLink a {
  margin: 5px;
}
.table-login-width {
  width: 620px;
}
.table-username > a {
  color: #676ea5;
}
.table-username > a:hover {
  text-decoration: underline;
}

.hide_or_show {
  overflow: hidden;
}

.tooltip {
  display: block !important;
  z-index: 10000;
}
.tooltip .tooltip-inner {
  background: black;
  color: white;
  padding: 5px 10px 4px;
}
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}
.tooltip[x-placement^=top] {
  margin-bottom: 5px;
}
.tooltip[x-placement^=top] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^=bottom] {
  margin-top: 5px;
}
.tooltip[x-placement^=bottom] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^=right] {
  margin-left: 5px;
}
.tooltip[x-placement^=right] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tooltip[x-placement^=left] {
  margin-right: 5px;
}
.tooltip[x-placement^=left] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}
.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}
.tooltip[aria-hidden=true] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}
.tooltip[aria-hidden=false] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}

.vue-notification {
  padding: 10px;
  margin: 5px 5px 0 !important;
  font-size: 12px;
  color: #ffffff !important;
  background: #777FBF !important;
  border-left: 5px solid #676ea5 !important;
}
.vue-notification .success {
  color: #42A85F;
}
.vue-notification .failure {
  color: #B82E24;
}
.vue-notification .warning {
  color: #f48a06;
}
.vue-notification .notification-title {
  font-size: 15px;
}
.vue-notification .notification-content {
  font-size: 15px;
}
.vue-notification.warn {
  background: #ffb648;
  border-left-color: #f48a06;
}
.vue-notification.error {
  background: #E54D42;
  border-left-color: #B82E24;
}
.vue-notification.success {
  background: #68CD86;
  border-left-color: #42A85F;
}

.login-wrap {
  border-radius: 5px;
  background: #c8cbd5;
  background: rgba(0, 0, 0, 0.03);
  width: 500px;
  height: 500px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 50px;
  z-index: 0;
}
.login-bg {
  border-radius: 5px;
  box-shadow: #9fafc6 0 0 75px;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 60px 0 0 0;
  position: relative;
}
.login-txt-wrap {
  text-align: center;
  height: 65px;
  line-height: 25px;
  color: #676ea5;
}
.login-txt {
  display: block;
}
.login-tip {
  font-size: 13px;
}
.login-ball01 {
  width: 315px;
  height: 321px;
  background-image: url(../images/bg01.png);
  position: absolute;
  bottom: -150px;
  left: -150px;
  z-index: -1;
}
.login-ball02 {
  width: 451px;
  height: 456px;
  background-image: url(../images/bg02.png);
  position: absolute;
  top: -200px;
  right: -220px;
  z-index: -1;
}

#LoginForm {
  text-align: center;
  position: relative;
  z-index: 1;
}
#LoginForm p {
  width: 220px;
  position: relative;
  margin: 0 auto 15px;
}
#LoginForm p:nth-of-type(2) {
  margin-bottom: 20px;
}
#LoginForm p label {
  position: absolute;
  top: 0;
  left: 15px;
  line-height: 40px;
  color: #676EA5;
}
#LoginForm p input {
  color: #676EA5;
}
#LoginForm p input[type=submit] {
  transition: background 0.3s ease-in-out;
  border-radius: 3px;
  background: #676EA5;
  width: 220px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
#LoginForm p input[type=submit]:hover {
  background: #777FBF;
}

.alLeft {
  text-align: left !important;
}

.template-list-wrap {
  position: relative;
  width: 100%;
  font-size: 13px;
  margin: 15px 0;
}
.template-list-wrap .js-sv a:hover {
  color: #fff !important;
}
.template-title > div, .template-content > div {
  float: left;
}
.template-content > p {
  line-height: 100px;
  text-align: center;
}
.template-title {
  height: 60px;
}
.template-title > div {
  text-align: center;
  line-height: 60px;
  background: #f2f6fc;
  border: 1px solid #e1e6f0;
  border-right: 0;
}
.template-title > div:last-child {
  border-right: 1px solid #e1e6f0;
}
.template-item {
  float: left;
  width: 100%;
}
.template-item > div {
  float: left;
  line-height: 120px;
  text-align: center;
  border: 1px solid #e1e6f0;
  border-right: 0;
  border-top: 0;
  height: 120px;
}
.template-item > div:last-child {
  border-right: 1px solid #e1e6f0;
}
.template-item:nth-child(even) > div {
  background: #f5f7fa;
}
.template-img-wrap {
  margin: 15px 0 0;
}
.template-img-wrap > .template-title {
  display: none;
}
.template-img-wrap .template-item > div {
  border: 0;
}
.template-img-wrap .template-item {
  position: relative;
  float: left;
  width: 23%;
  margin-right: 2.6%;
  margin-bottom: 65px;
}
@media only screen and (max-width: 1440px) {
  .template-img-wrap .template-item {
    width: 48%;
    margin-right: 4%;
  }
}
.template-img-wrap .template-item:nth-child(4n) {
  margin-right: 0;
}
@media only screen and (max-width: 1440px) {
  .template-img-wrap .template-item:nth-child(4n) {
    margin-right: 5%;
  }
}
@media only screen and (max-width: 1440px) {
  .template-img-wrap .template-item:nth-child(2n) {
    margin-right: 0;
  }
}
.template-img-wrap .temp-num,
.template-img-wrap .temp-date,
.template-img-wrap .temp-layout,
.template-img-wrap .temp-style,
.template-img-wrap .temp-type,
.template-img-wrap .temp-color,
.template-img-wrap .temp-staut,
.template-img-wrap .temp-icon {
  display: none;
}
.template-img-wrap .temp-img,
.template-img-wrap .temp-name,
.template-img-wrap .temp-edit,
.template-img-wrap .temp-demo {
  height: auto;
  line-height: normal;
}
.template-img-wrap .temp-img {
  width: 100%;
  float: left;
  padding-bottom: 15px;
}
.template-img-wrap .temp-img a {
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;
  height: auto;
}
.template-img-wrap .temp-img a img {
  display: block;
  width: 100%;
  height: auto;
  float: left;
}
.template-img-wrap .temp-img a:hover {
  box-shadow: #ccd4e5 0 0 30px 0;
}
.template-img-wrap .temp-name {
  width: auto;
  font-size: 16px;
  text-align: left;
  line-height: 40px;
}
.template-img-wrap .temp-edit,
.template-img-wrap .temp-demo {
  width: auto;
  float: right;
  height: 40px;
}
@media only screen and (max-width: 1440px) {
  .template-img-wrap .temp-edit,
.template-img-wrap .temp-demo {
    display: block;
  }
}
.template-img-wrap .temp-edit a,
.template-img-wrap .temp-demo a {
  transition: background 0.3s ease-in-out;
  background: #fff;
  float: right;
  padding: 0;
  line-height: 40px;
  height: 40px;
  border: 1px solid #e1e6f0;
  color: #525866;
}
.template-img-wrap .temp-edit a:hover,
.template-img-wrap .temp-demo a:hover {
  color: #676ea5;
  border: 1px solid #676ea5;
}
.template-img-wrap .temp-demo a {
  border-radius: 3px 0 0 3px;
  border-right: 0;
}
.template-img-wrap .temp-demo a:hover {
  padding-left: 1px;
}
.template-img-wrap .temp-edit a {
  border-radius: 0 3px 3px 0;
}

div.temp-num {
  width: 5%;
}
@media only screen and (max-width: 1440px) {
  div.temp-num {
    width: 10%;
  }
}
div.temp-img {
  width: 14%;
}
div.temp-img a {
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 90px;
  overflow: hidden;
  margin-top: 15px;
}
div.temp-img a img {
  width: 100%;
  min-height: 100%;
}
@media only screen and (max-width: 1440px) {
  div.temp-img {
    width: 26%;
  }
}
div.temp-img a .A18041301 {
  background-image: url(../photos/shares/A18041301/view.jpg);
}
div.temp-img a.A18060101 {
  background-image: url(../photos/shares/A18060101/view.jpg);
}
div.temp-img a.A18050201 {
  background-image: url(../photos/shares/A18050201/view.jpg);
}
div.temp-img a.A18021301 {
  background-image: url(../photos/shares/A18021301/view.jpg);
}
div.temp-img a.A18011701 {
  background-image: url(../photos/shares/A18011701/view.jpg);
}
div.temp-name {
  width: 9%;
  overflow: hidden;
}
div.temp-name a {
  color: #676ea5;
}
div.temp-name a:hover {
  text-decoration: underline !important;
}
@media only screen and (max-width: 1440px) {
  div.temp-name {
    width: 16%;
  }
}
div.temp-date {
  width: 9%;
}
@media only screen and (max-width: 1440px) {
  div.temp-date {
    width: 16%;
  }
}
div.temp-layout {
  width: 9%;
}
@media only screen and (max-width: 1440px) {
  div.temp-layout {
    display: none;
  }
}
div.temp-style {
  width: 9%;
}
@media only screen and (max-width: 1440px) {
  div.temp-style {
    display: none;
  }
}
div.temp-type {
  width: 5%;
}
@media only screen and (max-width: 1440px) {
  div.temp-type {
    display: none;
  }
}
div.temp-color {
  width: 13%;
  padding: 0 10px;
  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  div.temp-color {
    display: none;
  }
}
div.temp-staut {
  width: 8%;
}
@media only screen and (max-width: 1440px) {
  div.temp-staut {
    width: 14%;
  }
}
div.temp-icon {
  width: 8%;
}
@media only screen and (max-width: 1440px) {
  div.temp-icon {
    width: 14%;
  }
}
div.temp-edit {
  width: 8%;
}
@media only screen and (max-width: 1440px) {
  div.temp-edit {
    display: none;
  }
}
div.temp-edit a:before {
  content: "\7DE8\8F2F";
  font-size: 13px;
}
div.temp-demo {
  width: 8%;
}
@media only screen and (max-width: 1440px) {
  div.temp-demo {
    width: 14%;
  }
}
div.temp-demo a:before {
  content: "Demo";
  font-size: 13px;
}
div.temp-staut a, div.temp-icon a {
  border: 1px solid #c3cada;
  background: #c3cada;
}
div.temp-staut a:before, div.temp-icon a:before {
  content: "\95DC\9589";
  font-size: 13px;
}
div.temp-active a {
  color: #fff !important;
  background: #676ea5;
  border: 1px solid #676ea5;
}
div.temp-active a:before {
  content: "\986F\793A";
  font-size: 13px;
}

.x_panel {
  margin-top: 15px;
}
.x_panel .form_item {
  padding-bottom: 65px;
}
.x_panel .form_item .item_block .image {
  position: relative;
  overflow: hidden;
  padding-top: 75%;
  width: 100%;
  border-radius: 10px;
  font-size: 0;
  background: #666;
  margin-bottom: 15px;
}
.x_panel .form_item .item_block .image img {
  position: absolute;
  top: 0;
}
.x_panel .form_item .item_block .caption {
  line-height: 40px;
}
.x_panel .form_item .item_block .caption p {
  float: left;
}
.x_panel .form_item .item_block .caption p a {
  color: #676ea5;
}
.x_panel .form_item .item_block .caption p a:hover {
  text-decoration: underline;
}
.x_panel .form_item .item_block .caption .live_url {
  font-size: 13px;
  width: 60px;
  height: 40px;
  display: block;
  line-height: 40px;
  float: right;
  text-align: center;
  border: 1px solid #e1e6f0;
  color: #525866;
  border-right: 0;
  border-radius: 3px 0 0 3px;
  padding-right: 1px;
  text-decoration: none;
}
.x_panel .form_item .item_block .caption .live_url:hover {
  padding-right: 0;
  color: #676ea5;
  border: 1px solid #676ea5;
}
.x_panel .form_item .item_block .caption .modify_url {
  font-size: 13px;
  width: 60px;
  height: 40px;
  display: block;
  line-height: 40px;
  float: right;
  text-align: center;
  border: 1px solid #e1e6f0;
  color: #525866;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
}
.x_panel .form_item .item_block .caption .modify_url:hover {
  color: #676ea5;
  border: 1px solid #676ea5;
}

.btn-del:hover, .btn-path:hover, .btn-upload:hover, .btn_edit:hover, .btn_save:hover, .btn-s:hover, .staut-logout:hover,
.btn-del:focus, .btn-path:focus, .btn-upload:focus, .btn_edit:focus, .btn_save:focus, .btn-s:focus, .staut-logout:focus {
  color: #fff !important;
}

.btn-copy:focus {
  color: unset !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: unset !important;
}

.alLeft {
  text-align: left !important;
}

.page-title {
  position: relative;
}
.page-title .model-sort:before {
  content: "\F079";
  position: absolute;
  left: 0;
  right: 0;
}
.page-title .model-cancel:before {
  content: "\F00D";
}
.page-title .model-btn {
  text-align: center;
  border-radius: 3px;
  color: #7a8599;
  padding: 13px;
  border: 1px solid #e1e6f0;
  text-decoration: none;
}
.page-title a {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  right: 0;
}

.logo-list-wrap {
  position: relative;
  width: 100%;
  font-size: 13px;
  margin: 15px 0;
}
.logo-list-wrap .js-sv a:hover {
  color: #fff !important;
}
.logo-title > div, .logo-content > div {
  float: left;
}
.logo-title {
  height: 60px;
}
.logo-title > div {
  text-align: center;
  line-height: 60px;
  background: #f2f6fc;
  border: 1px solid #e1e6f0;
  border-right: 0;
}
.logo-title > div:last-child {
  border-right: 1px solid #e1e6f0;
}
.logo-content p {
  line-height: 100px;
  text-align: center;
}
.logo-item {
  float: left;
  width: 100%;
}
.logo-item > div {
  float: left;
  line-height: 120px;
  text-align: center;
  border: 1px solid #e1e6f0;
  border-right: 0;
  border-top: 0;
  height: 120px;
}
.logo-item > div:last-child {
  border-right: 1px solid #e1e6f0;
}
.logo-item > div.lo-img {
  background: #676ea5;
}
.logo-item > div.lo-img.sort-item {
  line-height: 100px;
  height: 100px;
  border: 1px solid #676ea5;
  border-bottom-color: #e1e6f0;
}
.logo-item > div.lo-name.sort-item {
  line-height: 100px;
  height: 100px;
  border: 1px solid #e1e6f0;
}
.logo-img-wrap {
  margin: 15px 0 0;
}
.logo-img-wrap > .logo-title {
  display: none;
}
.logo-img-wrap .logo-item > div {
  border: 0;
}
.logo-img-wrap .logo-item {
  position: relative;
  float: left;
  width: 23%;
  margin-right: 2.6%;
  margin-bottom: 65px;
}
@media only screen and (max-width: 1440px) {
  .logo-img-wrap .logo-item {
    width: 48%;
    margin-right: 4%;
  }
}
.logo-img-wrap .logo-item:nth-child(4n) {
  margin-right: 0;
}
@media only screen and (max-width: 1440px) {
  .logo-img-wrap .logo-item:nth-child(4n) {
    margin-right: 5%;
  }
}
@media only screen and (max-width: 1440px) {
  .logo-img-wrap .logo-item:nth-child(2n) {
    margin-right: 0;
  }
}
.logo-img-wrap .lo-num,
.logo-img-wrap .lo-date,
.logo-img-wrap .lo-layout,
.logo-img-wrap .lo-style,
.logo-img-wrap .lo-type,
.logo-img-wrap .lo-color,
.logo-img-wrap .lo-staut,
.logo-img-wrap .lo-icon {
  display: none;
}
.logo-img-wrap .lo-img,
.logo-img-wrap .lo-name,
.logo-img-wrap .lo-edit,
.logo-img-wrap .lo-demo {
  height: auto;
  line-height: normal;
}
.logo-img-wrap .lo-img {
  width: 100%;
  float: left;
  padding-bottom: 15px;
}
.logo-img-wrap .lo-img a {
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;
  height: auto;
}
.logo-img-wrap .lo-img a img {
  display: block;
  width: 100%;
  height: auto;
  float: left;
}
.logo-img-wrap .lo-img a:hover {
  box-shadow: #ccd4e5 0 0 30px 0;
}
.logo-img-wrap .lo-name {
  width: auto;
  font-size: 16px;
  text-align: left;
  line-height: 40px;
}
.logo-img-wrap .lo-edit,
.logo-img-wrap .lo-demo {
  width: auto;
  float: right;
  height: 40px;
}
@media only screen and (max-width: 1440px) {
  .logo-img-wrap .lo-edit,
.logo-img-wrap .lo-demo {
    display: block;
  }
}
.logo-img-wrap .lo-edit a,
.logo-img-wrap .lo-demo a {
  transition: background 0.3s ease-in-out;
  background: #fff;
  float: right;
  padding: 0;
  line-height: 40px;
  height: 40px;
  border: 1px solid #e1e6f0;
  color: #525866;
}
.logo-img-wrap .lo-edit a:hover,
.logo-img-wrap .lo-demo a:hover {
  color: #676ea5;
  border: 1px solid #676ea5;
}
.logo-img-wrap .lo-demo a {
  border-radius: 3px 0 0 3px;
  border-right: 0;
}
.logo-img-wrap .lo-demo a:hover {
  padding-left: 1px;
}
.logo-img-wrap .lo-edit a {
  border-radius: 0 3px 3px 0;
}

.sort-list-wrap {
  position: relative;
  width: 100%;
  font-size: 13px;
  margin: 15px 0;
}
.sort-list-wrap .js-sv a:hover {
  color: #fff !important;
}
.sort-content p {
  line-height: 100px;
  text-align: center;
}
.sort-item {
  padding-bottom: 15px;
  border-radius: 3px;
}
.sort-item > div {
  float: left;
  line-height: 100px;
  text-align: center;
  height: 100px;
}
.sort-img {
  width: 100%;
  background: #676ea5;
}
.sort-img a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 150px;
  max-height: 60px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sort-img a img {
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.lo-img {
  width: 15%;
}
div.lo-img.sort-item {
  width: 100%;
}
div.lo-img a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  height: 60px;
  overflow: hidden;
}
div.lo-img a img {
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media only screen and (max-width: 1440px) {
  div.lo-img {
    width: 50%;
  }
  div.lo-img.sort-item {
    width: 100%;
  }
}
div.lo-name {
  width: 14%;
  overflow: hidden;
}
div.lo-name a {
  color: #676ea5;
  font-size: 18px;
}
div.lo-name a:hover {
  text-decoration: underline !important;
}
@media only screen and (max-width: 1440px) {
  div.lo-name {
    width: 30%;
  }
}
div.lo-casino {
  width: 9%;
}
@media only screen and (max-width: 1440px) {
  div.lo-casino {
    display: none;
  }
}
div.lo-sports {
  width: 9%;
}
@media only screen and (max-width: 1440px) {
  div.lo-sports {
    display: none;
  }
}
div.lo-card {
  width: 9%;
}
@media only screen and (max-width: 1440px) {
  div.lo-card {
    display: none;
  }
}
div.lo-live {
  width: 9%;
}
@media only screen and (max-width: 1440px) {
  div.lo-live {
    display: none;
  }
}
div.lo-lottery {
  width: 9%;
}
@media only screen and (max-width: 1440px) {
  div.lo-lottery {
    display: none;
  }
}
div.lo-fishing {
  width: 9%;
}
@media only screen and (max-width: 1440px) {
  div.lo-fishing {
    display: none;
  }
}
div.lo-mahjong {
  width: 9%;
}
@media only screen and (max-width: 1440px) {
  div.lo-mahjong {
    display: none;
  }
}
div.lo-edit {
  width: 8%;
}
@media only screen and (max-width: 1440px) {
  div.lo-edit {
    width: 20%;
  }
}
div.lo-edit a:before {
  content: "\7DE8\8F2F";
  font-size: 13px;
}
div.lo-staut a, div.lo-icon a {
  border: 1px solid #c3cada;
  background: #c3cada;
}
div.lo-staut a:before, div.lo-icon a:before {
  content: "\95DC\9589";
  font-size: 13px;
}
div.lo-active a {
  color: #fff !important;
  background: #676ea5;
  border: 1px solid #676ea5;
}
div.lo-active a:before {
  content: "\986F\793A";
  font-size: 13px;
}

.x_panel.logo_warp {
  margin-top: 15px;
}
.x_panel.logo_warp .form_item {
  padding: 20px 0;
}
.x_panel.logo_warp .form_item .item_block .image {
  position: relative;
  overflow: hidden;
  padding-top: 75%;
  width: 100%;
  border-radius: 10px;
  font-size: 0;
  background: #2D2747;
  margin-bottom: 15px;
}
.x_panel.logo_warp .form_item .item_block .image img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.x_panel.logo_warp .form_item .item_block .caption {
  line-height: 40px;
}
.x_panel.logo_warp .form_item .item_block .caption p {
  float: left;
  width: calc(100% - 60px);
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
.x_panel.logo_warp .form_item .item_block .caption p a {
  color: #676ea5;
}
.x_panel.logo_warp .form_item .item_block .caption p a:hover {
  text-decoration: underline;
}
.x_panel.logo_warp .form_item .item_block .caption .live_url {
  font-size: 13px;
  width: 60px;
  height: 40px;
  display: block;
  line-height: 40px;
  float: right;
  text-align: center;
  border: 1px solid #e1e6f0;
  color: #525866;
  border-right: 0;
  border-radius: 3px 0 0 3px;
  padding-right: 1px;
  text-decoration: none;
}
.x_panel.logo_warp .form_item .item_block .caption .live_url:hover {
  padding-right: 0;
  color: #676ea5;
  border: 1px solid #676ea5;
}
.x_panel.logo_warp .form_item .item_block .caption .modify_url {
  font-size: 13px;
  width: 60px;
  height: 40px;
  display: block;
  line-height: 40px;
  float: right;
  text-align: center;
  border: 1px solid #e1e6f0;
  color: #525866;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
}
.x_panel.logo_warp .form_item .item_block .caption .modify_url:hover {
  color: #676ea5;
  border: 1px solid #676ea5;
}

.btn-del:hover, .btn-path:hover, .btn-upload:hover, .btn_edit:hover, .btn_save:hover, .btn-s:hover, .staut-logout:hover,
.btn-del:focus, .btn-path:focus, .btn-upload:focus, .btn_edit:focus, .btn_save:focus, .btn-s:focus, .staut-logout:focus {
  color: #fff !important;
}

.btn-copy:focus {
  color: unset !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: unset !important;
}

.user_page #searchWrap {
  margin-top: 0;
}
.user_page .table-list {
  margin: 15px 0;
}
.user_page .content-righttop-btn {
  top: -10px;
}

.allinone_page .create_font {
  color: #5cb85c;
}
.allinone_page .modify_font {
  color: #f0ad4e;
}
.allinone_page .delete_font {
  color: #d9534f;
}
.allinone_page #tab-link {
  border-bottom: 1px solid #e1e6f0;
  margin-bottom: 15px;
  width: 100%;
  height: 41px;
}
.allinone_page #tab-link a {
  transition: background 0.3s ease-in-out;
  float: left;
  width: 100px;
  text-align: center;
  line-height: 39px;
  color: #525866;
  border: 1px solid #e1e6f0;
  border-right: 0;
}
.allinone_page #tab-link a.active {
  border-top: 1px solid #676ea5;
  border-right: 0;
  background: #f2f6fc;
}
.allinone_page #tab-link a.active:hover {
  border: 1px solid #E1E6F0;
  border-top: 1px solid #E1E6F0;
  border-right: 0 !important;
}
.allinone_page #tab-link a:hover {
  background: #E1E6F0;
  border: 1px solid #E1E6F0;
  border-right: 0;
}
.allinone_page #tab-link li:last-child a {
  border-right: 1px solid #e1e6f0;
}
.allinone_page #tab-link li:last-child a:hover {
  border: 1px solid #E1E6F0;
}
.allinone_page #tab-link li:last-child a.active:hover {
  border: 1px solid #E1E6F0 !important;
}
.allinone_page #tab-content {
  width: 100%;
}
.allinone_page .tab-title1:before {
  content: "\7570\52D5\7D00\9304";
}
.allinone_page .tab-title2:before {
  content: "\767B\5165\7D00\9304";
}