.first-wrap {
    width: 100%;
    height: 100%;
}

.first-main {
    width: 100%;
    height: 100%;
    background: $color-1;
}

.first-login {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    &:first-child {
        border-right: 1px solid #CCC;
    }
}

.first-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    width: 240px;
    line-height: 240px;
    text-align: center;
    font-size: 40px;
    color: $color-1;
    background: #FFF;
    background: rgba(255, 255, 255, .9);
    margin: -120px 0 0 -120px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    &:hover {
        color: $color-1-dark;
        background: #FFF;
    }
}