//ITEM
.item-wrap {
    position: relative;
    padding: 32px;
    .error {
        margin-left: 16px;
        font-size: 14px;
        color: #F31809;
    }
}

.item-mode {
    ul {
        display: block;
        width: 100%;
    }
}

.item-block {
    li {
        width: 23%;
        margin: 0 1% 2% 1%;
        float: left;
        img {
            display: block;
            width: 100%;
        }
        span {
            display: none;
            &.info {
                position: relative;
                display: block;
                line-height: 48px;
                border: 1px solid #CCC;
                border-top: 0;
                background-color: #FFF;
                h2 {
                    font-weight: normal;
                    padding: 0 0 0 16px;
                    float: left;
                }
                [class*="btn-"] {
                    color: #FFF;
                    background: $color-1;
                    padding: 0 16px;
                    float: right;
                    &:hover {
                        background: $color-1-dark;
                    }
                }
                .btn-view {}
                .btn-edit {}
            }
        }
        &.item-add {
            a {
                position: relative;
                display: block;
                background: $color-1;
                padding: 0 0 48px;
                &:hover {
                    background: $color-1-dark;
                }
            }
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                display: block;
                width: 120px;
                height: 120px;
                line-height: 120px;
                text-align: center;
                font-size: 40px;
                color: #FFF;
                border: 3px solid #FFF;
                -moz-border-radius: 100%;
                -webkit-border-radius: 100%;
                border-radius: 100%;
                margin: -60px 0 0 -60px;
            }
        }
    }
}

.item-list {
    li {
        position: relative;
        display: block;
        line-height: 48px;
        border: 1px solid #CCC;
        img {
            display: none;
        }
        span {
            text-align: center;
            float: left;
            &.info {
                width: 60%;
                text-align: left;
                h2 {
                    float: none;
                    padding: 0 0 0 16px;
                }
                [class*="btn-"] {
                    display: none;
                }
            }
            &.new {
                width: 5%;
            }
            &.hot {
                width: 5%;
            }
            &.status {
                width: 5%;
            }
            &.select {
                width: 15%;
                a {
                    text-align: center;
                    color: #508ec5;
                    text-decoration: underline;
                }
            }
            &.edit {
                width: 5%;
            }
            &.del {
                width: 5%;
            }
            .checkbox {
                display: block;
                width: 24px;
                height: 24px;
                border: 1px solid #CCC;
                margin: 12px auto;
                @include appearance(checkbox);
            }
            a {
                display: block;
                font-size: 24px;
                color: #AAA;
                margin: 0 auto;
            }
        }
        &.item-add {
            display: none;
        }
        &:hover {
            img {
                position: absolute;
                bottom: -187px;
                left: 0;
                z-index: 2;
                display: block;
                max-width: 320px;
            }
        }
    }
}

.item-list-add {
    line-height: 48px;
    color: #FFF;
    background: $color-1;
    a {
        position: relative;
        display: block;
        text-align: center;
        color: #FFF;
        &:hover {
            background: $color-1-dark;
        }
    }
    .item-block & {
        display: none;
    }
    .item-list & {
        display: block;
    }
}

.item-list-title {
    line-height: 48px;
    span {
        text-align: center;
        float: left;
        &.num {
            width: 60%;
            text-align: left;
            padding: 0 0 0 16px;
        }
        &.new {
            width: 5%;
        }
        &.hot {
            width: 5%;
        }
        &.status {
            width: 5%;
        }
        &.select {
            width: 15%;
        }
        &.edit {
            width: 5%;
        }
        &.del {
            width: 5%;
        }
    }
    .item-block & {
        display: none;
    }
    .item-list & {
        display: block;
    }
}

.item-box {
    position: relative;
    overflow: hidden;
    border: 1px solid #CCC;
}

.item-img {
    position: absolute;
    top: 0;
}

//ITEM MANAGE
.item-manage-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 32px;
    clear: both;
    h1 {
        display: block;
        line-height: 1.5;
        font-size: 36px;
        color: #000;
        border-bottom: 1px solid #CCC;
        margin: 0 0 32px;
    }
}

.item-manage-list {
    position: relative;
    line-height: 32px;
    margin: 0 0 16px;
    padding: 0 0 0 100px;
    h2 {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100px;
    }
}

.item-manage-radio {
    float: left;
    li {
        position: relative;
        margin: 0 1px 0 0;
        float: left;
    }
    input {
        display: none;
    }
    label {
        display: block;
        width: 100%;
        min-width: 64px;
        text-align: center;
        color: #333;
        background: #EEE;
        cursor: pointer;
        user-select: none;
        padding: 0 16px;
    }
    input:checked+label {
        color: #FFF;
        background: $color-1;
    }
}

.item-manage-checkbox {
    float: left;
    li {
        position: relative;
        height: 32px;
        margin: 0 16px 0 0;
        float: left;
    }
    label.checkbox {
        input[type="checkbox"] {
            display: none;
        }
        span {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 32px;
            height: 32px;
            border: 1px solid #CCC;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            border-radius: 100%;
            cursor: pointer;
            &::after {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                -moz-border-radius: 100%;
                -webkit-border-radius: 100%;
                border-radius: 100%;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                margin: 3px auto;
            }
        }
         :checked+span {
            border: 2px solid $color-1;
            &::after {
                margin: 2px auto;
            }
        }
        &.white {
            span {
                &::after {
                    background: #FFF;
                    border: 1px solid #EEE;
                }
            }
        }
        &.gray {
            span {
                &::after {
                    background: #999;
                }
            }
        }
        &.black {
            span {
                &::after {
                    background: #000;
                }
            }
        }
        &.blue {
            span {
                &::after {
                    background: #018FE5;
                }
            }
        }
        &.green {
            span {
                &::after {
                    background: #46C101;
                }
            }
        }
        &.yellow {
            span {
                &::after {
                    background: #F1F500;
                }
            }
        }
        &.brown {
            span {
                &::after {
                    background: #5D2901;
                }
            }
        }
        &.orange {
            span {
                &::after {
                    background: #FF7E00;
                }
            }
        }
        &.red {
            span {
                &::after {
                    background: #F31809;
                }
            }
        }
        &.pink {
            span {
                &::after {
                    background: #FF007E;
                }
            }
        }
        &.purple {
            span {
                &::after {
                    background: #BC00FF;
                }
            }
        }
    }
}

.item-manage-input-num,
.item-manage-input-notice {
    float: left;
    input {
        width: 128px;
        height: 32px;
        font-size: 14px;
        border: 1px solid #CCC;
        padding: 0 0 0 8px;
    }
}

.item-manage-input-notice input {
    width: 200px;
}

.item-manage-input-upload {
    a {
        box-sizing: content-box;
        display: inline-block;
        text-align: center;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        border: 2px solid #09AFA8;
        background: #09AFA8;
        i {
            color: #FFF
        }
        &:hover {
            background: #FFF;
            i {
                color: #09AFA8
            }
        }
    }
}

.item-manage-pic {
    display: block;
    margin: 0 0 24px;
    &.item_e {
        li {
            min-height: 202px;
        }
    }
    .class {
        margin: 0 0 4px;
        b {
            font-weight: normal;
            color: $color-1;
            float: left;
        }
    }
    li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 240px;
        border: 1px solid #CCC;
        margin: 0 16px 16px 0;
        padding: 8px;
        counter-increment: chapter;
        &.add {
            border: 0;
            height: 170px;
            background: #F2F2F2;
            cursor: pointer;
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                display: block;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                font-size: 32px;
                color: $color-1;
                border: 3px solid $color-1;
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
                border-radius: 0;
                margin: -30px 0 0 -30px;
                cursor: pointer;
            }
        }
    }
    .title {
        h3 {
            display: block;
            color: #666;
            float: left;
        }
        input {
            width: 180px;
            height: 24px;
            border: 1px solid #CCC;
        }
    }
    .tip {
        float: right;
        &::before {
            // content: counter(chapter, decimal-leading-zero);
            // /* 計數器 */
        }
        &.tip {
            &::before {
                display: none;
            }
        }
        .item-manage-hover {
            text-align: right;
        }
    }
    .input {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        background: #CCC;
        overflow: hidden;
        img {
            width: 100%;
        }
        [type=text] {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            font-size: 0;
            min-width: 100%;
            min-height: 100%;
            opacity: 0;
            text-align: right;
            cursor: pointer;
        }
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            display: block;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 32px;
            color: #FFF;
            border: 3px solid #FFF;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
            margin: -30px 0 0 -30px;
            cursor: pointer;
        }
    }
    .pic {
        width: 100%;
        height: 120px;
        overflow: hidden;
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
        }
    }
    .nav {
        margin: 8px 0 0;
        .input {
            width: 24px;
            height: 24px;
            background: none;
            float: left;
            [type=file] {
                width: 24px;
                height: 24px;
            }
            i {
                height: 24px;
                line-height: 28px;
                border: 0;
                -moz-border-radius: none;
                -webkit-border-radius: none;
                border-radius: none;
                margin: -12px 0 0 -12px;
            }
        }
        a.del {
            float: right;
        }
        i,
        a {
            display: block;
            width: 24px;
            text-align: center;
            font-size: 24px;
            color: #AAA;
            &:hover {
                color: $color-1;
            }
        }
    }
}

.item-manage-hover {
    position: relative;
    width: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 24px;
    margin: 0 0 0 8px;
    cursor: pointer;
    float: left;
    .tips {
        position: absolute;
        top: 32px;
        z-index: 2;
        display: none;
        width: auto;
        min-width: 240px;
        height: auto;
        line-height: 1.5;
        text-align: left;
        font-size: 14px;
        background: #EEE;
        padding: 16px;
    }
    &:hover {
        .tips {
            display: block;
        }
    }
}

.item-manage-back {
    width: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 32px;
    color: $color-1;
    float: left;
    &:hover {
        color: $color-1-dark;
    }
    .header-wrap & {
        line-height: 38px;
        font-size: 26px;
        margin-right: 32px;
    }
}

.item-manage-btn {
    text-align: center;
    border-top: 1px solid #CCC;
    padding: 32px 0 0;
    a,
    button {
        display: inline-block;
        vertical-align: middle;
        margin: 0 8px;
        padding: 8px 24px;
        &.confirm {
            color: #FFF;
            border: 0;
            background: $color-1;
        }
        &.cancel {
            color: #333;
            border: 1px solid #CCC;
        }
        &.del {
            color: $color-1;
            border: 0;
            background: none
        }
        &:hover {
            &.confirm {
                background: $color-1-dark;
            }
            &.cancel {
                background: #EEE;
            }
            &.del {
                text-decoration: underline;
                color: $color-1-dark;
            }
        }
    }
}

.item-del-wrap {
    @include lightbox-wrap;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 320px;
    height: 180px;
    margin: -90px 0 0 -160px;
    h2 {
        display: block;
        text-align: center;
        font-size: 24px;
        color: #666;
        margin: 56px 0 0;
    }
}

.item-del-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    a,
    button {
        width: 50%;
        line-height: 48px;
        text-align: center;
        color: #FFF;
        float: left;
        border: 0;
        &.confirm {
            background: $color-1;
        }
        &.cancel {
            background: #CCC;
        }
        &:hover {
            &.confirm {
                background: $color-1-dark;
            }
            &.cancel {
                background: #AAA;
            }
        }
    }
}

.item-del-close {
    @include lightbox-close;
}

//選擇次數彈窗
.select-count-wrap {
    @include lightbox-wrap;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
    padding: 64px 0 32px;
}

.select-count-close {
    @include lightbox-close;
}

.select-count-main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0 32px;
}

.select-count-title {
    h2 {
        display: block;
        font-size: 24px;
        float: left;
    }
    .add {
        width: 32px;
        line-height: 32px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #FFF;
        background: $color-1;
        float: right;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        &:hover {
            background: $color-1-dark;
        }
    }
}

.select-count-form {
    margin: 32px 0 0;
}

.select-count-collapse {
    display: none;
    border: 1px solid #CCC;
    margin: 0 0 32px;
    padding: 16px;
    .date {
        width: 300px;
        float: left;
    }
    .form {
        width: 680px;
        float: right;
        h2 {
            display: block;
            font-size: 24px;
        }
        ul {
            display: block;
            width: 100%;
            border-top: 1px solid #CCC;
            margin: 8px 0 0;
            padding: 16px 0 0;
        }
        li {
            position: relative;
            width: 50%;
            line-height: 32px;
            margin: 0 0 24px;
            padding: 0 24px 0 80px;
            float: left;
            span {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 80px;
            }
            input {
                display: block;
                width: 100%;
                height: 32px;
                border: 1px solid #CCC;
            }
            &.last {
                width: 100%;
            }
        }
    }
    .nav {
        text-align: center;
        margin: 16px 0 0;
        a {
            display: inline-block;
            line-height: 24px;
            text-align: center;
            margin: 0 8px;
            padding: 8px 24px;
            &.confirm {
                color: #FFF;
                background: $color-1;
            }
            &.cancel {
                color: #333;
                border: 1px solid #CCC;
            }
            &:hover {
                &.confirm {
                    background: $color-1-dark;
                }
                &.cancel {
                    background: #EEE;
                }
            }
        }
    }
}

// Welcome
.welcome {
    height: 100vh;
    .row {
        height: 100%;
    }
    .item {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 64px;
        &.rwd {
            color: #333;
            background: #EEE;
        }
        &.adaptive {
            color: #FFF;
            background: #09AFA8;
        }
    }
}