/* --- 登入前 色彩管理 --- */
@include login-color(
    $btn-font: #FFF,          //登入按鈕的字色
    $btn-bg  : #EE3E41,          //登入按鈕的背景色
    $link    : #555,          //忘記密碼與加入會員的預設字色
    $alink   : #555           //忘記密碼與加入會員的連結字色
);

/* --- 登入後 色彩管理 --- */
@include meminfo-color(
    $info-font              : #555,       //帳號、餘額列的字色
    $info-icon              : #EE3E42,       //帳號、餘額列加號的顏色

    $balance-bg             : #555,       //餘額視窗的背景色
    $balance-font           : #FFF,       //餘額視窗個餘額的字色
    $balance-bottom         : #EE3E42,       //餘額視窗下方背景色
    $balance-btn-font       : #555,       //餘額轉換按鈕的字色
    $balance-btn-bg         : #C0C0C0,       //餘額轉換按鈕的背景色

    $member-border-color    : #E0E0E0,       //連結列的邊線顏色
    $member-font            : #666,       //連結列的字色

    $btn-font               : #FFF,       //TABLET 側選單-按鈕字色
    $btn-font-h             : #000,       //TABLET 側選單-按鈕字色:hover
    $btn-mem-bg             : #5CA0C9,        //TABLET 側選單-會員中心按鈕
    $btn-switch-bg          : #999,       //TABLET 側選單-額度轉換按鈕
    $btn-logout-bg          : #EE3E42       //TABLET 側選單-登出按鈕
);

/* --- 登入前與登入後框架 --- */
.login-wrap,
.meminfo-wrap {
    position: relative;
    left: -53px;
    width: 680px;
    height: 260px;
    background: url(../image/login_bg.png) #CCC no-repeat;
    background-position: -200px bottom;
    .first & {
        left: auto;
        margin-left: 18%;
        width: 40%;
        height: 200px;
    }
    .login-title,
    .meminfo-title {
        padding: 12px 16px 2px;
        text-align: right;
        font-size: 20px;
        line-height: 20px;
        font-family:  "Microsoft YaHei";
        font-style: italic;
        color: #999;
        .first & {
            padding: 16px 16px 2px;
        }
    }
    @include MQ(desktop) {
        .first & {
            margin-left: 0;
            width: 50%;
        }
    }
    @include MQ(tablet) {
        position: fixed;
        z-index: -1;
        top: -32px;
        left: 0;
        padding-top: 26px;
        margin: 0 7%;
        width: 86%;
        height: 100%;
        background: none;
        opacity: 0;
        transition: opacity ease .3s, top ease .3s, z-index .3s ease 0s;
        .first & {
            left: auto;
            margin: 0 7%;
            width: 86%;
            height: 100%;
        }
        .login-main,
        .meminfo-main {
            padding-top: 132px;
            padding-bottom: 40px;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: #222;
            overflow-y: auto;
            overflow-scrolling: touch;
            -webkit-overflow-scrolling: touch;
            //卷軸樣式變更
            &::-webkit-scrollbar {
                width: 3px;
            }
            &::-webkit-scrollbar-track {
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                -webkit-border-radius: 10px;
                border-radius: 10px;
                background: #999;
            }
        }
        .login-title,
        .meminfo-title {
            display: inline-block;
            margin-bottom: 106px;
            padding: 0;
            text-align: center;
            @include text-hide();
            width: 194px;
            height: 36px;
            line-height: 36px;
            .first & {
                padding: 0;
            }
            &:after {
                content: '';
                display: block;
                margin: 26px auto 0;
                width: 60px;
                height: 2px;
                background-color: #333
            }
        }
        .login-title {
            background-image: url(../image/login_title_m.png)
        }
        .meminfo-title {
            background-image: url(../image/logon_title_m.png)
        }
        &.active {
            z-index: 998;
            top: 0;
            opacity:1;
            transition: opacity ease .3s, top ease .3s;
        }
    }
    @include MQ(mobile) {
        margin: 0 4%;
        width: 92%;
        .first & {
            margin: 0 4%;
            width: 92%;
        }
    }
}


/* --- 登入前 --- */
.login-main {
    padding-left: 72px;
    height: 100%;
    .first & {
        padding-left: 9.4%;
    }
    @include MQ(custom) {
        .first & {
            padding-left: 7%;
        }
    }
    @include MQ(tablet) {
        padding-left: 0;
        .first & {
            padding-left: 0;
        }
    }
    @include MQ(mobile) {}
}

/* --- 登入前輸入框 --- */
.login-input,
.login-btn-group {
    float: left;
    position: relative;
    z-index: 3; 
    @include MQ(desktop) {}
    @include MQ(tablet) {
        float: none
    }
    @include MQ(mobile) {}
}

.login-input {
    position: relative;
    top: -4px;
    width: 46%;
    min-width: 180px;
    margin-bottom: 28px;
    .first & {
        top: auto;
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        top: auto;
        width: auto;
    }
    @include MQ(mobile) {}
}

.login-unit {
    display: block;
    margin-bottom: 10px;
    height: 36px;
    padding-left: 14px;
    background-color: #FFF;
    input {
        display: block;
        min-width: 190px;
        width: 100%;
        height: 100%;
        color: #595656;
        font-size: 13px;
        border: none;
        background-color: transparent;
        &::-webkit-input-placeholder {
            color: #595656;
        }
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        display: inline-block;
        float: none;
        margin-bottom: 28px;
        padding-left: 24px;
        width: 61%;
        height: 42px;
        border: 1px solid #CCC;
        input {
            font-size: 16px;
            font-weight: bold;
        }
    }
    @include MQ(mobile) {
        width: 73%;
        min-width: 220px;
    }
}

/* --- 登入前按鈕 --- */
.login-btn-group {
    margin-top: 4px;
    text-align: center;
    padding-right: 86px;
    width: 312px;
    height: 145px;
    background: url(../image/login_bg.png) no-repeat bottom right;
    .first & {
        margin-top: 12px;
        padding-right: 10%;
        width: 48%;
        height: 150px;
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        background: none;
        display: inline-block;
        padding-right: 0;
        min-width: 160px;
        width: 44%;
        height: 42px;
        .first & {
            margin-top: 0;
            padding-right: 0;
            width: 44%;
            height: 42px;
        }
    }
    @include MQ(mobile) {
        width: 61%;

    }
}
.login-submit {
    display: inline-block;
    margin-bottom: 18px;
    width: 86px;
    line-height: 67px;
    text-align: center;
    border-radius: 3px;
    @include MQ(desktop) {}
    @include MQ(tablet) {
        width: 100%;
        margin: 0 auto 20px;
        float: none;
        line-height: 42px;
    }
    @include MQ(mobile) {}
}

/* --- 登入前其他連結（忘記密碼與加入會員） --- */
.login-link {
    display: inline-block;
    width: 100%;
    font-size: 13px;
    color: #555;
    a {
        color: #555;
        &:hover {
            color: #EEE;
        }
    }
    
    @include MQ(desktop) {}
    @include MQ(tablet) {
        text-align: center;
        margin: 0 0 100px;
        float: none;
        font-size: 16px;
        color: #B9B9B9;
        a {
            color: #B9B9B9;
        }
    }
    @include MQ(mobile) {}
}



/* --- 登入後 --- */
.meminfo-main {
    padding-left: 9.4%;
    @include MQ(desktop) {}
    @include MQ(tablet) {
        padding-left: 0;
    }
    @include MQ(mobile) {}
}

/* --- 登入後資訊列（帳號、餘額） --- */
.meminfo-group {
    position: relative;
    z-index: 4;
    margin-top: 4px;
    padding-top: 8px;
    width: 93.6%;
    height: 162px;
    background: url(../image/login_bg.png) no-repeat top right;
    .first & {
        padding-top: 16px;
        background: url(../image/login_bg.png) no-repeat bottom right;
    }
    @include MQ(tablet) {
        margin: 10px auto 0;
        padding-top: 40px;
        text-align: left;
        height: auto;
        background: none;
        width: 61%;
        min-width: 250px;
        .first & {
            padding-top: 40px;
            background: none;
        }
    }
    @include MQ(mobile) {}
}


.mem-info {
    position: relative;
    float: left;
    padding-bottom: 24px;
    width: 74%;
    &:after,
    &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
    }
    &:before {
        bottom: 1px;
        background-color: #AAA;
    }
    &:after {
        bottom: 0;
        background-color: #E0E0E0;
    }
    .ele-acc-name,
    .ele-acc-unit,
    .ele-obalance-wrap {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        font-size: 15px;
    }
    .ele-acc-unit {
        position: relative;
    }
    .ele-obalance-wrap {
        cursor: pointer;
        margin-left: 20px;
    }
    @include MQ(custom) {
        .first & {
            padding-bottom: 14px;
        }
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        display: block;
        float: none;
        margin: 0 auto;
        padding-bottom: 32px;
        width: auto;
        
        &:after,
        &:before {
            display: none;
        }
        .ele-acc-name,
        .ele-acc-unit {
            display: block;
            font-size: 20px;
            color: #FFF;
            margin-right: 0;
        }
        .ele-obalance-wrap {
            font-size: 20px;
            margin-right: 0;
        }
    }
    @include MQ(mobile) {}
}

/* --- 登入後餘額視窗 --- */
.ele-obalance-item-wrap {
    position: absolute;
    left: 0;
    z-index: 10;
    display: block;
    width: 270px;   //基本數值不可更動
    max-height: 0;
    transition: max-height .5s ease;
    overflow: hidden;
    ul {
        display: block;
        padding: 16px;
    }
    li {
        display: block;
    }
    @media only screen and (min-width: 768px) {
        .ele-acc-unit:hover & {
            max-height: 999px;
        }
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        position: static;
        margin-top: 8px;
        width: 100%;
        background: #333;
        ul {
            padding: 26px;
        }
        li {
            font-size: 15px;
            line-height: 1.8;
            color: #999;
        }
        &.active {
            max-height: 999px;
            transition: max-height 1s ease;
        }
    }
}

/* --- 登入後餘額轉換的按鈕 --- */
.ele-balance-tool {
    text-align: right;
    padding: 4px; //基本數值不可更動
    a {
        display: inline-block;
        width: 80px;
        text-align: center;
        padding: 4px 8px; //基本數值不可更動
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        display: none;
    }
}

/* --- 登入後會員操作列 --- */
.SU-Menual {
    float: left;
    margin: 30px 20px 0 0;
    li {
        position: relative;
        line-height: 1;
        border-right-width: 1px;
        border-right-style: solid;
        padding-right: 12px;
        margin-right: 12px;
        margin-bottom: 8px;
        float: left;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background-color: #939393;
        }
        &.first {
            padding-left: 0;
        }
        &.last {
            &:after {
                display: none;
            }
            border-right: 0;
            padding-right: 0;
        }
        a {
            display: block;
            color: #666;
            font-size: 14px;
            font-style: italic;
            @include alink {
                text-decoration: underline;
            }
        }
    }
    .first & {
        margin: 22px 20px 0 0;
    }
    @include MQ(custom) {
        .first & {
            margin-top: 14px;
            li {
                line-height: 1.4;
            }
        }
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        display: none;
    }
}

/* --- 登入後 RWD 選單底部 --- */
.meminfo-tool {
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}

/* --- 登入後 RWD 選單的按鈕 --- */
[class*="meminfo-btn-"] {
    display: none;
    @include MQ(tablet) {
        display: block;
        margin: 0 auto;
        a {
            display: block;
            margin-bottom: 14px;
            line-height: 54px;
            text-align: center;
            border-radius: 3px;
        }
    }
    @include MQ(mobile) {}
}
.meminfo-btn-mem {
    @include MQ(tablet) {
        width: 61%;
        min-width: 250px;
    }
}