//teamplate
.alLeft {
    text-align: left !important;
}

.template {

    //清單模式
    &-list-wrap {
        position: relative;
        width: 100%;
        font-size: 13px;
        margin: 15px 0;
        .js-sv{
            a:hover{
                color:#fff !important;
            }
        }
    }
    &-title>div,
    &-content>div {
        float: left;
    }
    &-content>p{
        line-height: 100px;
        text-align: center;
    }
    &-title {
        height: 60px;
        &>div {
            text-align: center;
            line-height: 60px;
            background: #f2f6fc;
            border: 1px solid #e1e6f0;
            border-right: 0;
            &:last-child {
                border-right: 1px solid #e1e6f0;
            }
        }
    }
    &-content {
        .btn-s {
            // margin-top: 44px;
        }
    }
    &-item {
        float: left;
        width: 100%;
        &>div {
            float: left;
            line-height: 120px;
            //padding: 10px;
            text-align: center;
            border: 1px solid #e1e6f0;
            border-right: 0;
            border-top: 0;
            height: 120px;
            &:last-child {
                border-right: 1px solid #e1e6f0;
            }
        }
        &:nth-child(even)>div {
            background: #f5f7fa;
        }
    }
    //圖片模式
    &-img-wrap {
        margin: 15px 0 0;
        &>.template-title {
            display: none;
        }
        .template-item>div {
            border: 0;
        }
        .template-item {
            position: relative;
            float: left;
            width: 23%;
            margin-right: 2.6%;
            margin-bottom: 65px;
            @include MQ(custom) {
                width: 48%;
                margin-right: 4%;
            }
        }
        .template-item:nth-child(4n) {
            margin-right: 0;
            @include MQ(custom) {
                margin-right: 5%;
            }
        }
        .template-item:nth-child(2n) {
            @include MQ(custom) {
                margin-right: 0;
            }
        }
        .temp-num,
        .temp-date,
        .temp-layout,
        .temp-style,
        .temp-type,
        .temp-color,
        .temp-staut,
        .temp-icon {
            display: none;
        }
        .temp-img,
        .temp-name,
        .temp-edit,
        .temp-demo {
            height: auto;
            line-height: normal;
        }
        .temp-img {
            width: 100%;
            float: left;
            padding-bottom: 15px;
            a {
                @include trans(box-shadow);
                width: 100%;
                height: auto;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    float: left;
                }
            }
            a:hover {
                @include box-shadow(#ccd4e5 0 0 30px 0);
            }
        }
        .temp-name {
            //float: left;
            width: auto;
            font-size: 16px;
            text-align: left;
            line-height: 40px;
        }
        .temp-edit,
        .temp-demo {
            width: auto;
            float: right;
            height: 40px;
            @include MQ(custom) {
                display: block;
            }
        }
        .temp-edit a,
        .temp-demo a {
            @include trans(background);
            background: #fff;
            float: right;
            padding: 0;
            line-height: 40px;
            height: 40px;
            border: 1px solid #e1e6f0;
            color: #525866;
            &:hover {
                color: #676ea5;
                border: 1px solid #676ea5;
            }
        }
        .temp-demo a {
            @include border-radius(3px 0 0 3px);
            border-right: 0;
            &:hover {
                padding-left: 1px;
            }
        }
        .temp-edit a {
            @include border-radius(0 3px 3px 0);
        }
    }
}

div.temp {
    &-num {
        width: 5%;
        @include MQ(custom) {
            width: 10%;
        }
    }
    &-img {
        width: 14%;
        a {
            @include border-radius(10px);
            display: inline-block;
            vertical-align: middle;
            width: 120px;
            height: 90px;
            overflow: hidden;
            margin-top:15px;
            img {
                width:100%;
                min-height:100%;
            }
        }
        @include MQ(custom) {
            width: 26%;
        }
        a .A18041301 {
            background-image: url(../photos/shares/A18041301/view.jpg);
        }
        a.A18060101 {
            background-image: url(../photos/shares/A18060101/view.jpg);
        }
        a.A18050201 {
            background-image: url(../photos/shares/A18050201/view.jpg);
        }
        a.A18021301 {
            background-image: url(../photos/shares/A18021301/view.jpg);
        }
        a.A18011701 {
            background-image: url(../photos/shares/A18011701/view.jpg);
        }
    }
    &-name {
        width: 9%;
        overflow:hidden;
        a {
            color: #676ea5;
            &:hover {
                text-decoration: underline !important;
            }
        }
        @include MQ(custom) {
            width: 16%;
        }
    }
    &-date {
        width: 9%;
        @include MQ(custom) {
            width: 16%;
        }
    }
    &-layout {
        width: 9%;
        @include MQ(custom) {
            display: none;
        }
    }
    &-style {
        width: 9%;
        @include MQ(custom) {
            display: none;
        }
    }
    &-type {
        width: 5%;
        @include MQ(custom) {
            display: none;
        }
    }
    &-color {
        width: 13%;
        padding: 0 10px;
        overflow:hidden;
        @include MQ(custom) {
            display: none;
        }
    }
    &-staut {
        width: 8%;
        @include MQ(custom) {
            width: 14%;
        }
    }
    &-icon {
        width: 8%;
        @include MQ(custom) {
            width: 14%;
        }
    }
    &-edit {
        width: 8%;
        @include MQ(custom) {
            display: none;
        }
        a{
            &:before {
                content: '編輯';
                    font-size: 13px;
            }
        }
    }
    &-demo {
        width: 8%;
        @include MQ(custom) {
            width: 14%;
        }
        a{
            &:before {
                content: 'Demo';
                    font-size: 13px;
            }
        }
    }
    &-staut a,
    &-icon a {
        border: 1px solid #c3cada;
        background: #c3cada;
        &:before {
            content: '關閉';
                font-size: 13px;
        }
    }
    &-active a {
        color: #fff !important;
        background: #676ea5;
        border: 1px solid #676ea5;
        &:before {
            content: '顯示';
                font-size: 13px;
        }
    }
}

.x_panel{
    margin-top:15px;
    .form_item{
        padding-bottom:65px;
        .item_block{
            .image{
                position:relative;
                overflow:hidden;
                padding-top: 75%;
                width:100%;
                border-radius:10px;
                font-size:0;
                background: #666;
                margin-bottom:15px;
                img{
                    position:absolute;
                    top:0;
                }
            }
            .caption{
                line-height:40px;
                p{
                    float:left;
                    a{
                        color:#676ea5;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .live_url{
                    font-size:13px;
                    width: 60px;
                    height: 40px;
                    display: block;
                    line-height: 40px;
                    float: right;
                    text-align: center;
                    border: 1px solid #e1e6f0;
                    color: #525866;
                    border-right: 0;
                    border-radius: 3px 0 0 3px;
                    padding-right:1px;
                    text-decoration:none;
                    &:hover{
                        padding-right:0;
                        color: #676ea5;
                        border: 1px solid #676ea5;
                    }
                }
                .modify_url{
                    font-size:13px;
                    width: 60px;
                    height: 40px;
                    display: block;
                    line-height: 40px;
                    float: right;
                    text-align: center;
                    border: 1px solid #e1e6f0;
                    color: #525866;
                    border-radius: 0 3px 3px 0;
                    text-decoration:none;
                    &:hover{
                        color: #676ea5;
                        border: 1px solid #676ea5;
                    }
                }
            }
        }
    }
}

.btn-del:hover,.btn-path:hover,.btn-upload:hover,.btn_edit:hover,.btn_save:hover,.btn-s:hover,.staut-logout:hover,
.btn-del:focus,.btn-path:focus,.btn-upload:focus,.btn_edit:focus,.btn_save:focus,.btn-s:focus,.staut-logout:focus{
    color:#fff !important;
}

.btn-copy:focus{
    color:unset !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
    outline:unset !important;
}