.login {
    &-wrap {
        @include border-radius(5px);
        background: #c8cbd5;
        background: rgba(0, 0, 0, .03);
        width: 500px;
        height: 500px;
        position: absolute;
        left: 0;
        top: 0;
        right:0;
        bottom:0;
        margin: auto;
        padding: 50px;
        z-index: 0;
    }
    &-bg {
        @include border-radius(5px);
        @include box-shadow(#9fafc6 0 0 75px);
        background: #fff;
        width: 100%;
        height: 100%;
        padding: 60px 0 0 0;
        position: relative;
    }
    &-txt-wrap {
        text-align: center;
        height: 65px;
        line-height: 25px;
        color: #676ea5;
    }
    &-txt {
        display: block;
    }
    &-tip {
        // display: none; //錯誤提示文字
        font-size: 13px;
    }
    &-ball01 {
        width: 315px;
        height: 321px;
        background-image: url(../images/bg01.png);
        position: absolute;
        bottom: -150px;
        left: -150px;
        z-index: -1;
    }
    &-ball02 {
        width:451px;
        height:456px;
        background-image: url(../images/bg02.png);
        position: absolute;
        top: -200px;
        right: -220px;
        z-index: -1;
    }
}

#LoginForm {
    text-align: center;
    position: relative;
    z-index: 1;
    p {
        width: 220px;
        position: relative;
        margin: 0 auto 15px;
        &:nth-of-type(2) {
            margin-bottom: 20px;
        }
        label {
            position: absolute;
            top: 0;
            left: 15px;
            line-height: 40px;
            color: #676EA5;
        }
        input {
            color: #676EA5;
            &[type="submit"] {
                @include trans(background);
                @include border-radius(3px);
                background: #676EA5;
                width: 220px;
                height: 40px;
                font-size: 14px;
                //line-height: 38px;
                text-align: center;
                color: #fff;
                &:hover {
                    background: #777FBF;
                }
            }
        }
    }
}