/*
Errno::ENOENT: No such file or directory @ rb_sysopen - /Applications/XAMPP/xamppfiles/htdocs/bbin_template/C07/image/rule_logo.png

Backtrace:
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:31:in `initialize'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:31:in `open'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:31:in `get_size_for_png'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:26:in `size'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:54:in `image_dimensions'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-core-1.0.3/lib/compass/core/sass_extensions/functions/image_size.rb:6:in `image_width'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/script/tree/funcall.rb:143:in `_perform'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/script/tree/node.rb:58:in `perform'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:366:in `block (4 levels) in visit_mixin'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:366:in `map'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:366:in `block (3 levels) in visit_mixin'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:366:in `block (2 levels) in visit_mixin'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:361:in `block in visit_mixin'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/stack.rb:98:in `with_mixin'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:23:in `block in render_with_sourcemap'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:22:in `render_with_sourcemap'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/bin/compass:23:in `load'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/bin/compass:23:in `<main>'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/bin/ruby_executable_hooks:15:in `eval'
/Users/Web_quni_jhuang/.rvm/gems/ruby-2.2.3@global/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - /Applications/XAMPP/xamppfiles/htdocs/bbin_template/C07/image/rule_logo.png"; }
