@charset "utf-8";

/* --- 基本設定 --- */

@import "base/variables";
@import "base/grid";
@import "base/mixins";
@import "base/base";
@import "base/functions";
@import "base/fonts";

/* --- 共用架構 --- */

@import "layout/layout";
@import "layout/lang";
@import "layout/login";

/* --- 頁面 --- */

@import "pages/first";
@import "pages/sport";
@import "pages/live";
@import "pages/game";
@import "pages/lottery";
@import "pages/promotions";
@import "pages/about";