.datepicker {
    padding: 4px;
    border-radius: 4px;
}

.datepicker.datepicker-inline {
    width: 300px;
}

.datepicker.datepicker-dropdown {
    position: absolute;
    left: 0;
    z-index: 9999;
}

.datepicker.datepicker-dropdown.datepicker-orient-bottom:before:before,
.datepicker.datepicker-dropdown.datepicker-orient-bottom:before:after {
    border-bottom: 0;
}

.datepicker.datepicker-dropdown.datepicker-orient-bottom:before:before {
    bottom: -7px;
    border-top: 7px solid #999;
}

.datepicker.datepicker-dropdown.datepicker-orient-bottom:before:after {
    bottom: -6px;
    border-top: 6px solid #fff;
}

.datepicker > div,
.datepicker.days div.datepicker-days,
.datepicker.months div.datepicker-months,
.datepicker.years div.datepicker-years {
    display: block;
}

.datepicker table {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #F9F9F9;
    font-size: .85em;
}

.datepicker table tr td,
.datepicker table tr th {
    text-align: center;
    width: 40px;
    height: 40px;
    border: none;
    line-height: 1;
    padding-left: 1px;
}

.datepicker table thead {
    color: #fff;
    background-color: lightseagreen;
}

.datepicker table thead .prev,
.datepicker table thead .next {
    cursor: pointer;
    font-size: 2em;
    line-height: 1.5;
}

.datepicker table thead .prev:hover,
.datepicker table thead .next:hover {
    color: yellow;
}

.datepicker table tbody tr td,
.datepicker table tbody tr th {
    border-radius: 50%;
}

.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
    background-color: transparent;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
    background: #eceeef;
    cursor: pointer;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #D2D2D2;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background: none;
    color: #D2D2D2;
    cursor: default;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    color: #333;
    background-color: #eee;
}

.datepicker table tr td.today:focus,
.datepicker table tr td.today:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover:focus,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled:focus,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover:focus,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.disabled:hover.active {
    color: #333;
    background-color: #eee;
}

.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover {
    color: #333;
    background-color: #dadada;
}

.datepicker table tr td.today:hover:hover {
    color: #fff;
}

.datepicker table tr td.today.active:hover {
    color: #fff;
}

.datepicker table tr td.range,
.datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover {
    background: #eceeef;
    border-radius: 0;
}

.datepicker table tr td.range.today,
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:hover {
    color: #fff;
    background-color: lightseagreen;
    border-radius: 0;
}

.datepicker table tr td.range.today:focus,
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover:focus,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled:focus,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover:focus,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.disabled:hover.active {
    color: #fff;
    background-color: lightseagreen;
}

.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today:hover:hover,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover:hover {
    color: #fff;
    background-color: #1a8f89;
}

.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
    color: #fff;
    background-color: #909090;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td.selected:focus,
.datepicker table tr td.selected:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover:focus,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled:focus,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover:focus,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.disabled:hover.active {
    color: #fff;
    background-color: #909090;
}

.datepicker table tr td.selected:hover,
.datepicker table tr td.selected:hover:hover,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover:hover {
    color: #fff;
    background-color: #7c7c7c;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    color: #fff;
    background-color: lightseagreen;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td.active:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover.active {
    color: #fff;
    background-color: lightseagreen;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover {
    color: #fff;
    background-color: #1a8f89;
}

.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    border-radius: 4px;
}

.datepicker table tr td span:hover {
    background: #eceeef;
}

.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
    background: none;
    color: #909090;
    cursor: default;
}

.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
    color: #fff;
    background-color: lightseagreen;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.disabled:hover.active {
    color: #fff;
    background-color: lightseagreen;
}

.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover {
    color: #fff;
    background-color: #1a8f89;
}

.datepicker table tr td span.old,
.datepicker table tr td span.new {
    color: #909090;
}

.datepicker th.datepicker-switch {
    width: 145px;
}

.datepicker thead tr:first-child th,
.datepicker tfoot tr th {
    cursor: pointer;
    color: lightseagreen;
}

.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover {
    background: #eceeef;
}

.datepicker .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle;
}

.datepicker thead tr:first-child th.cw {
    cursor: default;
    background-color: transparent;
}

.input-group.date .input-group-addon i {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.input-daterange input {
    text-align: center;
}

.input-daterange input:first-child {
    border-radius: 3px 0 0 3px;
}

.input-daterange input:last-child {
    border-radius: 0 3px 3px 0;
}

.input-daterange .input-group-addon {
    width: auto;
    min-width: 16px;
    padding: 4px 5px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
    background-color: #eceeef;
    border: solid #ccc;
    border-width: 1px 0;
    margin-left: -5px;
    margin-right: -5px;
}
