// 清除浮動
.clearfix {
    @include clearfix;
}

// 全站設定
html {
    .page-login & {
        //登入頁定位用
        position: relative;
    }
    min-height: 100%;
    &.over_hidden{
        overflow: hidden;
    }
}

body {
    min-width: 1005px;
    min-height: 100%;
    background-image: linear-gradient(135deg, #f8f6f7, #c3cada);
}

input[type="text"],
input[type="password"],
textarea {
    @include border-radius(3px);
    padding: 5px 15px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e1e6f0;
    color: #555;
    &:focus {
        border: 1px solid #676EA5 !important;
    }
}

select[name] {
    @include border-radius(3px);
    background: #ffffff;
    padding: 5px;
    border: 1px solid #e1e6f0;
    min-width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #7a8599;
}

input[type="submit"],
.btn,
.btn_save{
    @include border-radius(3px);
    @include trans(background);
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    min-width: 100px;
    height: 40px;
    color: #ffffff;
    text-align: center;
    background: #676ea5;
    border: 0;
    font-size:13px;
    &:hover {
        background: #777FBF;
    }
}

.btn {
    &-cancel {
        @include transition-property(color, border);
        @include transition-duration(.3s);
        @include transition-timing-function(ease-in);
        background: #fff;
        border: 1px solid #e1e6f0;
        color: #7a8599;
        height: 42px;
        line-height: 30px;
        margin-left: 8px;
        &:hover {
            background: #fff;
            border: 1px solid #676EA5;
            color: #676ea5;
        }
    }
    &-s {
        padding: 0;
        min-width: 60px;
        line-height: 32px;
        height: 32px;
        margin: 0 5px;
    }
    &-s-del {
        background: #e85b70;
        &:hover {
            background: #FF637B;
        }
    }
    &-del {
        @include trans(background);
        background: #e85b70;
        color: #fff;
        padding: 0;
        height: 40px;
        line-height: 40px;
        &:hover {
            background: #ff637b;
        }
    }
    &-del-circle {
        @include trans(background);
        @include border-radius(20px);
        border: 1px solid #e85b70;
        background: none;
        min-width: auto;
        width: 35px;
        height: 35px;
        line-height: 35px;
        color: #fff;
        padding: 0;
        margin-left: 10px;
        span:before {
            content: '\f00d';
            color: #ff637b;
        }
        &:hover {
            background: #ff637b;
            span:before {
                color: #fff;
            }
        }
    }
    &-upload {
        @include trans(background);
        background: #55b0a6;
        color: #fff;
        padding: 0;
        height: 35px;
        line-height: 35px;
        min-width: 80px;
        &:hover {
            background: #61C9BD;
        }
    }
    &-add-item {
        @include trans(border);
        padding: 0;
        line-height: 35px;
        height: 35px;
        background: #ffffff;
        border: 1px solid #e1e6f0;
        color: #7a8599;
        span:before {
            content: '\f067';
            font-size: 12px;
            margin-right: 7px;
        }
        &:hover {
            background: #ffffff;
            color: #676ea5;
            border: 1px solid #676ea5;
        }
    }
    &-copy {
        @include border-radius(20px);
        border: 1px solid #e85b70;
        min-width: auto;
        width: 35px;
        height: 35px;
        background: #e85b70;
        margin-left: 10px;
        &:hover {
            border: 1px solid #e85b70;
            background: #fff;
            color: #FF637B;
        }
    }
    &-path {
        min-width: 80px;
        padding: 0;
        line-height: 35px;
        height: 35px;
    }
}

.text {
    &-warning {
        color: #e85b70;
    }
    &-nar {
        color: #55b0a6;
    }
    &-tip {
        color: #676ea5;
    }
}

#mainBody {
    width: 100%;
    min-width: 1005px;
}

.login-input {
    width: 220px;
}

// Logo
.logo {
    width:89px;
    height:34px;
    background-image: url(../images/logo.png);
    .login-bg & {
        margin: 0 auto 15px;
    }
    #header & {
        display: block;
        margin: 0 auto 40px;
    }
}

// Nav
#header {
    @include trans(width);
    padding-top: 80px;
    width: 240px;
    height: 100%;
    float: left;
    @include MQ(custom) {
        width: 200px;
    }
}

.mainnav {
    &-wrap {
        position: relative;
        float: left;
        width: 100%;
    }
    ul {
        width: 100%;
        padding: 0 30px;
        //width: 160px;
        //margin: 0 40px;
    }
    li {
        display: block;
        border-top: 1px solid #e9ebf0;
        >a {
            @include trans(color);
            padding: 15px;
            line-height: 20px;
            font-size: 14px;
            display: block;
            color: #525866;
            &.current,
            &:hover {
                color: #676EA5;
            }
            &:before {
                content: ' ';
                width: 25px;
                display: inline-block;
            }
            &.drop-title:before {
                content: '\f105';
            }
            &.drop-title-down:before {
                content: '\f107';
            }
        }
    }
}

//nav下拉選單
.drop {
    &-group {
        display: none;
        padding-bottom: 20px;
        a {
            @include trans(color);
            font-size: 13px;
            color: #525866;
            display: block;
            line-height: 30px;
            padding-left: 50px;
            &.current,
            &:hover {
                color: #676EA5;
            }
        }
    }
    &-open {
        display: block;
    }
}

//page
#container {
    width: 100%;
    min-height: 100%;
    padding: 0 2% 40px 240px;
    @include MQ(custom) {
        padding-left: 200px;
    }
}

.title {
    //float: left;
    display: inline-block;
    color: #525866;
    font-size: 16px;
    p {
        display: inline-block;
        font-size: 13px;
        margin-left: 5px;
        span {
            color: #55b0a6;
            padding: 0 5px;
        }
    }
}

//狀態&登出
.staut {
    height: 80px;
    width: 100%;
    text-align: right;
    padding-top: 25px;
    font-size: 13px;
    &-edit {
        @include trans(border);
        color: #7a8599;
        line-height: 30px;
        height: 42px;
        background: #fff;
        border: 1px solid #e1e6f0;
        padding: 5px 15px;
        &:hover {
            background: #fff;
            color: #676ea5;
            border: 1px solid #676ea5;
        }
    }
    &-logout {
        color: #fff;
        background: #676ea5;
        margin-left: 10px;
        line-height: 30px;
        &:hover {
            background: #777fbf;
        }
    }
}

.content {
    &-wrap {
        @include border-radius(5px);
        width: 100%;
        min-width: 805px;
        padding: 50px 60px 120px;
        min-height: 600px;
        background: rgba(255, 255, 255, .8);
        .index & {
            padding: 50px 60px 80px;
        }
    }
    &-title {
        position: relative;
        font-size: 16px;
        height: 40px;
        line-height: 20px;
        p {
            color: #7a8599;
            display: inline-block;
            font-size: 13px;
            margin-left: 5px;
        }
        span {
            font-size: 13px;
            padding: 0 5px;
        }
    }
    &-righttop-btn {
        position: absolute;
        top: -17px;
        right: 0;
        display: block;
        font-size: 13px;
        // padding: 0 20px 0 10px;
        // line-height: 40px;
        span:before {
            font-size: 12px;
            content: '\f067';
        }
    }
    &-body {
        font-size: 13px;
    }
}

//首頁視覺項目
.first {
    &-more-btn {
        @include border-radius(3px);
        @include trans(border);
        width: 135px;
        color: #7a8599;
        text-align: center;
        display: block;
        margin: 20px auto 0;
        border: 1px solid #e1e6f0;
        line-height: 40px;
        &:hover {
            color: #676ea5;
            border: 1px solid #676ea5;
        }
    }
    &-content {
        position: relative;
        width: 100%;
        float: left;
        .form_orderby{
            display:none;
        }
        //下拉選單：上架日期排行&熱門排行
        &>select {
            position: absolute;
            right: 0;
            top: -6px;
        }
    }
    &-wrap {
        float: left;
        width: 100%;
        height: auto;
        padding-bottom: 40px;
    }
    &-item {
        float: left;
        width: 25%;
        min-height: 240px;
        // background: image-url('bg03.png') no-repeat right 40px;
        position:relative;
        canvas {
            float:right;
            display: block;
            margin: 0 auto;
            width: 130px !important;
            height: 130px !important;
            @include MQ(custom) {
                float:unset;
                margin:auto;
                width: 150px !important;
                height: 150px !important;
            }
        }
        .title {
            width: 100%;
            padding: 0 0 25px 25px;
        }
        &:after{
            content:"";
            position:absolute;
            width:2px;
            height:130px;
            right:-1px;
            top:53px;
            background:#E1E6F0;
            @include MQ(custom) {
                height: 150px;
            }
        }
        &:nth-child(1) {
            // width: 22%;
            .title {
                padding-left: 0;
            }
        }
        &:last-child {
            &:after{
                display:none;
            }
        }
    }
    &-temp-num {
        float: left;
        width: 55%;
        @include MQ(custom) {
            width: 100%;
        }
        p {
            @include border-radius(65px);
            font-family: 'PingFang TC', 'Segoe UI ', sans-serif !important;
            font-weight: 100;
            display: inline-block;
            width: 130px;
            height: 130px;
            line-height: 130px;
            background: #f2f6fc;
            font-size: 50px;
            text-align: center;
            color: #676ea5;
            @include MQ(custom) {
                display: block;
                margin:auto;
                width: 150px !important;
                height: 150px !important;
                line-height: 150px;
                @include border-radius(75px);
            }
        }
    }
    &-temp-wrap {
        float: right;
        width: 45%;
        @include MQ(custom) {
            display: none;
        }
        ul {
            margin-left:10%;
            width: 90%;
        }
        li {
            font-size: 13px;
            line-height: 25px;
            &:last-child span:after {
                content: ' ';
                display: none;
            }
            a{
                &:hover{
                    color:#666;
                }
            }
        }
        span {
            @include border-radius(10px);
            color: #525866;
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #d8dce6;
            margin-right: 10px;
            &:after {
                content: ' ';
                display: block;
                width: 1px;
                height: 25px;
                margin-left: 5px;
                background: #d8dce6;
            }
            &.chart1_bg1{
                background:#7d66f4;
                &:after{
                    display:none;
                }
            }
            &.chart1_bg2{
                background:#ff7e00;
                &:after{
                    display:none;
                }
            }
            &.chart1_bg3{
                background:#ffd200;
                &:after{
                    display:none;
                }
            }
            &.chart1_bg4{
                background:#bc00ff;
                &:after{
                    display:none;
                }
            }
            &.chart1_bg5{
                background:#f94c4c;
                &:after{
                    display:none;
                }
            }
            &.chart2_bg1{
                background:#7d66f4;
                &:after{
                    display:none;
                }
            }
            &.chart2_bg2{
                background:#ff7e00;
                &:after{
                    display:none;
                }
            }
            &.chart2_bg3{
                background:#ffd200;
                &:after{
                    display:none;
                }
            }
            &.chart2_bg4{
                background:#bc00ff;
                &:after{
                    display:none;
                }
            }
            &.white{
                background:#fff;
                &:after{
                    display:none;
                }
            }
            &.grey{
                background:#999;
                &:after{
                    display:none;
                }
            }
            &.black{
                background:#000;
                &:after{
                    display:none;
                }
            }
            &.blue{
                background:#008fe4;
                &:after{
                    display:none;
                }
            }
            &.green{
                background:#46c100;
                &:after{
                    display:none;
                }
            }
            &.yellow{
                background:#f1f500;
                &:after{
                    display:none;
                }
            }
            &.brown{
                background:#5b2900;
                &:after{
                    display:none;
                }
            }
            &.orange{
                background:#ff7e00;
                &:after{
                    display:none;
                }
            }
            &.red{
                background:#f31809;
                &:after{
                    display:none;
                }
            }
            &.pink{
                background:#ff007e;
                &:after{
                    display:none;
                }
            }
            &.purple{
                background:#bc00ff;
                &:after{
                    display:none;
                }
            }
        }
    }
}

//搜尋
#searchWrap {
    position: relative;
    float: right;
    margin-top: -10px;
    label {
        font-size: 13px;
        position: absolute;
        top: 0;
        left: 15px;
        color: #7a8599;
        line-height: 42px;
    }
    input[type="text"] {
        width: 200px;
        padding: 5px 40px 5px 15px;
    }
}

input.search-btn {
    min-width: auto;
    //background: none;
    background: url(../images/search_btn_bg.png) no-repeat center center;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 38px;
    height: 38px;
    border: 0;
    padding: 0;
}

input.close-btn {
    min-width: auto;
    //background: none;
    background: url(../images/close_btn_bg.png) no-repeat center center;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 38px;
    height: 38px;
    border: 0;
    padding: 0;
}

//色系
.js-color-pick span:hover {
    @include trans(box-shadow);
    @include box-shadow(0 0 0 1px #676ea5);
}

.color {
    @include border-radius(15px);
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    text-align: center;
    &-active:before {
        line-height: 30px;
        color: #ffffff;
        content: '\f00c';
        font-size: 13px;
    }
    &-white {
        // width: 29px;
        // height: 29px;
        background: #fff;
        border: 1px solid #d3d7e0;
        &.color-active:before {
            color: #000;
            content: '\f00c';
        }
    }
    &-gray {
        background: #919090;
    }
    &-black {
        background: #000;
    }
    &-blue {
        background: #008fe4;
    }
    &-green {
        background: #46c100;
    }
    &-yellow {
        background: #f1f500;
        &.color-active:before {
            color: #000;
            content: '\f00c';
        }
    }
    &-coffee {
        background: #5b2900;
    }
    &-orange {
        background: #ff7e00;
    }
    &-red {
        background: #f31809;
    }
    &-pink {
        background: #ff007e;
    }
    &-purple {
        background: #bc00ff;
    }
}

//頁碼
.paginate_box{
    position:relative;
    .pagination-select{
        display:inline-block;
        select{
            min-width: 100px;
        }
    }
    ul{
        display: inline-block;
        text-align: left;
        vertical-align: top;
        position: relative;
        font-size: 0;
        margin:unset;
        margin-right:10px;
        li {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            // margin: 0 -1px 0 0;
            z-index:1;
            &:first-child>a{
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            &:last-child>a{
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
            &.active {
                z-index: 2;
                span,a{
                    border: 1px solid #676ea5;
                    background: #676ea5;
                    color: #ffffff;
                    &:hover{
                        position: relative;
                        background-color: #ffffff !important;
                        border: 1px solid #676ea5 !important;
                        color: #676ea5 !important;
                    }
                }
            }
            &:hover {
                z-index: 99;
                a,span{
                    position: relative;
                    background: #ffffff;
                    border: 1px solid #676ea5;
                    color: #676ea5;
                }
            }
            a,span {
                font-size: 13px;
                @include transition-property(background);
                @include transition-duration(.3s);
                @include transition-timing-function(ease-in);
                text-align: center;
                width: 40px;
                height: 40px;
                line-height: 40px;
                display: block;
                padding: unset;
                background: #ffffff;
                color: #777FBF;
                border: 1px solid #e1e6f0;
                outline: none;
            }
            // &:last-child{
            //     a{
            //         &:before {
            //             content: '\f105';
            //         }
            //     }
            // }
            // &:first-child{
            //     a{
            //         &:before {
            //             content: '\f104';
            //         }
            //     }
            // }
        }
    }
    //切換列表＋大圖模式
    .model-wrap {
        position: absolute;
        right: 0;
        top: 0;
        a{
            float: right;
            margin-left: 10px;
            width:40px;
            height:40px;
        }
        select {
            float: right;
            min-width: 150px;
        }
    }
    .model-btn {
        @include border-radius(3px);
        color: #7a8599;
        padding: 13px;
        border: 1px solid #e1e6f0;
        text-decoration:none;
        &:hover{
            border: 1px solid #676ea5;
            color: #676ea5;
        }
    }
    .model-list:before {
        content: '\f0ca';
    }
    .model-img:before {
        content: '\f009';
    }
    .pagination-gotoTop {
        float: right;
        margin: 0 -1px 0 0 !important;
        >a {
            @include transition-property(background);
            @include transition-duration(.3s);
            @include transition-timing-function(ease-in);
            text-align: center;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: block;
            background: #ffffff;
            border: 1px solid #e1e6f0;
            color: #777FBF;
            &.current {
                border: 1px solid #676ea5;
                background: #676ea5;
                color: #ffffff;
            }
            &:hover {
                position: relative;
                background: #ffffff;
                border: 1px solid #676ea5;
                color: #676ea5;
            }
            @include border-radius(3px);
            &:before {
                content: '\f106';
            }
        }
    }
}

.p_l_r_dis{
    padding-left: 0;
    padding-right: 0;
}


////RWD settings//////////////////////////////
@media only screen and (min-width:992px) {
    
}
@media only screen and (max-width:991px) {

}