// 按鈕顏色
@mixin btn-color($font, $bg) {
    color: $font;
    background-color: $bg;
    &:hover {
        background-color: darken($bg, 5%);
    }
}

// 圓角
@mixin border-radius($px) {
    border-radius: $px;
}

// 清除浮動
@mixin clearfix() {
    &:after,
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// 引入圖片及寬高自動為圖片實際尺寸
@mixin bg($img) {
    width: image-width(#{$img});
    height: image-height(#{$img});
    background-image: image-url(#{$img});
}

// CSS image replacement
@mixin text-hide() {
    font: "0/0" a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

// Links
@mixin alink() {
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.current {
        @content;
    }
}

// 讓 iOS裝置滑滾更順暢
@mixin overflow-scroll {
    overflow-y: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}

// 溢出文字變"..."
@mixin text-truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}

// 轉場效果
@mixin trans($key) {
    transition: $key 0.3s ease-in-out;
}

// font-awesome
@mixin fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// placeholder
@mixin placeholder( $color: #999, $color-h: #CCC) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &.placeholder {
        &::-webkit-input-placeholder {
            color: $color-h;
        }
        &::-moz-placeholder {
            color: $color-h;
        }
        &:-ms-input-placeholder {
            color: $color-h;
        }
        &:-moz-placeholder {
            color: $color-h;
        }
    }
}

// 版型內容區域的最大預設寬度
@mixin layout-max-width() {
    max-width: 1920px;
    min-width: 960px;
    width: 100%;
    margin: 0 auto;
}

//登入前
@mixin input-color($bg-color:#f5f5f5, $border:1px solid #666) {
    display: inline-block;
    outline: none;
    border: $border;
    background-color: $bg-color;
}

//背景色, 邊框
@mixin input-font-color($colorI:#DDD, $colorII:#CCC) {
    text-indent: 6px;
    &.form-control {
        color: $colorII;
        &.placeholder {
            color: $colorI;
        }
    }
}

// else
@mixin list-after-line($color02, $color03, $color01, $content-style: $content-style-base) {
    //按鈕顏色+滑入顏色+line線條顏色+樣式選擇
    ul {
        display: block;
        li {
            color: $color01;
            display: inline-block;
            a {
                color: $color02;
                &:hover {
                    color: $color03;
                }
            }
        }
        li:after {
            content: $content-style; //｜･ 樣式選擇　
        }
        li:last-of-type:after,
        li:nth-last-child(2):after {
            content: "　";
        }
    }
}

// 文字尺寸, 文字行高, 文字顏色, 文字滑入顏色
@mixin font-color($primary: $text-color, $secondary: false) {
    @if $secondary {
        &:hover {
            color: $secondary;
        }
    }
    color:$primary;
}

// Media Queries
$custom: 1440px;
$desktop: 960px;
@mixin MQ($canvas) {
    @if $canvas==custom {
        @media only screen and (max-width: $custom) {
            @content;
        }
    }
    @else if $canvas==desktop {
        @media only screen and (max-width: $desktop) {
            @content;
        }
    }
}