@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*---------------------------- 各類選單屬性 end ---------------------------------------*/
.ele-slideshow-wrap {
  position: relative;
}
.ele-slideshow-wrap ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 600px;
}
.ele-slideshow-wrap ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 600px;
  -webkit-backface-visibility: hidden;
}
.ele-slideshow-wrap ul li a {
  display: block;
}
.ele-slideshow-wrap ul li a img {
  display: block;
  max-width: 100%;
  height: auto;
  float: left;
}
.ele-slideshow-wrap ul li a .img {
  width: 100%;
  height: 600px;
  background-position: top center;
  background-repeat: no-repeat;
}

.ele-slideshow-scroll {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin: 0 auto;
}

.ele-slideshow-control-wrap {
  position: absolute;
  z-index: 1;
  bottom: 10px;
}

.block {
  position: relative;
  min-height: 1px;
  float: left;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input, button, select, textarea {
  outline: none;
}

*:focus {
  outline: none;
}

a {
  color: #FFF;
  text-decoration: none;
}
a:hover, a:focus {
  color: #d9d9d9;
  text-decoration: none;
}

#L-Sub {
  position: relative;
  z-index: 9999;
  clear: both;
}
#L-Sub div {
  display: none;
  position: absolute;
  z-index: 9999;
}
#L-Sub div a {
  float: left;
  display: block;
  padding: 0 4px;
}
#L-Sub span {
  display: block;
  float: left;
}

#U-Sub {
  position: relative;
  z-index: 9999;
  float: left;
}

.ele-gamebanner-wrap {
  position: relative;
  width: 1000px;
  height: 244px;
  margin-top: -313px;
  margin-bottom: 70px;
}

/*主要置中區塊------------------------------------------------------------------------------基本架構----------------*/
.wrapper, #header, .footer, #page-body {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
    /*padding-left:  ($gutter / 2);
	padding-right: ($gutter / 2);*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper:before, #header:before, .footer:before, #page-body:before, .wrapper:after, #header:after, .footer:after, #page-body:after {
  content: "";
  display: table;
}
.wrapper:after, #header:after, .footer:after, #page-body:after {
  clear: both;
}

.row, .header-top {
  margin-left: -4px;
  margin-right: -4px;
}
.row:before, .header-top:before, .row:after, .header-top:after {
  content: "";
  display: table;
}
.row:after, .header-top:after {
  clear: both;
}

.clearfix:before, .footer-top:before, .gamenew-menu-trace:before, .clearfix:after, .footer-top:after, .gamenew-menu-trace:after {
  content: "";
  display: table;
}
.clearfix:after, .footer-top:after, .gamenew-menu-trace:after {
  clear: both;
}

#header2 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.ele-slideshow-arrow {
  position: absolute;
  width: 60px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  text-indent: -999em;
  overflow: hidden;
  z-index: 1050;
}
.ele-slideshow-arrow a:hover {
  background-position: bottom;
}
.ele-slideshow-arrow.ele-slideshow-arrow-left {
  left: 0;
  background: url(../image/arrowleft.png) top center no-repeat;
  float: left;
  margin-left: 100px;
}
.ele-slideshow-arrow.ele-slideshow-arrow-right {
  right: 0;
  background: url(../image/arrowright.png) top center no-repeat;
  float: right;
  margin-right: 100px;
}

#page-body2 {
  width: 100%;
  margin: 0 auto;
  display: block;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: STHeiti, "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", arial;
  font-size: 12px;
  line-height: 1.8;
  color: #FFF;
  background-color: #fff;
}

/* 主要區塊 */
#mainBody {
  min-width: 1000px;
  background-color: #f3f3f3;
}

#page-header {
  position: relative;
  height: auto;
  background-color: #F2CF57;
}
.game #page-header {
  background-image: url(../image/bg_casino.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: #43708B;
  height: 380px;
}
.ball #page-header {
  background-image: url(../image/bg_sports.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: #CF5A57;
  height: 380px;
}
.memberexclusiveii #page-header {
  background-image: url(../image/bg_promotions.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: #5A4E69;
  height: 380px;
}
.at1 #page-header {
  background-image: url(../image/bg_about.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: #DCA2C7;
  height: 380px;
}
.livetop #page-header {
  background-image: url(../image/bg_live.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: #4CB9BC;
  height: 380px;
}
.ltlottery #page-header {
  background-image: url(../image/bg_lottery.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: #516073;
  height: 380px;
}

#page-container2 {
  width: 100%;
  min-width: 1000px;
  height: auto;
  display: block;
  float: left;
  background-color: #000;
}
#page-container2 .pu {
  max-width: 1920px;
  margin: auto;
}
#page-container2 .pu-a, #page-container2 .pu-b, #page-container2 .pu-c {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: table-cell;
  vertical-align: bottom;
  height: 100%;
}
#page-container2 .pu-a img, #page-container2 .pu-b img, #page-container2 .pu-c img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
#page-container2 .pu-table a {
  display: block;
}
#page-container2 .pu-table td {
  line-height: 1;
  padding: 12px 6px 0 6px;
}
#page-container2 .pu-table .txt-center {
  text-align: center;
  vertical-align: bottom;
}
#page-container2 .pu-casino {
  font-size: 20px;
  line-height: 2;
  padding-left: 1em;
}
#page-container2 .pu-a {
  width: 16%;
}
#page-container2 .pu-b {
  vertical-align: middle;
  width: 32%;
  background-color: #2a2a2a;
  border-top: 12px solid #000;
  border-left: 6px solid #000;
  border-right: 6px solid #000;
}
#page-container2 .pu-b-con {
  overflow: auto;
  text-align: center;
}
#page-container2 .pu-c {
  width: 52%;
}
#page-container2 .pu-c .txt-center img {
  margin-bottom: -2px;
}

#page-footer {
  width: 100%;
  background-color: #ededed;
  float: left;
}

#page-footer2 {
  background-color: #737E84;
  float: left;
  width: 100%;
  height: 200px;
  background-image: url(../image/footer_bg.png);
  background-repeat: no-repeat;
  background-position: center 0;
}
#page-footer2 .footer2 {
  width: 915px;
  margin: 0 auto 0 auto;
  padding-top: 25px;
  padding: 25px 0 0 85px;
  font-size: 18px;
  font-family: 蘭亭黑-簡;
  line-height: 60px;
}
#page-footer2 .footer2 .fooimg {
  width: 830px;
  height: 60px;
  background: url('../image/footer_img01.png') no-repeat;
}

.Ltlottery body, .ball body {
  background-color: #014262;
}

#logo {
  float: left;
  margin: 11px 0 0 0;
}
#logo a {
  width: 130px;
  height: 55px;
  background: url('../image/logo.png') no-repeat;
  display: block;
  float: left;
}
#logo a:hover {
  background-position: bottom;
}

/* HEADER */
.header-right {
  float: right;
}
.header-right .header-list {
  margin-top: 5px;
}
.header-right .header-list ul {
  float: right;
  margin: 0 12px 0 0;
}
.header-right .header-list ul li {
  display: inline;
  font-size: 12px;
  line-height: 18px;
  color: #FFF;
}
.header-right .header-list ul li a {
  color: #FFF;
}
.header-right .header-list ul li a:hover {
  color: #CCC;
}
.header-right .est-wrap {
  float: right;
  margin-right: 20px;
}
.header-right .est-wrap .time_text {
  font-size: 12px;
  line-height: 35;
  color: #FEF502;
}

/* LOGIN */
#login {
  width: 660px;
  height: 40px;
  padding-top: 5px;
}
#login a {
  float: left;
}
#login .btn-submit {
  width: 60px;
  height: 30px;
  background: url('../image/lang/zh-cn/btn_login.png') no-repeat;
  display: block;
  float: left;
  margin: 16px 14px 0 0;
}
#login .btn-submit:hover {
  background-position: bottom;
}
#login ul {
  display: block;
  float: left;
}
#login ul .getPW {
  font-size: 13px;
  line-height: 60px;
  color: #fff;
}
#login ul .getPW:hover {
  color: black;
}
#login .login-input {
  float: left;
}
#login .login-input .form-control {
  float: left;
  margin: 16px 10px 0px 0px;
  font-size: 16px;
  line-height: 30px;
  width: 150px;
  height: 30px;
  background: url('../image/loginbar.png') no-repeat;
  padding: 0px 0px 0px 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  text-indent: 2px;
}
#login .login-input .form-control.name {
  width: 150px;
  height: 30px;
  background: url('../image/loginbar.png') no-repeat;
}
#login .login-input .form-control.key {
  width: 150px;
  height: 30px;
  background: url('../image/loginbar.png') no-repeat;
}

#logon {
  float: right;
  clear: both;
  margin: 0 0 0 0;
  width: 800px;
  height: 66px;
}

.meminfo-wrap {
  display: inline-block;
  float: right;
  height: 66px;
  color: #fff;
  padding: 23px 0;
}
.meminfo-wrap .ele-accinfo, .meminfo-wrap .ele-acc-unit {
  display: inline-block;
}
.meminfo-wrap .ele-accinfo {
  padding-left: 3px;
}
.meminfo-wrap .ele-accinfo i {
  color: #fff;
}
.meminfo-wrap .ele-acc-unit {
  margin-left: 10px;
}

.meminfo-wrap, .ele-acc-name, .ele-acc-unit, .ele-accinfo, .ele-obalance-wrap, .ele-other-balance {
  display: inline-block;
}

.ele-obalance-item-wrap {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 270px;
  color: #333;
  background: #C7C8CA;
}
.ele-obalance-item-wrap .ele-obalance-item {
  padding: 10px;
}
.ele-obalance-item-wrap .ele-obalance-item .ele-obalance {
  line-height: 16px;
  padding-bottom: 4px;
}
.ele-obalance-item-wrap .ele-balance-tool {
  text-align: right;
  padding: 4px;
  background-color: #666;
  border-top: 1px solid false;
}
.ele-obalance-item-wrap .ele-balance-tool > a {
  display: inline-block;
  -webkit-transition: background-color .20s linear;
  transition: background-color .20s linear;
  padding: 4px 8px;
  color: #fff;
  background-color: #333;
}
.ele-obalance-item-wrap .ele-balance-tool > a:hover {
  background-color: #262626;
}

.logon-list {
  width: 100%;
  height: block;
}
.logon-list ul {
  width: auto;
  height: 66px;
  float: right;
  margin-left: 20px;
  display: block;
}
.logon-list ul li {
  display: inline;
  font-size: 13px;
  line-height: 66px;
  color: #fff;
}
.logon-list ul li a {
  color: #fff;
}
.logon-list ul li a:hover {
  color: #000;
}

/*語系下拉*/
#lang-wrap {
  position: relative;
  z-index: 9999;
  float: right;
}

#lang-wrap #langTitle {
  cursor: pointer;
  background-image: url(../image/not-use/lang_cn.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin: 15px 0 1px 15px;
}

#lang-wrap #langOption {
  position: absolute;
  z-index: 1000;
  width: 30px;
  line-height: 30px;
  display: none;
  margin: 0 0 0 15px;
}

#langOption a {
  display: block;
  text-decoration: none;
  margin-bottom: -10px;
  padding-left: 0px;
}

#langOption a:hover {
  opacity: .4;
}

/* NAV */
.mainnav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;
  background-image: url(../image/nav_bg.png);
  z-index: 1051;
}
.mainnav .nav {
  margin: 0 auto;
  width: 1024px;
}
.mainnav li {
  position: relative;
  float: left;
  text-align: center;
  margin: 0 19px 0 19px;
}
.mainnav li a {
  display: block;
  font-size: 22px;
  line-height: 70px;
  color: #fff;
  width: 90px;
  height: 70px;
  background: url('../image/nav_over.png') no-repeat;
  display: block;
  float: left;
}
.mainnav li a:hover {
  color: #fff;
}
.mainnav li a:hover {
  background-position: bottom;
}
.mainnav li a:hover, .mainnav li a.current {
  background-position: bottom;
}
.mainnav li:hover .ls-item, .mainnav li.current .ls-item {
  display: block;
}

.ele-drop-group .lsub-inner-wrap {
  width: 110px;
  background: url(../image/sub_bg.png);
}
.ele-drop-group .lsub-inner-wrap a {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 15px;
  line-height: 2.5;
  text-align: center;
  height: auto;
}

/*-----次選單-----------------*/
#L-Sub {
  position: relative;
  z-index: 9999;
  clear: both;
}
#L-Sub div {
  display: none;
  position: absolute;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  z-index: 100;
  margin-left: 20px;
}
#L-Sub div a {
  padding: 0 5px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  background: url(../image/sub_bg.png) repeat-x;
  background-position: 30px;
}
#L-Sub div a:hover {
  color: #FFF;
}
#L-Sub span {
  width: 16px;
  height: 30px;
  background: url(../image/sub_bg.png) repeat-x;
}
#L-Sub span.subbg-left {
  width: 16px;
  background: url(../image/sub_bg.png) no-repeat left top;
}
#L-Sub span.subbg-right {
  width: 16px;
  background: url(../image/sub_bg.png) no-repeat right bottom;
}

/* SLIDER 首頁輪播圖-*/
/*------------------------ADbanner-----------*/
#ADbanner-bg {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
}
#ADbanner-bg #slider {
  display: table;
  margin: auto;
}
#ADbanner-bg img {
  max-width: 100%;
  width: 100%;
  vertical-align: bottom;
}

.eachBox {
  overflow: hidden;
  clear: both;
}

.changeBox_a1 {
  width: 100%;
  height: 600px;
  position: relative;
}

.changeBox_a1 .a_bigImg img {
  position: absolute;
  display: none;
}

.changeDiv {
  position: absolute;
  top: 2px;
  left: 2px;
  display: none;
}

/* ul_change_a1 */
.ul_change_a1 {
  position: absolute;
  right: 1px;
  bottom: 6px;
  padding-left: 19px;
  overflow: hidden;
}

.ul_change_a1 li {
  float: left;
  margin-right: 7px;
}

.ul_change_a1 img {
  border: 1px solid #ddd;
}

.ul_change_a1 img.now {
  border: 1px solid #FF6600;
}

/*------------------------end-----------*/
/* NEWS */
.news-wrap {
  position: absolute;
  top: 80px;
  z-index: 100;
  display: block;
  float: left;
  width: 1000px;
  background: rgba(255, 255, 255, 0.4);
  margin-bottom: 6px;
}
.news-wrap .news-item {
  background: url(../image/news-item.png) 30px 12px no-repeat;
  color: #000;
  padding: 8px 10px 2px 105px;
}

/* FIRST 遊戲圖區/優惠專區*/
#first-btn-wrap {
  position: relative;
}
#first-btn-wrap .gameBox {
  width: 100%;
  min-width: 1000px;
  margin: auto;
  height: 610px;
  display: block;
  background-image: url(../image/lang/zh-cn/slogan_01.png);
  background-repeat: no-repeat;
  background-position: center 90%;
}
#first-btn-wrap .gameBox-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: table;
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 10em;
  width: 100%;
  height: 100%;
}
#first-btn-wrap .gameBox-list li {
  display: table-cell;
  width: 20%;
  height: 100%;
  text-align: center;
}
#first-btn-wrap .gameBox a.btn-game01 {
  display: inline-block;
  width: 70%;
  height: 100%;
  background: url('../image/lang/zh-cn/game01.png') center/contain no-repeat;
}
#first-btn-wrap .gameBox a.btn-game01:hover {
  background: url('../image/lang/zh-cn/game01_over.png') center/contain no-repeat;
}
#first-btn-wrap .gameBox a.btn-game02 {
  display: inline-block;
  width: 70%;
  height: 100%;
  background: url('../image/lang/zh-cn/game02.png') center/contain no-repeat;
}
#first-btn-wrap .gameBox a.btn-game02:hover {
  background: url('../image/lang/zh-cn/game02_over.png') center/contain no-repeat;
}
#first-btn-wrap .gameBox a.btn-game03 {
  display: inline-block;
  width: 70%;
  height: 100%;
  background: url('../image/lang/zh-cn/game03.png') center/contain no-repeat;
}
#first-btn-wrap .gameBox a.btn-game03:hover {
  background: url('../image/lang/zh-cn/game03_over.png') center/contain no-repeat;
}
#first-btn-wrap .gameBox a.btn-game04 {
  display: inline-block;
  width: 70%;
  height: 100%;
  background: url('../image/lang/zh-cn/game04.png') center/contain no-repeat;
}
#first-btn-wrap .gameBox a.btn-game04:hover {
  background: url('../image/lang/zh-cn/game04_over.png') center/contain no-repeat;
}

.game-body {
  max-width: 1200px;
  width: 100% !important;
}

/* 形象牆 */
.pu_A {
  float: left;
}
.pu_A .a1 {
  width: 320px;
  height: 320px;
  background: url('../image/img01.png') no-repeat;
  margin: 15px 15px 0 0;
}
.pu_A .a2 {
  font-size: 20px;
  line-height: 60px;
  color: #fff;
  float: left;
  width: 320px;
  height: 320px;
  background-image: url(../image/btn_casino.gif);
  background-repeat: no-repeat;
  background-position: center 0;
}

.pu_B {
  float: left;
  margin: 15px 15px 0 0;
  width: 580px;
  height: 655px;
  background-image: url(../image/img05.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2a2a2a;
}

.pu_C .c1 {
  width: 320px;
  height: 320px;
  background: url('../image/img02.png') no-repeat;
  float: left;
  margin: 15px 15px 0 0;
}
.pu_C .c2 {
  width: 320px;
  height: 320px;
  background: url('../image/img03.png') no-repeat;
  float: left;
  margin: 15px 15px 0 0;
}
.pu_C .c3 {
  width: 320px;
  height: 320px;
  background: url('../image/img04.png') no-repeat;
  float: left;
  margin: 15px 0 0 0;
}
.pu_C .c4 {
  font-size: 20px;
  line-height: 60px;
  color: #fff;
  float: left;
  width: 656px;
  height: 320px;
  margin: 15px 14px 0 0;
  background-image: url(../image/btn_sports.gif);
  background-repeat: no-repeat;
  background-position: center 0;
}
.pu_C .c5 {
  font-size: 20px;
  line-height: 60px;
  color: #fff;
  float: left;
  width: 320px;
  height: 320px;
  margin: 15px 0 0 0;
  background-image: url(../image/btn_mobilebet.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* FOOTER */
.footer {
  padding: 50px 0 70px 0;
}
.first .footer {
  width: 100%;
  border-top: #D7D7D7 1px solid;
  padding: 2rem 0;
}
.first_login .footer {
  border-top: #D7D7D7 1px solid;
  padding: 10px 0 95px 0;
}

.footer-top {
  float: left;
  width: 300px;
  margin-top: 16px;
}
.footer-top a,
.footer-top div {
  float: left;
}
.footer-top .bbinlogo {
  width: 83px;
  height: 40px;
  margin: 0 20px 0 20px;
}
.footer-top .ublogo {
  width: 135px;
  height: 44px;
  background: url('../image/not-use/ublogo.png') no-repeat;
}

.footer-list {
  width: 700px;
  margin-top: 20px;
  float: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;
}
.footer-list ul li {
  display: inline;
  font-size: 16px;
  line-height: 20px;
  color: #3a3a3a;
}
.footer-list ul li a {
  color: #3a3a3a;
}
.footer-list ul li a:hover {
  color: #000;
}
.footer-list a {
  margin: 0 7px 0 7px;
}
.footer-list p {
  float: left;
  margin-left: 8px;
  color: #3a3a3a;
  font-size: 13px;
}

.footer_btnbox {
  width: 1000px;
  margin: 0 auto;
  display: block;
}
.footer_btnbox.border {
  border-top: #D7D7D7 1px solid;
}
.footer_btnbox .f_btn01 {
  display: inline-block;
  width: 33%;
  text-align: center;
  margin: 40px 0;
}
.footer_btnbox .f_btn01 span {
  display: block;
  font-size: 20px;
  line-height: 75px;
  color: #393939;
  font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;
  font-weight: bold;
}
.footer_btnbox .f_btn01 p {
  font-size: 26px;
  line-height: 35px;
  color: #4e4e4e;
}
.footer_btnbox .f_btn01 .f_link {
  display: block;
  margin: 20px auto 0;
  font-size: 14px;
  line-height: 30px;
  color: #A7A7B7;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  background: #ececec;
  border: #D7D7D7 1px solid;
}
.footer_btnbox .f_btn01 .f_link:hover {
  color: #fff;
  background: #3389B7;
  border: #3389B7 1px solid;
}

/* TITLE */
.title-page {
  width: 450px;
  height: 60px;
  background: url('../image/lang/zh-cn/title_live.png') no-repeat;
  margin: 70px auto;
}
.ltlottery .title-page {
  width: 450px;
  height: 60px;
  background: url('../image/lang/zh-cn/title_lottery.png') no-repeat;
}
.at1 .title-page {
  width: 450px;
  height: 60px;
  background: url('../image/lang/zh-cn/title_welcome.png') no-repeat;
}
.ball .title-page {
  width: 450px;
  height: 60px;
  background: url('../image/lang/zh-cn/title_sports.png') no-repeat;
}
.memberexclusiveii .title-page {
  width: 450px;
  height: 60px;
  background: url('../image/lang/zh-cn/title_promotions.png') no-repeat;
}
.livetop .title-page {
  width: 450px;
  height: 60px;
  background: url('../image/lang/zh-cn/title_live.png') no-repeat;
}

/* PAGE */
.container-top,
.container-bottom,
.live-wrap,
.events-wrap,
.about-wrap {
  display: block;
}

.live-wrap {
  margin-top: 0px;
}

.events-wrap {
  padding: 18px 0;
}
.events-wrap .event {
  display: block;
  width: 940px;
  height: 150px;
  background-color: #86D0F4;
  margin: 10px auto 0;
}

.about-wrap {
  width: 780px;
  height: block;
  margin-left: 110px;
}

.lottery-wrap {
  margin: 10px 0 60px 0;
}

#sidebar {
  font-size: 20px;
  line-height: 100px;
  color: #3a3a3a;
  float: left;
  width: 100%;
  margin: -30px 0 30px 0;
}
#sidebar li {
  float: left;
  margin: 0 1px 0 1px;
}
#sidebar a {
  font-size: 24px;
  line-height: 100px;
  color: #3a3a3a;
  float: left;
}
#sidebar a:hover {
  color: #727E84;
}

.article {
  text-align: justify;
  white-space: pre-wrap;
  font-size: 13px;
  line-height: 28px;
  color: #454545;
  float: left;
}
.article p {
  margin-bottom: 20px;
}

/*優惠活動banner*/
.promotions-banner01 {
  width: 900px;
  height: 200px;
  background: url('../image/not-use/promotions_banner_01.png') no-repeat;
  display: block;
  float: left;
  display: block;
  margin: 0 0 67px 30px;
}
.promotions-banner01:hover {
  background-position: bottom;
}

.promotions-banner02 {
  width: 900px;
  height: 200px;
  background: url('../image/not-use/promotions_banner_02.png') no-repeat;
  display: block;
  float: left;
  display: block;
  margin: 0 0 67px 30px;
}
.promotions-banner02:hover {
  background-position: bottom;
}

/*CASINO */
.game #page-body {
  margin: 0 auto;
  width: 1000px;
}

.elenew-live-trace {
  color: #444;
  margin: 0 0 0 16px;
}
.elenew-live-trace a {
  color: #444;
}
.elenew-live-trace .elenew-trace-title {
  color: #999;
}
.elenew-live-trace .elenew-trace-sub {
  margin: 12px 0 0 5px;
  color: #444;
}
.elenew-live-trace .gamenew-trace-num {
  color: red;
}

#elenew-search-wrap .elenew-search-btn {
  color: #FFF;
  background-color: #8F8F8F;
}
#elenew-search-wrap .elenew-search-btn.search-active {
  color: #FFF;
  background-color: #333;
}
#elenew-search-wrap .elenew-search-btn .fa-2x {
  font-size: 1.8em;
}
#elenew-search-wrap .elenew-search-input {
  background-color: #8F8F8F;
  color: #FFF;
}
#elenew-search-wrap .elenew-search-input input {
  color: #FFF;
}

.elenew-live-view a {
  color: #8F8F8F;
}
.elenew-live-view a:hover, .elenew-live-view a.view-active {
  color: #474747;
}

.elenew-serch-noresult {
  color: #FFF !important;
}

/*  color-setC
    1   標題的文字顏色
    2   副標題的文字顏色
    3   副標題的數字顏色
    4   搜尋按鈕放大鏡圖片顏色
    5   Active的搜尋按鈕放大鏡圖片顏色
    6   搜尋按鈕底色
    7   Active的搜尋按鈕底色
    8   搜尋框底色
    9   鍵入的搜尋文字顏色
    10  搜尋框的預設文字顏色"請輸入遊戲名稱"
    11  列表icon顏色
    12  Active的列表icon顏色  */
#js-ele-gamebanner .rslides_tabs li {
  color: #FFF;
}
#js-ele-gamebanner .rslides_tabs li.rslides_here {
  color: #19BF9D;
}

/*  color-setA
    1   Banner切換圖片的按鈕顏色
    2   當前的Banner切換圖片的按鈕顏色   */
/*---------------------------------------程式的BB體育css*/
.clearfix, .footer-top, .gamenew-menu-trace {
  *zoom: 1;
}
.clearfix:before, .footer-top:before, .gamenew-menu-trace:before {
  content: "";
  display: table;
}
.clearfix:after, .footer-top:after, .gamenew-menu-trace:after {
  content: "";
  display: table;
  clear: both;
}

.ball-wrap {
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */