/* --- Clearfix --- */
.clearfix {
    @include clearfix;
}

/* --- No-scroll --- */
.no-scroll {
    @include MQ(tablet) {
        overflow: hidden;
        height: 100vh;
    }
}

/* --- 遮罩 ---*/
.overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 997;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(54, 53, 68, .9);
    cursor: pointer;
    margin-top: 60px;
    @include MQ(tablet) {
        &.active {
            display: block;
        }
        &.login-active {
            display: block;
            z-index: 999;
         }
    }
}

/* --- placeholder --- */
input {
    @include placeholder;
}

/* --- 移動到頂部的按鈕 --- */
.btn-top  {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 200;
    display: none;
    width: 50px;
    height: 50px;
    display: block;
    background: url(../image/btn_top.png) center no-repeat;
    cursor: pointer;
    @include MQ(tablet) {
        bottom: 64px;
    }
}




//====== HEADER


#page-header {
    position: relative;
    @include MQ(desktop) {}
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}

.header-main {
    //position: relative;
    @include layout-max-width;//1400
    @include MQ(desktop) {}
    @include MQ(tablet) {
        width: 100%;
        height: 60px;       
        background: url(../image/nav_line_x.png) bottom center repeat-x;
        background-color: #363544;
    }

    .left{
        display: block;
        float: left;
        width: 28.5%;//400px
        margin: 27px 0 0 0;
        text-align: center;
        @media screen and (max-width: 1200px) {
         width: 20%;  
        }
        @include MQ(tablet) {
        width: 100%;
        margin: 11px 0 0 0;
        }
    }
    .right{
        display: block;
        float: right;
        width: 71.4%;//1000px
        margin: 27px 0 15px 0;
        text-align: center;
        @media screen and (max-width: 1200px) {
         width: 80%;   
        }
        @include MQ(tablet) {
        width: 100%;
        margin: 0;
        }
    }
}


.header-main2 {
    //position: relative;
    @include layout-max-width;//1400
    @include MQ(desktop) {}
    @include MQ(tablet) {
        width: 100%;
    }
    }

/* --- LOGO --- */
.logo {
    display: block;
    width: 54.5%;//218px
    margin: 0 auto;

    a {
        display: block;
        width: 100%;
        height: 85px;//21.2%
        background: url(../image/logo.png) top center no-repeat;
        background-size:100%;
        &:hover{
          background: url(../image/logo_hover.png) top center no-repeat;  
          background-size:100%;
    
          }
       }

       @include MQ(tablet) {
        width: 130px;
        height: 48px;
        position: relative;
        z-index: 100;
        a {
        display: block;
        width: 100%;
        height: 48px;
        background: url(../website-picture/siteName_ver.png) top center no-repeat;
        background-size:100%;
         &:hover{
          background: url(../website-picture/siteName_ver.png) top center no-repeat; 
          background-size:100%; 
         }
       }
    }

    @include MQ(mobile) {
        width: 130px;
        height: 48px;
        margin: 0 0 0 75px;
            a {
        display: block;
        width: 100%;
        height: 48px;
        background: url(../website-picture/member/site_siteName_ver.png) top center no-repeat;
        background-size:100%;
        &:hover{
          background: url(../website-picture/member/site_siteName_ver.png) top center no-repeat; 
          background-size:100%; 
         }
       }
    }

}

/* --- 導覽列色彩管理（配合版型調整） --- */
@include header-color(
    $nav-bg                  : transparent,     //區塊背景色

    $nav-li-bg               : transparent,   //主項目背景色
    $nav-li-bg-h             : transparent,    //主項目滑過及點擊中狀態的顏色
    $nav-li-font             : #fff,     //主項目的字色
    $nav-li-font-h           : #3CDFAE,     //主項目的字色:hover

    $sub-li-bg               : #363544,   //子選單項目的背景色
    $sub-li-bg-h             : #363544,      //子選單項目:hover
    $sub-li-font             : #868695,     //子選單項目的字色
    $sub-li-font-h           : #FFF,     //子選單項目的字色:hover

    $nav-border-bottom-color : transparent,    //平板以下選單的主項目底線
    $sub-border-bottom-color : transparent      //平板以下選單的子項目底線

);

/* --- 導覽列樣式設定（配合版型調整） --- */
.mainnav-wrap {
    width: 100%;
    li {
        display: inline-block;
        vertical-align: top;
        margin: 0 2% 0 2%;
        float: left;
    }
    .subList {
        width: 112px;
        margin: 0 0 0 -30px;
        z-index: 1000;
        li {
            display: block;
            width: 100%;
        }
        a{
           background-color: #363544; 
        }
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        width: 38%;
        margin-top: 60px;
        text-align: left;
        // padding: 60px 0 0;
        padding: 60px 0;
        background-color: #363544;
        border-left:#3BDFAD 2px solid;
        li {
            display: block;
            line-height: 52px;
            background: url(../image/nav_line_x.png) bottom center repeat-x;
            margin: 0;
            float: none;
            a {
                padding: 0 0 0 24px;
            }
            a.subClick {
                &::after {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    width: 20px;
                    height: 12px;
                    background-image: image-url("nav_arrow_bg.png");
                    background-position: -20px 0;
                    float: right;
                    margin: 18px 20% 0 0;
                }
                &.current {
                    &::after {
                        background-position: 0 0;
                    }
                }
            }
        }
        .subList {
            margin: 0;
            li {
                width: 100%;
                //&:last-child {border-bottom-width: 0;}
            }
            a{
               // padding: 0 0 0 60px;
               padding: 0 0 0 30px;
               background-color: #363544; 
            }
        }

        @include MQ(mobile) {}
    }
    
}

/* --- 導覽列固定格式（非必要不修改） --- */
.mainnav-wrap {
    position: relative;
    z-index: 150;   // CASINO 的固定選單 z-index 為 200
    li {
        position: relative;
        a {
            display: block;
        }
        ul.subList {
            position: absolute;
            display: block;
            max-height: 0;
            overflow: hidden;
            transition: max-height .3s ease;
            li {
                display: block;
            }
        }
    }
    &.active {
        right: 0;
    }
    @media only screen and (min-width: 768px) {
        li {
            &:hover {
                ul.subList {
                    max-height: 999px;
                    transition: max-height .3s ease;
                }
            }
        }
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 998;
        height: 100%;
        @include trans(right);
        overflow-y: auto;
        overflow-scrolling: touch;
        -webkit-overflow-scrolling: touch;
        //卷軸樣式變更
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: rgba(37, 111, 191, 1);
        }
        li {
            display: block;
            width: 100%;
            a {
                position: relative;
                z-index: 1;
            }
            ul.subList {
                position: relative;
                width: 100%;
                &.slidedown {
                    max-height: 999px;
                }
            }
        }
    }
    @include MQ(mobile) {
        width: 70%;
    }
}

/* --- 導覽列 RWD 型態時的語系導覽列 --- */
.mainnav-lang {
    display: none;
    @include MQ(tablet) {
        position: relative;
        display: block;
        width: 100%;
        margin: 16px auto;
        select {
            display: block;
            width: 100%;
            height: 50px;
            color: #FFF;
            background: #363544;
            border: 0;
            padding: 0 0 0 36px;
            //cursor: pointer;
        }
        option {
            background: #666;
        }
        i {
            position: absolute;
            top: 50%;
            right: 14px;
            display: block;
            width: 10px;
            height: 8px;
            background: image-url("arrowdown_icon.png") 0 0 no-repeat;
            margin: -4px 0 0;
        }
    }
    @include MQ(mobile) {}
}

/* --- 導覽列 RWD 型態時的觸發按鈕 --- */
.mainnav-btn {
    display: none;
    @include MQ(tablet) {
        position: absolute;
        z-index: 1;
        top: 0;
        display: block;
        width: 100%;
    }
    .btn-member {
        float: left;
        width: 62px;
        height: 58px;
        background: url(../image/nav_line_y.png) top right repeat-y;
        a {
            position: relative;
            width: 58px;
            height: 58px;
            display: block;
        }
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 22px;
            height: 22px;
            background: url(../image/nav_login_btn.png) no-repeat;
            background-position: 0 0;
            margin: -11px 0 0 -11px;
        }
        &.active {
            i {
                background-position: 0 -22px;
            }
        }
    } 
    .btn-nav {
        float: right;
        width: 62px;
        height: 58px;
        background: url(../image/nav_line_y.png) top left repeat-y;
        a {
            position: relative;
            width: 58px;
            height: 58px;
            display: block;
        }
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 22px;
            height: 22px;
            background: url(../image/nav_btn.png) no-repeat;
            background-position: 0 0;
            margin: -11px 0 0 -11px;
        }
        &.active {
            i {
                background-position: 0 -22px;
            }
        }
    } 

    .btn-lang{
    float: right;
    width: 62px;
    height: 58px;
    background: url(../image/nav_line_y.png) top left repeat-y;
     a{
        width: 58px;
        height: 58px;
        display: block;
        background: url(../image/not-use/cn.png) center no-repeat;
        background-size:40%;
        }
    } 
}

/* --- 關閉按鈕 --- */
.close-btn {
    display: none;
    @include MQ(tablet) {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 32px;
        height: 32px;
        background: image-url("btn_close.png") center no-repeat;
        cursor: pointer;
    }
    @include MQ(mobile) {}
}


//====== container
#page-container {
    position: relative;
    @include MQ(desktop) {}
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}
#page-body{
    @include layout-max-width;//1400
    background: url(../image/first_page_bg.png) top center repeat-y;
    background-size:100%;
     @include MQ(tablet) {
        width: 100%;
        background: url(../image/mobile_page_bg.png) top center repeat-y; 
        background-size:100%;  
       }
    .ball &,
    .livetop &,
    .game &,
    .ltlottery &,
    .at1 &,
    .memberexclusiveii &{
      background: url(../image/page_bg.png) center 300px no-repeat;  
    }


    .left{
        width: 28.5%;//400px
        float: left;
        @media screen and (max-width: 1200px){
         width: 20%;   
        }
        @include MQ(tablet) {
         width: 88%; //680px
         margin-left: 12%; 
        }
        @include MQ(mobile) {
         width: 83%; //400px
         margin-left: 17%;  
        }
    }
    .right{
        width: 71.4%;//1000px
        float: left;
        @media screen and (max-width: 1200px){
         width: 80%;   
        }
        @include MQ(tablet) {
         width: 88%; //680px
         margin-left: 12%;    
        }
        @include MQ(mobile) {
         width: 83%; //400px
         margin-left: 17%;  
        }
  }

}





//====== FOOTER
/* --- FOOTER 色彩管理（配合版型調整） --- */
@include footer-color(
    $wrap-bg        : transparent,     //整塊區域背景色
    $main-bg        : #fff,     //主內容區域被景色
    $link-font      : #526371,     //各項連結字色
    $pay-font       : #FFF,     //付款方式字色
    $copyright-font : #FFF      //COOPYRIGHT 字色
);

#page-footer {
    position: relative;
    @include MQ(desktop) {}
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}

.footer-main {
    @include layout-max-width;
    @include MQ(desktop) {}
    @include MQ(tablet) {}
    @include MQ(mobile) {}

    .left{
      width: 64%;
      float: left;
      margin: 25px 0 0 0;
      @include MQ(tablet) {
        width: 100%;
      }
    }
    .right{
      width: 31%;
      float: right;
      margin: 25px 0 0 0;
      @include MQ(desktop) {
       float: left; 
      }
      @include MQ(tablet) {
        width: 100%;
        float: left;
        margin: 10px 0 0 4%;
      }
    }
}

.footer-link {
    margin: 0 0 10px 4%;//45px
    li {
        display: inline-block;
        margin: 0 4px;
        font-size: 13px;
         @include MQ(mobile) {
         font-size: 15px; 
        }
      }
    }


.footer-pic {
    width: 50%;
    float: left;
    ul {
        display: block;
    }
    li {
        display: inline-block;
        vertical-align: middle;
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}

.footer-bottom {
    width: 100%;
    float: left;
    margin-left: 4%;//45px
    a {
        display: inline-block;
        vertical-align: middle;
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}



.footer-copyright {
    width: 100%;
    float: left;
    background-color: #3CDFAE;
    text-align: center;
    font-size: 12px;
    line-height: 35px;
    margin: 20px 0 0 0;
    @include MQ(mobile) {
      font-size: 15px;  
    }
}

.footer-info{
  width: 100%;
  height: auto;
  float: right;
  @include font-txt(13px,22px,#000); 
  @include MQ(mobile) {
      font-size: 15px;  
    }
}




//====== PAGE
/* --- 內頁主內容 --- **/
.page-main {
    width: 1000px;
    display: block;
    background-color: #fff;
    margin: 0 auto;
    @include MQ(desktop) {
     width: 100%;
    }
    .game & {
        background-color: transparent;
     }
}


.shadow-page{
     width: 71.4%; 
     height: 50px;
     padding: 0 0 6.5% 0;
     background: url(../image/shadow.png) top center no-repeat;
     background-size:100%;
     margin: 0 auto 0 auto;
     @include MQ(tablet) {
       width: 100%;
       margin: 0;
      }
    }

/* --- 內頁標題 --- */
.page-title {
    display: block;
    width: 71.4%;//1000px
    margin: 17% auto 3% auto;
    img{
        width: 50.4%;
        float: right;
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        display: none;
    }
    @include MQ(mobile) {}
}

/* --- 內頁共通樣式變更 --- */
#page-header {
    .at1 & {}
    .livetop & {}
    .ball & {}
    .game & {}
    .ltlottery & {}
    .memberexclusiveii & {}
}

#page-footer {
    .at1 & {}
    .livetop & {}
    .ball & {}
    .game & {}
    .ltlottery & {}
    .memberexclusiveii & {}
}

#page-container {
    .at1 & {}
    .livetop & {}
    .ball & {}
    .game & {}
    .ltlottery & {}
    .memberexclusiveii & {}
}


#mainBody{
    background:url(../image/index_bg.png) top center no-repeat,-webkit-linear-gradient(top,#000,#2D2B3A);
    background-size:100%;

    @media screen and (max-width: 1200px) {
      background-size:180%;  
    }
    @include MQ(tablet) {
          background-size:208%; 
        }
     @include MQ(mobile) {
      background-size:240%;  
     }

    .at1 & {
      background:url(../image/about_bg.png) top center no-repeat,-webkit-linear-gradient(top,#000,#2D2B3A);
      background-size:100%;
    }
    .livetop & {
      background:url(../image/live_bg.png) top center no-repeat,-webkit-linear-gradient(top,#000,#2D2B3A);
      background-size:100%;
    }
    .ball & {
      background:url(../image/sports_bg.png) top center no-repeat,-webkit-linear-gradient(top,#000,#2D2B3A);
      background-size:100%;
    }
    .game & {
      background:url(../image/casino_bg.png) top center no-repeat,-webkit-linear-gradient(top,#000,#2D2B3A);
      background-size:100%;
    }
    .ltlottery & {
      background:url(../image/lottery_bg.png) top center no-repeat,-webkit-linear-gradient(top,#000,#2D2B3A);
      background-size:100%;
    }
    .memberexclusiveii & {
      background:url(../image/promotions_bg.png) top center no-repeat,-webkit-linear-gradient(top,#000,#2D2B3A);
      background-size:100%;
    }

}