// first footer
#page-footer {
    position: relative;
    z-index: 9;
    min-height: 100px;
    background: #FFF;
    //float: left;
    width: 1000px;
    margin-left: 250px;
    border-left: 1px solid #f2f2f2;
    overflow: hidden;
    .footer-area {
        display: table;
        background: #ccc;
        width: 100%;
        border-collapse: separate;
        @include MQ(mobile) {
            display: block;
        }
    }
    .footer-nav {
        background: #f2f2f2;
        position: relative;
        z-index: 9;
        width: 100%;
        display: table-row;
        @include MQ(mobile) {
            display: block;
            text-align: center;
            padding-bottom: 24px;
            padding-left: 10px; //10px
        }
        .footer-item {
            width: 25%;
            display: table-cell;
            padding: 40px 0 25px 25px;
            border-right: 1px solid #e5e5e5;
            @include MQ(custom) {
                width: 20%;
            }
            @include MQ(desktop) {
                padding: 40px 0 25px 20px;
                border: 0;
            }
            @include MQ(tablet) {
                //padding: 40px 0 25px 20px;
                width: 17%;
            }
            @include MQ(mobile) {
                display: inline-block;
                padding: 40px 0 0 0px;
                width: 40%;
                text-align: left;
                //width: 50%;
                vertical-align: top;
                height: auto !important;
            }
            a {
                font-size: $font-size-xm;
                line-height: 28px;
                display: block;
                color: #969799;
                &:hover {
                    color: #000;
                }
                @include MQ(mobile) {
                    font-size: $font-size-lm;
                    font-weight: bold;
                }
            }
        }
        .footer-list {
            @include MQ(desktop) {
                height: auto !important;
            }
            a {
                font-size: $font-size-xs;
                line-height: 15px;
                padding: 3px 0;
                @include MQ(mobile) {
                    font-size: $font-size-m;
                    line-height: 22.5px;
                    font-weight: normal;
                }
                &.footer-fix {
                    padding: 0;
                }
                p {
                    font-size: $font-size-xm;
                    line-height: 24px;
                    @include MQ(mobile) {
                        font-size: $font-size-lm;
                        line-height: 30px;
                        font-weight: bold;
                    }
                }
            }
        }
        .footer-contact {
            padding-right: 0;
            border: none;
            @include MQ(custom) {
                width: 34%;
            }
            @include MQ(desktop) {
                width: 36%;
            }
            @include MQ(tablet) {
                width: 46%;
            }
            @include MQ(mobile) {
                //width: 43%;
                width: 40%;
            }
            li {
                color: #969799;
                font-size: $font-size-s;
                line-height: 26px;
                line-height: 2rem;
                @include MQ(mobile) {
                    font-size: $font-size-m;
                    padding-bottom: 8px;
                    padding-bottom: .5rem;
                    line-height: 18px;
                    line-height: 1.25rem;
                }
                span {
                    display: inline-block;
                    width: 35%;
                    line-height: 26px;
                    line-height: 2rem;
                    @include MQ(mobile) {
                        font-weight: bold;
                        font-size: $font-size-lm;
                        line-height: 35px;
                        line-height: 2rem;
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
    .footer-bottom {
        @include MQ(tablet) {
            text-align: center;
            padding-bottom: 32px;
            padding-bottom: 2rem;
        }
        .footer-info {
            //隱藏文字設定
            padding: 15px 25px 10px 25px;
            color: #969799;
            font-size: $font-size-s;
            @include MQ(tablet) {
                width: 100%;
            }
        }
        .footer-link {
            @include list-line(#afb0b2, #000, null, '　');
            color: #afb0b2;
            padding: 0 25px 25px 25px;
            font-size: $font-size-xs;
            line-height: 12px;
            line-height: 1.5rem;
            float: left;
            @include MQ(desktop) {
                width: 60%;
            }
            @include MQ(tablet) {
                width: 100%;
                padding: 0 25px 0 25px;
            }
            p {
                @include MQ(tablet) {
                    width: 100%;
                    line-height: 30px;
                    line-height: 2.5rem;
                }
            }
        }
        .bbinlogo {
            display: block;
            float: right;
            padding-top: 3px;
            margin-right: 20px;
            @include MQ(tablet) {
                display: inline-block;
                float: none;
                margin: 0 10px;
                padding-top: 0;
            }
        }
        .Ubrowser {
            @include bg('not-use/ublogo.png');
            display: block;
            float: right;
            margin-right: 25px;
            @include MQ(custom) {
                margin-right: 40px;
            }
            @include MQ(tablet) {
                display: inline-block;
                float: none;
                margin: 0 10px;
            }
        }
    }
}

// footer-首頁&內頁樣式
#page-footer {
    .first & {
        position: relative;
        width: 80%;
        margin: 0;
        float: right;
        .footer-nav {
            padding-left: 5%;
            @include MQ(desktop) {
                padding-left: 20px; //0px
            }
        }
    }
    .madvertis &,
    .livetop &,
    .ball &,
    .game &,
    .ltlottery &,
    .memberexclusiveii & {
        float: none;
        width: 100%;
        margin: 0;
        border: none;
        .footer-area {
            background: #f2f2f2;
            display: block; //display:table;
        }
        .footer-nav {
            display: table;
            .page-wrap {
                display: table-row;
            }
        }
    }
    @include MQ(tablet) {
        .first & {
            width: 100%;
            float: none;
        }
    }
}