//首頁nav左邊那塊灰背景
.page-nav-height {
    display: none;
    @include MQ(tablet) {
        width: 100%;
        display: block;
        height: 150px;
        background: #646566;
        cursor: pointer;
    }
    @include MQ(mobile) {
        height: 95px;
    }
}

//首頁導覽列
.first-nav .mainnav {
    width: 100%;
    display: block;
    >li {
        display: block;
        background: image-url('nav_bg.png') center bottom no-repeat;
        @include MQ(custom) {
            background-size: 100% 1px;
        }
        //設定手機版語系＆會員打開與否
        &.lang-mobile-show,
        &.login-mobile-show {
            display: none;
            @include MQ(tablet) {
                display: block;
                //語系和登入樣式調整
                background: none;
                border-bottom: 1px solid #edf0f2;
            }
        }
        >a {
            @include trans(color);
            @include trans(background);
            background: image-url('nav_btn.png') 0 0 repeat-y;
            font-size: $font-size-lm;
            display: block;
            color: #898a8c;
            line-height: 20px;
            padding: 15px;
            @include MQ(tablet) {
                padding-left: 75px;
                &.subLink {
                    padding-left: 15px;
                    &.current:before,
                    &:before {
                        content: ' ';
                        width: 16px;
                        height: 16px;
                        vertical-align: text-top;
                        background: image-url('nav_icon_m.png') 15px 0 no-repeat;
                        text-align: center;
                        display: inline-block;
                        width: 60px;
                    }
                    &.current:before,
                    &:hover:before {
                        background-position: 15px bottom;
                    }
                }
            }
            &.active,
            &.current,
            &:hover {
                //目前所在位置
                background: image-url('nav_over.png') 0 0 repeat-y;
                color: #fff;
            }
        }
        >ul {
            //下拉選單
            display: block;
            padding: 0 15px 15px;
            @include MQ(tablet) {
                display: none;
                padding: 0;
                &.active {
                    display: block;
                }
            }
            >li a {
                font-size: $font-size-s;
                display: block;
                line-height: 25px;
                color: #898a8c;
                padding-left: 5px;
                @include MQ(tablet) {
                    padding-left: 75px;
                    line-height: 40px;
                }
                &:hover {
                    @include trans(color);
                    color: #000;
                    @include MQ(tablet) {
                        background: #edeff2;
                    }
                }
            }
        }
        &:hover {
            >a {
                background: image-url('nav_over.png') 0 0 repeat-y;
                color: #fff;
            }
        }
    }
}

//內頁導覽列
.page-nav .mainnav {
    width: 100%;
    display: block;
    text-align: right;
    >li {
        @include trans(background);
        cursor: pointer;
        background: transparent;
        width: 88px;
        display: inline-block;
        text-align: center;
        // margin: 0 -3px;
        vertical-align: top;
        padding: 60px 0 10px;
        @include MQ(tablet) {
            transition-property: none;
            // background: image-url('nav_bg.png') 0 bottom no-repeat;
            background: image-url('nav_bg.png') center bottom no-repeat;
            padding: 0;
            margin: 0;
            display: block;
            width: 100%;
        }
        >a {
            font-size: $font-size-m;
            color: #646566;
            background: image-url('nav_btn.png') 0 0 repeat-y;
            @include MQ(tablet) {
                display: block;
                padding: 15px 15px 15px 75px;
                &:hover,
                &.current {
                    color: #fff;
                    background: image-url('nav_over.png') 0 0 repeat-y;
                }
            }
        }
        >ul {
            &.subList {
                display: none;
                >li.current a {
                    color: #FFF;
                }
            }
        }
        &:hover {
            background: #636466;
            @include MQ(tablet) {
                background: none;
            }
            >a {
                color: #fff;
            }
            >ul {
                &.subList {
                    display: block;
                }
            }
        }
        &.login-mobile-show a:hover {
            color: #000;
        }
        @include MQ(custom) {
            max-width: 100%;
            width: 9%;
        }
        @include MQ(tablet) {
            width: 100%;
            text-align: left;
            display: block;
            >a {
                line-height: 20px;
                font-size: 16px;
                color: #898a8c;
                &:hover {
                    color: #FFF;
                }
                &.subLink {
                    padding-left: 15px;
                    &.current:before,
                    &:before {
                        content: ' ';
                        width: 16px;
                        height: 16px;
                        vertical-align: text-top;
                        background: image-url('nav_icon_m.png') 15px 0 no-repeat;
                        text-align: center;
                        display: inline-block;
                        width: 60px;
                    }
                    &.current:before,
                    &:hover:before {
                        background-position: 15px bottom;
                    }
                }
            }
            >ul {
                display: none;
                background-color: #FFF;
                background-image: image-url('nav_bg.png'); /* 原本 .page-nav .mainnav > li 背景圖片已被取代 */
                background-position: center bottom;
                background-repeat: no-repeat;
                >li a {
                    display: block;
                    padding-left: 75px;
                    line-height: 40px;
                    font-size: $font-size-s;
                    color: #898a8c;
                    &:hover {
                        background: #edeff2;
                    }
                }
                &.subList {
                    >li.current a {
                        color: #898a8c;
                        background: #edeff2;
                    }
                }
            }
            &:hover {
                >ul {
                    &.subList {
                        display: none;
                    }
                }
            }
        }
        //設定手機版語系＆會員打開與否
        &.lang-mobile-show,
        &.login-mobile-show {
            display: none;
            @include MQ(tablet) {
                padding: 0;
                display: block;
                //語系和登入樣式調整
                background: none;
                border-bottom: 1px solid #edf0f2;
            }
        }
    }
}

.first-nav,
.page-nav {
    @include MQ(tablet) {
        .mainnav {
            //設定捲軸
            overflow-x: hidden;
            overflow-y: scroll;
            height: 85vh;
        }
    }
    @include MQ(mobile) {
        .mainnav {
            //設定捲軸
            height: 90vh;
        }
    }
}

//內頁下拉導覽列
.page-sub-link {
    a {
        color: #CCC;
        font-size: $font-size-xs;
        &:hover {
            color: #FFF;
        }
    }
    >ul {
        // @include trans(max-height);
        overflow: hidden;
        max-height: 0;
        padding-top: 10px;
        font-size: $font-size-s;
        line-height: 25px;
        @include MQ(tablet) {
            display: none;
            max-height: none;
            padding-top: 0;
        }
    }
    &:hover>ul {
        max-height: 500px;
        @include MQ(tablet) {
            max-height: none;
        }
    }
}

.page-nav .mainnav li.page-sub-link-active {
    background: #636466;
    >a {
        color: #fff;
    }
    >a:before,
    >a:hover:before {
        @include MQ(tablet) {
            background: image-url('nav_icon_m.png') 15px bottom no-repeat;
        }
    }
    >ul {
        max-height: 500px;
    }
    @include MQ(tablet) {
        background: image-url('nav_over.png') 0 0 repeat-y;
        >ul {
            max-height: 500px;
            &.subList {
                display: block;
            }
            >li a {
                color: #898a8c;
            }
        }
    }
}

.page-nav .mainnav li:hover>a:before {
    @include MQ(tablet) {
        background: image-url('nav_icon_m.png') 15px bottom no-repeat;
    }
}