//頁面語系custom設定
.lang-wrap,
.page-lang-wrap {
    //想把內頁和首頁的合為一個，用extend .page-lang-wrap 
    // width: 100%;
    height: 50px;
    padding: 13px 20px 0;
    background: #707173;
    text-align: right;
    @include MQ(desktop) {
        text-align: left;
    }
    @include MQ(tablet) {
        //平板原位置語系關掉
        display: none;
    }
    a.flag {
        background: image-url('not-use/icon-flag25.png') 0 0 no-repeat;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }
    a.tw {
        background-position: 0 0;
    }
    a.cn {
        background-position: 0 -38px;
    }
    a.en {
        background-position: 0 -76px;
    }
}

//首頁下拉選單
//首頁/平板/會員登入，打開lightbox按鈕
.lang-mobile-wrap,
.login-lightbox {
    * {
        display: block;
    }
    font-size: $font-size-lm;
    a {
        @include trans(color);
        color: #898a8c;
        padding: 17.5px 25px;
        @include MQ(tablet) {
            padding: 17.5px 20px;
        }
        &:hover {
            color: #000;
        }
        >p {
            line-height: 25px;
            background-image: image-url('not-use/icon-flag25.png');
            background-repeat: no-repeat;
            padding-left: 50px;
            @include MQ(tablet) {
                padding-left: 45px;
            }
            &.lang-cn {
                background-position: 0 -38px;
            }
            &.lang-tw {
                background-position: 0 0;
            }
            &.lang-en {
                background-position: 0 -76px;
            }
        }
    }
    .lang-title-active {
        background: #eee;
        a {
            color: #000;
        }
    }
}

.login-lightbox a>p {
    background: image-url('nav_bg2_m.png') 4px center no-repeat;
}

// 內頁語系 
.page-wrap .page-lang-wrap {
    position: absolute;
    bottom: 100px;
    left: 0;
    padding: 0;
    background: none;
    text-align: left;
    height: 30px;
    padding-top: 0;
    @include MQ(desktop) {
        bottom: 140px;
        left: 40px;
    }
    @include MQ(tablet) {
        display: none;
    }
}