//首頁的login
.first .first-function-wrap {
    //劃出語系和會員位置
    position: absolute;
    z-index: 9;
    right: 0;
    top: 250px;
    width: 240px;
    background: #575859;
    @include MQ(desktop) {
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
    }
}

.first .first-function-wrap {
    @include MQ(tablet) {
        display: none;
    }
}

//lightbox關閉按鈕
.btn-box-close {
    display: none;
    @include MQ(tablet) {
        background: #fff;
        z-index: 59;
        width: 150px;
        height: 150px;
        position: fixed;
        right: 0;
        top: 0;
        span {
            display: block;
            background: #777;
            height: 1px;
            width: 25px;
            position: absolute;
            left: 50%;
            top: 50%;
            &.btn-close-line1 {
                transform: translateX(-50%) translateY(-50%) rotate(45deg);
            }
            &.btn-close-line2 {
                transform: translateX(-50%) translateY(-50%) rotate(-45deg);
            }
        }
    }
    @include MQ(mobile) {
        width: 100px;
        height: 100px;
    }
}

.btn-box-close-active {
    @include MQ(tablet) {
        z-index: 400;
        display: block;
    }
}

// -- LOGIN 表單 -- //
.first-login {
    display: block;
    padding: 10px 20px 20px;
    @include MQ(tablet) {
        //調整位置
        margin: 0 auto;
        width: 300px;
        padding: 180px 0 0 0;
        background: image-url('lang/zh-cn/mem_info_bg03_m.png') center 100px no-repeat;
        //link消除inline-block空白
        font-size: 0;
    }
    @include MQ(mobile) {
        width: 100%;
        padding: 150px 10% 0;
        background-position: 35px 70px; //35px 100px
    }
    input {
        @include input-color(none,
        none);
        //  1 登入區輸入框背景顏色  
        //  2 登入區輸入框邊框  
        @include input-font-color(#ddd,
        #FFF);
        //  1 登入區輸入框預設文字顏色  
        //  2 登入區輸入框鍵入文字顏色  
        background: none;
        padding: 5px 0;
        line-height: 25px;
        border-bottom: 1px solid #68696a;
        font-size: $font-size-s;
        width: 100%;
        @include MQ(desktop) {
            width: 47%;
            margin-right: 3%;
            &.password {
                margin-right: 0;
            }
        }
        @include MQ(tablet) {
            @include input-font-color(#405ebe,
            #555);
            background: #fff;
            width: 100%;
            border: none;
            line-height: 30px;
            margin-bottom: 25px;
        }
    }
    a.btn-login {
        @include trans(background);
        display: block;
        background: #707273;
        font-size: $font-size-m;
        line-height: 40px;
        text-align: center;
        color: #fff;
        margin: 10px 0 20px;
        &:hover {
            background: #888b8c;
            @include MQ(tablet) {
                background: #4a6bd9;
            }
        }
        @include MQ(desktop) {
            width: 25%;
            display: inline-block;
        }
        @include MQ(tablet) {
            margin: 25px 0;
            width: 100%;
            background: #405ebe;
            line-height: 50px;
        }
        @include MQ(mobile) {
            margin: 15px 0 25px;
        }
    }
    a.getPW,
    a.joinUs {
        @include trans(background);
        @include trans(color);
        font-size: $font-size-s;
        float: right;
        color: #ddd;
        margin-left: 10px;
        &:hover {
            color: #fff;
        }
        @include MQ(desktop) {
            float: none;
        }
        @include MQ(tablet) {
            text-align: center;
            display: inline-block;
            width: 48%;
            border: 1px solid #aaa;
            margin: 0;
            span {
                display: inline-block;
                padding-left: 17px;
                line-height: 40px;
            }
            &:hover {
                background: #707273;
            }
        }
    }
    a.getPW {
        @include MQ(tablet) {
            margin-left: 4%;
        }
        span {
            @include MQ(tablet) {
                background: image-url('btn_joinus_m.png') 0 center no-repeat;
            }
        }
    }
    a.joinUs span {
        @include MQ(tablet) {
            background: image-url('btn_getpw_m.png') 0 center no-repeat;
        }
    }
}

// 首頁登入後
.first-logon {
    //.page-logon
    color: #fff;
    padding: 20px;
    font-size: $font-size-xs;
    @include MQ(tablet) {
        //平板打開後的調整位置
        margin: 0 auto;
        width: 300px;
        padding: 180px 0 0 0;
        background: image-url('lang/zh-cn/mem_info_bg02_m.png') center 100px no-repeat;
        font-size: $font-size-m;
        //link消除inline-block空白
        //font-size: 0;
    }
    @include MQ(mobile) {
        width: 100%;
        padding: 130px 10% 0;
        background-position: 35px 70px;
    }
    .mem-amount {
        margin-right: 5px;
        word-break: break-all;
        @include MQ(tablet) {
            width: 100%;
        }
        i {
            cursor: pointer;
        }
        .mem-Info {
            display: inline-block;
            position: relative;
        }
    }
    .memAccInfo {
        @include MQ(tablet) {
            //display: inline-block;
            //float: left;
        }
    }
    .mem-Id {
        line-height: 25px;
        @include MQ(tablet) {
            line-height: 35px;
        }
    }
    .fa-plus-square {
        color: #fff;
    }
    .logon-list {
        a {
            @include trans(color);
        }
        @include list-line(#bfbfbf,
        #fff,
        #bfbfbf,
        '｜');
        border-top: 1px solid #68696a;
        float: left;
        display: block;
        padding-top: 10px;
        margin-top: 10px;
        width: 100%;
        @include MQ(tablet) {
            border-top: 0;
        }
        ul li {
            @include MQ(tablet) {
                display: none;
            }
        }
        li.first-logon-chang {
            @include MQ(tablet) {
                margin: 20px 0;
                &:after {
                    content: '';
                }
                display: block;
                a {
                    @include trans(background);
                    text-align: center;
                    display: block;
                    width: 100%;
                    line-height: 48px;
                    background: transparent;
                    border: 1px solid #c0c3c4;
                    &:hover {
                        border: 1px solid #405ebe;
                        background: #405ebe;
                    }
                }
            }
        }
        li.first-logon-line {
            margin-bottom: 20px;
            &:after {
                content: '';
            }
            span {
                color: #fff;
            }
        }
        li.first-logon-last {
            display: block;
            width: 100%;
            &:after {
                content: '' !important;
            }
            @include MQ(tablet) {
                display: block;
            }
            a {
                @include trans(background);
                display: block;
                width: 100%;
                line-height: 40px;
                background: #707273;
                text-align: center;
                font-size: $font-size-m;
                @include MQ(desktop) {
                    margin-bottom: 0;
                }
                @include MQ(tablet) {
                    line-height: 50px;
                    background: #e6505d;
                    color: #fff;
                }
                &:hover {
                    background: #969799;
                    @include MQ(tablet) {
                        background: #ff5967;
                    }
                }
            }
        }
    }
    .logon-acc-wrap {
        color: #fff;
    }
}

#memPlusClick {
    //點選的部分
    display: none;
    @include MQ(tablet) {
        display: inline-block;
    }
}

#memPlusHover {
    float: left;
    margin-top: -10px;
    @include MQ(tablet) {
        display: none;
    }
}

.mem-info {
    position: relative;
    display: inline-block;
    width: 0px;
    height: 0px;
    @include MQ(tablet) {
        position: static;
        display: none;
        width: 100%;
        height: auto;
    }
}

.logon-details {
    //電腦版滑入
    display: none;
    @include border-radius(5px);
    position: absolute;
    top: 2px;
    right: -25px;
    z-index: 59;
    width: 280px;
    background: #11a3a6;
    @include MQ(desktop) {
        top: 2px;
        right: -140px;
    }
    @include MQ(tablet) {
        display: block;
        position: static;
        right: auto;
        top: auto;
        margin-top: 10px;
        background: #636465;
        width: 100%;
    }
    .mem-info:hover & {
        display: block;
        z-index: 499;
    }
    >ul {
        display: block;
        padding: 15px;
    }
    .mem-change {
        @include border-radius(5px);
        padding: 5px;
        background: #41b5b8;
        @include MQ(tablet) {
            display: none;
        }
        a {
            @include trans(background);
            @include border-radius(3px);
            float: right;
            display: block;
            padding: 5px 15px;
            color: #fff;
            background: #e6505d;
            &:hover {
                background: #ff5967;
            }
        }
    }
}

//首頁會員按鈕調整
.logon-btn-member {
    display: none;
    @include MQ(tablet) {
        display: block;
        a {
            @include border-radius(5px);
            float: right;
            display: block;
            text-align: center;
            width: 120px;
            line-height: 40px;
            background: #e6505d;
            color: #fff;
            &:hover {
                background: #ff5967;
            }
        }
    }
}

//內頁login 
.page-login {
    background: #405ebe;
    padding: 0 0 0 0;
    width: 100%;
    text-align: center;
    font-size: $font-size-s;
    height: 65px;
    position: absolute;
    bottom: 0;
    display: block;
    padding: 15px;
    @include MQ(custom) {
        width: 100%;
    }
    @include MQ(desktop) {
        height: 105px;
        padding: 15px 5% 0 10% !important;
    }
    @include MQ(tablet) {
        height: 800px;
        display: none;
        z-index: 999;
        //position: relative;
    }
    input {
        @include input-color(none,
        none);
        //  1 登入區輸入框背景顏色  
        //  2 登入區輸入框邊框  
        @include input-font-color(#405ebe,
        #555);
        //  1 登入區輸入框預設文字顏色  
        //  2 登入區輸入框鍵入文字顏色  
        display: inline-block;
        width: 185px;
        padding: 7px;
        margin: 0 5px;
        @include MQ(desktop) {
            display: block;
            float: left;
            margin: 0 5px 10px;
            width: 45%;
        }
    }
    i {
        cursor: pointer;
    }
    a.page-login-btn {
        @include trans(background);
        display: inline-block;
        border: 1px solid #a0afdf;
        width: 120px;
        line-height: 32px;
        color: #fff;
        margin: 0 25px;
        @include MQ(desktop) {
            float: left;
            vertical-align: middle;
            margin: 0 25px 0 5px;
        }
        &:hover {
            background: #fff;
            color: #405ebe;
        }
    }
    a.getPW,
    a.joinUs {
        color: #fff;
        display: inline-block;
        margin: 0 10px 0 0;
        &:hover {
            color: #e6505d;
            @include MQ(tablet) {
                background: #707273;
                color: #fff;
            }
        }
        @include MQ(desktop) {
            float: left;
            line-height: 32px;
        }
        @include MQ(tablet) {
            text-align: center;
            display: inline-block;
            width: 48%;
            border: 1px solid #aaa;
            margin: 0;
            span {
                display: inline-block;
                padding-left: 17px;
                line-height: 40px;
            }
        }
    }
    a.getPW {
        @include MQ(tablet) {
            margin-left: 4%;
        }
        span {
            @include MQ(tablet) {
                background: image-url('btn_joinus_m.png') 0 center no-repeat;
            }
        }
    }
    a.joinUs span {
        @include MQ(tablet) {
            background: image-url('btn_getpw_m.png') 0 center no-repeat;
        }
    }
}

//內頁 logon
.page-logon {
    @extend .page-login;
    text-align: left;
    font-size: $font-size-xs;
    color: #fff;
    padding: 15px 60px;
    @include MQ(desktop) {
        padding: 25px 5% 0 10% !important;
    }
    .mem-Id,
    .mem-amount {
        display: inline-block;
        @include MQ(tablet) {
            display: block;
        }
    }
    .logon-info {
        display: inline-block;
        padding-right: 25px;
        @include MQ(desktop) {
            display: block;
        }
        @include MQ(tablet) {
            padding-right: 0;
        }
    }
    .logon-list {
        @include list-line(#FFF,
        #e6505d,
        #ddd,
        '｜');
        display: inline-block;
        line-height: 34px;
        @include MQ(desktop) {
            margin-top: -10px;
        }
        li {
            @include MQ(desktop) {
                line-height: 50px;
            }
        }
    }
}

//打開會員登入表單用
.first .tablet-active,
.page-logon-active,
.page-login-active {
    @include MQ(tablet) {
        max-width: 620px;
        max-height: 800px;
        // position: absolute;
        position: fixed;
        width: 80%;
        margin: 0 auto;
        z-index: 49;
        left: 0;
        right: 0;
        bottom: 0;
        top: 75px;
        display: block;
        z-index: 399;
        // transform: translateX(-250px);
    }
    @include MQ(mobile) {
        //bottom: 20px;
        // transform: translateX(-200px);
        max-height: auto;
        //max-height: 580px;
        top: 50px;
        width: 90%;
    }
}

.page-login-active {
    @include MQ(tablet) {
        background: #575859;
        padding: 0 !important;
        //new
        display: block;
        //transform: translateX(-200px);
        form {
            padding: 180px 0 0;
            width: 300px;
            margin: 0 auto;
            display: block;
            background: image-url('lang/zh-cn/mem_info_bg03_m.png') 0 100px no-repeat;
            //font-size: 0;
            input {
                width: 100%;
                line-height: 30px;
                margin-bottom: 25px;
                padding: 5px 0;
            }
            .page-login-btn {
                border: none;
                width: 100%;
                margin: 25px 0;
                background: #405ebe;
                line-height: 50px;
                &:hover {
                    background: #4a6bd9;
                    color: #fff;
                }
            }
        }
    }
}

.page-logon-active {
    @include MQ(tablet) {
        z-index: 300;
        background: #575859;
        &>div {
            font-size: $font-size-m;
            padding: 180px 0 0;
            width: 300px;
            margin: 0 auto;
            display: block;
            background: image-url('lang/zh-cn/mem_info_bg03_m.png') 0 100px no-repeat;
        }
        .acc-name {
            display: block;
            width: 100%;
        }
        .logon-list ul li {
            display: none;
        }
    }
    @include MQ(mobile) {
        &>div {
            width: 90%;
        }
    }
}

.page-logon .logon-list {
    @include MQ(tablet) {
        width: 100%;
    }
    li.first-logon-chang {
        &:after {
            content: '';
        }
        @include MQ(tablet) {
            display: block;
            margin: 40px 0 20px;
            a {
                @include trans(background);
                text-align: center;
                display: block;
                width: 100%;
                line-height: 48px;
                background: transparent;
                border: 1px solid #c0c3c4;
                &:hover {
                    border: 1px solid #405ebe;
                    background: #405ebe;
                    color: #fff;
                }
            }
        }
    }
    li.first-logon-line {
        display: none;
        /*margin-bottom: 20px;
        &:after {
            content: '';
        }
        span {
            color: #fff;
        }*/
    }
    li.first-logon-last {
        display: inline-block;
        width: 120px;
        margin-left: 20px;
        &:after {
            content: '' !important;
        }
        @include MQ(tablet) {
            margin-left: 0px;
            display: block;
            width: 100%;
        }
        a {
            @include trans(background);
            display: block;
            width: 100%;
            line-height: 35px;
            border: 1px solid #a0afdf;
            background: transparent;
            text-align: center;
            font-size: $font-size-s;
            @include MQ(desktop) {
                margin-bottom: 0;
            }
            @include MQ(tablet) {
                font-size: $font-size-m;
                line-height: 50px;
                background: #e6505d;
                color: #fff;
                border: 1px solid #e6505d;
            }
            &:hover {
                background: #fff;
                color: #405ebe;
                @include MQ(tablet) {
                    background: #ff5967;
                    color: #fff;
                }
            }
        }
    }
}