@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: STHeiti, "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", arial;
  font-size: 12px;
  line-height: normal;
  color: #222;
  background-color: #EBEBEB;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input,
select,
textarea {
  outline: none;
}

*:focus {
  outline: none;
}

button,
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=reset],
input[type=submit],
label[for] {
  cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}
a:focus, a:hover {
  color: #666666;
  text-decoration: none;
}

.lang-wrap a {
  float: left;
  width: 25px;
  height: 25px;
  margin: 0 2px;
  background: url('../image/not-use/icon-flag25.png') top no-repeat;
}
.lang-wrap a.flag01 {
  background-position: 0px 1px;
}
.lang-wrap a.flag02 {
  background-position: 0px -38px;
}
.lang-wrap a.flag03 {
  background-position: 0px -77px;
}

.first-game a {
  float: left;
}

.first-game01 {
  background: url('../image/lang/zh-cn/game01.jpg') no-repeat;
  width: 500px;
  height: 200px;
}
.first-game01:hover {
  background: url('../image/lang/zh-cn/game01_over.jpg') no-repeat;
}

.first-game02 {
  background: url('../image/lang/zh-cn/game02.jpg') no-repeat;
  width: 166px;
  height: 160px;
}
.first-game02:hover {
  background: url('../image/lang/zh-cn/game02_over.jpg') no-repeat;
}

.first-game03 {
  background: url('../image/lang/zh-cn/game03.jpg') no-repeat;
  width: 166px;
  height: 160px;
}
.first-game03:hover {
  background: url('../image/lang/zh-cn/game03_over.jpg') no-repeat;
}

.first-game04 {
  background: url('../image/lang/zh-cn/game04.jpg') no-repeat;
  width: 166px;
  height: 160px;
}
.first-game04:hover {
  background: url('../image/lang/zh-cn/game04_over.jpg') no-repeat;
}

.ele-slideshow-wrap {
  position: relative;
}
.ele-slideshow-wrap ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 650px;
}
.ele-slideshow-wrap ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 650px;
  -webkit-backface-visibility: hidden;
}
.ele-slideshow-wrap ul li a {
  display: block;
}
.ele-slideshow-wrap ul li a img {
  display: block;
  max-width: 100%;
  height: auto;
  float: left;
}
.ele-slideshow-wrap ul li a .img {
  width: 100%;
  height: 650px;
  background-position: top center;
  background-repeat: no-repeat;
}

.ele-slideshow-scroll {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 650px;
  overflow: hidden;
  margin: 0 auto;
}

.ele-slideshow-control-wrap {
  position: absolute;
  z-index: 1;
  bottom: 10px;
}

.wrapper, #page-body,
.page-c,
.footer {
  width: 1018px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 9px;
  padding-right: 9px;
}
.wrapper:before, #page-body:before,
.page-c:before,
.footer:before, .wrapper:after, #page-body:after,
.page-c:after,
.footer:after {
  content: "";
  display: table;
}
.wrapper:after, #page-body:after,
.page-c:after,
.footer:after {
  clear: both;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.page-c {
  position: relative;
}

/* 主要區塊 */
.first #mainBody .page-bg {
  max-width: 1920px;
  background: url('../image/first_bg_left.png') top left no-repeat;
  margin: auto;
}
.livetop #mainBody, .ltlottery #mainBody, .ball #mainBody, .memberexclusiveii #mainBody, .game #mainBody, .at1 #mainBody {
  height: auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #ebebeb;
}
.at1 #mainBody {
  background-image: url(../image/bg_at1.jpg);
}
.livetop #mainBody {
  background-image: url(../image/bg_livetop.jpg);
}
.ball #mainBody {
  background-image: url(../image/bg_ball.jpg);
}
.game #mainBody {
  background-image: url(../image/bg_game.jpg);
}
.ltlottery #mainBody {
  background-image: url(../image/bg_ltlottery.jpg);
}
.memberexclusiveii #mainBody {
  background-image: url(../image/bg_memberexclusiveii.jpg);
}

#page-header {
  position: relative;
  z-index: 2;
}
.livetop #page-header, .ltlottery #page-header, .ball #page-header, .memberexclusiveii #page-header, .at1 #page-header {
  height: 290px;
}
.game #page-header {
  height: 120px;
}

#page-container {
  min-height: 500px;
}

#page-body {
  position: relative;
}

#page-footer {
  background: #base-blue;
}

.logo {
  position: absolute;
  z-index: 2;
}

.header-top {
  height: 35px;
  padding-top: 5px;
  background-color: #1b2a49;
}
.header-bottom {
  position: absolute;
  width: 100%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMS8wNy8xNhmvQIcAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAADUlEQVQImWP4////TAAJlQOXZRHzcQAAAABJRU5ErkJggg==');
}

#login {
  float: left;
  line-height: 26px;
}

.login-wrap {
  position: absolute;
  top: 0;
  right: 0;
  color: #FFF;
}

.login-input,
.login-btn-wrap {
  float: left;
}

.login-btn-wrap {
  padding: 0 10px;
}
.login-btn-wrap li {
  display: inline-block;
}
.login-btn-wrap li + li:before {
  padding: 0 3px;
  content: '/';
}
.login-btn-wrap a {
  line-height: 26px;
  text-decoration: underline;
  color: #fff;
}
.login-btn-wrap a:hover {
  color: #FFCC00;
}

.login-input {
  display: inline-block;
  text-align: center;
}
.login-input input {
  display: inline-block;
  width: 132px;
  height: 26px;
  padding: 0 10px;
  border: 0;
  background-image: url('../image/loginInput_bg.png');
}

.btn-submit {
  display: inline-block;
  width: 80px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  color: #fff;
  background-color: #B12C2D;
}
.btn-submit:hover {
  color: #000;
  background-color: #FFCC00;
}

.meminfo-wrap {
  margin-right: 20px;
}
.meminfo-wrap .ele-acc-unit {
  margin-left: 10px;
}

.meminfo-wrap, .ele-acc-name, .ele-acc-unit, .ele-accinfo, .ele-obalance-wrap, .ele-other-balance {
  display: inline-block;
}
.meminfo-wrap i, .ele-acc-name i, .ele-acc-unit i, .ele-accinfo i, .ele-obalance-wrap i, .ele-other-balance i {
  color: #FC0;
}

.ele-obalance-item-wrap {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 270px;
  color: #fff;
  background: #763a78;
}
.ele-obalance-item-wrap .ele-obalance-item {
  padding: 10px;
}
.ele-obalance-item-wrap .ele-obalance-item .ele-obalance {
  line-height: 16px;
  padding-bottom: 4px;
}
.ele-obalance-item-wrap .ele-balance-tool {
  text-align: right;
  padding: 4px;
  background-color: #432144;
  border-top: 1px solid false;
}
.ele-obalance-item-wrap .ele-balance-tool > a {
  display: inline-block;
  -webkit-transition: background-color .20s linear;
  transition: background-color .20s linear;
  padding: 4px 8px;
  color: #fff;
  background-color: #763a78;
}
.ele-obalance-item-wrap .ele-balance-tool > a:hover {
  background-color: #653267;
}

.logon-list {
  display: inline-block;
  margin: 0 18px;
}
.logon-list li {
  display: inline-block;
  margin-left: 2px;
  color: #fff;
}
.logon-list li a {
  color: #fff;
}
.logon-list li a > span, .logon-list li a:hover {
  color: #FFCC00;
}

.list-dividing li::after {
  content: '|';
  display: inline-block;
  margin-left: 4px;
  color: #777777;
}
.list-dividing li:last-child::after {
  display: none;
}

.lang-wrap {
  float: left;
}
.lang-wrap #ele-lang-wrap {
  width: 30px;
  height: 30px;
}
.lang-wrap #ele-lang-group {
  position: absolute;
  top: 100%;
  z-index: 1;
  background-color: #1B2A49;
  padding: 5px 0;
  margin-left: -8px;
  border-radius: 0 0 10px 10px;
}
.lang-wrap #ele-lang-group a {
  margin: 5px 10px;
}

.mainnav {
  display: block;
}
.mainnav .nav {
  width: 830px;
  float: right;
  margin-right: -40px;
}
.mainnav li {
  float: left;
  text-align: center;
}
.mainnav li a {
  font-size: 15px;
  font-weight: bold;
  line-height: 68px;
  display: block;
  width: 100px;
  color: #000;
}
.mainnav li a > span {
  display: inline-block;
  line-height: 68px;
  border-bottom: 3px solid transparent;
}
.mainnav li a:hover, .mainnav li a.current {
  color: #B12C2D;
}
.mainnav li a:hover > span, .mainnav li a.current > span {
  border-bottom-color: #B12C2D;
}

.ele-drop-group a {
  line-height: 30px;
  display: block;
  width: 125px;
  text-align: center;
  color: #fff;
  background-color: #1B2A49;
}
.ele-drop-group a:hover {
  color: #FFCC00;
}

.footer-link, .footer-copyright {
  line-height: 40px;
  text-align: center;
  background-color: #D6D7DA;
}
.footer-link li {
  display: inline-block;
}
.footer-link li a {
  display: inline-block;
  width: 80px;
}
.footer-link li a:hover {
  color: #B12C2D;
}
.footer-infor {
  color: #fff;
  background-color: #1B2A49;
  padding: 20px 0;
}
.footer-infor-list li {
  float: left;
  width: 33.33%;
}
.footer-infor-list li.first, .footer-infor-list li.third {
  padding: 20px 0;
}
.footer-infor-list li.first .message {
  color: #D6D7DA;
  max-width: 250px;
  line-height: 1.6;
  padding: 30px 0;
  font-size: 13px;
}
.footer-infor-list li.second {
  text-align: center;
}
.footer-infor-list li.second .service-wrap {
  position: relative;
  display: inline-block;
}
.footer-infor-list li.second .service-wrap .service-btn {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  display: inline-block;
  position: absolute;
  top: 120px;
  left: 24px;
  width: 148px;
  height: 38px;
  background: url('../image/footer_btn_service.png') no-repeat;
  text-indent: -999px;
  overflow: hidden;
}
.footer-infor-list li.second .service-wrap .service-btn:hover {
  background-image: url('../image/footer_btn_service_over.png');
}
.footer-infor-list li.third {
  text-align: right;
}
.footer-infor-list li.third .browser {
  padding-top: 64px;
}
.footer-infor-list li.third .browser a {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.footer-infor-list li.third .browser a:hover {
  opacity: 0.8;
}
.footer-infor-list li.third .browser a + a {
  padding-left: 10px;
}

#mainBody {
  min-width: 1300px;
}

.first #page-container {
  background: url('../image/first_bg.png') top center no-repeat;
}

.ele-slideshow-wrap {
  position: relative;
}

.ele-slideshow-arrow-wrap {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
}
.ele-slideshow-arrow-wrap .ele-slideshow-arrow {
  float: left;
  display: inline-block;
  width: 83px;
  height: 83px;
  background: url('../image/slider_ctrl.png') no-repeat;
}
.ele-slideshow-arrow-wrap .ele-slideshow-arrow-left {
  left: 50%;
  background-position: 0 0;
}
.ele-slideshow-arrow-wrap .ele-slideshow-arrow-right {
  left: 56.4%;
  background-position: -84px 0;
}

.first-game {
  position: relative;
  z-index: 9;
}
.first-game a {
  display: inline-block;
  margin-top: 40px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.first-game a.first-game01 {
  margin-top: 0;
}

#news {
  position: absolute;
  left: 508px;
  z-index: 99;
}

.news {
  height: 40px;
  font-size: 13px;
  color: #fff;
  line-height: 40px;
}
.news-title {
  float: left;
  width: 84px;
  text-align: center;
  background-color: #B12C2D;
}

.msgNews {
  float: left;
  width: 415px;
  background-color: #1B2A49;
}

.first-btn {
  position: relative;
  height: 590px;
}
.first-btn-wrap {
  padding-bottom: 35px;
}
.first-btn-title {
  position: relative;
  top: 50px;
  text-align: center;
}
.first-btn-promotions {
  position: absolute;
  top: 107px;
  right: 0;
  z-index: 1;
}
.first-btn-joinus, .first-btn-welcome, .first-btn-mobi {
  position: relative;
}
.first-btn-joinus > a, .first-btn-welcome > a, .first-btn-mobi > a {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: absolute;
  text-indent: -999px;
  width: 133px;
  height: 38px;
}
.first-btn-joinus, .first-btn-welcome {
  position: absolute;
  left: 0;
  z-index: 3;
}
.first-btn-joinus-link, .first-btn-welcome-link {
  overflow: hidden;
  display: inline-block;
  background: url('../image/lang/zh-cn/first_btn_join.png') no-repeat;
  top: 185px;
  right: 34px;
}
.first-btn-joinus-link:hover, .first-btn-welcome-link:hover {
  background-image: url('../image/lang/zh-cn/first_btn_join_over.png');
}
.first-btn-welcome-link {
  overflow: hidden;
  display: inline-block;
  background: url('../image/lang/zh-cn/first_btn_welcome.png') no-repeat;
  top: 185px;
  right: 34px;
}
.first-btn-welcome-link:hover {
  background-image: url('../image/lang/zh-cn/first_btn_welcome_over.png');
}
.first-btn-mobi {
  position: absolute;
  right: -20px;
  bottom: 0;
  z-index: 2;
}
.first-btn-mobi-link {
  overflow: hidden;
  display: inline-block;
  background: url('../image/lang/zh-cn/first_btn_mobi.png') no-repeat;
  top: 95px;
  right: 254px;
}
.first-btn-mobi-link:hover {
  background-image: url('../image/lang/zh-cn/first_btn_mobi_over.png');
}

.about-wrap,
.live-wrap,
.ball-wrap,
.lottery-wrap,
.memberexclusiveii-wrap {
  padding-bottom: 30px;
}

.about-content {
  display: table;
  width: 100%;
  padding-top: 9px;
  padding-top: 30px;
}

#sidebar {
  float: left;
  width: 170px;
}

.sidemenu {
  min-height: 400px;
  background: #ddd;
  padding: 10px 0;
}
.sidemenu-top img {
  float: left;
}
.sidemenu li {
  display: block;
  height: 40px;
}
.sidemenu li:last-child {
  border: none;
}
.sidemenu li a {
  text-align: center;
  display: block;
  line-height: 35px;
  width: 100%;
  color: #000;
}
.sidemenu li:hover a, .sidemenu li.current a {
  color: #fff;
  background-color: #B12C2D;
}

.article {
  float: left;
  width: 756px;
  padding: 2px 28px;
}
.article .case-article {
  font-size: 13px;
  color: #000;
  line-height: 2;
}
.article .case-article p {
  text-indent: 24px;
  margin-top: 36px;
}

.elenew-live-trace {
  color: #222;
  margin: 0 0 0 16px;
}
.elenew-live-trace a {
  color: #222;
}
.elenew-live-trace .elenew-trace-title {
  color: #6f6f6f;
}
.elenew-live-trace .elenew-trace-sub {
  margin: 12px 0 0 5px;
  color: #222;
}
.elenew-live-trace .gamenew-trace-num {
  color: #B12C2D;
}

#elenew-search-wrap .elenew-search-btn {
  color: #FFF;
  background-color: #8F8F8F;
}
#elenew-search-wrap .elenew-search-btn.search-active {
  color: #FFF;
  background-color: #333;
}
#elenew-search-wrap .elenew-search-btn .fa-2x {
  font-size: 1.8em;
}
#elenew-search-wrap .elenew-search-input {
  background-color: #fff;
  color: #666;
}
#elenew-search-wrap .elenew-search-input input {
  color: #666;
}

.elenew-live-view a {
  color: #8F8F8F;
}
.elenew-live-view a:hover, .elenew-live-view a.view-active {
  color: #B12C2D;
}

.elenew-serch-noresult {
  color: #666 !important;
}

/*  color-setC
    1   標題的文字顏色
    2   副標題的文字顏色
    3   副標題的數字顏色
    4   搜尋按鈕放大鏡圖片顏色
    5   Active的搜尋按鈕放大鏡圖片顏色
    6   搜尋按鈕底色
    7   Active的搜尋按鈕底色
    8   搜尋框底色
    9   鍵入的搜尋文字顏色
    10  搜尋框的預設文字顏色"請輸入遊戲名稱"
    11  列表icon顏色
    12  Active的列表icon顏色  */
.memberexclusiveii-wrap .promotionsImg {
  display: block;
  width: 900px;
  height: 200px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin: 0 auto 10px;
}
.memberexclusiveii-wrap .promotions01 {
  background: url('../image/not-use/promotion01.jpg') no-repeat;
}
.memberexclusiveii-wrap .promotions01:hover {
  background: url('../image/not-use/promotion01_over.jpg') no-repeat;
}
.memberexclusiveii-wrap .promotions02 {
  background: url('../image/not-use/promotion02.jpg') no-repeat;
}
.memberexclusiveii-wrap .promotions02:hover {
  background: url('../image/not-use/promotion02_over.jpg') no-repeat;
}
.memberexclusiveii-wrap .promotions03 {
  background: url('../image/not-use/promotion03.jpg') no-repeat;
}
.memberexclusiveii-wrap .promotions03:hover {
  background: url('../image/not-use/promotion03_over.jpg') no-repeat;
}

/*# sourceMappingURL=style.css.map */