/* --- 登入前 色彩管理 --- */
@include login-color(
    $btn-font: #FFF,          //登入按鈕的字色
    $btn-bg  : #333,          //登入按鈕的背景色
    $link    : #000,          //忘記密碼與加入會員的預設字色
    $alink   : #000           //忘記密碼與加入會員的連結字色
);

//====== 登入前與登入後框架
.login-wrap,
.meminfo-wrap {
    float: right;
    font-size: 14px;
    padding: 10px 40px 10px 0;
    @include layout-max-width;
    @include MQ(desktop) {}
    @include MQ(tablet) {
        position: fixed;
        background-color: #2f2f2f;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        padding: 80px 10% 40px 10%;
        display: none;
        overflow-y: auto;
        @include transition(all .3s);
    }
    @include MQ(mobile) {
        width: 100%;
    }
    @include MQ(untablet) {
        display: block !important;
    }
}
.login-main,
.meminfo-main {
    @include MQ(tablet) {
        max-width: 320px;
        margin: 0 auto;
        text-align: center;
    }
}
.login-title {
    display: none;
    @include MQ(tablet) {
        display: block;
        margin: 0 auto 30px auto;
        width: 161px;
        height: 81px;
        background-image: url(../image/login_title01.png);
        background-position: center top;
        background-repeat: no-repeat;
        padding: 50px 0 0 0;
        h2 {
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            text-align: center;
        }
        .meminfo-main & {
            width: 220px;
            background-image: url(../image/login_title02.png);
        }
    }
}

.login-close {
    @include MQ(tablet) {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 46px;
        height: 46px;
        background-image: url(../image/login_close_btn.png);
        background-repeat: no-repeat;
        background-position: left top;
    }
}

//====== 登入前
.login-main {
    @include MQ(desktop) {}
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}

/* --- 登入前輸入框 --- */
.login-unit {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    input {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 13px;
        font-weight: bold;
        border: 0;
        padding: 0 0 0 30px;
        background-position: 10px center;
        background-repeat: no-repeat;
    }
    @include MQ(tablet) {
        height: auto;
        input {
            height: 40px;
            border-radius: 4px;
            margin: 5px 0;
        }
    }
}

.login-unit-user,
.login-unit-pwd {
    width: 220px;
    margin: 0 8px 0 0;
    @include MQ(desktop) {
        width: 180px;
    }
    @include MQ(tablet) {
        width: 100%;
        margin: 0 0 24px;
    }
}

.login-unit-user {
    input{
        background-image: url(../image/loginInput_icon01.png);
    }
}
.login-unit-pwd {
    input{
        background-image: url(../image/loginInput_icon02.png);
    }
}

.login-unit-chk {
    width: 140px;
    input{
        background-image: url(../image/loginInput_icon03.png);
    }
    @include MQ(desktop) {
        width: 110px;
    }
    @include MQ(tablet) {
        width: 100%;
    }
}

/* --- 登入前按鈕 --- */
.login-submit, .login-register, .login-forget {
    display: inline-block;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    padding: 0 0 0 20px;
    background: none;
    @include transition(all .3s);
    &:hover {
        color: $orange-base;
    }
}
.login-forget {
    float: right;
    @include MQ(tablet) {
        &::before {
            content: '/';
            display: inline-block;
            padding: 0 10px;
            font-size: 18px;
            color: #fff;
        }
    }
}
.login-submit {
    @include MQ(tablet) {
        display: block;
        width: 80%;
        padding: 6px 40px;
        margin: 40px auto 10px auto;
        background-color: $orange-base-hover;
        color: #fff;
        border-radius: 4px;
        &:hover {
            color: #fff;
        }
    }
}
.login-register {
    @include MQ(tablet) {
    }
    @include MQ(mobile) {
        padding: 6px 5%;
    }
}

/* --- 登入前其他連結（忘記密碼與加入會員） --- */
.login-link {
    float: right;
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    @include MQ(desktop) {}
    @include MQ(tablet) {
        text-align: center;
        a {
            display: inline-block;
            padding: 0;
        }
    }
    @include MQ(mobile) {}
}

/* --- 登入後 色彩管理 --- */
@include meminfo-color(
    $info-font              : #BBB,       //帳號、餘額列的字色
    $info-icon              : #D84C2C,    //帳號、餘額列加號的顏色

    $balance-bg             : #D86C00,    //餘額視窗的背景色
    $balance-font           : #FFF,       //餘額視窗個餘額的字色
    $balance-bottom         : #FFD301,    //餘額視窗下方背景色
    $balance-btn-font       : #FFF,       //餘額轉換按鈕的字色
    $balance-btn-bg         : #333,       //餘額轉換按鈕的背景色

    $member-border-color    : #BBB,       //連結列的邊線顏色
    $member-font            : #BBB,       //連結列的字色

    $btn-font               : #FFF,       //TABLET 側選單-按鈕字色
    $btn-font-h             : #000,       //TABLET 側選單-按鈕字色:hover
    $btn-mem-bg             : #D84C2C,    //TABLET 側選單-會員中心按鈕
    $btn-switch-bg          : #fdca27,    //TABLET 側選單-額度轉換按鈕
    $btn-logout-bg          : #DDD       //TABLET 側選單-登出按鈕
);

//====== 登入後
.meminfo-main {
    @include MQ(desktop) {}
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}
.mem-info .ele-obalance-wrap {
    @include MQ(tablet) {
        font-size: 30px;
        color: #FFF;
    }
}

/* --- 登入後資訊列（帳號、餘額） --- */
.mem-info {
    display: inline-block;
    vertical-align: middle;
    padding: 0 40px 0 0;
    .ele-acc-name,
    .ele-acc-unit,
    .ele-obalance-wrap {
        display: inline-block;
        vertical-align: middle;
    }
    .ele-acc-unit {
        position: relative;
    }
    .ele-obalance-wrap {
        cursor: pointer;
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        display: block;
        padding: 40px 0;
        font-size: 20px;
        color: #fff;
        text-align: left;
        .ele-acc-name,
        .ele-acc-unit {
            display: block;
        }
    }
    @include MQ(mobile) {}
}

/* --- 登入後餘額視窗 --- */
.ele-obalance-item-wrap {
    position: absolute;
    left: 0;
    z-index: 990;
    display: none;
    width: 280px;
    ul {
        display: block;
        padding: 16px;
    }
    li {
        display: block;
    }
    .ele-acc-unit:hover & {
        display: block;
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        position: static;
        width: 100%;
        background: none;
        padding: 20px 0;
        font-size: 16px;
        line-height: 30px;
        ul {
            padding: 0;
            li {
                color: #bbb;
            }
        }
        .ele-acc-unit:hover & {
            display: none;
        }
    }
}

/* --- 登入後餘額轉換的按鈕 --- */
.ele-balance-tool {
    text-align: right;  
    padding: 8px 8px 8px 0;
    a {
        display: inline-block;
        width: 80px;
        text-align: center;
        padding: 3px 0;
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        display: none;
    }
}

/* --- 登入後會員操作列 --- */
.SU-Menual {
    display :inline-block;
    li {
        display: inline-block;
        line-height: 1;
        border-right-width: 1px;
        border-right-style: solid;
        padding: 0 16px;
        &.first {
            padding-left: 0;
        }
        &.last {
            border-right: 0;
            padding-right: 0;
        }
        a {
            display: block;
            @include alink {
                text-decoration: underline;
            }
        }
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        display: none;
    }
}

/* --- 登入後 RWD 選單底部 --- */
.meminfo-tool {
    display: none;
    padding: 40px 0 0 0;
    @include MQ(tablet) {
        display: block;
    }
    @include MQ(mobile) {}
}

/* --- 登入後 RWD 選單的按鈕 --- */
[class*="meminfo-btn-"] {
    display: none;
    @include MQ(tablet) {
        display: block;
        margin: 0 auto;
        font-size: 16px;
        a {
            display: block;
            line-height: 48px;
            text-align: center;
            margin: 0 auto;
            border-radius: 4px;
        }
    }
}
.meminfo-btn {
    @include MQ(tablet) {
        &-mem{
            width: 50%;
            margin: 0 auto 40px auto;
        }
            &-switch {
            display: inline-block;
            width: 46%;
            margin: 0 2% 0 0;
            a {
                color: #222;
            }
        }
        &-logout {
            display: inline-block;
            width: 46%;
            margin: 0 0 0 2%;
            a {
                color: #222;
            }
        }
    }
}
.logon-line {
    display: none;
    height: 2px;
    background-color: #666;
    background-color: rgba(255, 255, 255, .1);
    border-top: 1px solid #000;
    @include MQ(tablet) {
        display: block;
    }
}
