@media only screen and (max-width: 1024px) {
  /* line 35, ../sass/add_extra.scss */
  .index-text img {
    width: 90%;
  }

  /* line 38, ../sass/add_extra.scss */
  .index-ad {
    width: 480px;
    margin-left: -240px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 45, ../sass/add_extra.scss */
  .index-ad-btn {
    width: 140px;
    margin-right: 0;
    right: 20px;
    bottom: 80px;
  }
  /* line 50, ../sass/add_extra.scss */
  .index-ad-btn img {
    width: 100%;
  }

  /* line 54, ../sass/add_extra.scss */
  .index-logo {
    background-image: url(../image/bbin-logo-white.svg);
    left: 6%;
  }

  /* line 58, ../sass/add_extra.scss */
  .index-ad-close {
    right: 0;
  }
}
@media only screen and (max-width: 480px) {
  /* line 64, ../sass/add_extra.scss */
  .index-ad-close {
    right: 50px;
  }

  /* line 67, ../sass/add_extra.scss */
  .index-ad-btn {
    width: 90px;
    right: 5px;
  }

  /* line 71, ../sass/add_extra.scss */
  .nav-switch-adaptive.mobile-on {
    width: calc(100% - 100px);
  }
}
/* line 80, ../sass/add_extra.scss */
body .page-main dd.page-items .ui-ribbon-wrapper {
  position: absolute;
  overflow: hidden;
  width: 85px;
  height: 88px;
  top: -3px;
  right: -3px;
  z-index: 5;
}
/* line 88, ../sass/add_extra.scss */
body .page-main dd.page-items .ui-ribbon-wrapper .ui-ribbon {
  background-color: #d9534f;
  box-shadow: 0 0 3px #d43f3a;
  position: relative;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  transform: rotate(45deg);
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  line-height: 20px;
}
/* line 110, ../sass/add_extra.scss */
body .item-wrap .model-bs {
  margin-top: 50px;
}
/* line 112, ../sass/add_extra.scss */
body .item-wrap .model-bs h2 {
  display: block;
  line-height: 1;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
  font-size: 1.75rem;
  color: #d2471b;
  border-bottom: 1px solid #d2471b;
  margin: 0 0 48px;
  padding: 0 0 24px;
}
/* line 123, ../sass/add_extra.scss */
body .item-wrap .model-bs ul, body .item-wrap .model-bs .masonry {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, auto);
}
@media only screen and (min-width: 992px) {
  /* line 123, ../sass/add_extra.scss */
  body .item-wrap .model-bs ul, body .item-wrap .model-bs .masonry {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  /* line 123, ../sass/add_extra.scss */
  body .item-wrap .model-bs ul, body .item-wrap .model-bs .masonry {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* line 142, ../sass/add_extra.scss */
body .item-wrap .model-bs ul li .masonry > div:nth-child(1), body .item-wrap .model-bs ul .item .masonry > div:nth-child(1), body .item-wrap .model-bs .masonry li .masonry > div:nth-child(1), body .item-wrap .model-bs .masonry .item .masonry > div:nth-child(1) {
  grid-row: 1 / 4;
  grid-column: 1;
}
/* line 146, ../sass/add_extra.scss */
body .item-wrap .model-bs ul li .masonry > div:nth-child(2), body .item-wrap .model-bs ul .item .masonry > div:nth-child(2), body .item-wrap .model-bs .masonry li .masonry > div:nth-child(2), body .item-wrap .model-bs .masonry .item .masonry > div:nth-child(2) {
  grid-row: 1 / 3;
  grid-column: 2;
}
/* line 151, ../sass/add_extra.scss */
body .item-wrap .model-bs ul li a img, body .item-wrap .model-bs ul .item a img, body .item-wrap .model-bs .masonry li a img, body .item-wrap .model-bs .masonry .item a img {
  width: 100%;
}
/* line 158, ../sass/add_extra.scss */
body .item-wrap .item-slider-nav {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 2.5rem;
  color: #FFF;
  background: #d2471b;
  overflow: hidden;
}
/* line 171, ../sass/add_extra.scss */
body .item-wrap .item-slider-nav.prev {
  left: -120px;
}
/* line 174, ../sass/add_extra.scss */
body .item-wrap .item-slider-nav.next {
  right: -120px;
}
/* line 177, ../sass/add_extra.scss */
body .item-wrap .item-slider-tabs {
  position: absolute;
  top: -75px;
  right: 0;
  z-index: 4;
}
/* line 182, ../sass/add_extra.scss */
body .item-wrap .item-slider-tabs ul {
  display: block;
  height: 35px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  list-style: none;
  padding: 13px 24px;
}
/* line 190, ../sass/add_extra.scss */
body .item-wrap .item-slider-tabs ul li {
  display: inline-block;
  vertical-align: top;
  width: 9px;
  height: 9px;
  background: #d6d3d2;
  border-radius: 100%;
  margin: 0 3px;
}
/* line 198, ../sass/add_extra.scss */
body .item-wrap .item-slider-tabs ul li.active {
  background: #FFF;
}
/* line 201, ../sass/add_extra.scss */
body .item-wrap .item-slider-tabs ul li a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  /* line 212, ../sass/add_extra.scss */
  body .item-wrap .item-slider-nav {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  /* line 217, ../sass/add_extra.scss */
  body .item-wrap .item-slider-nav.prev {
    left: -100px;
  }
  /* line 220, ../sass/add_extra.scss */
  body .item-wrap .item-slider-nav.next {
    right: -100px;
  }
  /* line 223, ../sass/add_extra.scss */
  body .item-wrap .item-slider-tabs {
    width: 100%;
    text-align: center;
  }
  /* line 226, ../sass/add_extra.scss */
  body .item-wrap .item-slider-tabs ul {
    display: inline-block;
  }
}
/* line 232, ../sass/add_extra.scss */
body .display-none {
  display: none !important;
}
