/* --- 四大產品 --- */

// @if $first-game-lang==true {
//     .ele-firstgame-wrap {
//         margin: 0 auto;
//         padding: 0 2%;
//         box-sizing: content-box;
//         max-width: 1840px;
//         @include MQ(tablet) {
//             padding: 0;
//         }
//     }
//     .ele-firstgame {
//         display: block;
//         text-align: center;
//         margin: 0 auto;
//         a {
//             float: left;
//             position: relative;
//             width: 25%;
//             span {
//                 pointer-events: none;
//             }
//             &.ele-firstgame-1 {
//                 span {
//                     left: 18%;
//                 }
//             }
//             &.ele-firstgame-4 {
//                 span {
//                     right: 18%;
//                 }
//             }
//         }
//         @include MQ(desktop) {
//             a {
//                 width: 50%;
//                 &.ele-firstgame-1,
//                 &.ele-firstgame-3 {
//                     span {
//                         left: 22%;
//                     }
//                 }
//                 &.ele-firstgame-2,
//                 &.ele-firstgame-4 {
//                     span {
//                         right: 22%;
//                     }
//                     &:hover,
//                     &.current {}
//                 }
//             }
//         }
//         @include MQ(tablet) {
//             margin-top: 12px;
//         }
//         @include MQ(mobile) {
//             a {
//                 width: 100%;
//             }
//         }
//     }
//     @for $i from 1 through 4 {
//         .ele-firstgame-#{$i} {
//             background-image: image-url('lang/zh-cn/game0#{$i}.#{$first-game-format}');
//             background-size: 100% auto;
//             background-repeat: no-repeat;
//             transition: all .3s linear;
//             span {
//                 position: relative;
//                 z-index: 1;
//                 opacity: 0;
//                 display: block;
//                 width: 100%;
//                 height: 100%;
//                 background-image: image-url('lang/zh-cn/game0#{$i}_over.#{$first-game-format}');
//                 background-size: 100% auto;
//                 background-repeat: no-repeat;
//                 background-position: center;
//                 transition: all .3s linear;
//             }
//             &:hover,
//             &.current {
//                 span {
//                     transform: scale(1.58);
//                     opacity: 1;
//                 }
//             }
//             @include MQ(tablet) {
//                 span {
//                     display: none;
//                 }
//             }
//         }
//     }
// }
// @else {}
#page-body {
    .first & {
        position: relative;
        margin: 0 auto;
        max-width: 1300px;
        // @include MQ(tablet) {
        //     background-size: 750px auto;
        //     background-position: 100% 0%;
        // }
        // @include MQ(mobile) {
        //     background: none;
        // }
    }
}

.first-wrap {
    margin-top: 30px;
    margin-bottom: 90px;
    background: url(../image/first_container_img01.png) top center no-repeat;
    @include MQ(tablet) {
        padding: 0;
        margin-left: 6.5%;
        margin-bottom: 60px;
        background-size: 728px auto;
        background-position: top left;
    }
    @include MQ(mobile) {
        background: none;
        margin-right: 6.5%;
        margin-bottom: 30px;
    }
}

//
.first-game-wrap {
    position: relative;
    background-color: #DADEE6;
    ul {
        position: relative;
        z-index: 2;
        display: block;
        padding-top: 64px;
        text-align: center;
    }
    li {
        width: 25%;
        background-repeat: no-repeat;
        background-size: 100% auto;
        float: left;
        &.first-game01 {
            background-image: url(../image/game01.png);
            &:hover {
                background-image: url(../image/game01_over.png);
            }
        }
        &.first-game02 {
            background-image: url(../image/game02.png);
            &:hover {
                background-image: url(../image/game02_over.png);
            }
        }
        &.first-game03 {
            background-image: url(../image/game03.png);
            &:hover {
                background-image: url(../image/game03_over.png);
            }
        }
        &.first-game04 {
            background-image: url(../image/game04.png);
            &:hover {
                background-image: url(../image/game04_over.png);
            }
        }
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
    img {
        display: block;
        opacity: 0;
    }
    @include MQ(tablet) {
        ul {
            padding-top: 80px;
        }
    }
    @include MQ(mobile) {
        ul {
            padding-top: 64px;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.first-gaame-bg {
    position: absolute;
    bottom: 80px;
    width: 100%;
    height: 180px;
    background-color: #754DBD;
    @include MQ(tablet) {
        bottom: 22%;
        height: 49%;
    }
    @include MQ(tablet) {
        bottom: 16%;
        height: 49%;
    }
}

//  First btn
.first-btn-wrap {
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 0;
    width: 300px;
    .first-btn01 {
        float: left;
        background: url(../image/lang/zh-cn/first_btn01.png);
    }
    .first-btn02 {
        float: right;
        clear: both;
        background: url(../image/lang/zh-cn/first_btn02.png);
    }
    .first-btn03 {
        float: left;
        clear: both;
        background: url(../image/lang/zh-cn/first_btn03.png);
    }
    .first-btn04 {
        float: left;
        background: url(../image/lang/zh-cn/first_btn04.png);
    }
    a {
        width: 150px;
        height: 150px;
        @include alink {
            background-position: bottom;
        }
    }
    @include MQ(tablet) {
        display: none;
    }
    @include MQ(mobile) {}
}

// First-Game
.first-game-group {
    position: relative;
    float: right;
    z-index: 1;
    margin-left: 250px;
    max-width: 750px;
    width: 100%;
    min-height: 970px;
    >div {
        width: 250px;
        font-size: 15px;
        line-height: 24px;
    }
    .first-btn-more {
        display: block;
        text-align: center;
        width: 150px;
        line-height: 36px;
        font-size: 12px;
        border-radius: 3px;
        background-color: #FFF;
    }
    .first-live {
        position: relative;
        z-index: 1;
        padding: 24px 0 50px 30px;
        color: #FFF;
        background-color: #754dbd;
        &-bbinlogo {
            display: block;
            margin-left: 42px;
            width: 65px;
            height: 25px;
            background-image: url(../image/first_bbinlogo.png)
        }
        &-title {
            display: block;
            margin-top: 32px;
            width: 392px;
            img {
                display: block;
                width: 392px;
                height: 67px;
                padding-left: 42px;
            }
        }
        &-line {
            display: block;
            margin-top: 25px;
            width: 190px;
            height: 1px;
            background-color: #FFF;
        }
        &-content {
            margin: 18px 0;
            width: 350px;
        }
        p {
            &.first-game-en {
                margin-top: 4px;
                line-height: 20px;
            }
        }
        .first-btn-more {
            color: #754DBD;
            box-shadow: 10px 10px 25px rgba($color: #5B41AF, $alpha: .9);
            @include alink {
                box-shadow: none;
            }
        }
    }
    .first-sports,
    .first-casino,
    .first-lottery {
        z-index: 1;
        p,
        a {
            margin: 0 38px;
        }
        p {
            font-weight: bold;
            color: #000;
            &.first-game-en {
                font-weight: 300;
                margin-top: 4px;
                line-height: 20px;
            }
        }
        .first-btn-more {
            margin-top: 20px;
        }
    }
    .first-game-col {
        padding: 30px 0 50px;
    }
    .first-sports {
        position: relative;
        top: 182px;
        .first-game-col {
            background-color: #79D5CA;
        }
        .first-game-img {
            margin-bottom: 16px;
        }
        .first-btn-more {
            color: #79D5CA;
            box-shadow: 10px 10px 25px rgba($color: #5FC8B9, $alpha: .9);
            @include alink {
                box-shadow: none;
            }
        }
    }
    .first-casino {
        position: absolute;
        top: 290px;
        left: 250px;
        .first-game-col {
            background-color: #F77E53;
        }
        .first-game-img {
            margin-bottom: 42px;
        }
        .first-btn-more {
            color: #F77E53;
            box-shadow: 10px 10px 25px rgba($color: #F65D3B, $alpha: .9);
            @include alink {
                box-shadow: none;
            }
        }
    }
    .first-lottery {
        position: absolute;
        top: 168px;
        right: 0;
        .first-game-col {
            background-color: #FEA6B2;
        }
        .first-game-img {
            margin-bottom: 36px;
        }
        .first-btn-more {
            color: #FEA6B2;
            box-shadow: 10px 10px 25px rgba($color: #FF8DA1, $alpha: .9);
            @include alink {
                box-shadow: none;
            }
        }
    }
    .first-img {
        position: absolute;
        top: 166px;
        left: -400px;
        width: 650px;
        height: 380px;
        background-image: url(../image/first_container_img02.png);
    }
    @include MQ(tablet) {
        float: none;
        margin-left: auto;
        margin-bottom: auto;
        >div {
            position: relative;
            width: auto;
        }
        .first-img {
            display: none;
        }
        .first-live {
            width: 440px;
            padding: 30px 7% 50px;
            background-color: #754dbd;
            background-color: rgba($color: #754dbd, $alpha: .9);
            &-bbinlogo {
                margin-left: 6%;
            }
            &-title {
                margin-top: 26px;
                width: auto;
                img {
                    width: auto;
                    height: auto;
                    display: block;
                    padding-left: 8%;
                }
            }
            &-content {
                margin: 14px 0 18px;
                width: auto;
            }
            &-line,
            &-content,
            .first-btn-more {
                display: inline-block;
            }
        }
        .first-sports,
        .first-casino,
        .first-lottery {
            position: relative;
            float: left;
            width: 220px;
            height: 400px;
            top: auto;
            right: auto;
            left: auto;
        }
        .first-lottery {
            top: -192px;
            margin-bottom: -192px;
        }
        .first-btn {
            text-align: right;
        }
    }
    @include MQ(mobile) {
        .first-live {
            width: 100%;
        }
        .first-sports,
        .first-casino,
        .first-lottery {
            width: 50%;
            // height: auto;
            p {
                margin: 0 11.5%;
            }
            a {
                margin: 0 14%;
            }
            .first-btn-more {
                width: auto;
            }
        }
        // .first-sports,
        // .first-lottery {
        //     float: right;
        // }
    }
}

// 首頁輪播
.first {
    .ele-slideshow-wrap {
        position: relative;
        z-index: 2;
        margin-top: 50px;
        padding: 10px;
        width: 600px;
        height: 380px;
        box-shadow: 16px 16px 16px rgba($color: #000000, $alpha: 0.15);
        background-color: #FFF;
        ul {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            li {
                position: absolute;
                left: 0;
                height: 100%;
                a {
                    display: block;
                    height: 100%;
                    .img {
                        height: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        @include MQ(desktop) {
            width: 56%;
        }
        @include MQ(tablet) {
            margin-top: 44px;
            width: 440px;
            height: 280px;
            ul {
                li {
                    a {
                        .img {
                            background-size: cover;
                        }
                    }
                }
            }
        }
        @include MQ(mobile) {
            width: auto;
        }
    }
    .ele-slideshow-scroll {
        overflow: hidden;
        pointer-events: none;
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    // 左右箭頭
    .ele-slideshow-arrow-wrap {
        position: absolute;
        top: 10px;
        width: 100%;
        .ele-slideshow-arrow {
            position: absolute;
            z-index: 9;
            i {
                display: block;
                width: 45px;
                height: 45px;
                border-radius: 45px;
                box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.25);
                background: url(../image/slider_arrow.png) no-repeat;
            }
            &.ele-slideshow-arrow-left {
                display: none;
                left: -8px;
                &:hover {
                    i {
                        background-position: 0 -45px;
                    }
                }
            }
            &.ele-slideshow-arrow-right {
                right: -8px;
                i {
                    background-position: -45px 0;
                }
                &:hover {
                    i {
                        background-position: -45px -45px;
                    }
                }
            }
        }
        @include MQ(tablet) {
            .ele-slideshow-arrow {
                i {
                    width: 32px;
                    height: 32px;
                    border-radius: 32px;
                    background: url(../image/slider_arrow_t.png) no-repeat;
                }
                &.ele-slideshow-arrow-left {
                    left: 0px;
                    @include alink {
                        i {
                            background-position: 0 -32px;
                        }
                    }
                }
                &.ele-slideshow-arrow-right {
                    right: 0px;
                    i {
                        background-position: -32px 0;
                    }
                    @include alink {
                        i {
                            background-position: -32px -32px;
                        }
                    }
                }
            }
        }
        @include MQ(mobile) {
            .ele-slideshow-arrow {
                i {
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    background: url(../image/slider_arrow_m.png) no-repeat;
                }
                &.ele-slideshow-arrow-left {
                    left: -10px;
                    @include alink {
                        i {
                            background-position: 0 -50px;
                        }
                    }
                }
                &.ele-slideshow-arrow-right {
                    right: -10px;
                    i {
                        background-position: -50px 0;
                    }
                    @include alink {
                        i {
                            background-position: -50px -50px;
                        }
                    }
                }
            }
        }
    }
    // 圓點控制項的框架
    .ele-slideshow-control-wrap {
        position: absolute;
        bottom: 32px;
        margin-left: 10px;
        z-index: 9;
    }
    // 圓點控制項的按鈕風格
    .ele-slideshow-nav {
        >a {
            display: inline-block;
            margin: 0 5px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            color: #FFF;
            &:hover,
            &.active {
                background-image: url(../image/slider_dot.png)
            }
        }
    }
    .ele-slideshow-text-wrap {
        position: absolute;
        z-index: 2;
        width: 320px;
        text-align: center;
        @include MQ(desktop) {}
        @include MQ(tablet) {}
        @include MQ(mobile) {}
    }
    .ele-slideshow-text {
        position: absolute;
        top: 200px;
        left: 0;
        width: 320px;
        opacity: 0;
        filter: alpha(opacity=0);
        z-index: 1;
    }
    .ele-slideshow-text-wrap .ele-text-position0 {
        @include MQ(tablet) {}
        @include MQ(mobile) {}
    }
    /*left*/
    .ele-slideshow-text-wrap .ele-text-position1 {
        @include MQ(tablet) {}
        @include MQ(mobile) {}
    }
}