.game-slider {
    position: relative;
    z-index: 2;
    @include layout-max-width;
    @include MQ(desktop) {}
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}

.game-wrap {
    max-width: 960px !important;
    margin: 0 auto;
    padding-bottom: 40px !important;
    @include MQ(desktop) {}
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}


/* --- 模組色彩管理，不修改可直接刪除 --- */

@include casino-color( $color01: #595555, //標題的文字顏色
$color02: #595656, //副標題的文字顏色
$color03: #ED3E41, //副標題的數字顏色
$color04: #FFF, //搜尋按鈕放大鏡圖片顏色
// $color05: #FFF,     //Active 的搜尋按鈕放大鏡圖片顏色
$color06: #AAA, //搜尋按鈕底色
// $color07: #AAA,  //Active 的搜尋按鈕底色
$color08: #FFF, //搜尋框底色
$color09: #6A6A6A, //鍵入的搜尋文字顏色
$color10: #6A6A6A, //搜尋框的預設文字顏色"請輸入遊戲名稱"
$color11: #9E9E9E, //列表 icon 顏色
$color12: #EE3E42, //Active 的列表 icon 顏色
$color13: #9E9E9E, //列表 icon 旁的線條顏色
$color14: #FFF //線條的 border 顏色
);

/* --- 模組其他調整 --- */

.game {
    background: #DADEE6 !important;
    .fixed-header .container {
        padding: 0 !important;
    }
    .game-slider {
        z-index: 1;
    }
    .game-slider-wrap {
        max-width: 960px !important;
    }
    .game-search-input {
        background: #EEE;
    }
    .dialog-content {
        margin: -285px 0 0 -160px !important;
    }
    .gamejp-wrap {
        max-width: 960px !important;
    }
}

.game-nav.fixed {
    max-width: 960px !important;
}

.game-layout {
    z-index: 1;
    width: 98% !important;
    @include MQ(mobile) {
        padding-bottom: 120px !important;
    }
}