/* --- 優惠活動 色彩管理 --- */

@include memExclusive-color( $item-bg: transparent, //項目背景色
$item-font: #656565, //項目字色
$item-font-h: #3f3f3f //項目字色:hover
);
.memberexclusiveii-content {
    display: none;
    position: relative;
    text-align: center;
    @include MQ(tablet) {
        text-align: center;
    }
}


/* --- 優惠活動項目 --- */

.memExclusive {
    position: relative;
    float: left;
    padding: 0 3.2% 40px;
    width: 33.3%;
    a {
        position: relative;
        display: block;
        margin: auto;
        padding-bottom: 80px;
        width: 100%;
        transition: width .4s;
        .loading & {
            width: 50%;
        }
        img {
            display: block;
            &.js-exclusive-dialog-default {
                position: relative;
                z-index: 1;
            }
            &.js-exclusive-dialog-hover {
                position: absolute;
                top: 0;
            }
        }
        .ele-mem-dialog-content {
            text-align: left;
            position: absolute;
            z-index: 2;
            padding-top: 16px;
            h2 {
                padding: 0 15px;
                text-align: left;
                font-size: 15px;
                font-weight: normal;
                line-height: 22px;
            }
        }
        @include alink {
            img {
                &.orign {
                    display: none;
                }
                &.hover {
                    display: block;
                }
            }
        }
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        width: 50%;
        a {
            img {
                &.js-exclusive-dialog-default {
                    opacity: 0;
                }
                &.hover {
                    display: block;
                }
            }
        }
    }
    @include MQ(mobile) {
        float: none;
        display: inline-block;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 20px;
        text-align: center;
        width: 100%;
        max-width: 380px;
    }
}