* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    font-family: $font-family;
    line-height: $light-height;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

input {
    @include placeholder;
}

img {
    border: 0;
    /*max-width: 100%;*/
    height: auto;
    vertical-align: middle;
}


/* --- Clearfix --- */

.clearfix {
    @include clearfix;
}


/* --- No-scroll --- */

.no-scroll {
    overflow: hidden;
    height: 100vh;
}


/* --- hide & show --- */

.display-hide {
    display: none !important;
}

.display-show {
    display: block !important;
}


/* --- 遮罩 ---*/

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    display: none;
    width: 100%;
    height: 100%;
    background: #333;
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
}

.wrap {
    width: 100%;
    height: 100%;
}