// =================== 主要置中區塊
.wrapper {
    @include container-fixed;
}

.clearfix {
    @include clearfix;
}

body {
    background: url(../image/bg_x.jpg) top center repeat-x;
}

#mainBody {
    background: url(../image/bg.jpg) top center no-repeat;
}

// =================== header
#page-header {
    position: relative;
    @extend .wrapper;
    .header-top {}
    .header-bottom {
        height: 220px;
        background: url(../image/header_bg.png) top center no-repeat;
    }
}

.ele-lang-wrap {
    float: right;
    margin: 3px 2px 0;
    width: 80px;
    height: 22px;
    background: url(../image/lang_bg.png) repeat-x;
    cursor: pointer;
    &:after {
        content: '';
        position: absolute;
        top: 7px;
        right: 5px;
        width: 12px;
        height: 8px;
        background: url(../image/lang_arrow.png);
    }
    &:hover {
        &:after {
            background-position: bottom;
        }
    }
}

.ele-lang-title {
    position: relative;
    width: 60px;
    line-height: 20px;
    padding: 1px 0 0 7px;
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 1px;
        height: 20px;
    }
    &:before {
        right: 0px;
        background-color: #A4221E;
    }
    &:after {
        right: 1px;
        background-color: #000;
    }
}

.ele-lang-group {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    width: 80px;
    line-height: 24px;
    background-color: #A4221E;
    a {
        width: 100%;
        text-align: center;
        &:hover {
            color: #FF0;
        }
    }
}

// logo
.logo {
    float: left;
    margin: 8px 0 0 4px;
    #ele-logo-img {
        display: inline-block;
        width: image-width("logo.png");
        height: image-height("logo.png");
        background: image-url('logo.png') top center no-repeat;
        background-size: 100%;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
}

// mainnav
// ＊＊ 不修改可直接刪除 ＊＊
// @include mainnav ( // 選單 ==
// $link-width: 100px, // 1 連結寬度
// $line-height: image-height("logo.png"), // 2 連結高度
// $link-color: $link-color, // 3 連結文字顏色
// $link-bg: transparent, // 4 連結背景顏色
// $link-color-hover: #fff, // 5 hover:連結文字顏色
// $link-bg-hover: colors(primary), // 6 hover:連結背景顏色
// // 下拉選單 ==
// $drop-link-width: 100px, // 1 連結寬度
// $drop-link-height: 40px, // 2 連結高度
// $drop-link-color: #fff, // 3 連結文字顏色
// $drop-link-bg: colors(primary), // 4 連結背景顏色
// $drop-link-color-hover: #fff, // 5 hover:連結文字顏色
// $drop-link-bg-hover: darken(colors(primary), 10%) // 6 hover:連結背景顏色
// );
.mainnav-wrap {
    float: right;
    margin-left: -32px;
    padding-left: 32px;
    width: 789px;
    height: 79px;
    background: url(../image/nav_bg.png);
    ul {
        margin: 2px 0 0 2px;
        li {
            position: relative;
            float: left;
            margin-right: 2px;
            width: 82px;
            height: 76px;
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: -1px;
                width: 1px;
                height: 77px;
            }
            &:before {
                left: -2px;
                background-color: #510006;
            }
            &:after {
                left: -1px;
                background-color: #FF3036;
            }
            &.LS-service {
                margin-right: 0;
            }
            a {
                display: block;
                text-align: center;
                line-height: 70px;
                height: 76px;
                &:hover,
                &.current {
                    background-image: url(../image/nav_over.png);
                }
            }
        }
    }
}

.ele-drop-group {
    a {
        width: 82px;
        display: block;
        text-align: center;
        line-height: 40px;
        color: #FFF;
        background-color: #DB414A;
        &:hover {
            color: #FFF;
            background-color: #fd99a2;
        }
    }
}

// end mainnav
// news
.news-wrap {
    display: inline-block;
    padding: 0 10px 0 30px;
    margin-top: 4px;
    height: 40px;
    .news-title {
        float: left;
        margin-top: 9px;
        margin-right: 10px;
        width: 120px;
        height: 22px;
        background: url(../image/lang/zh-cn/new_title.png);
    }
    .msgNews {
        float: left;
        width: 830px;
        line-height: 40px;
        >a {
            color: #FCA9AB;
            &:hover {
                color: #FFF;
            }
        }
    }
}

// banner
.banner-wrap {
    border: 1px solid #EEE;
}

// login
.login-wrap {
    float: right;
    margin: 19px 4px 0 0;
    width: 210px;
    .login-title {
        display: block;
        margin-bottom: 10px;
        width: 210px;
        height: 22px;
        background: url(../image/lang/zh-cn/login_title.png)
    }
    .login-unit {
        position: relative;
        display: inline-block;
        margin-bottom: 5px;
    }
    @include input-font-color($color: #212121);
    input {
        // placeholder欄位
        @include input-color( $bg-color: transparent, // 1 背景色
        $border: none // 2 邊框
        );
        width: 188px;
        height: 24px;
        color: #212121;
        background: url(../image/loginInput_bg.png)
    }
    .link-login {
        display: block;
        margin-top: 6px;
        width: 189px;
        height: 35px;
        background: url(../image/lang/zh-cn/btn_login.png);
        &:hover {
            background-position: bottom;
        }
    }
    .link-forgetpw,
    .link-join {
        &:before {
            content: '';
            display: inline-block;
            margin-right: 6px;
            width: 6px;
            height: 6px;
            background: url(../image/login_dot.png);
        }
        margin-top: 14px;
        color: #111;
        &:hover {
            color: #666;
        }
    }
    .link-forgetpw {
        float: left;
        margin-left: 37px;
    }
    .link-join {
        float: right;
        margin-right: 22px;
    }
}

// end login
// meminfo
.meminfo-wrap {
    float: right;
    margin: 19px 8px 0 0;
    width: 210px;
    .meminfo-title {
        display: block;
        margin-bottom: 10px;
        width: 210px;
        height: 22px;
        background: url(../image/lang/zh-cn/logon_title.png)
    }
    .mem-info,
    .SU-Menual,
    .ele-obalance-wrap {
        display: inline-block;
    }
    .mem-info {
        padding: 20px 16px 0;
        border: 1px solid #DDD;
        width: 196px;
        height: 157px;
        background: url(../image/logon_content.png) repeat-x;
        .ele-accinfo,
        .ele-acc-unit {
            display: inline-block;
            margin-bottom: 5px;
            color: #333;
            line-height: 20px;
        }
        .ele-acc-unit {
            position: relative;
        }
    }
    .login-Menual {
        >li {
            display: inline-block;
            a {
                padding: 0 3px;
            }
        }
    }
}

.ele-obalance-wrap {
    margin-left: 8px;
    i {
        color: #BE3138;
        cursor: pointer;
        &:hover {
            color: #c25459;
        }
    }
}

.SU-Menual {
    display: block;
    clear: both;
    width: 100%;
    height: 22px;
    ul {
        float: right;
        padding-top: 4px;
        li {
            float: left;
            a {
                display: block;
                padding: 0 8px;
                color: #FCA9AB;
                line-height: 1;
                border-right: 1px solid #FCA9AB;
                &:hover {
                    color: #FFF;
                }
            }
            &.last-child {
                a {
                    border-right: none;
                }
            }
        }
    }
}

// 餘額顯示
@include meminfo ( $mem-color: #fff, // 1 文字顏色
$mem-bg: colors(primary), // 2 背景顏色
$mem-tool-bg: darken(colors(primary), 10%), // 3 餘額轉換背景顏色
$mem-tool-color: #fff, // 4 餘額轉換按鈕文字顏色
$mem-tool-btn-bg: darken(colors(primary), 30%), // 5 餘額轉換按鈕背景顏色
$mem-line-color: darken(colors(primary), 10%) // 6 餘額轉換按鈕上線條
) {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    .ele-balance-tool {
        >a {
            border-radius: 2px;
        }
    }
}

// end meminfo
@include login-Menual( $link-color: $link-color, // 1 連結文字顏色
$link-color-hover: $link-hover-color, // 2 hover:連結文字顏色
$line-color: rgba(colors(dark), .3) // 3 連結中線顏色, 如無則可直接刪除
);
// =================== end header
// =================== container
// #page-container {
//  position: relative;
//  background: image-url('page_container_bg.jpg') no-repeat center top #0B171B;
//  padding: 40px 0 80px 0;
//  .first & {
//      background: image-url('first_container_bg.jpg') no-repeat center top #1B272B;
//      padding: 20px 0 50px 0;
//  }
// }
//container
#page-container {
    .first &,
    .at1 &,
    .livetop &,
    .ball &,
    .game &,
    .ltlottery &,
    .memberexclusiveii & {
        @extend .wrapper;
        background-color: #EEE;
        background-image: linear-gradient(-180deg, #FFFFFF 0%, #A4A4A4 90%);
    }
    .first & {
        height: 285px;
    }
    .livetop &,
    .ltlottery &,
    .ball & {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .game & {
        padding-bottom: 30px;
    }
    .at1 & {
        padding-bottom: 40px;
    }
}

.first-wrap {
    @extend .wrapper;
    height: 285px;
    background-color: #CBCBCB;
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #A4A4A4 90%);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
}

// =================== end container
// =================== footer
#page-footer {
    @extend .wrapper;
    padding-top: 33px;
    height: 136px;
    background: url(../image/footer_bg.png);
}

.bblogo {
    float: left;
    margin: 3px 0 0 20px;
}

.browser-logo {
    float: left;
    margin: 5px 0 0 12px;
}

.article-menu {
    float: left;
    margin-left: 14px;
    padding-top: 12px;
    width: 712px;
    height: 37px;
    text-align: center;
    background: url(../image/footer_link.png);
    a {
        display: inline-block;
        padding: 0 15px;
        line-height: 1;
        border-right: 1px solid #FFF;
        &:hover {
            color: #FF0;
        }
        &.last-child {
            border-right: none;
        }
    }
}

.copyright {
    float: right;
    padding: 12px 10px 0 0;
    width: 50%;
    text-align: right;
    color: #850000;
}

.footer-info {
    float: left;
    clear: both;
    padding: 12px 0 0 10px;
    width: 50%;
}

// =================== end footer