// ＊＊ 不修改可直接刪除 ＊＊
@include casino( // $color01: ,  //標題的文字顏色
// $color02: ,  //副標題的文字顏色
// $color03: ,  //副標題的數字顏色
// $color04: ,  //搜尋按鈕放大鏡圖片顏色
// $color05: ,  //搜尋按鈕底色
// $color08: ,  //鍵入的搜尋文字顏色
// $color09: ,  //搜尋框底色
// $color10: ,  //搜尋框的預設文字顏色"請輸入遊戲名稱"
// $color11: ,  //列表icon顏色
$color12: colors(primary) //Active的列表icon顏色
);
.about {
    .page-sidebar {
        float: left;
        width: 195px;
    }
    .page-right {
        margin-left: 195px;
    }
}

// header
.page-title {
    float: left;
    margin: 10px 0 0 12px;
    width: 758px;
    height: 198px;
    .at1 &,
    .livetop &,
    .ball &,
    .game &,
    .ltlottery &,
    .memberexclusiveii & {
        background-repeat: no-repeat;
        background-position: center top;
    }
    .livetop & {
        background-image: image-url('lang/zh-cn/title_live.png');
    }
    .ltlottery & {
        background-image: image-url('lang/zh-cn/title_lottery.png');
    }
    .at1 & {
        background-image: image-url('lang/zh-cn/title_welcome.png');
    }
    .ball & {
        background-image: image-url('lang/zh-cn/title_sports.png');
    }
    .game & {
        padding: 80px 0 0 0;
        min-height: 234px;
    }
}

// about
.page-sidebar {
    float: left;
    padding: 13px 11px;
    margin: 15px 0 0 44px;
    background-color: #DDD;
    background-color: rgba(119, 119, 119, 0.10);
    .sidemenu-body {
        background-color: #FFF;
    }
    .sidemenu {
        padding: 12px 0 30px;
        width: 198px;
        text-align: center;
        li {
            border-bottom: 1px solid #EEE;
            a {
                display: block;
                line-height: 40px;
                color: #000;
                &:hover {
                    color: #E54C52;
                }
            }
            &.current {
                a {
                    color: #E54C52;
                }
            }
        }
    }
}

.page-right {
    float: right;
    width: 700px;
    padding: 0 35px;
    margin-top: 24px;
    color: #000;
    line-height: 2;
    h3 {
        margin-bottom: 24px;
    }
    p {
        margin-bottom: 30px;
    }
}

// casino
.game-banner-wrap {
    margin: 20px 0 0 6px;
    width: 764px;
}

.game {
    background: #420001 !important;
}

// .game-wrap {
//     background: url(../image/game_content.png) #A4A4A4 repeat-x;
// }
// promotions
// .memberexclusiveii-wrap {
//     .promotionsImg {
//     	position: relative;
//         display: block;
//         width: image-width('not-use/promotion01.jpg');
//         height: image-height('not-use/promotion01.jpg');
//         transition: background .3s ease;
//         margin: 0 auto;
//     }
//     @for $i from 1 through 3 {
//         .promotions0#{$i} {
//             background: image-url('not-use/promotion0#{$i}.jpg') no-repeat center top;
//             padding-bottom: 2px;
//             &:hover {
// 				background: image-url('not-use/promotion0#{$i}_over.jpg') no-repeat;
//             }
//         }
//     }
// }