/* --- 文案頁 色彩管理 --- */
@include madvertis-color(
	$sidebar-bg         : $orange-base-hover,     //測選單背景色
    $sidebar-font       : #FFF,     //項目字色
    $sidebar-font-h     : $orange-base-hover,  //項目字色:hover
    $sidebar-list-bg    : #FFF,

    $tablet-title-font  : #FFF,     //TABLET 以下選單的目前頁面標題字色
    $tablet-title-bg    : #000,     //TABLET 以下選單的目前頁面標題背景色

    $right-bg           : #EEE,     //文案內容-右側款背景色
    $left-bg            : $orange-base-hover      //文案內容-左側款背景色
);

/* --- 文案頁側邊選單 --- */
.page {
	&-left {
		float: left;
		width: 213px;
		padding: 80px 0;
		text-align: center;
		min-height: 640px;
		li {
			font-size: 18px;
			border-bottom: 1px solid #bbb;
			a {
				display: block;
				padding: 20px 0;
				@include transition (all .3s);
				&:hover{
					background: #fff;
					color: $orange-base-hover;
				}
			}
		}
	}
	&-right {
		min-height: 640px;
		padding: 60px 20px 40px 253px;
		font-size: 14px;
		color: #777;
		p {
			line-height: 30px;
		}
	}
	@include MQ(desktop) {
		&-right {
			width: 100%;
		}
	}
	@include MQ(tablet) {
		&-left {
			display: none;
		}
		&-right {
			padding: 40px;
			background: none;
		}
	}
}
.about-title {
	display: none;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	padding: 0 0 0 20px;
	line-height: 60px;
	border-left: 8px solid $orange-base-hover;
	border-bottom: 1px solid #e1e1e1;
	@include MQ(tablet) {
		display: block;
	}
}
h3 {
	.at1 &{
		font-size: 20px;
		color: #545454;
		padding: 30px 0 20px 0;
		&::after {
			content: '';
			display: inline-block;
			width: 30px;
			border-bottom: 1px solid #666;
			margin: 0 0 0 5px;
		}
	}
}