#page-body {
    .first & {
        max-width: 1920px;
        margin: 0 auto;
    }
}

//NEWS
.first-news-wrap {
    position: relative;
    width: 100%;
    height: 41px;
    line-height: 41px;
    background-image: url(../image/first_news_title.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0 0 0 250px;
    h2 {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 20px;
        font-weight: bold;
        color: $orange-base;
    }
    .marquee {
        display: block;
        white-space:nowrap;
        font-size: 16px;
        overflow: hidden;
    }
    .marquee_vertical {
        display: none;
    }
    a {
        color: #FFF;
        &:hover {
            text-decoration: underline;
        }
    }
    @include MQ(desktop) {
        h2 {
            left: 20px;
        }
    }
    @include MQ(tablet) {
        width: 100%;
        height: 200px;
        padding: 60px 20px 20px 20px;
        overflow: hidden;
        background-image: url(../image/first_news_title_m.png);
        background-position: 20px 20px;
        .marquee {
            display: none;
        }
        .marquee_vertical {
            display: block;
        }
    }
}

//JP
.first-jp {
    &-img {
        float: left;
        width: 50%;
        height: 640px;
        background-image: url(../image/first_bg_ad.png);
        background-repeat: no-repeat;
        background-position: left top;
        @include transition(all .3s);
        border-right: 10px solid #dc4b22;
        overflow: hidden;
        &:hover {
            background-image: url(../image/first_bg_ad_hover.png);
            .first-jp-button {
                background-image: url(../image/btn_first_ad_hover.png);
            }
        }
    }
    &-text {
        width: 395px;
        height: 195px;
        margin: 73px 0 0 4.94%;
        background-image: url(../image/first_title_1.png);
        @include transition(all .3s);
    }
    &-button {
        width: 77px;
        height: 21px;
        margin:24px 0 0 5.25%;
        background-image: url(../image/btn_first_ad.png);
        @include transition (all .3s);
    }
    @include MQ(custom) {
        &-img {
            width: 40%;
        }
    }
    @include MQ(desktop) {
        &-img {
            width: 100%;
            height: 320px;
            border: 0;
            background-position: center;
        }
        &-text {
            width: 288px;
            height: 84px;
            margin: 31px 0 0 7%;
            background-image: url(../image/first_title_1_m.png);
        }
    }
    @include MQ(tablet) {
        &-img {
            height: 256px;
        }
    }
}


//GAMG
.first-game{
    &-wrap {
        float: left;
        width: 50%;
        @include transition (all .3s);
        li {
            float: left;
            width: 50%;
            overflow: hidden;
            img {
                height: 319px;
            }
            .img-orign {
                display: block;
            }
            .img-hover {
                display: none;
            }
            &:hover {
                .img-orign {
                    display: none;
                }
                .img-hover {
                    display: block;
                }
            }
        }
    }
    &01 {
        border-right: 1px solid $orange-base-hover;
        border-bottom: 1px solid $orange-base-hover;
    }
    &02 {
        border-left: 1px solid $orange-base-hover;
        border-bottom: 1px solid $orange-base-hover;
    }
    &03 {
        border-right: 1px solid $orange-base-hover;
        border-top: 1px solid $orange-base-hover;
    }
    &04 {
        border-left: 1px solid $orange-base-hover;
        border-top: 1px solid $orange-base-hover;
    }
    @include MQ(custom) {
        &-wrap {
            width: 60%;
        }
    }
    @include MQ(desktop) {
        &-wrap {
            width: 100%;
        }
    }
    @include MQ(tablet) {}
    @include MQ(mobile) {
        &-wrap {
            width: 100%;
            li {
                width: 100%;
            }
        }

    }
}

//MOBILE
.first-mobile {
    &-wrap {
        float: left;
        width: 50%;
        height: 420px;
        background-image: url(../image/first_bg_mobile.png);
        background-position: center;
        @include transition (all .3s);
        &:hover {
            background-image: url(../image/first_bg_mobile_hover.png);
            .first-mobile-link {
                background-image: url(../image/btn_first_mobile.png);
            }
        }
    }
    &-text {
        width: 419px;
        height: 106px;
        background-image: url(../image/first_title_2.png);
        margin: 130px 0 0 29px;
    }
    &-link {
        width: 120px;
        height: 26px;
        background-image: url(../image/btn_first_mobile_hover.png);
        margin: 0 0 0 170px;
    }
    @include MQ(desktop) {
        &-wrap {
            display: none;
        }
    }
}

.first-join-wrap {
    float: left;
    background-color: #000;
    background-image: url(../image/first_bg_join.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 25%;
    height: 420px;
    @include transition (all .3s);
    &:hover {
        background-image: url(../image/first_bg_join_hover.png);
    }
    .is-login & {
        background-image: url(../image/first_bg_welcome.png);
        &:hover {
            background-image: url(../image/first_bg_welcome_hover.png);
        }
    }
    @include MQ(desktop) {
        display: none;
    }
}
.first-download-wrap {
    float: left;
    background-color: $orange-base-hover;
    background-image: url(../image/first_bg_download_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 25%;
    height: 420px;
    @include transition (all .3s);
    &:hover {
        background-image: url(../image/first_bg_download_icon_hover.png);
    }
    @include MQ(desktop) {
        display: none;
    }
}

.first-promotion {
    &-wrap{
        float: left;
        width: 50%;
        height: 420px;
        background-image: url(../image/first_bg_memberexclusiveii.png);
        @include transition (all .3s);
        &:hover {
            background-image: url(../image/first_bg_memberexclusiveii_hover.png);
            .first-promotion-link {
                background-image: url(../image/btn_first_service_hover.png);
            }
        }
    }
    &-title {
        width: 748px;
        height: 128px;
        background-image: url(../image/first_title_3.png);
        background-repeat: no-repeat;
        margin: 53px 0 0 4.94%;
    }
    &-link {
        width: 120px;
        height:26px;
        background-image: url(../image/btn_first_service.png);
        margin: 19px 0 0 10.4%;
        @include transition (all .3s);
    }
    @include MQ(desktop) {
        &-wrap {
            height: 168px;
            background-image: url(../image/first_bg_memberexclusiveii_m.png);
            &:hover {
                background-image: url(../image/first_bg_memberexclusiveii_m_hover.png);
            }
        }
        &-title {
            width: 358px;
            height: 78px;
            background-image: url(../image/first_title_3_m.png);
            margin: 17px 0 0 6.1%; 
        }
    }
    @include MQ(mobile) {
        &-wrap {
            width: 100%;
            height: 210px;
        }
    }
    @include MQ(mobile) {
        &-title {
            width: 95%;
            margin: 17px auto 0 5%;
        }
    }
}

.first-service {
    &-wrap{
        float: left;
        width: 50%;
        height: 420px;
        background-image: url(../image/first_bg_service.png);
        @include transition (all .3s);
        &:hover {
            background-image: url(../image/first_bg_service_hover.png);
            .first-service-link {
                background-image: url(../image/btn_first_service_hover.png);
            }
        }
    }
    &-title {
        width: 748px;
        height: 128px;
        background-image: url(../image/first_title_4.png);
        background-repeat: no-repeat;
        margin: 53px 0 0 4.94%;
    }
    &-link {
        width: 120px;
        height:26px;
        background-image: url(../image/btn_first_service.png);
        margin: 19px 0 0 10.4%;
        @include transition (all .3s);
    }
    @include MQ(desktop) {
        &-wrap {
            height: 168px;
            background-image: url(../image/first_bg_service_m.png);
            &:hover {
                background-image: url(../image/first_bg_service_m_hover.png);
            }
        }
        &-title {
            width: 358px;
            height: 78px;
            background-image: url(../image/first_title_4_m.png);
            margin: 17px 0 0 6.1%;
        }  
    }
    @include MQ(mobile) {
        &-wrap {
            width: 100%;
            height: 210px;
        }
        &-title {
            width: 95%;
            margin: 17px auto 0 5%;
        }
    }
}