#page-body {
	.game & {
        margin: -58px 0 120px 0;
        @include MQ(tablet) {
        	margin: 0;
        }
    }
}

.game-slider {
    position: relative;
    z-index: 2;
    max-width: 960px;
    margin: 0 auto;
}

.game-wrap {
    width: 100%;
    padding-bottom: 40px !important;
    @include MQ(tablet) {
        margin: 0 0 80px;
    }
}

/* --- 模組色彩管理，不修改可直接刪除 --- */
@include casino-color(
    $color01: #696969,  //標題的文字顏色
    $color02: #444,     //副標題的文字顏色
    $color03: $orange-base,  //副標題的數字顏色
    $color04: #FFF,     //搜尋按鈕放大鏡圖片顏色
    // $color05: #FFF,     //Active 的搜尋按鈕放大鏡圖片顏色
    $color06: #AAA,     //搜尋按鈕底色
    // $color07: #AAA,  //Active 的搜尋按鈕底色
    $color08: #FFF,     //搜尋框底色
    $color09: #6A6A6A,  //鍵入的搜尋文字顏色
    $color10: #6A6A6A,  //搜尋框的預設文字顏色"請輸入遊戲名稱"
    $color11: #AAA,  //列表 icon 顏色
    $color12: $orange-base,  //Active 的列表 icon 顏色
    $color13: #000,     //列表 icon 旁的線條顏色
    $color14: #666,      //線條的 border 顏色
    $color15: $orange-base-hover,      //叉的底色
    $color16: #FFF      //熱門遊戲下拉式
);


/* --- 模組調整 --- */
.game {
    background-color: #FFF !important;
    .fixed-header .container {
        padding: 0 !important;
    }
    .game-slider {
        z-index: 1;
    }
    .game-slider-wrap {
        max-width: 960px !important;
    }
    .dialog-content {
        margin: -285px 0 0 -160px !important;
    }
    .gamejp-wrap {
        max-width: 960px !important;
    }
}

.game-nav.fixed {
    max-width: 960px !important;
    top: 122px !important;
    @include MQ(tablet) {
    	top: 78px !important;
    }
}

.game-layout {
    z-index: 1;
    width: 98% !important;
}
.game-filter-option span {
    color: #FFF !important;
}
