//按鈕顏色
@mixin btn-color($font, $bg) {
    color: $font;
    background-color: $bg;
    &:hover {
        background-color: darken($bg, 5%);
    }
}

//清除浮動
@mixin clearfix() {
    &:after,
    &:before {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

// CSS image replacement
@mixin text-hide() {
    font: "0/0" a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

//Links
@mixin link() {
    &:link,
    &:visited {
        @content;
    }
};

@mixin hover() {
    &:hover,
    &:focus,
    &:active,
    &.active {
        @content;
    }
}

@mixin click() {
    &:hover,
    &:focus,
    &:active,
    &.is-active {
        @content;
    }
}

//讓iPhone iPad滑滾更順暢
@mixin overflow-scroll {
    overflow-y: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}

//溢出文字變"..."
@mixin text-truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}

// font-awesome
@mixin fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//placeholder
@mixin placeholder {
    &::-webkit-input-placeholder {
        color: #999;
    }
    &::-moz-placeholder {
        color: #999;
    }
    &:-ms-input-placeholder {
        color: #999;
    }
    &:-moz-placeholder {
        color: #999;
    }
    &.placeholder {
        &::-webkit-input-placeholder {
            color: #CCC;
        }
        &::-moz-placeholder {
            color: #CCC;
        }
        &:-ms-input-placeholder {
            color: #CCC;
        }
        &:-moz-placeholder {
            color: #CCC;
        }
    }
}




@mixin btn-back {
    display: block;
    font-size: .813rem;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
    i {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.25rem;
    }
    b {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 8px;
        &::after {
            content: "返回上一页";
            display: block;
        }
    }
    &:hover {
        transition: all .3s ease-in-out;
    }
    @include MQ(tablet) {
        i {
            display: none;
        }
        b {
            margin: 0;
            &::before {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                background: url(../image/nav_back_icon.svg) center no-repeat;
                margin: 0 auto 4px;
            }
            &::after {
                content: "返回";
            }
        }
    }
}