// media queries
$desktop: 960px;
$tablet: 768px;
$mobile: 480px;
$small: 320px;

@mixin MQ($canvas) {
	@if $canvas == desktop {
		@media only screen and (max-width: $desktop) { @content; }
	}
	@else if $canvas == tablet {
		@media only screen and (max-width: $tablet) { @content; }
	}
	@else if $canvas == mobile {
		@media only screen and (max-width: $mobile) { @content; }
	}
	@else if $canvas == small {
		@media only screen and (max-width: $small) { @content; }
	}
}

//模板
@include MQ(desktop) {}
@include MQ(tablet) {}
@include MQ(mobile) {}
@include MQ(small) {}