.mask-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(#525866, .75);
    //cursor: pointer;
    &.active {
        display: block;
    }
}

.alert {
    &-wrap {
        @include border-radius(5px);
        @include box-shadow(#525866 0 15px 25px);
        display: none;
        text-align: center;
        position: absolute;
        z-index: 9999;
        top:calc(50vh - 110px);
        left:0;
        right:0;
        margin:auto;
        background: rgba(255, 255, 255, .9);
        width: 320px;
        height: 220px;
        padding: 20px;
        &.active {
            display: block;
        }
    }
    &-content {
        font-size: 16px;
        height: 130px;
        p {
            color: #525866;
            padding-top: 55px;
        }
    }
    &-close {
        @include trans(color);
        float: right;
        display: block;
        width: 20px;
        height: 20px;
        color: #7a8599;
        &:before {
            content: '\f00d';
        }
        &:hover {
            color: #676ea5;
        }
    }
    &-link a {
        margin: 0 3px;
        padding: 0;
        line-height: 40px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(#525866, .75);
    //cursor: pointer;
    &.active {
        display: block;
    }
}

.tip {
    &-wrap {
        @include border-radius(5px);
        @include box-shadow(#525866 0 1px 4px);
        text-align: left;
        position: absolute;
        z-index: 9;
        top:50px;
        left: 50%;
        background: rgba(103, 110, 165, .7);
        width: 320px;
        margin: 0 0 0 -160px; //margin: -110px 0 0 -160px;
        padding: 20px;
        &.active {
            display: block;
        }
    }
    &-content {
        font-size: 16px;
        p {
            span{
                color: #fff;
                line-height: 28px;
            }
        }
    }
    &-close {
        @include trans(color);
        float: right;
        display: block;
        width: 28px;
        height: 28px;
        line-height:28px;
        text-align:center;
        color: #fff;
        &:before {
            content: '\f00d';
            font-size:22px;
        }
        &:hover {
            color: #676ea5;
        }
    }
    &-link a {
        margin: 0 3px;
        padding: 0;
        line-height: 40px;
    }
}