@charset "utf-8";

//基本設定
@import "base/base";
@import "base/variables";
@import "base/fonts";
@import "base/grid";

//函式
@import "base/mixins";

//compass
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/transform";

//共用架構
@import "layout/layout";
@import "layout/lang";
@import "layout/login";

//模組
@import "modules/slider";

//主頁面

@import "pages/first";
@import "pages/about";
@import "pages/sport";
@import "pages/live";
@import "pages/game";
@import "pages/lottery";
@import "pages/promotions";