// colors-主風格或常用的配色
$red-base: #BC3639 !default;
$red-base-hover: #AC2D2F !default;
$orange: #D0650D !default;
$blue-light: #2E5083 !default;
$navy: #04162F !default;
// fonts-字體、字級、行高設定
$font-size-l: 20px !default; // 20px 1.25rem
$font-size-lm: 16px !default; // 17px 1.0625rem 
$font-size-m: 15px !default; // 15px .9375rem
$font-size-xm: 14px !default; // 14px .875rem
$font-size-s: 13px !default; // 13px .8125rem
$font-size-xs: 12px !default; // 12px .75rem
$font-family: Helvetica Neue,
Helvetica,
Arial,
微軟雅黑體,
Microsoft JhengHei,
sans-serif;
$light-height: 1.5 !default; //24px
//GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
//===================
//目前語系資料夾
$lang: 'lang/zh-cn/';
//===================
//語系種類
$lang-kind: selectFlag; //false=不使用; Flag=使用inline國旗, selectFlag=使用下拉國旗
$lang-img: 2; // 1=長方形, 2=圓形(使用國旗才需設定)
//===================
//首頁遊戲圖
$first-game-lang: true; //true=使用, false=不使用;
$first-game-format: png; //遊戲圖圖片格式: png or jpg;
//===================
//首頁輪播圖
$first-slider: true;
$first-height: image-height('not-use/slider01.png');