@charset "utf-8";
@import "compass/reset";
@import "compass/utilities";
//compass
@import "compass/css3";
//基本設定
@import "base/base";
@import "base/variables";
@import "base/fonts";
@import "base/grid";
//函式
@import "mixin/mixins";
//共用架構
@import "layout/layout";
@import "layout/header";
@import "layout/footer";
@import "layout/lang";
@import "layout/login";
//模組
@import "modules/functions";
@import "modules/slider";
//主頁面
@import "pages/first";
@import "pages/about";
@import "pages/promotions";
@import "pages/game";
@import "pages/live";
@import "pages/lottery";
@import "pages/sport";