/* --- 首頁輪播 --- */
@if $first-slider == 1 {
    .ele-slideshow-wrap {
        position: relative;
        z-index: 2;
        top: 0;
        width: 100%;
        max-width: 768px;
        height: $first-height;
        background: #000;
        background: rgba(0, 0, 0, .8);
        background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
        margin: 75px auto 0;
        ul {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            li {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                a {
                    display: block;
                    .img {
                        width: 100%;
                        height: $first-height;
                        background-size: cover;
                        background-position: top center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        @include MQ(tablet) {
            width: 80%;
            max-width: none;
            height: 145px;
            margin-top: 0;
            ul li a .img {
                height: 145px;
                background-size: 100% auto;
                background-position: center;
            }
        }
        @include MQ(mobile) {
            width: 100%;
            max-width: none;
        }
    }
    
    .ele-slideshow-scroll {
        overflow: hidden;
        position: absolute;
        z-index: 1;
        margin: 0 auto;
        top: 0;
        width: 100%;
        height: 100%;
    }

    // 左右箭頭
    .ele-slideshow-arrow-wrap {
        top: 50%;
        .ele-slideshow-arrow {
            position: absolute;
            z-index: 9;
            display: inline-block;
            width: 60px;
            height: 60px;
            background: image-url("slider_arrow.png") 0 0 no-repeat;
            opacity: 0.5;
            &.ele-slideshow-arrow-right {
                right: 0;
                background-position: -60px 0;
            }
            &:hover {
                opacity: 1;
            }
        }
    }

    // 圓點控制項的框架
    .ele-slideshow-control-wrap {
        position: absolute;
        bottom: 0;
        z-index: 9;
        @include MQ(mobile) {
            bottom: 2px;
        }
    }

    // 圓點控制項的按鈕風格
    .ele-slideshow-nav {
        > a {
            display: inline-block;
            width: 12px;
            height: 12px;
            background: none;
            border: 1px solid #C4A56C;
            border-radius: 100%;
            margin: 0 10px;
            &.active {
                background: #f9e099;
                background: linear-gradient(to bottom, #f9e099 0%,#bd9f77 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e099', endColorstr='#bd9f77',GradientType=0 );
                border: 0;
            }
        }
    }

} else {}







