// 按鈕顏色
@mixin btn-color($font, $bg) {
    color: $font;
    background-color: $bg;
    &:hover {
        background-color: darken($bg, 5%);
    }
}

// 清除浮動
@mixin clearfix() {
    &:after,
    &:before {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

// 引入圖片及寬高自動為圖片實際尺寸
@mixin bg($img) {
    width: image-width(#{$img});
    height: image-height(#{$img});
    background-image: image-url(#{$img});
}

// CSS image replacement
@mixin text-hide() {
    font: "0/0" a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

// Links
@mixin alink() {
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.current {
        @content;
    }
}

// 讓 iOS裝置滑滾更順暢
@mixin overflow-scroll {
    overflow-y: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}

// 溢出文字變"..."
@mixin text-truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}

// 轉場效果
@mixin trans($key) {
    transition: $key 0.3s ease-in-out;
}

// font-awesome
@mixin fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


// scrollbar
@mixin scrollbar(
    $bgcolor: #999
) {
    overflow-y: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: $bgcolor;
    }
}


// 版型內容區域的最大預設寬度
@mixin layout-max-width() {
    max-width: 1366px;
    margin: 0 auto;
}


// 登入後 色彩管理
@mixin meminfo-color(
    $info-font              : transparent,       //帳號、餘額列的字色
    $info-icon              : transparent,       //帳號、餘額列加號的顏色

    $balance-bg             : transparent,       //餘額視窗的背景色
    $balance-font           : transparent,       //餘額視窗個餘額的字色
    $balance-bottom         : transparent,       //餘額視窗下方背景色
    $balance-btn-font       : transparent,       //餘額轉換按鈕的字色
    $balance-btn-font-h     : transparent,       //餘額轉換按鈕的字色:hover
    $balance-btn-bg         : transparent,       //餘額轉換按鈕的背景色
    $balance-btn-bg-h       : transparent,       //餘額轉換按鈕的背景色:hover

    $popup-obalance-font    : transparent,       //TABLET 以下帳號、餘額列的字色
    $popup-btn-member       : transparent,       //TABLET 以下會員中心按鈕背景色
    $popup-btn-switch       : transparent,       //TABLET 以下額度轉換按鈕背景色
    $popup-btn-logout       : transparent        //TABLET 以下登出按鈕背景色
){
    .mem-info {
        color: $info-font;
        .ele-obalance-wrap {
            color: $info-icon;
        }
    }
    .ele-item-style-cover {
        background: $balance-bg;
    }
    .ele-obalance {
        color: $balance-font;
    }
    .ele-balance-tool {
        background: $balance-bottom;
        a {
            color: $balance-btn-font;
            background: $balance-btn-bg;
            @include alink {
                color: $balance-btn-font-h;
                background: $balance-btn-bg-h;
            }
        }
    }
    .ele-popup-accinfo .fa {
        color: $info-icon;
    }
    .ele-popup-obalance {
        color: $popup-obalance-font;
    }
    .ele-popup-btn {
        color: #FFF;
    }
    .ele-popup-btn-member {
        background: $popup-btn-member;
    }
    .ele-popup-btn-switch {
        background: $popup-btn-switch;
    }
    .ele-popup-btn-logout {
        background: $popup-btn-logout;
    }
}


// 優惠活動 色彩管理
@mixin memExclusive-color(
    $item-bg     : transparent,     //項目背景色
    $item-font   : transparent,     //項目字色
    $item-font-h : transparent      //項目字色:hover
){
    .memExclusive {
        background: $item-bg;
        a {
            color: $item-font;
            @include alink {
                color: $item-font-h;
            }
        }
    }
}


// 文案頁 色彩管理
@mixin madvertis-color(
    $sidebar-bg         : transparent,     //測選單背景色
    $sidebar-font       : transparent,     //項目字色
    $sidebar-font-h     : transparent,     //項目字色:hover

    $tablet-title-font  : transparent,     //TABLET 以下選單的目前頁面標題字色
    $tablet-title-bg    : transparent,     //TABLET 以下選單的目前頁面標題背景色

    $right-bg           : transparent,     //文案內容-右側款背景色
    $left-bg            : transparent      //文案內容-左側款背景色
){
    .page-sidebar {
        ul {
            background: $sidebar-bg;
        }
        li {
            a {
                display: block;
                color: $sidebar-font;
                @include alink {
                    color: $sidebar-font-h;
                }
            }
        }
        @include MQ(tablet) {
            h2 {
                color: $tablet-title-font;
                background: $tablet-title-bg;
            }
        }
    }
    .page-right {
        background-color: $right-bg
    }
    .page-left {
        background-color: $left-bg;
    }
}
