/* --- 最新消息跑馬燈 --- */
.first-news-wrap {
    position: absolute;
    right: 0;
    top: 64px;
    width: 46%;
    height: 180px;
    background-color: #555;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.20);
    @include MQ(desktop) {
        width: 55%;
    }
    @include MQ(tablet) {
        position: relative;
        right: auto;
        top: auto;
        margin: 64px auto 0;
        width: 95%;
    }
    @include MQ(mobile) {}
}

.first-news-main {
    padding: 20px 0 0 7%;
    margin-right: 6.25%;
    height: 180px;
    background: url(../image/news_bg.png) no-repeat right bottom;
    h2 {
        color: #FFF;
        font-size: 30px;
        font-style: italic;
    }
    marquee {
        display: block;
        overflow: hidden;
        height: 92px;
        font-size: 14px;
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        padding: 20px 0 0 4%;
        margin-right: 3%;
    }
    @include MQ(mobile) {}
}


/* --- 四大產品 --- */

@if $first-game-lang==true {
    .ele-firstgame-wrap {
        margin: 0 auto;
        padding: 0 2%;
        box-sizing: content-box;
        max-width: 1840px;
        @include MQ(tablet) {
            padding: 0;
        }
    }
    
    .ele-firstgame {
        display: block;
        text-align: center;
        margin: 0 auto;
        a {
            float: left;
            position: relative;
            width: 25%;
            span {
                pointer-events: none;
            }
            &.ele-firstgame-1 {
                span {
                    left: 18%;
                }
            }
            &.ele-firstgame-4 {
                span {
                    right: 18%;
                }
            }
        }
        @include MQ(desktop) {
            a {
                width: 50%;
                &.ele-firstgame-1,
                &.ele-firstgame-3 {
                    span {
                        left: 22%;
                    }
                }
                &.ele-firstgame-2,
                &.ele-firstgame-4 {
                    span {
                        right: 22%;
                    }
                    &:hover,&.current {
                        
                    }
                }
            }
        }
        @include MQ(tablet) {
            margin-top: 12px;
        }
        @include MQ(mobile) {
            a {
                width: 100%;
            }
        }
    }
    
    @for $i from 1 through 4 {
        .ele-firstgame-#{$i} {         
            background-image: image-url('lang/zh-cn/game0#{$i}.#{$first-game-format}'); 
            background-size: 100% auto;
            background-repeat: no-repeat;
            transition: all .3s linear;       
            span {
                position: relative;
                z-index: 1;
                opacity: 0;
                display: block;
                width: 100%;
                height: 100%;
                background-image: image-url('lang/zh-cn/game0#{$i}_over.#{$first-game-format}');
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: center;
                transition: all .3s linear; 
            }
            &:hover,&.current {
                span {
                    transform: scale(1.58);    
                    opacity: 1;
                }
            }
            @include MQ(tablet) {
                span {
                    display: none;
                }
            }
        }
    }
}

@else {}

/* --- 首頁介紹 --- */
.first-intro-wrap {
    position: relative;
    margin-top: 114px;
    padding-bottom: 142px;
    background: url(../image/first_bg.jpg) no-repeat right bottom;
    @include MQ(custom) {
        height: 800px;
        margin-top: 80px;
    }
    @include MQ(tablet) {
        margin-top: 20px;
        height: auto;
        background-position: center bottom;
    }
}

/* --- 首頁服務 --- */

.first-service-wrap {
    position: relative;
    float: left;
    width: 49%;
    overflow: hidden;
    .first-service-title {
        margin-right: 46%;
        margin-bottom: 24px;
        text-align: right;
        line-height: 1;
        font-size: 40px;
        font-style: italic;
        color: #FFF;
        span {
            display: inline-block;
            vertical-align: text-top;
        }
        &:before {
            content: '';
            margin-right: 12px;
            display: inline-block;
            @include bg('service_icon.png');
        }
    }
    .first-service-slogan {
        position: absolute;
        right: 18px;
        bottom: 0;
        width: 820px;
        line-height: 1;
        text-align: right;
        font-size: 100px;
        font-style: italic;
        font-family: Arial;
        font-weight: bold;
        color: #262626;

    }
    .first-service-group {
        text-align: right;
        padding-right: 37%;
        height: 496px;
        background-color: #222;
    }
    ul {
        display: inline-block;
        text-align: right;
        max-width: 840px;
        width: 100%;
        background: url(../image/halo.png) right top no-repeat;
        background-repeat: no-repeat;
        li {
            display: inline-block;
            position: relative;
            padding-top: 12px;
            width: 430px;
            height: 134px;
            &:after {
                position: absolute;
                right: 0;
                bottom: 0;
                content: '';
                width: 388px;
                height: 1px;
                background-color: #5F5F5F;
            }
            h3 {
                display: inline-block;
                width: 190px;
                font-size: 60px;
                font-style: italic;
                font-family:"Arial Black", "Arial Bold";
                font-weight: 500;
                color: #41272A;
                span {
                    font-family: "Microsoft YaHei";
                    font-weight: bold;
                }
            }
            &.first-service-list01 {
                h3 {
                    color: #4A3133;
                }
            }
            &.first-service-list02 {
                h3 {
                    color: #4C3335;
                }
            }
            &.first-service-list03 {
                &:after {
                    display: none;
                }
            }
        }
    }
    @include MQ(custom) {
        .first-service-title {
            margin-right: 10%;
            text-align: center;
            &:before {
                margin-right: 0;
            }
        }
        .first-service-group {
            padding-right: 11%;
        }
        ul {
            text-align: center;
        
        }
    }
    @include MQ(desktop) {
        .first-service-group {
            padding-right: 8%;
        }
        ul {
            text-align: center;
            width: auto;
            li {
                padding-top: 24px;
                width: auto;
                &:after {
                    width: 100%;
                }
                h3 {
                    width: 124px;
                    font-size: 42px;
                    text-align: center
                }
            }
        }
    }
    @include MQ(tablet) {
        float: none;
        margin: 0 auto;
        max-width: 608px;
        width: 100%;
        .first-service-title {
            margin-right: 0;
        }
        .first-service-group {
            padding-right: 0;
            height: auto;
        }
        ul {
            padding: 8px 0;
            text-align: center;
            width: auto;
            li {
                padding-top: 10px;
                width: auto;
                &:after {
                    width: 388px;
                }
                h3 {
                    width: 190px;
                    font-size: 60px;
                }
            }
        }
        .first-service-slogan {
            display: none;
        }
    }
    @include MQ(mobile) {
        ul {
            li {
                width: 100%;
                h3 {
                    width: 43%;
                    font-size: 42px;
                }
                &:after {
                    content: '';
                    position: relative;
                    right: auto;
                    display: inline-block;
                    width: 81%;
                }
            }
        }
    }
}
.first-service-content {
    display: inline-block;
    vertical-align: sub;
    margin-left: 30px;
    &:before {
        content: '';
        display: inline-block;
        width: 60px;
        height: 50px;
        background: url(../image/service_icons.png) no-repeat;
        .first-service-list02 &{
            background-position: 0 -50px;
        }
        .first-service-list03 &{
            background-position: 0 -100px;
        }
    }
    p {
        display: inline-block;
        vertical-align: super;
        width: 140px;
        text-align: left;
        line-height: 1.4;
        color: #EE3E42;
        font-size: 20px;
        font-style: italic;
        span {
            display: block;
            color: #999;
            font-size: 16px;
            font-style: italic;
        }
    }
    @include MQ(desktop) {
        margin-left: 12px;
    }
    @include MQ(tablet) {
        margin-left: 30px;
    }
    @include MQ(mobile) {
        width: 44%;
        vertical-align: middle;
        margin-left: 0;
        &:before {
            width: 100%;
            max-width: 60px;
        }
    }
}

/* --- 首頁介紹- 產品優勢 --- */

.first-products-wrap {
    position: absolute;
    top: 16px;
    right: 5.2%;
    text-align: center;
    width: 60%;
    height: 389px;
    background: url(../image/halo.png) right top no-repeat #444;
    box-shadow: 0 0 12px 5px rgba(0,0,0,0.25);
    .first-products-title {
        padding: 30px 0 44px;
        line-height: 1;
        font-size: 40px;
        font-style: italic;
        color: #FFF;
    }
    li {
        position: relative;
        width: 24%;
        height: 240px;
        display: inline-block;
        vertical-align: top;
        padding: 8px 4px 0 0; 
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            width: 1px;
            height: 240px;
        }
        &:before {
            right: 1px;
            background-color: #666;
        }
        &:after {
            right: 0;
            background-color: #444;
        }
        &.first-products-list04{ 
            &:before,
            &:after {
                display: none;
            }
        }
        h4 {
            padding-right: 5%;
            margin-bottom: 36px;
            font-size: 24px;
            font-style: italic;
            color: #CCC;
            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin-right: 5%;
                width: 54px;
                height: 42px;
                background: url(../image/products_icons.png) no-repeat;
            }
        }
        span {
            display: block;
            padding: 0 6%;
            text-align: left;
            line-height: 2;
            font-size: 16px;
            font-style: italic;
            color: #999;
        }
        &.first-products-list01 {
            background: url(../image/products_bg01.png) no-repeat top center;
        }
        &.first-products-list02 {
            background: url(../image/products_bg02.png) no-repeat top center;
            h4:before {
                background-position: 0 -42px;
            }
        }
        &.first-products-list03 {
            background: url(../image/products_bg03.png) no-repeat top center;
            h4:before {
                background-position: 0 -84px;
            }
        }
        &.first-products-list04 {
            background: url(../image/products_bg04.png) no-repeat top center;
            h4:before {
                background-position: 0 -126px;
            }
        }
    }
    .first-products-slogan {
        position: absolute;
        right: 16px;
        bottom: -40px;
    }
    @include MQ(custom) {
        right: 0;
        width: 55%;
        height: 750px;
        .first-products-title {
            padding: 44px 0 14px;
        }
        li {
            margin: 38px 0;
            width: 49%;
            span {
                padding: 0 16%;
            }
            &.first-products-list02{ 
                &:before,
                &:after {
                    display: none;
                }
            }
        }
        .first-products-slogan {
            right: 50%;
            top: 50%;
            margin-right: -135px;
            margin-top: 24px;
        }
        
    }
    @include MQ(desktop) {
        li {
            h4 {
                margin-bottom: 20px;
            }
            span {
                font-size: 14px;
                padding: 0 8%;
            }
        }
    }
    @include MQ(tablet) {
        position: relative;
        top: auto;
        margin: 0 auto;
        max-width: 682px;
        width: 100%;
        background-position: 130% 0;
        li {
            h4 {
                margin-bottom: 36px;
            }
            span {
                margin: 0 auto;
                padding: 0 4%;
                max-width: 260px;
                width: 100%;
                font-size: 16px;
            }
        }
    }
    @include MQ(mobile) {
        height: auto;
        li {
            width: 100%;
            height: 277px;
            span {
                height: 167px;
            }
            &:after {
                content: '';
                position: relative;
                display: inline-block;
                top: auto;
                right: auto;
                max-width: 400px;
                width: 100%;
                height: 1px;
                background-color: #999;
            }
            &:before {
                display: none;
            }
            &.first-products-list02:after{
                display: inline-block;
            } 
        }
        .first-products-slogan {
            display: none;
        }
    }
}


/* --- 首頁介紹- 手機下注 --- */

// .first-mobile-main {
//     @include layout-max-width;
//     @include MQ(desktop) {}
//     @include MQ(tablet) {}
//     @include MQ(mobile) {}
// }