/* --- 優惠活動 色彩管理 --- */
@include memExclusive-color(
    $item-bg     : #000,     //項目背景色
    $item-font   : #FFF,     //項目字色
    $item-font-h : #FF8000   //項目字色:hover
);

.memberexclusiveii-content {
    display: none;
    position: relative;
    max-width: 960px;
    margin: 0 auto 40px;
    @include MQ(tablet) {
        text-align: center;
    }
}

/* --- 優惠活動項目 --- */
.memExclusive {
    position: relative;
    width: 29.33%;
    margin: 0 2% 50px;
    float: left;
    a {
        display: block;
        img {
            display: block;
            width: 100%;
            &.js-exclusive-dialog-default {
                position: relative;
                z-index: 1;
            }
            &.js-exclusive-dialog-hover {
                position: absolute;
                top: 0;
                left: 0;
            }
            // &.orign {
            //     display: block;
            // }
            // &.hover {
            //     display: none;
            // }   
        }
        .ele-mem-dialog-title {
            position: absolute;
            z-index: 2;
            bottom: -40px;
            right: -20px;
            width: 75%;
            height: 88px;// 預設標題至多兩行
            box-shadow: 0 0 6px 3px rgba(0,0,0,0.40);
            background-color: #777;
            h2 {
                display: -webkit-box;
                padding: 20px 15px 0;
                line-height: 24px;
                font-size: 14px;
                color: #FFF;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
        }
        &:hover {
            img {
                &.orign {
                    display: none;
                }
                &.hover {
                    display: block;
                }
            }
        }
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        float: none;
        display: inline-block;
        margin: 0 3% 50px;
        width: 42%;
        max-width: 320px;
        a {
            img {
                &.js-exclusive-dialog-default {
                    opacity: 0;
                }
                &.hover {
                    display: block;
                }
            }
            .ele-mem-dialog-title {
                text-align: left;
                bottom: -20px;
                right: -10px;
                height: 100px;
                h2 {
                    padding-top: 26px;
                }   
            }
        }
    }
    @include MQ(mobile) {
        width: 80%;
        a{
            .ele-mem-dialog-title {
                right: -10%;
            }
        }
            
    }
}
