// colors-主風格或常用的配色
$red-base		   :  #BC3639 !default;
$red-base-hover	   :  #AC2D2F !default;
$orange			   :  #D0650D !default;
$blue-light		   :  #2E5083 !default;
$navy			   :  #04162F !default;

// fonts-字體、字級、行高設定
$font-size-lg       : 1.25rem !default;
$font-size-sm       : .875rem !default;
$font-size-xs       : .75rem !default;

$font-family: Helvetica Neue, Helvetica, Arial, 微軟雅黑體, Microsoft JhengHei, sans-serif;

$light-height: 1.5 !default;

//GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');