@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------------------ 變數目錄 --------------------------------------*/
/*---------------------------- 基本變數 ----------------------------------------------*/
/*---------------------------- 背景設定 ----------------------------------------------*/
/*---------------------------- 文字屬性 ----------------------------------------------*/
/*---------------------------- BOX 區塊屬性 ------------------------------------------*/
/*---------------------------- 各類選單屬性 -------------------------------------------*/
/*---------------------------- 基本變數 ----------------------------------------------*/
/*---------------------------- 基本變數 end ------------------------------------------*/
/*---------------------------- 背景設定 ----------------------------------------------*/
/*---------------------------- 背景設定 end ------------------------------------------*/
/*---------------------------- 文字屬性 ----------------------------------------------*/
/*---------------------------- 文字屬性 end ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 end --------------------------------------*/
/*---------------------------- 各類選單屬性 -------------------------------------------*/
/*---------------------------- 各類選單屬性 end ---------------------------------------*/
.ele-slideshow-wrap {
  position: relative;
}
.ele-slideshow-wrap ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 359px;
}
.ele-slideshow-wrap ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 359px;
  -webkit-backface-visibility: hidden;
}
.ele-slideshow-wrap ul li a {
  display: block;
}
.ele-slideshow-wrap ul li a img {
  display: block;
  max-width: 100%;
  height: auto;
  float: left;
}
.ele-slideshow-wrap ul li a .img {
  width: 100%;
  height: 359px;
  background-position: top center;
  background-repeat: no-repeat;
}

.ele-slideshow-scroll {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 359px;
  overflow: hidden;
  margin: 0 auto;
}

.ele-slideshow-control-wrap {
  position: absolute;
  z-index: 1;
  bottom: 10px;
}

.block {
  position: relative;
  min-height: 1px;
  float: left;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: STHeiti, "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", arial;
  font-size: 12px;
  line-height: 1.8;
  color: #FFF;
  background-color: #003E5C;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
button,
select,
textarea {
  outline: none;
}

*:focus {
  outline: none;
}

a {
  color: #FFF;
  text-decoration: none;
}
a:hover, a:focus {
  color: #d9d9d9;
  text-decoration: none;
}

#L-Sub {
  position: relative;
  z-index: 9999;
  clear: both;
}
#L-Sub div {
  display: none;
  position: absolute;
  z-index: 9999;
  width: 110px;
}
#L-Sub div a {
  text-align: center;
  display: block;
  padding: 0 4px;
}
#L-Sub span {
  display: block;
  float: left;
}

#L-Sub1 {
  position: relative;
  z-index: 9999;
  clear: both;
}
#L-Sub1 div {
  display: none;
  position: absolute;
  z-index: 9999;
}
#L-Sub1 div a {
  float: left;
  display: block;
  padding: 0 0 0 10px;
}
#L-Sub1 span {
  display: block;
  float: left;
}

#U-Sub {
  position: relative;
  z-index: 9999;
  float: left;
}

/*CASINO */
.game #page-body {
  margin: 0 auto;
  width: 1000px;
}

.elenew-live-trace {
  color: #fff;
  margin: 0 0 0 16px;
}
.elenew-live-trace a {
  color: #fff;
}
.elenew-live-trace .elenew-trace-title {
  color: #fff;
}
.elenew-live-trace .elenew-trace-sub {
  margin: 12px 0 0 5px;
  color: #fff;
}
.elenew-live-trace .gamenew-trace-num {
  color: yellow;
}

#elenew-search-wrap .elenew-search-btn {
  color: #FFF;
  background-color: #8F8F8F;
}
#elenew-search-wrap .elenew-search-btn.search-active {
  color: #FFF;
  background-color: #333;
}
#elenew-search-wrap .elenew-search-btn .fa-2x {
  font-size: 1.8em;
}
#elenew-search-wrap .elenew-search-input {
  background-color: #fff;
  color: #666;
}
#elenew-search-wrap .elenew-search-input input {
  color: #666;
}

.elenew-live-view a {
  color: #8F8F8F;
}
.elenew-live-view a:hover, .elenew-live-view a.view-active {
  color: #fff;
}

.elenew-serch-noresult {
  color: #666 !important;
}

/*  color-setC
    1   標題的文字顏色
    2   副標題的文字顏色
    3   副標題的數字顏色
    4   搜尋按鈕放大鏡圖片顏色
    5   Active的搜尋按鈕放大鏡圖片顏色
    6   搜尋按鈕底色
    7   Active的搜尋按鈕底色
    8   搜尋框底色
    9   鍵入的搜尋文字顏色
    10  搜尋框的預設文字顏色"請輸入遊戲名稱"
    11  列表icon顏色
    12  Active的列表icon顏色  */
#js-ele-gamebanner .rslides_tabs li {
  color: #FFF;
}
#js-ele-gamebanner .rslides_tabs li.rslides_here {
  color: #19BF9D;
}

/*  color-setA
    1   Banner切換圖片的按鈕顏色
    2   當前的Banner切換圖片的按鈕顏色   */
/*  color-setC
1   標題的文字顏色
2   副標題的文字顏色
3   副標題的數字顏色
4   搜尋按鈕放大鏡圖片顏色
5   Active的搜尋按鈕放大鏡圖片顏色
6   搜尋按鈕底色
7   Active的搜尋按鈕底色
8   搜尋框底色
9   鍵入的搜尋文字顏色
10  搜尋框的預設文字顏色"請輸入遊戲名稱"
11  列表icon顏色
12  Active的列表icon顏色  */
.ele-gamebanner-wrap .thumbNav a {
  color: #FFF;
}

.ele-gamebanner-wrap .thumbNav a:hover,
.ele-gamebanner-wrap .thumbNav a.cur {
  color: #19BF9D;
}

/*  color-setA
1   Banner切換圖片的按鈕顏色
2   當前的Banner切換圖片的按鈕顏色   */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

body {
  font: 12px/1.8 STHeiti, "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", arial;
  margin: 0px;
  padding: 0px;
  background-color: #000;
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

/*基本框架-------------------------------------------------start*/
#mainbody {
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: url(../image/bg.jpg) top center no-repeat;
}
#mainbody #page-header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: url(../image/header_bg_x.jpg) repeat-x;
}
#mainbody #page-container {
  clear: both;
  width: 100%;
  height: auto;
}
#mainbody #page-container #page-left {
  float: left;
  width: 260px;
  height: auto;
  clear: both;
}
#mainbody #page-container #page-right {
  float: right;
  width: 760px;
  height: auto;
}
#mainbody #page-footer {
  clear: both;
  width: 1024px;
  height: auto;
  border-top: 5px solid #000;
  overflow: auto;
  margin: 0 auto;
}

#mainbody01 {
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: url(../image/bg1.jpg) top center no-repeat;
}
#mainbody01 #page-header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: url(../image/header_bg_x.jpg) repeat-x;
}
#mainbody01 #page-container {
  clear: both;
  width: 100%;
  height: auto;
}
#mainbody01 #page-container #page-left {
  float: left;
  width: 260px;
  height: auto;
  clear: both;
}
#mainbody01 #page-container #page-right {
  float: right;
  width: 760px;
  height: auto;
}
#mainbody01 #page-footer {
  clear: both;
  width: 1024px;
  height: auto;
  border-top: 5px solid #000;
  overflow: auto;
  margin: 0 auto;
}

/*基本框架----------------------------------------------end*/
/*nav start---------------------*/
/*主選單的css樣式設定*/
#nav {
  width: 958px;
  height: 62px;
  margin: 0 auto;
}
#nav ul li {
  float: left;
}
#nav ul li a {
  display: block;
  width: 106px;
  text-decoration: none;
  color: #efeae6;
  font-family: Arial, Helvetica, sans-serif, "新細明體";
  font-size: 12px;
  line-height: 62px;
  text-align: center;
}
#nav ul li a:hover {
  color: #8C8C00;
  background: url(../image/nav_over.png) top center no-repeat;
}

.current {
  color: #8a8d00;
  background: url(../image/nav_over.png) top center no-repeat;
}

/*主選單的css樣式設定 結束*/
/*次選單的css樣式設定*/
#L-Sub {
  left: 48px;
}
#L-Sub div {
  line-height: 30px;
}
#L-Sub div a,
#L-Sub div span {
  background: url('../image/sub.png');
  height: 30px;
}
#L-Sub div a {
  background-position: center;
}
#L-Sub span {
  width: 15px;
}
#L-Sub span.subbg-left {
  background-position: left top;
}
#L-Sub span.subbg-right {
  background-position: right bottom;
}
#L-Sub a {
  font-size: 12px;
  line-height: 32px;
  color: #FFF;
}
#L-Sub a:hover {
  color: #FF0;
}

#L-Sub1 {
  margin-left: 0px;
}
#L-Sub1 div {
  line-height: 30px;
}
#L-Sub1 div a,
#L-Sub1 div span {
  background: url('../image/sub.png');
  height: 30px;
}
#L-Sub1 div a {
  background-position: center;
}
#L-Sub1 span {
  width: 15px;
}
#L-Sub1 span.subbg-left {
  background-position: left top;
}
#L-Sub1 span.subbg-right {
  background-position: right bottom;
}
#L-Sub1 a {
  font-size: 12px;
  line-height: 32px;
  color: #FFF;
}
#L-Sub1 a:hover {
  color: #FF0;
}

.ele-drop-group div {
  line-height: 30px;
}
.ele-drop-group div a,
.ele-drop-group div span {
  background: url('../image/sub.png');
  height: 30px;
}
.ele-drop-group div a {
  background-position: center;
}
.ele-drop-group span {
  width: 15px;
}
.ele-drop-group span.subbg-left {
  background-position: left top;
}
.ele-drop-group span.subbg-right {
  background-position: right bottom;
}
.ele-drop-group a {
  display: block;
  width: 100px;
  text-align: center;
  font-size: 12px;
  line-height: 32px;
  color: #FFF;
}
.ele-drop-group a:hover {
  color: #FF0;
}

/*這裡是設定次選單的按鈕背景 結束*/
/*次選單的css樣式設定 結束*/
/*---------------------nav end*/
/*header start*/
#header {
  width: 1024px;
  height: auto;
  margin: 0 auto;
}

#logo {
  float: left;
  margin-top: 10px;
}

#time {
  float: left;
  line-height: 36px;
}

#lang {
  float: right;
  width: 82px;
  height: 22px;
  line-height: 20px;
  color: #666666;
  text-indent: 3px;
  margin: 5px 3px 0 0;
  background: url(../image/h_01.jpg) no-repeat;
  border-color: #000;
  cursor: pointer;
}
#lang font {
  family: Arial, Helvetica, sans-serif, "新細明體";
  size: 12px;
}

#langbar {
  width: 100%;
  height: 27px;
}

/*header end*/
/*container*/
#container {
  position: relative;
  margin: 0 auto 0 auto;
}

#container_inside {
  margin: 0 auto -17px auto;
}

#container_inside1 {
  margin: 0 auto 20px auto;
}

#container_inside_ultimate {
  margin: 0 auto;
}

#container,
#container_inside,
#container_inside1,
#container_inside_ultimate {
  clear: both;
  width: 1024px;
  height: auto;
  overflow: hidden;
}

/*container end*/
/*footer*/
.footer {
  width: 1024px;
  height: 150px;
  margin: 0 auto;
  background: url(../image/footer_bg_x.png) bottom center repeat-x;
}

#bottom_menu {
  float: right;
  width: 700px;
  height: 30px;
  display: block;
  margin: 32px 0 0 0;
  text-align: right;
}

#bottom_menu_list {
  color: #656565;
  font: 12px/24px Arial, Helvetica, sans-serif, "新細明體";
}

#bottom_menu_list a {
  color: #656565;
  text-decoration: none;
}

#bottom_menu_list a:hover {
  color: #FF0;
  text-decoration: none;
}

#footer_img {
  float: left;
  margin: 21px 0 0 14px;
}

#copyright {
  float: right;
  width: 200px;
  color: #656565;
  text-align: right;
  font: 11px/11px Arial, Helvetica, sans-serif, "新細明體";
}

/*footer end*/
/*login and member start--------------*/
#login,
#member {
  float: right;
  width: 740px;
  height: 70px;
  float: right;
  width: 740px;
  height: 70px;
  margin: 10px 0 0 0;
  padding: 0 0 0 16px;
  background: url(../image/login_bg.png) bottom center no-repeat;
}

.loginbar {
  float: left;
  width: 160px;
  height: 21px;
  margin-top: 10px;
  color: #666;
  font: 12px/21px Arial, Helvetica, sans-serif, "新細明體";
  text-indent: 12px;
  background-color: #000;
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
  border-left: 1px solid #333333;
}

.loginbar1 {
  float: left;
  width: 160px;
  height: 21px;
  margin-top: 10px;
  color: #666;
  font: 12px/21px Arial, Helvetica, sans-serif, "新細明體";
  text-indent: 12px;
  background-color: #000;
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}

#member_list {
  width: 740px;
  height: 24px;
  color: #888888;
  margin-top: 3px;
  text-indent: 40px;
  text-align: left;
}

#member_list a {
  color: #888888;
  line-height: 24px;
}

#member_list a:hover {
  color: #FF0;
}

#member_date {
  height: 40px;
}

#member_date ul li {
  float: left;
  color: #bababa;
  line-height: 40px;
  margin: 0 55px 0 10px;
}

/*login and member end--------------*/
/*btn start--------------*/
#btn_login a {
  float: left;
  display: block;
  text-indent: -9999px;
  margin: 15px 0 0 28px;
  width: 58px;
  height: 17px;
  background: url('../image/lang/zh-cn/btn_login.png') no-repeat;
  background-position: top center;
}
#btn_login a:hover {
  background-position: bottom;
}

#btn_joinus {
  float: left;
  color: #bbbbbb;
  padding: 2px 5px 0 5px;
}

#btn_joinus a {
  line-height: 40px;
  color: #bbbbbb;
}
#btn_joinus a:hover {
  color: #FFF;
}

#btn_joinus2 a {
  margin: 205px 0 0 53px;
  background: url(../image/lang/zh-cn/btn_joinus.png) top center no-repeat;
}

#btn_promotions a {
  margin: 90px 0 0 0;
  background: url(../image/lang/zh-cn/btn_promotion.png) top center no-repeat;
}

#btn_bbin a {
  float: left;
  display: block;
  text-decoration: none;
  text-indent: -9999px;
  margin: 80px 0 0 58px;
  width: 250px;
  height: 250px;
  background: url('../image/btn_bbin.png') no-repeat;
  background-position: top center;
}
#btn_bbin a:hover {
  background-position: bottom;
}

#btn_download a {
  margin: 250px 0 0 80px;
  background: url(../image/lang/zh-cn/btn_download.png) top center no-repeat;
}

#btn_welcome {
  margin: 205px 0 0 53px;
  background: url(../image/lang/zh-cn/c_02.png) no-repeat;
}

#btn_joinus2 a,
#btn_download a,
#btn_promotions a,
#btn_download a,
#btn_welcome {
  float: left;
  width: 100px;
  height: 100px;
  display: block;
  text-indent: -9999px;
}
#btn_joinus2 a:hover,
#btn_download a:hover,
#btn_promotions a:hover,
#btn_download a:hover,
#btn_welcome:hover {
  background-position: bottom center;
}

#btn_service a {
  float: right;
  display: block;
  text-indent: -9999px;
  margin: 60px 36px 0 0;
  width: 120px;
  height: 117px;
  background: url('../image/lang/zh-cn/btn_service.png') no-repeat;
  background-position: top center;
}
#btn_service a:hover {
  background-position: bottom;
}

#btn_joinus a:hover {
  background-position: bottom center;
}

#title {
  margin-top: 11px;
}

#news {
  float: left;
  width: 200px;
  height: 150px;
  margin: 50px 0 0 36px;
  background: url(../image/lang/zh-cn/c_01.png) left top no-repeat;
}
#news p {
  margin: 28px 22px 0 0;
  font: 12px/18px Arial, Helvetica, sans-serif, "新細明體";
  color: #dddddd;
}

/*news end--------------*/
/*index start--------------*/
#main {
  width: 1024px;
  height: 620px;
  margin: 0 auto;
  background: url(../image/main_bg.png) top center no-repeat;
}

/*index  end--------------*/
/*sidebar start--------------*/
#sidebar {
  width: 212px;
  height: auto;
  margin: -3px 0 20px 8px;
}
#sidebar ul {
  width: 212px;
  height: auto;
  padding: 6px 0px 20px 0;
  background: url(../image/sidebar_bg.png);
}
#sidebar ul a {
  display: block;
  height: 36px;
  font: 12px/36px Arial, Helvetica, sans-serif, "新細明體";
  color: #FFF;
  text-decoration: none;
  text-align: center;
}
#sidebar ul a:hover {
  color: #d7d800;
}

#about {
  width: 100%;
  height: auto;
  margin: 44px 0 0 0;
  background: url(../image/container_bg.png);
}
#about p {
  padding: 30px 74px;
  color: #FFF;
  font: 12px/27px Arial, Helvetica, sans-serif, "新細明體";
}

.at1 #page_left {
  float: left;
  width: 260px;
  height: auto;
  clear: both;
}
.at1 #page_right {
  float: right;
  width: 760px;
  height: auto;
}

#game {
  display: block;
  width: 1000px;
  height: auto;
  margin: 12px 0 0 0;
  background: url(../image/container_bg.png);
  overflow: hidden;
}

#game2 {
  display: block;
  width: 760px;
  height: auto;
  margin: 60px 0 0 0;
  padding: 25px 0 0 0;
  background: url(../image/container_bg.png);
  overflow: hidden;
}

.game_box2 {
  float: left;
  display: block;
  width: 340px;
  height: 132px;
  background: url('../image/gamebg.png') no-repeat;
  margin: 0 0 40px 25px;
}
.game_box2 img {
  float: right;
  margin: 14px 3px 0 0;
}

#sidebar_game ul li a {
  display: block;
  width: 228px;
  height: 29px;
  line-height: 29px;
  color: #FFF;
  text-decoration: none;
}
#sidebar_game ul li a:hover {
  color: #111111;
  background: url(../image/sidebar_game_over.png) no-repeat;
}

#sidebar_jp1 {
  background: url(../image/jpbg1.png) no-repeat;
}

#sidebar_jp2 {
  background: url(../image/jpbg2.png) no-repeat;
}

#sidebar_jp1,
#sidebar_jp2 {
  width: 230px;
  height: 76px;
  display: block;
  margin: 0;
  text-align: right;
}
#sidebar_jp1 a,
#sidebar_jp2 a {
  width: 100%;
  height: 28px;
  color: #d9d900;
  font: bold 14px/55px Arial, Helvetica, sans-serif, "微軟正黑體";
  text-decoration: none;
  margin-right: 12px;
}
#sidebar_jp1 a:hover,
#sidebar_jp2 a:hover {
  color: #FFF;
}
#sidebar_jp1 p,
#sidebar_jp2 p {
  font: bold 22px/22px Arial, Helvetica, sans-serif;
  color: #fdd331;
  text-align: center;
  margin: -8px 12px 0 0;
}

#promotions {
  width: 100%;
  text-align: center;
}

.promotions_pic {
  width: 940px;
  height: 95px;
  background: url(../image/c_05.png) no-repeat;
  margin: 10px auto;
}

#agree {
  display: block;
  width: 800px;
  height: auto;
  margin: 0 auto;
}

.agree_title {
  text-align: center;
  font: bold 24px/45px Arial, Helvetica, sans-serif, "微軟正黑體";
  color: #FFF;
}

.agree_btn {
  width: 260px;
  height: 45px;
  text-align: center;
  margin: 20px auto;
}
.agree_btn a {
  float: left;
  width: 120px;
  height: 45px;
  display: block;
  text-align: center;
  text-decoration: none;
  font: bold 18px/45px Arial, Helvetica, sans-serif, "微軟正黑體";
  color: #FFF;
  background-color: #3e3a39;
  margin-right: 10px;
}
.agree_btn a:hover {
  color: #595957;
  background-color: #dcdddd;
}

.agree_list {
  width: 440px;
  margin: 0 auto;
}
.agree_list ul li {
  float: left;
}
.agree_list ul li a {
  display: block;
  width: 100px;
  height: 30px;
  background-color: #000;
  text-decoration: none;
  color: #FFF;
  font: 14px/30px Arial, Helvetica, sans-serif, "微軟正黑體";
  margin: 10px 10px 0 0;
  text-align: center;
}
.agree_list ul li a:hover {
  color: #000;
  background-color: #dcdddd;
  height: 40px;
  line-height: 40px;
  margin-top: 0;
}

.agree_content {
  clear: both;
  text-align: left;
  font: 12px/18px Arial, Helvetica, sans-serif, "新細明體";
  padding: 0 25px;
  color: #FFF;
  overflow: auto;
}
.agree_content ul li {
  margin-bottom: 15px;
}
.agree_content h2 {
  display: block;
  text-align: center;
  font: bold 18px/50px Arial, Helvetica, sans-serif, "新細明體";
}
.agree_content h3 {
  text-align: center;
  font: bold 13px/36px Arial, Helvetica, sans-serif, "新細明體";
  color: #F00;
}

.agree_link a {
  clear: both;
  float: right;
  text-decoration: none;
  color: #b5b5b6;
  font: bold 15px/40px Arial, Helvetica, sans-serif, "新細明體";
}
.agree_link a:hover {
  color: #FF1100;
}

#agree_footer {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background: url(../image/footer_bg_x.gif) repeat-x;
  text-align: center;
  padding-top: 20px;
  color: #fff9f1;
}

/*agree end--------------*/
/*jQuery圖片切換 start--------------*/
#js-ele-slideshow {
  position: absolute;
  bottom: 0;
}

.ele-slideshow-control-wrap {
  position: absolute;
  top: 0;
  z-index: 9;
}

.ele-slideshow-nav {
  height: 14px;
  padding-left: 60px;
  z-index: 100;
}
.ele-slideshow-nav a {
  float: left;
  width: 14px;
  height: 14px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-right: 8px;
  background: url(../image/c_03.png) top center no-repeat;
}
.ele-slideshow-nav a.active {
  background-position: bottom center;
}

.left {
  float: left;
}

.right {
  float: right;
}

#ultimate {
  width: 1024px;
  text-align: center;
  margin: 10px 0 0 0;
}

/*other end--------------*/
.liveimg {
  padding-left: 53px;
  padding-top: 24px;
}

#page-casino {
  width: 1000px;
}

#logon {
  float: left;
  clear: both;
  margin: 7px 14px 0 0;
}
#logon .meminfo-wrap {
  float: left;
  color: #8C8C00;
  line-height: 2.6;
}
#logon .logon-list {
  clear: both;
}
#logon .logon-list ul li {
  display: inline;
  font-size: 13px;
  line-height: 18px;
  color: #FFECCD;
}
#logon .logon-list ul li a {
  color: #FFECCD;
}
#logon .logon-list ul li a span {
  color: #FF0000;
}
#logon .logon-list ul li a:hover {
  color: white;
}

.meminfo-wrap {
  display: inline-block;
  color: #fff;
}
.meminfo-wrap .ele-accinfo, .meminfo-wrap .ele-acc-unit {
  display: inline-block;
}
.meminfo-wrap .ele-accinfo {
  padding-left: 3px;
}
.meminfo-wrap .ele-acc-unit {
  margin-left: 10px;
}

.meminfo-wrap, .ele-acc-name, .ele-acc-unit, .ele-accinfo, .ele-obalance-wrap, .ele-other-balance {
  display: inline-block;
}

.ele-obalance-item-wrap {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 270px;
  color: #fff;
  background: #222;
}
.ele-obalance-item-wrap .ele-obalance-item {
  padding: 10px;
}
.ele-obalance-item-wrap .ele-obalance-item .ele-obalance {
  line-height: 16px;
  padding-bottom: 4px;
}
.ele-obalance-item-wrap .ele-balance-tool {
  text-align: right;
  padding: 4px;
  background-color: #080808;
  border-top: 1px solid false;
}
.ele-obalance-item-wrap .ele-balance-tool > a {
  display: inline-block;
  -webkit-transition: background-color .20s linear;
  transition: background-color .20s linear;
  padding: 4px 8px;
  color: #fff;
  background-color: #333;
}
.ele-obalance-item-wrap .ele-balance-tool > a:hover {
  background-color: #262626;
}

/*sports--------------*/
#gameBox-sport {
  width: 1024px;
  margin: 0 auto;
}

#gameBox-sport1 {
  width: 1022px;
  margin: 0 auto 0 40px;
}

#loginBox {
  float: left;
  text-align: left;
  height: 40px;
}

.login {
  float: left;
  margin: 10px 0 0 6px;
  width: 478px;
  height: 33px;
}

.INPUTlogin {
  width: 158px;
  height: 22px;
  color: #686868;
  text-indent: 13px;
  font: 12px/22px "宋体";
  border-style: none;
  margin-bottom: 3px;
  background-color: #010101;
  border: 1px solid #313131;
}

/* PAGE */
.livetop-wrap,
.ball-wrap {
  width: 1024px;
  padding: 20px 0;
}

.promotions1 {
  width: 950px;
  height: 200px;
  float: left;
  background-image: url(../image/not-use/promotions01.jpg);
  margin: 34px 0 0 33px;
  cursor: pointer;
}
.promotions1:hover {
  background-position: bottom;
}

.promotions2 {
  width: 950px;
  height: 200px;
  float: left;
  background-image: url(../image/not-use/promotions02.jpg);
  margin: 27px 0 50px 33px;
  cursor: pointer;
}
.promotions2:hover {
  background-position: bottom;
}

.live-wrap-1 {
  width: 1024px;
  height: 660px;
  text-align: center;
  background-image: url(../image/content_bg.png);
  padding: 45px 0 0 0;
}

/*live*/
.live01 {
  width: 457px;
  height: 590px;
  background: url("../image/not-use/live_01.png?1447128059") no-repeat;
  display: block;
  float: left;
  margin: 0 0 40px 54px;
  cursor: pointer;
}

.live01:hover {
  background-position: bottom;
}

.live02 {
  width: 214px;
  height: 590px;
  background: url("../image/not-use/live_02.png?1447128575") no-repeat;
  display: block;
  float: left;
  margin: 0 0 40px 4px;
  cursor: pointer;
}

.live02:hover {
  background-position: bottom;
}

.live03 {
  width: 214px;
  height: 590px;
  background: url("../image/not-use/live_03.png?1447128060") no-repeat;
  display: block;
  float: left;
  margin: 0 0 40px 4px;
  cursor: pointer;
}

.live03:hover {
  background-position: bottom;
}

.ele-ball-wrap,
.ltlottery-wrap {
  padding: 30px 0 50px 0;
}

/*# sourceMappingURL=style.css.map */