@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*---------------------------- 基本變數 end ------------------------------------------*/
/*---------------------------- 背景設定 ----------------------------------------------*/
/*---------------------------- 背景設定 end ------------------------------------------*/
/*---------------------------- 文字屬性 ----------------------------------------------*/
/*---------------------------- 文字屬性 end ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 end --------------------------------------*/
/*---------------------------- 各類選單屬性 -------------------------------------------*/
/*---------------------------- 各類選單屬性 end ---------------------------------------*/
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: STHeiti, "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", arial;
  font-size: 12px;
  line-height: normal;
  color: #FFF;
  background-color: #FFF;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input, button, select, textarea {
  outline: none;
}

*:focus {
  outline: none;
}

label[for],
input[type=radio],
input[type=checkbox],
button,
input[type=reset],
input[type=button],
input[type=submit] {
  cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

a {
  color: #FFF;
  text-decoration: none;
}
a:hover, a:focus {
  color: #B59A61;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.lang-wrap a {
  float: left;
  width: 22px;
  height: 20px;
  margin: 0 2px;
  background: url('../image/not-use/flag.png') top no-repeat;
}
.lang-wrap a.flag01 {
  background-position: 0px 0px;
}
.lang-wrap a.flag02 {
  background-position: 0px -40px;
}
.lang-wrap a.flag03 {
  background-position: 0px -80px;
}

.first-game a {
  float: left;
  width: 305px;
  height: 305px;
}

.first-game01 {
  background: url('../image/lang/zh-cn/game01.png') no-repeat;
}
.first-game01:hover {
  background: url('../image/lang/zh-cn/game01_over.png') no-repeat;
}

.first-game02 {
  background: url('../image/lang/zh-cn/game02.png') no-repeat;
}
.first-game02:hover {
  background: url('../image/lang/zh-cn/game02_over.png') no-repeat;
}

.first-game03 {
  background: url('../image/lang/zh-cn/game03.png') no-repeat;
}
.first-game03:hover {
  background: url('../image/lang/zh-cn/game03_over.png') no-repeat;
}

.first-game04 {
  background: url('../image/lang/zh-cn/game04.png') no-repeat;
}
.first-game04:hover {
  background: url('../image/lang/zh-cn/game04_over.png') no-repeat;
}

.ele-slideshow-wrap {
  position: relative;
}
.ele-slideshow-wrap ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
}
.ele-slideshow-wrap ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
  -webkit-backface-visibility: hidden;
}
.ele-slideshow-wrap ul li a {
  display: block;
}
.ele-slideshow-wrap ul li a img {
  display: block;
  max-width: 100%;
  height: auto;
  float: left;
}
.ele-slideshow-wrap ul li a .img {
  width: 100%;
  height: 300px;
  background-position: top center;
  background-repeat: no-repeat;
}

.ele-slideshow-scroll {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
}

.ele-slideshow-control-wrap {
  position: absolute;
  z-index: 1;
  bottom: 10px;
}

.btn-submit {
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  line-height: 29px;
  color: #DACDB1;
}

.login-ls a {
  line-height: 34px;
  color: #C5B283;
}
.login-ls a:hover {
  color: #d5c8a6;
}

.acc-name, .first-balance, .logon-list li {
  color: #7E7972;
  line-height: 1.8;
}
.acc-name a, .first-balance a, .logon-list li a {
  color: #7E7972;
}

.obalance i {
  color: #000;
  line-height: 1.8;
}
.obalance i:hover {
  color: #7E7972;
}

.logon-list li a:hover {
  color: #B59A61;
}

[class^="LS-"] {
  text-align: center;
}
[class^="LS-"] a {
  font-family: "宋体", arial;
  font-size: 12px;
  line-height: 1.8;
  color: #FFF;
}
[class^="LS-"] a span {
  font-family: arial;
  font-size: 14px;
  line-height: 1.8;
}
[class^="LS-"] a:hover {
  color: #B59A61;
}
[class^="LS-"].current a {
  color: #B59A61;
}

.lsub-inner-wrap a {
  line-height: 38px;
  color: #FFF;
  text-align: center;
  font-family: arial;
}
.lsub-inner-wrap a:hover {
  color: #22211f;
}

.jp-wrap p {
  font-family: Arial;
  font-size: 42px;
  line-height: 48px;
  color: #B99B4D;
}

.footer-list li {
  text-align: center;
}
.footer-list li a {
  font-family: serif;
  font-size: 12px;
  line-height: 1.3;
  color: #727272;
}
.footer-list li a span {
  font-family: "Microsoft YaHei";
  font-size: 13px;
}
.footer-list li a:hover {
  color: #727272;
}

.footer-link li {
  line-height: 1.8;
  color: #727272;
}
.footer-link li a {
  color: #727272;
}
.footer-link li a:hover {
  color: #C5B283;
}

.copyright {
  line-height: 1.8;
  color: #727272;
}

.time_text {
  line-height: 42px;
  color: #7E7972;
}

.sidemenu {
  text-align: center;
}
.sidemenu li a {
  line-height: 30px;
  color: #83837F;
}
.sidemenu li a:hover {
  color: #85724C;
}

.article {
  color: #6C7984;
  line-height: 1.8;
}

.case-article-title {
  font-size: 16px;
}

#news .msgNews {
  font-size: 13px;
  line-height: 20px;
  color: #555551;
}

.wrapper, #page-body,
.header,
.footer-top-wrap,
.footer-bottom-wrap {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper:before, #page-body:before,
.header:before,
.footer-top-wrap:before,
.footer-bottom-wrap:before, .wrapper:after, #page-body:after,
.header:after,
.footer-top-wrap:after,
.footer-bottom-wrap:after {
  content: "";
  display: table;
}
.wrapper:after, #page-body:after,
.header:after,
.footer-top-wrap:after,
.footer-bottom-wrap:after {
  clear: both;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* 主要區塊 */
#mainBody {
  min-width: 1000px;
}

body {
  background: url('../image/bg.png') #FFF;
}

#page-header {
  height: 235px;
  background: url('../image/header_bg_x.png') center bottom repeat-x;
}

#page-container {
  background: url('../image/page_bg.png') center top no-repeat;
}
.first #page-container {
  background: url('../image/first_bg.png') center no-repeat;
  height: 1459px;
}

.header-top {
  position: relative;
  height: 42px;
}

/* LOGIN */
.login-logon-wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.login-btn {
  display: block;
  width: 219px;
  height: 57px;
  background: url('../image/lang/zh-cn/login_title.png') no-repeat;
}

.login-wrap {
  display: block;
  overflow: hidden;
  width: 219px;
  height: 0;
  border: 0px solid #22211f;
  background-color: #22211f;
  -webkit-transition: height 1s ease, border 0.5s;
  transition: height 1s ease, border 0.5s;
}

.login-click {
  border: 1px solid #b59a61;
  height: 278px;
}

.login-bbin {
  display: block;
  width: 211px;
  height: 64px;
  margin: auto;
  border-bottom: 1px solid #030303;
  background: url('../image/login_img.png') 8px 8px no-repeat;
}

.login-input {
  display: block;
  width: 211px;
  margin: auto;
  padding: 9px 0 10px;
  border-top: 1px solid #464440;
  border-bottom: 1px solid #030303;
  text-align: center;
}
.login-input input {
  margin-bottom: 7px;
  width: 197px;
  height: 33px;
  display: inline-block;
  outline: none;
  border: 1px solid #9F843C;
  background-color: #22211F;
   /*  1 登入區輸入框背景顏色
2  登入區輸入框邊框  */
  text-indent: 6px;
   /*  1 登入區輸入框預設文字顏色
2  登入區輸入框鍵入文字顏色  */
}
.login-input input.form-control {
  color: #e6ddc9;
}
.login-input input.form-control.placeholder {
  color: #C6B283;
}
.login-input .btn-submit {
  width: 197px;
  height: 33px;
  display: inline-block;
  outline: none;
  border: 1px solid #9F843C;
  background-color: #9B865E;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.login-input .btn-submit:hover {
  background-color: #7b6b4b;
}

.login-ls {
  display: block;
  width: 211px;
  margin: auto;
  border-top: 1px solid #464440;
  text-align: right;
  padding-right: 12px;
}
.login-ls li {
  display: inline-block;
}
.login-ls li a {
  display: block;
}

/* LOGON */
.logon-btn {
  float: right;
  width: 219px;
  height: 57px;
  background: url('../image/lang/zh-cn/logon_title.png') no-repeat;
}

.logon-content {
  float: right;
}

.logon-acc {
  float: right;
}
.logon-acc > div {
  margin-left: 10px;
}

.meminfo-wrap {
  float: right;
  line-height: 1.8;
  color: #7E7972;
}
.meminfo-wrap i {
  color: #000;
}

.meminfo-wrap, .ele-acc-name, .ele-acc-unit, .ele-accinfo, .ele-obalance-wrap, .ele-other-balance {
  display: inline-block;
}

.ele-obalance-item-wrap {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 270px;
  color: #333;
  background: #F5F5F5;
}
.ele-obalance-item-wrap .ele-obalance-item {
  padding: 10px;
}
.ele-obalance-item-wrap .ele-obalance-item .ele-obalance {
  line-height: 16px;
  padding-bottom: 4px;
}
.ele-obalance-item-wrap .ele-balance-tool {
  text-align: right;
  padding: 4px;
  background-color: #fff;
  border-top: 1px solid #999;
}
.ele-obalance-item-wrap .ele-balance-tool > a {
  display: inline-block;
  -webkit-transition: background-color .20s linear;
  transition: background-color .20s linear;
  padding: 4px 8px;
  color: #fff;
  background-color: #0f0f0f;
}
.ele-obalance-item-wrap .ele-balance-tool > a:hover {
  background-color: #020202;
}

.logon-list {
  float: right;
  clear: both;
}
.logon-list li {
  display: inline-block;
  margin: 0 2px;
}

.logon-acc {
  /*  1 會員資訊文字顏色
  2 中間的分隔線
  3 額度轉換按鈕顏色
  4 Hover的額度轉換按鈕顏色  */
  /*  1 會員資訊文字顏色
  2 中間的分隔線
  3 額度轉換按鈕顏色
  4 Hover的額度轉換按鈕顏色  */
}
.logon-acc div,
.logon-acc span,
.logon-acc p {
  float: left;
}
.logon-acc div span,
.logon-acc div .fa {
  margin: 0 2px;
}
.logon-acc div p {
  margin: 0 2px;
}
.logon-acc .obalance {
  cursor: pointer;
}
.logon-acc #Member-Sub .MemberDate ul li {
  color: #333;
  line-height: 18px;
}
.logon-acc #Member-Sub .MemberDate .MemberChange {
  border-top: 1px solid #999;
}
.logon-acc #Member-Sub .btn_change {
  line-height: 24px;
  color: #FFF;
  text-align: center;
}
.logon-acc #Member-Sub .btn_change:hover {
  color: #CCC;
}
.logon-acc #Member-Sub {
  position: relative;
  z-index: 9999;
  clear: both;
}
.logon-acc #Member-Sub .MemberDate {
  display: none;
  position: absolute;
  width: 270px;
  height: 80px;
  padding-top: 10px;
  z-index: 100;
  background-color: #F5F5F5;
}
.logon-acc #Member-Sub .MemberDate ul li {
  width: 250px;
  margin: 0 0 0 20px;
}
.logon-acc #Member-Sub .MemberDate .MemberChange {
  width: 270px;
  height: 30px;
  margin-top: 10px;
  background-color: #FFF;
}
.logon-acc #Member-Sub .btn_change {
  float: right;
  display: block;
  width: 64px;
  margin: 3px 6px 0 0;
  background-color: #0f0f0f;
}
.logon-acc #Member-Sub .btn_change:hover {
  background-color: #353535;
}

.lang-wrap {
  float: right;
}
.lang-wrap a {
  margin: 0 1px;
}

.login-lang {
  margin: 10px 228px 0 0;
}

.logon-lang {
  margin: 10px;
}

.header-wrap {
  height: 193px;
}

.logo {
  float: left;
  margin: 11px 0 0 5px;
  width: 110px;
  height: 110px;
  background: url('../image/logo.png') no-repeat;
}
.logo:hover {
  background-position: bottom;
}

/* NAV */
.mainnav {
  float: right;
  margin: 55px 36px 0 0;
}
.mainnav ul {
  position: relative;
}
.mainnav ul li {
  float: left;
  width: 100px;
  margin-left: 20px;
}
.mainnav ul li a {
  display: block;
}
.mainnav ul li a span {
  display: block;
}

#magic-line {
  position: absolute;
  bottom: -37px;
  left: 20px;
  width: 60px !important;
  height: 8px;
  background: #B59A61;
}

.ele-drop-group a {
  display: block;
  width: 88px;
  height: 38px;
  background: #B59A61;
}

#page-footer {
  height: 384px;
  margin-top: -82px;
  background: url('../image/footer_bg01_x.png') top repeat-x;
}
#page-footer .footer-top {
  padding-top: 70px;
  margin-bottom: -4px;
  background: url('../image/footer_bg01.png') center top no-repeat;
}

.game #page-footer {
  height: 384px;
  margin-top: 0px;
  background: url("../image/footer_bg01_x.png") top repeat-x;
}

.footer-bottom {
  height: 134px;
  padding-top: 4px;
  background: url('../image/footer_bg02.png') center top no-repeat #333;
}

.btn-mobile {
  float: left;
  width: 466px;
  height: 184px;
  background: url('../image/lang/zh-cn/footer_btn_mobile.png') no-repeat;
}
.btn-mobile:hover {
  background-position: bottom;
}

.footer-slogan-list {
  float: right;
}

.footer-slogan {
  float: right;
  margin: 26px 5px 4px;
  width: 311px;
  height: 23px;
  background: url('../image/footer_slogan.png') no-repeat;
}

.footer-list li {
  display: inline-block;
  width: 64px;
  margin: 16px 0 0 20px;
}
.footer-list li a {
  display: block;
}
.footer-list li a:before {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  background-position: center top;
}
.footer-list li a.icon-guide:before {
  background: url('../image/footer_i_guide.png');
}
.footer-list li a.icon-download:before {
  background: url('../image/footer_i_download.png');
}
.footer-list li a.icon-affiliation:before {
  background: url('../image/footer_i_affiliation.png');
}
.footer-list li a.icon-promotions:before {
  background: url('../image/footer_i_promotions.png');
}
.footer-list li a span {
  display: block;
}
.footer-list li a:hover:before {
  background-position: center bottom;
}

.footer-link-copyright {
  float: left;
  padding-top: 24px;
}

.footer-link li {
  display: inline-block;
  margin-right: 5px;
}

.copyright {
  padding-top: 6px;
}

.ublogo {
  float: right;
  margin: 28px 4px 0 13px;
  width: 120px;
  height: 41px;
  background: url('../image/not-use/ublogo.png') no-repeat;
}

.bbinlogo {
  float: right;
  margin-top: 28px;
  width: 85px;
  height: 41px;
}

/* game-login */
.ele-login-wrap {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../image/login_wrap/login_area_bg.png") repeat;
}

.ele-login-wrap .ele-login-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 723px;
  height: 450px;
  margin: -225px 0 0 -362px;
  background: url("../image/login_wrap/login_bg01.png");
}

.ele-login-wrap .ele-login-bg form {
  width: 100%;
  height: 100%;
  padding-left: 380px;
  padding-top: 85px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../image/login_wrap/login_bg03.png") 50% 50% no-repeat;
}

.ele-login-wrap form p {
  position: relative !important;
  display: block !important;
  float: none !important;
}

.ele-login-wrap .glogin-title {
  background: url("../image/login_wrap/login_top_icon_lottery.png") 0 0 no-repeat;
  width: 250px;
  height: 30px;
  line-height: 30px;
  color: #34CAAE;
  font-size: 14px;
  text-indent: 39px;
  margin-bottom: 13px;
  text-shadow: 1px 1px 2px #000;
}

.ele-login-wrap .ele-login-unit {
  width: 248px !important;
  height: 28px !important;
  margin: 0 0 12px 0 !important;
  padding: 0 !important;
  background: url("../image/login_wrap/loginInput_icon.png") #FFF no-repeat !important;
  border-radius: 3px;
  border: 1px solid #CCC !important;
}

.ele-login-wrap .ele-login-unit.ele-login-unit-pwd {
  background-position: 0 -28px !important;
}

.ele-login-wrap .ele-login-unit.ele-login-unit-chk {
  background-position: 0 -56px !important;
}

.ele-login-wrap .ele-login-input {
  float: left !important;
  position: static !important;
  width: 248px !important;
  height: 28px !important;
  padding: 6px 12px 6px 30px !important;
  margin: 0 !important;
  font-size: 13px !important;
  color: #555 !important;
  border: none !important;
  outline: none !important;
  background: none !important;
  line-height: 16px !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.ele-login-wrap .ele-login-input.ele-login-acc {
  padding: 6px 48px 6px 30px !important;
}

.ele-login-wrap .ele-login-unit .ele-login-placeholder {
  position: absolute;
  left: 33px;
  top: 0;
  line-height: 30px;
  color: #8C8C8C;
  cursor: text;
  font-family: arial;
}

.ele-login-wrap .ele-acc-unicode {
  position: absolute;
  right: 9px;
  top: 0;
  line-height: 27px;
  color: #555;
  font-size: 14px;
  font-family: arial;
}

#vPic-game {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  visibility: hidden;
}

.ele-login-wrap .ele-login-submit {
  float: none !important;
  position: static !important;
  background: none !important;
  width: 250px !important;
  height: 30px !important;
  line-height: normal !important;
  margin: 0 0 11px !important;
  padding: 0 !important;
  font-size: 13px !important;
  border-radius: 3px;
  border: 1px solid #FFF !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  color: #FFF !important;
  cursor: pointer !important;
}

.ele-login-wrap .glogin-forget a {
  display: block;
  margin-bottom: 11px;
  width: 250px;
  height: 28px;
  line-height: 28px;
  color: #CCC;
  text-align: center;
}

.ele-login-wrap .glogin-joinmem a {
  display: block;
  background: url("../image/login_wrap/login_btn.png") no-repeat;
  width: 250px;
  height: 32px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}

.ele-login-wrap .glogin-joinmem a:hover {
  background-position: 0 100%;
}

.ele-login-wrap .glogin-close {
  background: url("../image/login_wrap/login_close.png") no-repeat;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 55px;
  right: 55px;
  cursor: pointer;
}

#first-game-slides {
  margin: 201px 0 0 579px;
}
#first-game-slides .first-game {
  overflow: hidden;
  width: 334px;
  height: 335px;
  width: 334px;
  height: 335px;
  background: url('../image/first_game_bg.png') no-repeat;
}
#first-game-slides .first-game a {
  width: 334px;
  height: 335px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-position: 14px 8px;
}
#first-game-slides .first-game a:hover {
  background-position: 14px 8px;
}
#first-game-slides .slides-ctrl {
  position: relative;
  width: 334px;
}
#first-game-slides .slides-ctrl a {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 145px;
}
#first-game-slides .slides-ctrl a.btn-prev {
  left: -22px;
  background: url('../image/first_game_prev.png') top center no-repeat;
}
#first-game-slides .slides-ctrl a.btn-next {
  right: -22px;
  background: url('../image/first_game_next.png') top center no-repeat;
}
#first-game-slides .slides-ctrl a:hover {
  background-position: bottom center;
}
#first-game-slides .slides-ctrl .plus {
  position: absolute;
  width: 73px;
  height: 73px;
  background: url('../image/first_game_plus.png') no-repeat;
  top: 240px;
  left: 131px;
  z-index: 1;
}

.ele-slideshow-scroll {
  top: -80px;
  left: -70px;
}

.ele-slideshow-control-wrap {
  top: 180px;
}

.ele-slideshow-nav a {
  background: #FFF;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 6px -3px;
}
.ele-slideshow-nav a.active {
  background: #a58f65;
}

.first-btn {
  margin-top: 40px;
}
.first-btn .btn-vip {
  float: left;
  width: 621px;
  height: 306px;
  background: url('../image/lang/zh-cn/first_btn_vip.png') no-repeat;
}
.first-btn .btn-vip:hover {
  background-position: bottom;
}
.first-btn .btn-hot {
  float: right;
  margin-top: 60px;
  width: 372px;
  height: 246px;
  background: url('../image/lang/zh-cn/first_btn_hot.png') no-repeat;
}
.first-btn .btn-hot:hover {
  background-position: bottom;
}

.first-jp-news {
  margin-top: 17px;
}

.jp-wrap {
  float: left;
  width: 359px;
  height: 100px;
  padding-left: 30px;
  background: url('../image/jp_left.png') left no-repeat rgba(51, 51, 51, 0.95);
}
.jp-wrap .jp-title {
  display: block;
  margin-top: 9px;
  width: 156px;
  height: 36px;
  background: url('../image/lang/zh-cn/jp_title.png') bottom left no-repeat;
}
.jp-wrap .jp-title:after {
  float: right;
  content: " ";
  width: 34px;
  height: 34px;
  background: url('../image/jp_img.png') no-repeat;
}

#first-news {
  float: right;
  width: 639px;
  height: 100px;
  padding-left: 12px;
  background: url('../image/first_news_bg.png') center 1px repeat-x rgba(54, 54, 54, 0.45);
}
#first-news .news-title {
  height: 46px;
  background: url('../image/lang/zh-cn/first_news_title.png') left center no-repeat;
}
#first-news .msgNews {
  height: 54px;
  float: left;
  background: url('../image/first_news_i.png') left center no-repeat;
  padding: 2px 0 2px 40px;
}
#first-news .msgNews p {
  width: 590px;
}

.Ltlottery #page-container, .ball #page-container {
  height: 1042px;
}
.live #page-container {
  height: 1142px;
}

.title-wrap {
  margin-left: 268px;
  width: 407px;
  height: 258px;
}
.live .title-wrap {
  background: url('../image/lang/zh-cn/title_live.png');
}
.Ltlottery .title-wrap {
  background: url('../image/lang/zh-cn/title_lottery.png');
}
.ball .title-wrap {
  background: url('../image/lang/zh-cn/title_sport.png');
}
.at1 .title-wrap {
  background: url('../image/lang/zh-cn/title_welcome.png');
}
.memberexclusiveii .title-wrap {
  background: url('../image/lang/zh-cn/title_memberexclusiveii.png');
}

.live #page-body, .Ltlottery #page-body {
  background: url('../image/page_content_bg.png') center 263px no-repeat;
}
.ball #page-body {
  background: url('../image/page_content_bg.png') left 255px no-repeat;
}
.memberexclusiveii #page-body {
  margin-bottom: 54px;
}

.elenew-live-trace {
  color: #000;
  margin: 0 0 0 16px;
}
.elenew-live-trace a {
  color: #000;
}
.elenew-live-trace .elenew-trace-title {
  color: #000;
}
.elenew-live-trace .elenew-trace-sub {
  margin: 12px 0 0 5px;
  color: #000;
}
.elenew-live-trace .gamenew-trace-num {
  color: red;
}

#elenew-search-wrap .elenew-search-btn {
  color: #000;
  background-color: #ADADAD;
}
#elenew-search-wrap .elenew-search-btn.search-active {
  color: #000;
  background-color: #888888;
}
#elenew-search-wrap .elenew-search-btn .fa-2x {
  font-size: 1.8em;
}
#elenew-search-wrap .elenew-search-input {
  background-color: #000;
  color: #636363;
}
#elenew-search-wrap .elenew-search-input input {
  color: #636363;
}

.elenew-live-view a {
  color: #A7A7A7;
}
.elenew-live-view a:hover, .elenew-live-view a.view-active {
  color: #000;
}

.elenew-serch-noresult {
  color: #000000 !important;
}

#js-ele-gamebanner .rslides_tabs li {
  color: #fff;
}
#js-ele-gamebanner .rslides_tabs li.rslides_here {
  color: #18C4A1;
}

.tpl-wrap {
  height: 100%;
  width: 1000px;
  margin: 0 auto;
}

.est-wrap {
  float: left;
  margin-left: 20px;
}

.memExclusive a {
  margin: 0 auto 48px;
}

#news {
  display: block;
  clear: both;
  padding: 40px 0 0 4px;
}
#news .news-title {
  float: left;
  width: 109px;
  height: 19px;
  background: url('../image/lang/zh-cn/news_title.png') no-repeat;
}
#news .msgNews {
  float: left;
  margin-left: 10px;
  width: 870px;
}

.ball-wrap {
  margin-top: 10px !important;
}

#sidebar {
  float: left;
  height: 100%;
  margin-top: -43px;
  margin-bottom: -10px;
}
#sidebar:before {
  display: block;
  content: '';
  width: 251px;
  height: 190px;
  background: url('../image/lang/zh-cn/sidebar_top.png') no-repeat;
}
#sidebar ul {
  display: block;
  width: 199px;
  padding: 30px 0 210px;
  background: #000;
}
#sidebar ul li {
  margin-bottom: 10px;
}
#sidebar ul li a {
  display: block;
}

.article {
  float: left;
  width: 700px;
  margin-left: 12px;
  padding: 30px 20px;
}
.article .case-article-title {
  margin-bottom: 12px;
}
.article .case-article p {
  margin-bottom: 40px;
}

/*# sourceMappingURL=style.css.map */