// colors-主風格或常用的配色
$orange-dark       :  #d2471b !default;
$orange            :  #e54b1d !default;
$orange-hover      :  darken($orange, 10%) !default;
$orange-border     :  #ff9f80 !default;

$pink              :  #f7efea !default;
$pink-dark         :  #f7e0d2 !default;

$gray              :  #4c4c4c !default;
$gray-light        :  #e6e6e6 !default;


// 色彩分類
$c-white       :  #FFF;
$c-black       :  #000;
$c-gray        :  #808080;
$c-blue        :  #0080ff;
$c-green       :  #3cb300;
$c-yellow      :  #ffea00;
$c-brown       :  #733f0b;
$c-orange      :  #ff7e00;
$c-red         :  #bf190a;
$c-pink        :  #f23db6;
$c-purple      :  #bf00fd;


// fonts-字體、字級、行高設定
$font-size-lg       : 1.25rem !default;
$font-size-sm       : .875rem !default;
$font-size-xs       : .75rem !default;

$font-family: Helvetica Neue, Helvetica, Arial, 微軟雅黑體, Microsoft JhengHei, sans-serif;

$light-height: 1.5 !default;


//GOOGLE FONTS
/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
       url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
       url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
 }


 @import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');