$list: tw cn vi ug th ko ja id es en;

/* --- LANG --- */

//並排風格
@if $lang-kind==Flag {
    .ele-lang-wrap {
        position: absolute;
        top: 0;
        right: 0;
        a {
            float: left;
            text-align: left;
            background-repeat: no-repeat;
            // 選擇國旗圖片樣式要用1矩形 or 2圓形
            @if $lang-img==1 {
                // background-image: image-url("not-use/flag_rect.png")
            }
            @else if $lang-img==2 {
                // background-image: image-url("not-use/flag_circle.png")
            }
        }
        a {
            display: inline-block;
            width: 22px;
            height: 22px;
            text-align: left;
            @for $i from 1 through 3 {
                &.flag0#{$i} {
                    background-position: 0 40px - 40px * $i;
                }
            }
        }
    }
    @include MQ(tablet) {
        .ele-lang-wrap {
            display: none;
        }
    }
}

//下拉式
@if $lang-kind==Dropmenu {
    .ele-lang-wrap {
        // position: absolute;
        // top: 0;
        // right: 0;
        z-index: 999;
        i {
            display: inline-block;
            width: 22px;
            height: 16px;
            background-repeat: no-repeat;
            // 選擇國旗圖片樣式要用1矩形 or 2圓形
            @if $lang-img==1 {
                background-image: image-url("not-use/lang_rectB.png")
            }
            @else if $lang-img==2 {
                background-image: image-url("not-use/flag_circle.png")
            }
        }
        @for $i from 1 through 3 {
            .flag0#{$i} i {
                background-position: 0 40px - 40px * $i;
            }
        }
        // i {
        //     display: inline-block;
        //     vertical-align: middle;
        //     width: 10px;
        //     height: 7px;
        //     // background-image: image-url("arrowdown_icon.png");
        //     background-repeat: no-repeat;
        //     background-position: 0 0;
        //     // 選擇箭頭的色彩樣式 1白 2黑
        //     @if $lang-arrow==1 {
        //         background-position: 0 0;
        //     }
        //     @else if $lang-arrow==2 {
        //         background-position: -10px 0;
        //     }
        // }
    }
    .ele-lang-group {
        display: none;
        width: 100%;
    }
    .ele-lang-option {
        display: block;
    }
    @include MQ(tablet) {}
}

//彈窗
@else if $lang-kind==popupFlag {
    @each $author in $list {
        .icon-#{$author} {
            background: image-url("not-use/#{$author}.png") no-repeat;
        }
    }
    .ele-lang-wrap {
        .btn-icon {
            display: inline-block;
            float: left;
            width: 38px;
            height: 38px;
        }
    }
    .icon-lang {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-size: 100%;
        cursor: pointer;
    }
    .ele-popup-group {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: #000;
        visibility: hidden;
        backface-visibility: hidden;
        transition: all .3s ease-in;
        &.active {
            opacity: 1;
            visibility: visible;
        }
        &:before {
            content: '';
            position: fixed;
            top: 32px;
            right: 32px;
            width: 32px;
            height: 32px;
            background: image-url("lang_close.png") center no-repeat;
            cursor: pointer;
        }
    }
    .popup-lang-wrap {
        text-align: center;
        .icon-lang {
            width: 48px;
            height: 48px;
        }
        a {
            display: inline-block;
            line-height: 1;
            width: 68px;
            height: 68px;
            margin: 0 16px 16px 16px;
            padding: 10px;
            span {
                display: none;
            }
            &.popup-lang-current,
            &:hover {
                background: image-url('not-use/lang_circle.png') no-repeat 0 50%;
            }
        }
    }
    .popup-group-inner {
        max-width: 656px;
        text-align: center;
        margin: 160px auto 0;
        // margin: ($header-height + 50px) auto 0;
        p {
            color: #FFF;
            font-size: 1.2rem;
            padding: 16px 0 3rem;
            &:after {
                display: block;
                width: 2.5rem;
                height: 1px;
                content: '';
                background-color: #FFF;
                margin: 1em auto 0;
            }
        }
    }
    @include MQ(desktop) {
        .popup-lang-title {
            display: none;
        }
        .popup-lang-wrap {
            a {
                position: relative;
                width: 35%;
                text-align: left;
                span {
                    position: absolute;
                    top: 13px;
                    left: 80px;
                    display: inline-block;
                    color: #fff;
                    font-size: 18px;
                    line-height: 45px;
                }
            }
        }
    }
    @include MQ(tablet) {
        .ele-lang-wrap {}
    }
    @include MQ(mobile) {
        .popup-lang-wrap {
            a {
                width: 50%;
            }
        }
    }
}