/* --- 登入前 色彩管理 --- */

@include login-color( $btn-font: #FFF, //登入按鈕的字色
$btn-bg: #432973, //登入按鈕的背景色
$link: #432973, //忘記密碼與加入會員的預設字色
$alink: #432973 //忘記密碼與加入會員的連結字色
);

/* --- 登入後 色彩管理 --- */

@include meminfo-color( $info-font: #FFF, //帳號、餘額列的字色
$info-icon: #FFF, //帳號、餘額列加號的顏色
$balance-bg: #754DBD, //餘額視窗的背景色
$balance-font: #FFF, //餘額視窗個餘額的字色
$balance-bottom: #432973, //餘額視窗下方背景色
$balance-btn-font: #FFF, //餘額轉換按鈕的字色
$balance-btn-bg: #F77D53, //餘額轉換按鈕的背景色
$member-border-color: #432973, //連結列的邊線顏色
$member-font: #FFF, //連結列的字色
$btn-font: #FFF, //TABLET 側選單-按鈕字色
$btn-mem-bg: #754DBD, //TABLET 側選單-會員中心按鈕
$btn-switch-bg: transparent, //TABLET 側選單-額度轉換按鈕
$btn-logout-bg: #F77D53 //TABLET 側選單-登出按鈕
);

/* --- 登入前與登入後框架 --- */

.account-wrap {
    width: 100%;
    height: 64px;
    background-color: #f77d53;
    @include MQ(tablet) {
        height: 1px;
        .first &,
        .at1 & {
            height: 64px;
        }
    }
    @include MQ(mobile) {
        .at1 & {
            height: 1px;
        }
    }
}

.login-wrap,
.meminfo-wrap {
    position: relative;
    z-index: 101;
    padding: 13px 0 13px 52px;
    @include MQ(desktop) {
        padding-left: 2.5%;
    }
    @include MQ(tablet) {
        z-index: 999;
        padding: 170px 0 30px 0;
        .login-main,
        .meminfo-main {
            padding-top: 132px;
            padding-bottom: 40px;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: #222;
            overflow-y: auto;
            overflow-scrolling: touch;
            -webkit-overflow-scrolling: touch;
            //卷軸樣式變更
            &::-webkit-scrollbar {
                width: 3px;
            }
            &::-webkit-scrollbar-track {
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                -webkit-border-radius: 10px;
                border-radius: 10px;
                background: #999;
            }
        }
        .login-title,
        .meminfo-title {
            position: relative;
            display: inline-block;
            top: -18px;
            width: 130px;
            height: 58px;
        }
        .login-title {
            background-image: url(../image/lang/zh-cn/login_title.png)
        }
        .meminfo-title {
            background-image: url(../image/lang/zh-cn/logon_title.png)
        }
    }
}


/* --- 登入前 --- */

.login-wrap {
    @include MQ(tablet) {
        padding-bottom: 80px;
    }
}


/* --- 登入前輸入框 --- */

.login-input,
.login-btn-group {
    float: left;
    position: relative;
    @include MQ(desktop) {}
    @include MQ(tablet) {
        float: none
    }
    @include MQ(mobile) {}
}

.login-input {
    position: relative;
    width: 60%;
    @include MQ(desktop) {}
    @include MQ(tablet) {
        top: -30px;
        width: auto;
        padding: 0 20%;
    }
    @include MQ(mobile) {
        padding: 0 12.5%;
    }
}

.login-unit {
    float: left;
    margin-right: 5%;
    padding-left: 14px;
    height: 36px;
    border: 1px solid #FFF;
    &-user,
    &-pwd {
        width: 31.6%;
    }
    &-chk {
        width: 21.1%;
    }
    input {
        display: block;
        width: 100%;
        height: 100%;
        color: #FFF;
        border: none;
        background-color: transparent;
        &::-webkit-input-placeholder {
            color: #FFF;
        }
    }
    @include MQ(desktop) {
        margin-right: 2%;
        &-user,
        &-pwd {
            width: 34.6%;
        }
        &-chk {
            width: 24.1%;
        }
    }
    @include MQ(tablet) {
        display: inline-block;
        float: none;
        margin-bottom: 26px;
        width: 100%;
        height: 45px;
        ;
        border-radius: 3px;
        background-color: #FFF;
        input {
            font-size: 15px;
            color: #754DBD;
            background-color: transparent;
            &::-webkit-input-placeholder {
                color: #754DBD;
            }
        }
    }
    @include MQ(mobile) {}
}


/* --- 登入前按鈕 --- */

.login-btn-group {
    @include MQ(desktop) {}
    @include MQ(tablet) {
        position: relative;
        top: -30px;
        padding: 0 20%;
    }
    @include MQ(mobile) {
        padding: 0 12.5%;
    }
}

.login-submit {
    float: left;
    width: 120px;
    line-height: 36px;
    text-align: center;
    @include alink {
        color: #FFF;
        background: #674ea1;
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        font: none;
        position: absolute;
        top: 60px;
        width: 60%;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        border-radius: 3px;
        background-color: #F77D53;
        @include alink {
            background-color: #ff5d27;
        }
    }
    @include MQ(mobile) {
        width: 75%;
    }
}


/* --- 登入前其他連結（忘記密碼與加入會員） --- */

.login-link {
    float: left;
    margin-left: 48px;
    a {
        margin-right: 13px;
        line-height: 36px;
        @include alink {
            color: #FFF;
        }
    }
    @include MQ(desktop) {
        margin-left: 24px;
    }
    @include MQ(tablet) {
        float: none;
        position: relative;
        margin: auto;
        text-align: center;
        a {
            color: #FFF;
            padding-right: 10px;
            margin-right: 8px;
            border-right: 1px solid #FFF;
            @include alink {
                color: #F77D53;
            }
            &.login-link-last {
                padding: 0px;
                border: none;
            }
        }
    }
    @include MQ(mobile) {}
}


/* --- 登入後 --- */


/* --- 登入後資訊列（帳號、餘額） --- */

.meminfo-group {
    position: relative;
    z-index: 4;
    @include MQ(tablet) {
        width: 60%;
        min-width: 250px;
        margin: 0 auto;
    }
    @include MQ(mobile) {}
}

.mem-info {
    position: relative;
    float: left;
    .ele-acc-name,
    .ele-acc-unit {
        display: inline-block;
        vertical-align: top;
        line-height: 38px;
    }
    .ele-acc-unit {
        position: relative;
        margin-left: 12px;
    }
    .ele-obalance-wrap {
        display: inline-block;
        margin-left: 12px;
        cursor: pointer;
    }
    @include MQ(custom) {}
    @include MQ(desktop) {}
    @include MQ(tablet) {
        float: none;
        margin-bottom: 16px;
        font-size: 15px;
        .ele-acc-name,
        .ele-acc-unit {
            width: 100%;
            margin-left: 0;
            line-height: 1.8;
        }
        .ele-obalance-wrap {}
    }
    @include MQ(mobile) {}
}


/* --- 登入後餘額視窗 --- */

.ele-obalance-wrap {
    i {
        color: #FFF;
    }
    @include alink {
        i {
            color: #754DBD;
        }
        @include MQ(tablet) {
            i {
                color: #F77D53;
            }
        }
    }
}

.ele-obalance-item-wrap {
    position: absolute;
    left: 0;
    z-index: 100;
    display: block;
    width: 270px; //基本數值不可更動
    max-height: 0;
    transition: max-height .5s ease;
    overflow: hidden;
    border-radius: 3px;
    ul {
        display: block;
        padding: 16px;
    }
    li {
        display: block;
        line-height: 24px;
    }
    @media only screen and (min-width: 768px) {
        .ele-acc-unit:hover & {
            max-height: 999px;
        }
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        position: static;
        margin-top: 16px;
        width: 100%;
        background-color: #4A3472;
        background-color: rgba($color: #FFF, $alpha: .07);
        ul {
            padding: 26px;
        }
        li {
            font-size: 15px;
            line-height: 1.8;
            color: #FFF;
        }
        &.active {
            margin-bottom: 30px;
            max-height: 999px;
            transition: max-height 1s ease;
        }
    }
}


/* --- 登入後餘額轉換的按鈕 --- */

.ele-balance-tool {
    text-align: right;
    padding: 4px; //基本數值不可更動
    border-radius: 0 0 3px 3px;
    a {
        display: inline-block;
        width: 80px;
        line-height: 24px;
        text-align: center;
        padding: 4px 8px; //基本數值不可更動
        border-radius: 3px;
    }
    @include MQ(desktop) {}
    @include MQ(tablet) {
        display: none;
    }
}


/* --- 登入後會員操作列 --- */

.SU-Menual {
    float: left;
    margin-left: 24px;
    li {
        float: left;
        position: relative;
        padding-right: 9px;
        margin: 12px 3px 12px 6px;
        color: #FFF;
        line-height: 1;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background-color: #FFF;
        }
        &.first {
            padding-left: 0;
        }
        &.last {
            &:after {
                display: none;
            }
            border-right: 0;
            padding-right: 0;
        }
        a {
            display: block;
            color: #FFF;
            @include alink {
                color: #754dbd;
            }
        }
    }
    @include MQ(custom) {}
    @include MQ(desktop) {
        margin-left: 1.5%;
        li {
            padding-right: 8px;
            margin: 12px 2px 12px 4px;
        }
    }
    @include MQ(tablet) {
        display: none;
    }
}

.btn-logout {
    float: left;
    margin-left: 36px;
    width: 120px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    background-color: #432973;
    @include alink {
        color: #f2f2f2;
        background: #674ea1;
    }
    @include MQ(desktop) {
        margin-left: 1.5%;
        width: 13%;
    }
    @include MQ(tablet) {
        display: none;
    }
}


/* --- 登入後 RWD 選單底部 --- */

.meminfo-tool {
    @include MQ(tablet) {}
    @include MQ(mobile) {}
}


/* --- 登入後 RWD 選單的按鈕 --- */

[class*="meminfo-btn-"] {
    display: none;
    @include MQ(tablet) {
        display: block;
        margin: 0 auto;
        a {
            display: block;
            font-size: 15px;
            line-height: 50px;
            text-align: center;
            border-radius: 3px;
        }
    }
    @include MQ(mobile) {}
}

.meminfo-btn {
    @include MQ(tablet) {
        &-mem {
            position: relative;
            top: -30px;
            width: 60%;
            min-width: 250px;
            a {
                color: #FFF;
                @include alink {
                    background-color: #8f60e6;
                }
            }
        }
        &-logout {
            a {
                color: #FFF;
                @include alink {
                    background-color: #ff5d27;
                }
            }
        }
        &-switch {
            a {
                margin-bottom: 20px;
                border: 1px solid #F77D53;
                color: #F77D53;
                @include alink {
                    color: #FFF;
                    background-color: #F77D53;
                }
            }
        }
    }
}

//  登入共同
.account-inner {
    @include MQ(tablet) {
        position: fixed;
        z-index: 998;
        top: 0;
        left: -66%;
        width: 66%;
        height: 100%;
        background-color: #432973;
        background-color: rgba($color: #432973, $alpha: .9);
        opacity: 1;
        transition: left .3s;
        height: 100%;
        overflow-y: auto;
        overflow-scrolling: touch;
        -webkit-overflow-scrolling: touch;
        //卷軸樣式變更
        &::-webkit-scrollbar {
            width: 0px;
        }
        &.active {
            left: 0;
        }
    }
    @include MQ(mobile) {
        left: -83.33%;
        width: 83.33%;
    }
}

.account-title {
    @include MQ(tablet) {
        text-align: center;
        height: 100px;
        background-color: #483173;
        background-color: rgba($color: #FFF, $alpha: .05);
    }
}